{% set version = "SAID-479a" %}
{% set pageTitle = "Reminder email" %}
{% extends "includes/layout.html" %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Help and advice: testing for coronavirus (COVID-19) when you do not have symptoms</h1> -->

      <p class="govuk-body">
        Dear {{ data['first-name'] or 'John' }} {{ data['last-name'] or 'Smith' }}<br><br>
        Thank you for ordering a pack of 7 rapid lateral flow test kits.
      </p>
      <p class="govuk-body">
        delivery  takes up to 3 days (or more during busy periods and public holidays).
      </p>
      <p class="govuk-body">
        Track your order using the delivery tracking details in the email or text sent by Royal Mail.
      <p>
      <p class="govuk-body">
        If your test pack has not arrived within 3 days of receiving this email, call 119 (free from mobiles and landlines). Lines are open 7am to 11pm.
      </p>

      <h2 class="govuk-heading-l govuk-!-margin-top-7">1) What to do while you wait for your test kits</h2>
      <h3 class="govuk-heading-m">If you have or get symptoms</h3>
      <h4 class="govuk-heading-s">In England</h4>
      <p class="govuk-body">
        You should stay at home and avoid contact with other people. Find out more about when to stay at home and what to do at <a href="https://www.nhs.uk/when-to-self-isolate" target="_blank" class="govuk-link">https://www.nhs.uk/when-to-self-isolate</a>.
      </p>
      <h4 class="govuk-heading-s">In Scotland, Wales and Northern Ireland</h4>
      <p class="govuk-body">
        Self-isolate straight away. Do not leave home, except to post a test kit or for a PCR test appointment.
      </p>
      <p class="govuk-body">
        Find out more about self-isolation and treating symptoms:
      </p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-5">
        <li>Scotland self-isolation guidance: <a href="https://www.nhsinform.scot/isolation" target="_blank" class="govuk-link">https://www.nhsinform.scot/isolation</a></li>
        <li>Wales self-isolation guidance: <a href="https://gov.wales/self-isolation" target="_blank" class="govuk-link">https://gov.wales/self-isolation</a></li>
        <li>Northern Ireland self-isolation guidance: <a href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-self-isolating-and-close-contacts" target="_blank" class="govuk-link">https://www.nidirect.gov.uk/articles/coronavirus-covid-19-self-isolating-and-close-contacts</a></li>
      </ul>
      <h3 class="govuk-heading-m govuk-!-margin-top-7">If you do not have symptoms</h3>
      <p class="govuk-body">
        Keep following coronavirus advice, including regular handwashing, social distancing and wearing a face covering.
      </p>
      <p class="govuk-body">
        For the latest help and advice, go to <a href="https://www.nhs.uk/coronavirus" target="_blank" class="govuk-link">https://www.nhs.uk/coronavirus</a>.
      </p>

      <h2 class="govuk-heading-l govuk-!-margin-top-7">2) Always report every result - whatever it is</h2>
      <p class="govuk-body">
        Report every result (positive, negative or void) to the NHS on the day you take the test (and no later than 24 hours). Try to do it as soon as you get the result.
      </p>
      <p class="govuk-body">
        Save time: report online and use your NHS login (you can set one up the first time you report).
      </p>
      <span class="govuk-body">
          Go to GOV.UK: <a href="../../../share-result-lateral-flow/v13/" class="govuk-link">https://www.gov.uk/report-covid19-result</a>
      </span>

      <h2 class="govuk-heading-l govuk-!-margin-top-7">3) Help taking the test</h2>
      <p class="govuk-body">
        Remember:
      </p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-5">
        <li>always read the instructions before you start</li>
        <li>watch the short video: how to take a rapid lateral flow test</li>
        <li>get the instructions in other languages and formats (easy read or large print)</li>
      </ul>
      <p class="govuk-body">
        For more help and advice, go to: <a href="https://www.nhs.uk/coronavirus" target="blank" class="govuk-link">https://www.nhs.uk/coronavirus</a>
      </p>

    </div>
  </div>

{% endblock %}

{% block bodyEnd %}
{% endblock %}
