{% set version = "v1" %}
{% set pageTitle = "Admin actions" %}

{% extends "includes/layout-admin-portal.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

{% endblock %}

{% block content %}
  <form action="/antigen/{{version}}/global-registration/nhs-number-known" method="post">

    <fieldset class="govuk-fieldset" aria-describedby="post-code-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
          Coronavirus testing admin actions
        </h1>
      </legend>
      
      <h1 class="govuk-heading-m govuk-!-font-weight-bold">Help a subject</h1>
      <ul class="cards govuk-grid-row">
        <li class="card">
          <a href="barcode-lookup/search" class="card__body">
            <h1 class="govuk-heading-m card-title">Look up a subject's barcode</h1>
            <p class="govuk-body">Look up a subject’s test sample barcode to see if they have registered correctly.</p>
          </a>
        </li>
        <li class="card">
          <a href="register-subject-sample/register" class="card__body">
            <h1 class="govuk-heading-m card-title">Register a subject and sample</h1>
            <p class="govuk-body">Register a subject and their test sample barcode if they have been to a regional test centre.</p>
          </a>
        </li>
      </ul>
      
      <h1 class="govuk-heading-m govuk-!-font-weight-bold">Test site appointment changes</h1>
      <ul class="cards govuk-grid-row">
        <li class="card">
          <a href="bulk-sms/enter-postcode" class="card__body">
            <h1 class="govuk-heading-m card-title">Text subjects about test site appointment changes</h1>
            <p class="govuk-body">Tell subjects if their test site appointment is affected by a change in location, date or operating hours.</p>
          </a>
        </li>
      </ul>
    
      <h1 class="govuk-heading-m govuk-!-font-weight-bold">Manage channels</h1>
      <ul class="cards govuk-grid-row">
        <li class="card">
          <a href="#0" class="card__body">
            <h1 class="govuk-heading-m card-title">Control channel availability</h1>
            <p class="govuk-body">Set home testing or Regional Test Site channels as available or unavailable for essential workers or citizens on self-referral.</p>
          </a>
        </li>
      </ul>

    <h1 class="govuk-heading-s govuk-!-font-weight-bold">Log out if you are finished.</h1>
    <button class="govuk-button" data-module="govuk-button">Log out</button>

  </form>
{% endblock %}
