{% set serviceName = electiveCareServiceName %}
{% set pageTitle = "Group updated" %}
{% extends "includes/layout.html" %}

{% block beforeContent %}
  {% include "includes/ec-beta-banner-v1.html" %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <div class="govuk-!-margin-bottom-6 govuk-panel--confirmation govuk-panel">
                <h1 class="govuk-panel__title"> Group updated </h1>
                <div class="govuk-panel__body">
                    <p class="govuk-!-font-size-19 govuk-!-margin-0" style="color:white"> Cardiology </p>
                    <p class="govuk-!-font-size-19 govuk-!-margin-0" style="color:white"> cardiology@mail.com </p>
                </div>
            </div>
            <p class="govuk-body">You’ve updated this group’s details. Make sure you tell any team members who are affected by these changes</p>
            <div class="govuk-button-group govuk-!-margin-top-8">
                <a href="manage-organisation-v1" class="govuk-button"> Finish </a>
            </div>
        </div>
    </div>
{% endblock %}