{% set pageHeading = "Confirm you have consent" %}
 {% set version = "organisational/test-pass/create-single-reg" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}
{% block beforeContent %}
<div class=“”>
  <div class=“govuk-grid-row”>
    <div class=“govuk-grid-column-full”>
      <a class="govuk-back-link" href="javascript:window.history.go(-1);">Back</a>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Confirm you have consent</h1>

      <form class="form" action="/organisational/test-pass/create-single-reg/UON" method="post">

        <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
            I confirm that each person has freely given me consent to register them for a test registration code.
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
            I confirm that each person has freely given me consent for their test registration code to go to the contact details I enter for them.
          </label>
        </div>


    </fieldset>
  </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
