{% set version = "v1" %}
{% set pageTitle = "Check your answers" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <a class="govuk-back-link" href="/elective-care-testing/{{version}}/trust-worker-request/delivery-address-manual">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ pageTitle }}</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Procedure date
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['date-of-procedure-day-patient-1'] | default('6') }} 
            {% if data['date-of-procedure-month-patient-1'] == "1" %} January {% elseif data['date-of-procedure-month-patient-1'] == "2" %} February {% elseif data['date-of-procedure-month-patient-1'] == "3" %} March {% elseif data['date-of-procedure-month-patient-1'] == "4" %} April {% elseif data['date-of-procedure-month-patient-1'] == "5" %} May {% elseif data['date-of-procedure-month-patient-1'] == "6" %} June {% elseif data['date-of-procedure-month-patient-1'] == "7" %} July {% elseif data['date-of-procedure-month-patient-1'] == "8" %} August {% elseif data['date-of-procedure-month-patient-1'] == "9" %} September {% elseif data['date-of-procedure-month-patient-1'] == "10" %} October {% elseif data['date-of-procedure-month-patient-1'] == "11" %} November {% elseif data['date-of-procedure-month-patient-1'] == "12" %} December {% else %} August {% endif %}
            {{ data['date-of-procedure-year-patient-1'] | default('2020') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/elective-care-testing/{{version}}/trust-worker-request/date-of-procedure-patient-1">
              Change
              <span class="govuk-visually-hidden">admission date</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['first-name-patient-1'] | default('Pete') }} {{ data['last-name-patient-1'] | default('Smith') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/elective-care-testing/{{version}}/trust-worker-request/name-patient-1">
              Change
              <span class="govuk-visually-hidden">name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['date-of-birth-day-patient-1'] | default('6') }} 
            {% if data['date-of-birth-month-patient-1'] == "1" %} January {% elseif data['date-of-birth-month-patient-1'] == "2" %} February {% elseif data['date-of-birth-month-patient-1'] == "3" %} March {% elseif data['date-of-birth-month-patient-1'] == "4" %} April {% elseif data['date-of-birth-month-patient-1'] == "5" %} May {% elseif data['date-of-birth-month-patient-1'] == "6" %} June {% elseif data['date-of-birth-month-patient-1'] == "7" %} July {% elseif data['date-of-birth-month-patient-1'] == "8" %} August {% elseif data['date-of-birth-month-patient-1'] == "9" %} September {% elseif data['date-of-birth-month-patient-1'] == "10" %} October {% elseif data['date-of-birth-month-patient-1'] == "11" %} November {% elseif data['date-of-birth-month-patient-1'] == "12" %} December {% else %} November {% endif %}
            {{ data['date-of-birth-year-patient-1'] | default('1983') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/elective-care-testing/{{version}}/trust-worker-request/date-of-birth-patient-1">
              Change
              <span class="govuk-visually-hidden">date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Gender
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['gender-patient-1'] | default('Male') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/elective-care-testing/{{version}}/trust-worker-request/gender-patient-1">
              Change
              <span class="govuk-visually-hidden">gender</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do they have symptoms?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['do-you-have-symptoms-patient-1'] | default('No') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/elective-care-testing/{{version}}/trust-worker-request/symptoms-patient-1">
              Change
              <span class="govuk-visually-hidden">do they have symptoms</span>
            </a>
          </dd>
        </div>
        {% if data['do-you-have-symptoms-patient-1'] == "Yes" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date symptoms started
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['symptoms-start-date-day-patient-1'] }} 
            {% if data['symptoms-start-date-month-patient-1'] == "1" %} January {% elseif data['symptoms-start-date-month-patient-1'] == "2" %} February {% elseif data['symptoms-start-date-month-patient-1'] == "3" %} March {% elseif data['symptoms-start-date-month-patient-1'] == "4" %} April {% elseif data['symptoms-start-date-month-patient-1'] == "5" %} May {% elseif data['symptoms-start-date-month-patient-1'] == "6" %} June {% elseif data['symptoms-start-date-month-patient-1'] == "7" %} July {% elseif data['symptoms-start-date-month-patient-1'] == "8" %} August {% elseif data['symptoms-start-date-month-patient-1'] == "9" %} September {% elseif data['symptoms-start-date-month-patient-1'] == "10" %} October {% elseif data['symptoms-start-date-month-patient-1'] == "11" %} November {% elseif data['symptoms-start-date-month-patient-1'] == "12" %} December {% else %} November {% endif %}
            {{ data['symptoms-start-date-year-patient-1'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/elective-care-testing/{{version}}/trust-worker-request/symptoms-start-patient-1">
              Change
              <span class="govuk-visually-hidden">date symptoms started</span>
            </a>
          </dd>
        </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mobile number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['mobile-phone-number-patient-1'] | default('07960347654') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/elective-care-testing/{{version}}/trust-worker-request/mobile-number-patient-1">
              Change
              <span class="govuk-visually-hidden">phone number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            NHS number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['nhs-number-patient-1'] | default('ATG126344') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/elective-care-testing/{{version}}/trust-worker-request/nhs-number-patient-1">
              Change
              <span class="govuk-visually-hidden">NHS number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Delivery address
          </dt>
          <dd class="govuk-summary-list__value">
              <span>
                {{ data['delivery-address-line-1-patient-1'] | default('10 Farrington lane') }}<br>
                {% if data['delivery-address-line-2-patient-1'] !== undefined and data['delivery-address-line-2-patient-1'] !== "" %}
                {{ data['delivery-address-line-2-patient-1'] }}<br>
                {% endif %}
                {{ data['delivery-address-town-patient-1'] | default('London') }}<br>
                {{ data['delivery-address-postcode-patient-1'] | default('DE67EF') }}<br>
                {{ data['country-patient-1'] | default('England') }}
              </span>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/elective-care-testing/{{version}}/trust-worker-request/delivery-address-patient-1">
              Change
              <span class="govuk-visually-hidden">shipping address</span>
            </a>
          </dd>
        </div>
      </dl>

      <form action="/elective-care-testing/{{version}}/trust-worker-request/confirm-details" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}
