{% set version = "v1" %}
{% set pageTitle = "Confirm details" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/elective-care-testing/{{version}}/trust-worker-request/upload-file">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-!-width-full">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ pageTitle }}</h1>

      <p class="govuk-body"><a href="#" class="govuk-link govuk-!-margin-right-2">Patient list</a><span class="govuk-!-margin-right-4">file added</span><a href="/elective-care-testing/{{version}}//trust-worker-request/upload-file" class="govuk-link">change</a></p>

      <p class="govuk-body">Once you continue your order will be processed</p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width: 16%">Name</th>
            <th scope="col" class="govuk-table__header" style="width: 16%">Date of birth</th>
            <th scope="col" class="govuk-table__header" style="width: 16%">Procedure date</th>
            <th scope="col" class="govuk-table__header" style="width: 16%">NHS number</th>
            <th scope="col" class="govuk-table__header" style="width: 16%">Mobile number</th>
            <th scope="col" class="govuk-table__header" style="width: 16%">Delivery address</th>
            <th scope="col" class="govuk-table__header" style="width: 16%"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs</td>
            <td class="govuk-table__cell">15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/elective-care-testing/{{version}}/trust-worker-request/date-of-procedure">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs</td>
            <td class="govuk-table__cell">15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/elective-care-testing/{{version}}/trust-worker-request/date-of-procedure">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs</td>
            <td class="govuk-table__cell">15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/elective-care-testing/{{version}}/trust-worker-request/date-of-procedure">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs</td>
            <td class="govuk-table__cell">15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/elective-care-testing/{{version}}/trust-worker-request/date-of-procedure">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs</td>
            <td class="govuk-table__cell">15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/elective-care-testing/{{version}}/trust-worker-request/date-of-procedure">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs</td>
            <td class="govuk-table__cell">15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/elective-care-testing/{{version}}/trust-worker-request/date-of-procedure">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs</td>
            <td class="govuk-table__cell">15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/elective-care-testing/{{version}}/trust-worker-request/date-of-procedure">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs</td>
            <td class="govuk-table__cell">15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/elective-care-testing/{{version}}/trust-worker-request/date-of-procedure">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs</td>
            <td class="govuk-table__cell">15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/elective-care-testing/{{version}}/trust-worker-request/date-of-procedure">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs</td>
            <td class="govuk-table__cell">15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/elective-care-testing/{{version}}/trust-worker-request/date-of-procedure">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs</td>
            <td class="govuk-table__cell">15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/elective-care-testing/{{version}}/trust-worker-request/date-of-procedure">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs</td>
            <td class="govuk-table__cell">15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/elective-care-testing/{{version}}/trust-worker-request/date-of-procedure">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs</td>
            <td class="govuk-table__cell">15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/elective-care-testing/{{version}}/trust-worker-request/date-of-procedure">Change</a></td>
          </tr>
        </tbody>
      </table>

      <a href="/elective-care-testing/{{version}}/trust-worker-request/confirmation" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
        Save and continue
      </a>

    </div>
  </div>
{% endblock %}
