{% set version = "v1" %}
{% set pageTitle = "What’s the patient’s NHS number?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <a class="govuk-back-link" href="/elective-care-testing/{{version}}/trust-worker-request/check-your-answers-patient-1">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/elective-care-testing/{{version}}/trust-worker-request/check-your-answers-patient-1" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="nhs-number-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
                What's {{ data['first-name-patient-1'] | default('Pete') }} {{ data['last-name-patient-1'] | default('Smith') }}'s NHS number?
              </h1>
            </legend>
            <span id="nhs-number-hint" class="govuk-body">
                Their NHS number is a 10 digit number. For example 485 777 3456.
            </span>

            <div class="govuk-form-group govuk-!-margin-top-5">
              <label class="govuk-label" for="nhs-number-patient-1">
                NHS number
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="nhs-number-patient-1" name="nhs-number-patient-1" type="text" spellcheck="false" value="{{ data['nhs-number-patient-1'] | default('ATG126344') }}">
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
