{% set version = "v3" %}
{% set pageTitle = "When did you have the vaccine?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="/litereg-accounts/{{version}}/vaccine">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/litereg-accounts/v3/action7/vaccine-date" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="vaccine-date-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
                {% if data['whos-taking-the-test'] == "someone-else" %}
                When did {{ data['first-name'] or "Pete" }} {{ data['last-name'] or "Smith" }} have the vaccine?
                {% else %}
                {{ pageTitle }}
                {% endif %}
              </h1>
            </legend>
            <span id="vaccine-date-hint" class="govuk-body">
                We are asking this question to better understand how effective the vaccine is.<br><br>
                If the person only had 1 dose, tell us when they had this dose.<br><br>
                If the person has had 2 doses, tell us when they had the second dose.
            </span>

            <div class="govuk-radios govuk-radios--conditional govuk-!-margin-top-6" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="vaccine-date-1" name="vaccine-date" type="radio" value="Less than 7 days ago" {{ checked("vaccine-date", "Less than 7 days ago") }}>
                <label class="govuk-label govuk-radios__label" for="vaccine-date-1">
                  Less than 7 days ago
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="vaccine-date-2" name="vaccine-date" type="radio" value="7 to 14 days ago" {{ checked("vaccine-date", "7 to 14 days ago") }}>
                <label class="govuk-label govuk-radios__label" for="vaccine-date-2">
                  7 to 14 days ago
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="vaccine-date-3" name="vaccine-date" type="radio" value="More than 14 days ago" data-aria-controls="conditional-vaccine-date" {{ checked("vaccine-date", "More than 14 days ago") }}>
                <label class="govuk-label govuk-radios__label" for="vaccine-date-3">
                  More than 14 days ago
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-vaccine-date">
                <div class="govuk-form-group">
                  <div class="govuk-date-input govuk-!-padding-top-2" id="date-of-vaccine">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="vaccine-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="vaccine-month" name="vaccine-month" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['vaccine-month'] }}">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="vaccine-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="vaccine-year" name="vaccine-year" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['vaccine-year'] }}">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
