{% set fullname %}
  {% if data.cuFirstName and data.cuLastName %}
    {{ data.cuFirstName }} {{ data.cuLastName }}
    {% else %}
      John Smith
  {% endif %}
{% endset %}
{% set dob %}
  {% if data["cuDOB-day"] and data["cuDOB-month"] and data["cuDOB-year"]  %}
    {{ data["cuDOB-day"]}} {{ data["cuDOB-month"] | monthToWord }} {{ data["cuDOB-year"]}}
  {% else %}
    31 March 1975
  {% endif %}
{% endset %}
{% set timeDate %}
  {% if data.cuDate and data.cuTime %}
    {% if data.cuDate == "Another date" %}
      {{ data["cuExactDate-day"]}} {{ data["cuExactDate-month"] | monthToWord }} {{ data["cuExactDate-year"]}}:
    {% else %}
      {{ data.cuDate | returnDateShort }}:
    {% endif %}
    {{ data.cuTime }}{{data.cuAMPM}}

  {% else %}
    {{ "Today" | returnDateShort }}: 9am
  {% endif %}
{% endset %}
{% set pageHeading = "Confirm pool" %}
{% set version = "organisational/lft/carehome-registration" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>

      {{ govukSummaryList({
        classes: "",
        rows: [
        {
          key: {
            text: "Organisation type"
          },
          value: {
            text: data.cuOrgType or "Care home"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change ",
                visuallyHiddenText: "organisation type"
              }
            ]
          }
        },
          {
            key: {
              text: "Organisation number"
            },
            value: {
              text: data.cuOrderID or "12345678"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change ",
                  visuallyHiddenText: "order ID"
                }
              ]
            }
          },

          {
            key: {
              text: "Organisation role"
            },
            value: {
              text: data.cuStaff or "Staff"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change ",
                  visuallyHiddenText: "order ID"
                }
              ]
            }
          },

          {
            key: {
              text: "Pooled test kit barcode"
            },
            value: {
              text: "CHE00000501"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change ",
                  visuallyHiddenText: "order ID"
                }
              ]
            }
          },


          {
            key: {
              html: "People in pool <span class='govuk-visually-hidden'>Registration 1</span>"
            },
            value: {
              html: "Pete Smith " if data.cuSingleCount else fullname
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change ",
                  visuallyHiddenText: "registration type"
                }
              ]
            }
          },
          {
            key: {
              html: "<span class='govuk-visually-hidden'>Registration 2</span>"
            },
            value: {
              html: fullname
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change ",
                  visuallyHiddenText: "registration type"
                }
              ]
            }
          },
          {
            key: {
              html: "<span class='govuk-visually-hidden'>Registration 2</span>"
            },
            value: {
              html: "Pete Smith"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change ",
                  visuallyHiddenText: "registration type"
                }
              ]
            }
          },
          {
            key: {
              html: "<span class='govuk-visually-hidden'>Registration 2</span>"
            },
            value: {
              html: "Pete Smith"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change ",
                  visuallyHiddenText: "registration type"
                }
              ]
            }
          },
          {
            key: {
              html: "<span class='govuk-visually-hidden'>Registration 2</span>"
            },
            value: {
              html: "Pete Smith"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change ",
                  visuallyHiddenText: "registration type"
                }
              ]
            }
          }
        ]
      }) }}

      <form class="" action="/{{ version }}/single/name?cuSingleCount={{ data.cuSingleCount | int  + 1 or 1 }}" method="post">

        <p>You can only add 5 people to one pooled test kit.</p>

        <input disabled="disabled" aria-disabled="true" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-3 govuk-button--disabled" type="submit" value="Register another person">

      </form>


      <form class="" action="/{{ version }}/single/security?cuSingleCount=" method="post">
        <input class="govuk-button" type="submit" value="Confirm pool">
      </form>

    </div>
  </div>

{% endblock %}
