{% set serviceName = "Register test kits for your organisation" %}
{% set pageHeading = "Register COVID-19 test kits for you organisation" %}
{% set version = "organisational/lft/carehome-registration" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body-l">
        Select your organisation type for information on how you can use this service.
      </p>

      <p>


        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="#">Adult Day Care Centre</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Care Home</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Domiciliary Care</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Extra Care Housing</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Hospice</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Independent Health Providers</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Prisions</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Probation Hostel</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Schools</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Supported Living</a>
          </li>
          <li>
            or
          </li>
          <li>
            <a class="govuk-link" href="#">Other</a>
          </li>
        </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <h2 class="govuk-heading-m">
        Before you start
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
        Registering and sending a return

        </li>
        <li>
          if you need to, book your <a href="#">courier collection here</a>
        </li>
        <li>
          take tests on the same day you're returning the kits
        </li>

      </ul>

      <h2 class="govuk-heading-m">
        Get consent
      </h2>

      <p>Make sure people getting tested have freely given you consent to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          register them
        </li>
        <li>get their results sent to the contact details you enter</li>
      </ul>

      <h2 class="govuk-heading-m">
        What you'll need
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          your 8 digit organisation number
        </li>
        <li>
          if you're registering lots of tests, use the correct spreadsheet (if you don't have this, you can download it during this registration process)
        </li>
        <li>
          you'll need to record the details of staff and non-staff on separate spreadsheets
        </li>
        <li>
          the barcode for each test
        </li>
        <li>
          the email address (and ideally mobile number) to get the test results
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        How we use personal data
      </h2>
      <p>
        To find out how we use people’s data when you register them for a coronavirus test,
        <a href="#">read the coronavirus privacy note</a>.
      </p>

      {{ govukButton({
        text: "Start now",
        href: "confirm-before",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}

    </div>

    <div class="govuk-grid-column-one-third">

    </div>
  </div>

{% endblock %}
