{% set fullname %}
  {% if data.cuFirstName and data.cuLastName %}
    {{ data.cuFirstName }} {{ data.cuLastName }}
    {% else %}
      John Smith
  {% endif %}
{% endset %}
{% set pageHeading = "Are you currently in work?" %}
 {% set version = "organisational/lft/carehome-registration" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="" action="" method="post">

        {{ govukRadios({
            idPrefix: "cuInWork",
            name: "cuInWork",
            fieldset: {
              legend: {
                text: pageHeading,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
              html: "<p>This will help us understand more about the spread of the virus.</p>"
            },
            items: [
              {
                value: "Yes, and for the last 2 weeks I have worked from home",
                text: "Yes, and for the last 2 weeks I have worked from home"
              },
              {
                value: "Yes, and for the last 2 weeks I have travelled to work",
                text: "Yes, and for the last 2 weeks I have travelled to work"
              },
              {
                value: "no",
                text: "No"
              },
              {
                divider: "or"
              },
              {
                value: "Prefer not to say",
                text: "Prefer not to say/I do not know"
              }
            ]
          }) }}

        <input class="govuk-button" type="submit" value="Continue">

      </form>

    </div>
  </div>

{% endblock %}
