{% set version = "v3" %}
{% set pageTitle = "Text message" %}

{% extends "includes/layout.html" %}


{% block header %}

{% endblock %}

{% block content %}

<style>
  body {
    background-color: #f3f2f1 !important;
    -webkit-text-size-adjust: 100%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
  }

  .app-text-message {
    background-color: #fff;
    padding: 20px;
    max-width: 320px;
    min-height: 420px;
  }

  .app-text-message__text {
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    position:relative;
    padding:10px 20px;
    border-radius:25px;
    background:#E5E5EA;
    color:black;

  &:before, &:after {
               content:"";
               position:absolute;
               bottom:-2px;
               height:20px;
             }

  &:before {
     left:-7px;
     border-left:20px solid #E5E5EA;
     border-bottom-right-radius: 16px 14px;
     transform:translate(0, -2px);
   }

  &:after {
     left:4px;
     width:26px;
     background:white;
     border-bottom-right-radius: 10px;
     transform:translate(-30px, -2px);
   }
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Text message</h1>

    <div class="app-text-message">
      <h2 class="govuk-heading-s">UK_Gov</h2>
      <p class="app-text-message__text">
        Dear {{ data['first-name'] | default('(( first name ))') }},<br><br>

        Birth date - {{ data['date-of-birth'] | default('(( date of birth ))') }}<br><br>

        Your coronavirus test result is negative. This means you did not have the virus when the test was done.<br><br>

        You only need to self-isolate if:<br><br>

        &bull; you get symptoms of coronavirus (you’ll need a new test)<br>
        &bull; someone you live with gets symptoms or has a positive test<br>
        &bull; you’ve been traced as a close contact of someone who’s tested positive<br><br>

        For advice on how long to self-isolate, go to <a href="https://www.nhs.uk/coronavirus">www.nhs.uk/coronavirus</a> and read ‘Self-isolation and treating symptoms’.
      </p>
    </div>

  </div>
</div>

{% endblock %}

{% block footer %}

{% endblock %}
