{% set pageHeading = "Check the details for each person" %}
 {% set version = "organisational/test-pass/reg-without-pass" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}
{% block beforeContent %}
<div class=“”>
  <div class=“govuk-grid-row”>
    <div class=“govuk-grid-column-full”>
      <a class="govuk-back-link" href="javascript:window.history.go(-1);">Back</a>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Would you like to send the test registration code's to an additional contact?</h1>

      <form class="form" action="/organisational/test-pass/reg-with-pass/bulk/check" method="post">

<p>An individual's test registration codes will be emailed and texted to the contact details provided for that individual in the spreadsheet.</p>

<div class="govuk-form-group">
<div class="govuk-radios govuk-radios">
  <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
          <label class="govuk-label govuk-radios__label" for="contact">
            Yes, enter an additional email address to receive the test registration codes
          </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-by-email">
              Email address
            </label>
            <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false"></div>
        </div>
<div class="govuk-radios__item">
  <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="no">
  <label class="govuk-label govuk-radios__label" for="changed-name-2">
    No, only send the test registration codes to the contact details provided in the spreadsheet
  </label>
</div>
</div>

</div>

</div>
<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

{% endblock %}
