{% set fullname %}
  {% if data.cuFirstName and data.cuLastName %}
    {{ data.cuFirstName }} {{ data.cuLastName }}
    {% else %}
      John Smith
  {% endif %}
{% endset %}
{% set pageHeading = "Enter a mobile number" %}
 {% set version = "organisational/register/v4" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - COVID-19
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

      <p>If the person being tested is a resident, this mobile phone number should belong to an authorised staff member or legal guardian. Staff members must use their work mobile phone number.</p>

      <p>If a member of staff is being tested, this mobile phone number should belong to them. We'll test their results to this number.</p>


      <form class="" action="/{{ version }}/single/check" method="get">

        {{ govukInput({
          label: {
            html: 'Mobile phone number'
          },
          classes: "govuk-!-width-one-third",
          id: "cuMobile",
          name: "cuMobile"
        }) }}

        {{ govukInput({
          label: {
            html: 'Confirm mobile phone number'
          },
          classes: "govuk-!-width-one-third",
          id: "cuMobileConfirm",
          name: "cuMobileConfirm"
        }) }}

        <input class="govuk-button" type="submit" value="Continue">

      </form>

    </div>
  </div>

{% endblock %}
