{% set version = "v2" %}
{% set pageTitle = "There's a problem" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<!--<a class="govuk-back-link" href="/{{version}}/order/order-summary">Back</a>-->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <h2 class="govuk-heading-m">Please check your home address</h2>

      <p class="govuk-body"><a href="/{{version}}/order/order-summary">Check your home address is correct </a>.</p>


      <p class="govuk-body">If it is correct, you will now need to call us to order your test kit. </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>England, Wales and Northern Ireland: call 119 (free from mobiles and landlines)</li>
        <li>Scotland: call 0300 303 2713 (charged at your standard network rate)</li>
      </ul>
      <p class="govuk-body">This helpline is open from 7am to 11pm.</p>


    </div>
  </div>

{% endblock %}
