{% set version = "v2" %}
{% set pageTitle = "Order your test kit" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/v1/registration/check-your-answers">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <p class="govuk-body">Thank you for confirming and registering your details with us.</p>
      <p class="govuk-body">You now just need to enter your home and delivery address. Once we've checked that your name and home address are real, you can order your test kit.</p>

<!--      <details class="govuk-details" data-module="govuk-details">-->
<!--        <summary class="govuk-details__summary">-->
<!--            <span class="govuk-details__summary-text">-->
<!--              Find out more about our identity check-->
<!--            </span>-->
<!--        </summary>-->
<!--        <div class="govuk-details__text">-->
<!--          To confirm your identity, we need to share some of the information you give us with an organisation called TransUnion.<br><br>-->
<!--          This will help protect fraudulent use of coronavirus testing services.<br><br>-->
<!--          This is not a credit check and does not affect your credit rating.<br><br>-->

<!--          <h3 class="govuk-heading-s">If you do not want us to check your details with TransUnion</h3>-->
<!--          <p class="govuk-body">Call the customer contact centre if you still want to order a test kit:</p>-->
<!--          <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
<!--            <li>England, Wales and Northern Ireland: call 119 (free from mobiles and landlines)</li>-->
<!--            <li>Scotland: call 0300 303 2713 (charged at your standard network rate)</li>-->
<!--          </ul>-->
<!--          <p class="govuk-body">This helpline is open from 7am to 11pm.</p>-->

<!--        </div>-->
<!--      </details>-->

      <a role="button" draggable="false" class="govuk-button" data-module="govuk-button" href="/{{version}}/order/delivery-address">
        Order your test kit
      </a>

    </div>
  </div>

{% endblock %}
