{% set version = "v1" %}
{% set pageTitle = "Details updated" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title govuk-!-margin-bottom-3">{{ pageTitle }}</h1>
      <p class="govuk-body govuk-!-margin-bottom-2" style="color: #ffffff">
        {{ data['group-3-team-member-4-first-name'] }} {{ data['group-3-team-member-4-last-name'] }} - {{ data['group-3-team-member-4-status'] }}
      </p>
      <p class="govuk-body govuk-!-margin-bottom-0" style="color: #ffffff">{{ data['group-3-team-member-4-group'] }}</p>
    </div>

    <p class="govuk-body govuk-!-margin-top-6">You've updated this team member's details. Make sure you tell them of any important changes that may affect them.</p>

    <a href="/elective-care-testing/{{version}}/account-management/groups" role="button" draggable="false" class="govuk-button govuk-!-margin-top-7" data-module="govuk-button">
      Finish
    </a>

  </div>
</div>

{% endblock %}