{% set version = "research" %}
{% set pageTitle = "Check if you are eligible for a PCR test" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div> 

  <a class="govuk-back-link" href="/IBT/antigen/e2e-prototypes/{{version}}/refer-and-triage/country">Back</a>
{% endblock %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            From 1 May 2022, you can only get a free PCR test, if you or the person who cares for you is eligible for a Self-Isolation Support Grant (SISG).
            <a class="govuk-notification-banner__link" href="https://www.mygov.scot/self-isolation-grant">Check if you're eligible for SISG.</a>
          </p>
        </div>
      </div>

      <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--x">
          <h1 class="govuk-heading-x">{{ pageTitle }}</h1>
        </legend>

        <p class="govuk-body">You can only get a free PCR test, if you or the person who cares for you is eligible for a <a class="govuk-link" href="https://www.mygov.scot/self-isolation-grant" target="_blank">Self-Isolation Support Grant (opens in new tab)</a>.</p>

        <h2 class="govuk-heading-m">If you're worried</h2>

        <p class="govuk-body">If your symptoms do not get better, or get worse, contact 111 or speak to your GP. In an emergency dial 999.</p>
        
        <h2 class="govuk-heading-m">Disclaimer</h2>
        <p class="govuk-body">By selecting 'Confirm and continue', I confirm I am eligible to get a PCR test.</p>

        <div class="govuk-button-group">
          <a href="/IBT/antigen/e2e-prototypes/{{version}}/refer-and-triage/essential-worker" class="govuk-button govuk-!-margin-right-4" role="button">Confirm and continue</a>
          <a rel="noopener noreferrer" href="https://www.nhsinform.scot/illnesses-and-conditions/infections-and-poisoning/coronavirus-covid-19/coronavirus-covid-19/" class="govuk-link">I am not eligible</a>
        </div>

      </fieldset>

    </div>
  </div>

{% endblock %}

