<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content" style="line-height: 35px">
      <span class="govuk-phase-banner__text">
        Signed in as <strong>{{ data['email-address'] or "psmith@example.co.uk" }}</strong>
      </span>
    </p>
    <div class="account-menu">
      <a href="/litereg-accounts/{{version}}/user-account/edit-personal-details/home-page" style="margin-right: 20px">Edit login details</a>
      <a href="/litereg-accounts/{{version}}/">Sign out</a>
    </div>
  </div>