<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
      <span class="govuk-phase-banner__text"> This is a new service – your 
      <a target="_blank" href="#" class="govuk-link"> feedback (opens in new tab)</a> will help us to improve it. 
      </span>
    </p>

    {# <div class="" style="display: flex; align-items: center; justify-content: space-between; padding: 15px 0 5px 0;">
      <p class="govuk-phase-banner__content">
        Signed in as <strong>bob.smith@nhs.net</strong>
      </p>
      <a href="confirm-sign-out-v1" class="govuk-phase-banner__content govuk-!-margin-top-0">Sign out bob.smith@nhs.net</a>
    </div> #}

{#  <div class="" style="display: flex; align-items: center; justify-content: space-between; margin-top: 10px; padding: 15px 0 5px 0; border-top: 1px solid #b1b4b6;">
      <p class="govuk-phase-banner__content">
        Signed in as <strong>bob.smith@nhs.net</strong>
      </p>
      <a class="govuk-!-margin-top-0">Sign out</a>
    </div> #}
  </div>

  {# <div class="" style="display: flex; align-items: center; justify-content: space-between; padding: 15px 0 5px 0;">
    <p class="govuk-phase-banner__content">
      Signed in as <strong>bob.smith@nhs.net</strong>
    </p>
    <a href="sign-out-check-progress" class="govuk-phase-banner__content govuk-!-margin-top-0">Sign out</a>
  </div> #}