<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content" style="line-height: 35px">
      <span class="govuk-phase-banner__text">
      <!--  Signed in as <strong>{{ data['first-name'] or "Bob" }} {{ data['last-name'] or "Smith" }}</strong> -->
        Signed in as <strong>Bob Smith</strong>
      </span>
    </p>
    <div class="account-menu">
      <a href="view-account-check-progress" style="margin-right: 20px">View account</a>
    <!--  <a href="https://settings.login.nhs.uk/" target="blank" rel="noreferrer" style="margin-right: 20px">Update NHS login details</a> -->
      <a href="sign-out-check-progress">Sign out</a>
    </div>
  </div>
