<h2 class="govuk-heading-m">Antibody testing @ home</h2>
<p>Registration and ordering of an Industry Elisa or Lateral Flow Testing kit for individual home use.</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">

    <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0 govuk-!-margin-bottom-2" style="font-size: 11px;">Live</strong>
    <h3 class="govuk-heading-s">MVP 1.0 version</h3>

    <p class="govuk-body">Aligned to release 1.0 on the 24th July.</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/antibody/v1/govuk/">GOV.UK coronavirus page</a>
      </li>
      <!--        <li>-->
      <!--          <a href="/antibody/v1/nhsuk/">NHS.UK coronavirus hub</a>-->
      <!--        </li>-->
      <li>
        <a href="/antibody/v1/refer-and-triage/">Refer and triage</a>
      </li>
      <li>
        Invitation to order: <a href="/antibody/v1/sms/">SMS</a></li>
      </li>
      <li>
        <a href="/antibody/v1/global-registration/invitation-code">Global Registration</a>
      </li>
      <li>
        <a href="/antibody/v1/home-testing/">Home ordering portal</a>
        <details class="govuk-details govuk-!-margin-top-2 govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Error pages
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/antibody/v1/home-testing/token-fail">Token error: missing or invalid</a></li>
              <li><a href="/antibody/v1/home-testing/order-fail">Token error: token already used</a></li>
              <li><a href="/antibody/v1/home-testing/no-home-tests">Stock check fail: no more test kits available</a></li>
              <li><a href="/antibody/v1/home-testing/confirm-identity-fail">TransUnion fail: could not confirm identity</a></li>
              <li><a href="/antibody/v1/home-testing/there-is-a-problem">Recaptcha error: interaction was likely a bot</a></li>
              <li><a href="/antibody/v1/home-testing/offline">Home ordering is offline for maintenance</a></li>
            </ul>
          </div>
        </details>
      </li>
      <li>
        Order confirmed: <a href="/antibody/v1/sms/order-confirmed">SMS</a></li>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-top-0 govuk-!-margin-bottom-2" style="font-size: 11px;">In development</strong>
    <h3 class="govuk-heading-s">MVP 1.1 version</h3>
    <p class="govuk-body">Aligned to release 1.1 on the 26th August.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/antibody/v4/govuk/index">GOV.UK coronavirus page</a>
        <details class="govuk-details govuk-!-margin-top-2 govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Guidance pages
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="/antibody/v4/govuk/results-guidance">Your coronavirus (COVID-19) test results</a>
              </li>
              <li>
                <a href="/antibody/v4/govuk/guidance-antibody-testing">Coronavirus (COVID-19) antibody testing</a>
              </li>
              <li>
                <a href="/antibody/v4/govuk/taking-antibody-blood-sample">How to take your at-home antibody fingerprick blood test</a>
              </li>
            </ul>
          </div>
        </details>
      </li>
      <li>
        <a href="/antibody/v4/refer-and-triage/">Refer and triage</a>
      </li>
      <li>
        Invitation to order: <a href="/antibody/v4/sms/">SMS</a></li>
      </li>
      <li>
        <a href="/antibody/v4/global-registration/invitation-code">Global Registration</a>
      </li>
      <li>
        <a href="/antibody/v4/home-testing/">Home ordering portal</a>

        <details class="govuk-details govuk-!-margin-top-2 govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Error pages
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/antibody/v4/home-testing/token-fail">Token error: missing or invalid</a></li>
              <li><a href="/antibody/v4/home-testing/order-fail">Token error: token already used</a></li>
              <li><a href="/antibody/v4/home-testing/no-home-tests">Stock check fail: no more test kits available</a></li>
              <li><a href="/antibody/v4/home-testing/confirm-identity-fail">TransUnion fail: could not confirm identity</a></li>
              <li><a href="/antibody/v4/home-testing/there-is-a-problem">Recaptcha error: interaction was likely a bot</a></li>
              <li><a href="/antibody/v4/home-testing/offline">Home ordering is offline for maintenance</a></li>
            </ul>
          </div>
        </details>
      </li>
      <li>
        Order confirmed: <a href="/antibody/v4/sms/order-confirmed">SMS</a></li>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-third">
    <strong class="govuk-tag govuk-tag--orange govuk-!-margin-top-0 govuk-!-margin-bottom-2" style="font-size: 11px;">In design</strong>
    <h3 class="govuk-heading-s">MVP 1.2 vesion</h3>
    <p class="govuk-body">Aligned to future release 1.2.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/antibody/v5/govuk/index">GOV.UK coronavirus page</a>

        <details class="govuk-details govuk-!-margin-top-2 govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Guidance pages
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="/antibody/v5/govuk/results-guidance">Your coronavirus (COVID-19) test results</a>
              </li>
              <li>
                <a href="/antibody/v5/govuk/guidance-antibody-testing">Coronavirus (COVID-19) antibody testing</a>
              </li>
              <li>
                <a href="/antibody/v5/govuk/taking-antibody-blood-sample">How to take your at-home antibody fingerprick blood test</a>
              </li>
            </ul>
          </div>
        </details>
      </li>
      <li>
        <a href="/antibody/v6/refer-and-triage/">Refer and triage</a>
      </li>
      <li>
        Invitation to order: <a href="/antibody/v5/sms/">SMS</a> | <a href="/antibody/v5/email/">Email</a></li>
      </li>
      <li>
        <a href="/antibody/v6/global-registration/invitation-code">Global Registration</a>
      </li>
      <li>
        <a href="/antibody/v6/global-registration/lft/invitation-code">LFT Global Registration</a>
      </li>
      <li>
        <a href="/antibody/v5/home-testing/please-wait">Home ordering portal</a>
        <details class="govuk-details govuk-!-margin-top-2 govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Error pages
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/antibody/v5/home-testing/token-fail">Token error: missing or invalid</a></li>
              <li><a href="/antibody/v5/home-testing/order-fail">Token error: token already used</a></li>
              <li><a href="/antibody/v5/home-testing/no-home-tests">Stock check fail: no more test kits available</a></li>
              <li><a href="/antibody/v5/home-testing/confirm-identity-fail">TransUnion fail: could not confirm identity</a></li>
              <li><a href="/antibody/v5/home-testing/there-is-a-problem">Recaptcha error: interaction was likely a bot</a></li>
              <li><a href="/antibody/v5/home-testing/offline">Home ordering is offline for maintenance</a></li>
            </ul>
          </div>
        </details>
      </li>
      <li>
        Order confirmed: <a href="/antibody/v5/sms/order-confirmed">SMS</a> | <a href="/antibody/v5/email/order-confirmed">Email</a>
        <ul>
          <li>Order failed: <a href="/antibody/v5/sms/order-failed">SMS</a> | <a href="/antibody/v5/email/order-failed">Email</a></li>
          <li>Order reminder: <a href="/antibody/v5/sms/order-reminder">SMS</a> | <a href="/antibody/v5/email/order-reminder">Email</a></li>
        </ul>
      </li>
      </li>
    </ul>
  </div>
</div>

<hr style="display: block; background: #bfc1c3; border: 0;  height: 1px; margin-top: 30px; margin-bottom: 30px;">

{# show antibody section if in scope or if the environment variable doesn't exist #}
{% if scope === "antibody" %}
  <p class="govuk-bodytext"><a href="/all">See all testing prototypes</a></p>
{% endif %}
