
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="#" class="govuk-back-link">Back</a>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Test numbers</h1>
      <p class="govuk-body govuk-!-margin-bottom-6">We’ll calculate the number of tests to send you from the information you give us. As part of the order, we’ll provide extra tests in case of wastage or spoils.</p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-4">
          Total number of residents
        </label>
        <input class="govuk-input govuk-input--width-4" name="width-4" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-4">
          Total number of residents
        </label>
        <div class="govuk-hint">
          This includes all permanent, temporary and agency staff.
        </div>
        <input class="govuk-input govuk-input--width-4" name="width-4" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-4">
          Total number of residents not suitable for group testing
        </label>
        <div class="govuk-hint">
          This may include residents who have coronavirus symptoms, have tested positive in the past or may not be able to isolate due to their health.
        </div>
        <input class="govuk-input govuk-input--width-4" name="width-4" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-4">
          Total number of staff not suitable for group testing
        </label>
        <div class="govuk-hint">
          This may include staff who have coronavirus symptoms, have tested positive in the last 90 days, were previously shielding or may be vulnerable (for example, if they’re pregnant).
        </div>
        <input class="govuk-input govuk-input--width-4" name="width-4" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-4">
          How many unused <span class="govuk-!-font-weight-bold">individual rapid retest</span> swab test kits do you have left or are allocated to staff and non-staff?
        </label>
        <input class="govuk-input govuk-input--width-4" name="width-4" type="text">
      </div>

      <form action="4">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>



    </div>
  </div>


{% endblock %}
