
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="#" class="govuk-back-link">Back</a>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Weekend testing commitment</h1>
      <p class="govuk-body govuk-!-font-weight-bold">This only applies to organisations that operate at weekends, for example care homes.</p>
      <p class="govuk-body govuk-!-margin-bottom-6">If you can, do your testing at the weekend. This spreads our workload across the week and helps us process more kits faster. Weekend testing is any testing done between Friday and Monday, with at least one day of testing on a Saturday or Sunday. However, if your test kits arrive early in the week do not delay testing and get them straight back to us as normal. </p>

      <div class="govuk-form-group">
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" name="checkbox" type="checkbox" value="">
              <label class="govuk-label govuk-checkboxes__label" for="checkbox">
                Tick this box to confirm that you can do your testing over a weekend
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <form action="5">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

      <a href="#" class="govuk-link">This doesn’t apply</a>



    </div>
  </div>


{% endblock %}
