
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="#" class="govuk-back-link">Back</a>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Primary contact information</h1>
      <p class="govuk-body govuk-!-margin-bottom-6">Enter the contact details of the person who’ll be responsible for testing. This will normally be the registered manager. We'll email all delivery details and test instructions to this person.</p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="two-thirds">
          First name
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" name="two-thirds" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="two-thirds">
          Last name
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" name="two-thirds" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="two-thirds">
          Job title
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" name="two-thirds" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="two-thirds">
          Organisation (optional)
        </label>
        <div class="govuk-hint">
          If you work for a different organisation than this one, please tell us which one.
        </div>
        <input class="govuk-input govuk-!-width-two-thirds" name="two-thirds" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="two-thirds">
          Phone number
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" name="two-thirds" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="two-thirds">
          Email address
        </label>
        <div class="govuk-hint">
          You’ll be sent an email to confirm your order and another when your test kits have been sent.
        </div>
        <input class="govuk-input govuk-!-width-two-thirds" name="two-thirds" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="two-thirds">
          Confirm email address
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" name="two-thirds" type="text">
      </div>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="event-name">
            Secondary contact information
          </label>
        </h1>
        <label class="govuk-label govuk-!-margin-bottom-4" for="sort">
          Do you want to add a secondary contact to this order? This contact will also receive all delivery details and testing instructions.
        </label>
        <select class="govuk-select" name="sort">
          <option value="published">Yes</option>
          <option value="updated" selected>No</option>
        </select>
      </div>

      <form action="6">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>



    </div>
  </div>


{% endblock %}
