{% set version = "v1" %}
{% set pageTitle = "Text message sent" %}

{% extends "includes/layout-admin-portal.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title govuk-!-margin-bottom-3">{{ pageTitle }}</h1>
      <p class="govuk-body govuk-!-margin-bottom-2" style="color: #ffffff">Your message reference</p>
      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0" style="color: #ffffff">11JULHEATHROWNEWHOURS</p>
    </div>

    <p class="govuk-body">You’ve requested a message is sent to approximately 500 people who have an appointment at Heathrow airport test site, 125 testing lane, RM4 3RS on 11 July 2020.</p>
    <p class="govuk-body">You’ve told them that the changed operating hours at this site have changed. They are now 10am to 12pm.</p>

    <a href="../superuser-home" role="button" draggable="false" class="govuk-button govuk-!-margin-top-7" data-module="govuk-button">
      Back to home
    </a>

  </div>
</div>

{% endblock %}
