{% set version = "v1" %}
{% set pageTitle = "Enter the test site's postcode" %}

{% extends "includes/layout-admin-portal.html" %}

{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
  <!-- <a class="govuk-back-link" href="../superuser-home">Back</a> -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="select-test-site" method="post">

        <fieldset class="govuk-fieldset" aria-describedby="post-code-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
              {{ pageTitle }}
            </h1>
          </legend>
          <div class="govuk-form-group">
            <label class="govuk-label" for="test-site-postcode">
              Test site postcode
            </label>
            <input class="govuk-input govuk-input--width-10" id="test-site-postcode" name="test-site-postcode" type="text" autocomplete="postal-code" value="{{ data['test-site-postcode'] }}">
          </div>
        </fieldset>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
