{% set version = "v1" %}
{% set pageTitle = "What are the operating hours for North London test site?" %}

{% extends "includes/layout-admin-portal.html" %}
{% block beforeContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>

  <!-- <a class="govuk-back-link" href="/admin-portal/bulk-sms/select-new-test-site">Back</a> -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form action="/admin-portal/bulk-sms/confirm-message-operating-hours" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="ethnic-group-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
                {{ pageTitle }}
              </h1>
            </legend>

            <p id="how-will-you-get-test-hint">
              <strong>Test site operating hours</strong>
              <span id="time-hint" class="govuk-hint">
                Select all times that apply
              </span>
            </p>
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="new-hours-1" name="new-hours" type="checkbox" value="8am to 9am" {{ checked("time", "8am to 9am") }}>
                <label class="govuk-label govuk-checkboxes__label" for="new-hours-1">
                  8am to 9am 
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="new-hours-2" name="new-hours" type="checkbox" value="9am to 10am" {{ checked("time", "9am to 10am") }}>
                <label class="govuk-label govuk-checkboxes__label" for="new-hours-2">
                  9am to 10am 
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="new-hours-3" name="new-hours" type="checkbox" value="10am to 11am" {{ checked("time", "10am to 11am") }}>
                <label class="govuk-label govuk-checkboxes__label" for="new-hours-3">
                  10am to 11am 
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="new-hours-4" name="new-hours" type="checkbox" value="11am to 12pm" {{ checked("time", "11am to 12pm") }}>
                <label class="govuk-label govuk-checkboxes__label" for="new-hours-4">
                  11am to 12pm 
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="new-hours-5" name="new-hours" type="checkbox" value="1pm to 2pm" {{ checked("time", "1pm to 2pm") }}>
                <label class="govuk-label govuk-checkboxes__label" for="new-hours-5">
                  1pm to 2pm 
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="new-hours-6" name="new-hours" type="checkbox" value="2pm to 3pm" {{ checked("time", "2pm to 3pm") }}>
                <label class="govuk-label govuk-checkboxes__label" for="new-hours-6">
                  2pm to 3pm 
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="new-hours-7" name="new-hours" type="checkbox" value="3pm to 4pm" {{ checked("time", "3pm to 4pm") }}>
                <label class="govuk-label govuk-checkboxes__label" for="new-hours-7">
                  3pm to 4pm 
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="new-hours-8" name="new-hours" type="checkbox" value="4pm to 5pm" {{ checked("time", "4pm to 5pm") }}>
                <label class="govuk-label govuk-checkboxes__label" for="new-hours-8">
                  4pm to 5pm 
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="new-hours-9" name="new-hours" type="checkbox" value="5pm to 6pm" {{ checked("time", "5pm to 6pm") }}>
                <label class="govuk-label govuk-checkboxes__label" for="new-hours-9">
                  5pm to 6pm 
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="new-hours-10" name="new-hours" type="checkbox" value="6pm to 7pm" {{ checked("time", "6pm to 7pm") }}>
                <label class="govuk-label govuk-checkboxes__label" for="new-hours-10">
                  6pm to 7pm 
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="new-hours-11" name="new-hours" type="checkbox" value="7pm to 8pm" {{ checked("time", "7pm to 8pm") }}>
                <label class="govuk-label govuk-checkboxes__label" for="new-hours-11">
                  7pm to 8pm 
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="new-hours-12" name="new-hours" type="checkbox" value="8pm to 9pm" {{ checked("time", "8pm to 9pm") }}>
                <label class="govuk-label govuk-checkboxes__label" for="new-hours-12">
                  8pm to 9pm 
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="new-hours-13" name="new-hours" type="checkbox" value="9pm to 10pm" {{ checked("time", "9pm to 10pm") }}>
                <label class="govuk-label govuk-checkboxes__label" for="new-hours-13">
                  9pm to 10pm 
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="new-hours-14" name="new-hours" type="checkbox" value="10pm to 11pm" {{ checked("time", "10pm to 11pmm") }}>
                <label class="govuk-label govuk-checkboxes__label" for="new-hours-14">
                  10pm to 11pm 
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="new-hours-15" name="new-hours" type="checkbox" value="11pm to 12am" {{ checked("time", "11pm to 12am") }}>
                <label class="govuk-label govuk-checkboxes__label" for="new-hours-15">
                  11pm to 12am 
                </label>
              </div>

              
            </div>
        </div> 

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
