{% set pageHeading = "Enter the test details for each person" %}
{% set version = "organisational/register/v2" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
   Error: {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

{% set prePop %}
 {% if data.cuOrgPrepopDate %}

 {% endif %}
{% endset %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Check that you've entered the day correctly",
              href: "#cuTestKitCode1-error"
            }
          ]
        }) }}

      <h1 class="govuk-heading-xl">
        {{ pageHeading | safe }}
      </h1>

      <p>Check their personal details are correct and change if necessary</p>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">Records 1 to 2</h2>
      <form class="" action="/{{ version }}/bulk/check" method="get">

      <div class="card-table">
        <div class="card-table__item card-table__item--error" id="entry-1" role="group" aria-labelledby="entryName1">
          <div class="card-table__form">
            <h3 class="govuk-visually-hidden" id="entryName1">Alun Smith's test details</h3>

          <div class="card-table__form-column column-8">
              <dl class="card-table__summary">
                <dt>Name</dt>
                <dd>Alun Smith</dd>
                <dd class="dob">23 June 1980</dd>
                <dd>
                  <a href="#">View personal details</a>
                </dd>
              </dl>
            </div>

            <div class="card-table__form-column column-16">
              {{ govukInput({
                label: {
                  text: "Enter test kit barcode or Unique Reference Number (URN)",
                  classes: "govuk-!-font-size-16 govuk-!-font-weight-bold govuk-!-margin-bottom-3"
                },
                classes: "govuk-input--width-10",
                id: "cuTestKitCode1",
                name: "cuTestKitCode1",
                value: "CHE00000501"
              }) }}

              {{ govukInput({
                label: {
                  text: "Confirm test kit barcode or URN",
                  classes: "govuk-!-font-size-16 govuk-!-margin-bottom-1 govuk-!-margin-top-2"
                },
                classes: "govuk-input--width-10",
                id: "cuTestKitCode1",
                name: "cuTestKitCode1",
                value: "CHE00000501"
              }) }}
            </div>

            <div class="card-table__form-column column-16">
              <div class="govuk-form-group govuk-form-group--error">
                <fieldset class="govuk-fieldset" role="group">

                  <legend class="govuk-fieldset__legend govuk-!-font-size-16 govuk-!-font-weight-bold">

                    Date of swab test

                  </legend>

                  <span id="passport-issued-error" class="govuk-error-message govuk-!-font-size-16">
                    <span class="govuk-visually-hidden ">Error:</span> Check that you've entered the day correctly
                  </span>


                  <div class="govuk-date-input" id="covidUpload">

                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label govuk-!-font-size-16" for="covidUpload-day">
                          Day
                        </label>

                        <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="covidUpload-day" name="cuOrgType-day1" type="text" autocomplete="bday-day" pattern="[0-9]*" inputmode="numeric" value="56">
                      </div>
                    </div>

                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label govuk-!-font-size-16" for="covidUpload-month">
                          Month
                        </label>


                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="covidUpload-month" name="cuOrgType-month1" type="text" autocomplete="bday-month" pattern="[0-9]*" inputmode="numeric" value="7">
                      </div>
                    </div>

                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label govuk-!-font-size-16" for="covidUpload-year">
                          Year
                        </label>


                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="covidUpload-year" name="cuOrgType-year1" type="text" autocomplete="bday-year" pattern="[0-9]*" inputmode="numeric" value="2020">
                      </div>
                    </div>

                  </div>
                  </fieldset>
                </div>
            </div>


            <div class="card-table__form-column column-12">

              {% call govukFieldset({
                legend: {
                  text: "Time of swab test",
                  classes: "govuk-!-font-size-16 govuk-!-font-weight-bold",
                  isPageHeading: false
                }
              }) %}

              <div class="govuk-form-group">
                <div class="govuk-date-input__item govuk-!-margin-right-1">
                  <label class="govuk-label govuk-!-font-size-16" for="covidUploadHour">
                    Hour
                  </label>
                  <input class="govuk-input govuk-input--width-2" id="covidUploadHour" name="cuTime1" type="text" value="9">
                </div>

                <div class="govuk-date-input__item">
                  <label class="govuk-label govuk-!-font-size-16" for="covidUploadAMPM">
                    am or pm
                  </label>
                  <select class="govuk-select govuk-input--width-4" id="covidUploadAMPM" name="cuAMPM1">
                    <option value="am">am</option>
                    <option value="pm">pm</option>
                  </select>
                </div>

              </div>

              {% endcall %}

            </div>

            <div class="card-table__form-column column-6" style="display:none">
              <p>
                <a class="govuk-!-font-size-16 destructive-action" href="#">Delete entry</a>
              </p>
            </div>



          </div>
        </div>

        {% set items = [

          { name: "Filomena Guyton", id: 2, dob: "29 June 1975" }

          ] %}
          {% for item in items %}


            <div class="card-table__item" id="entry-{{ item.id }}" role="group" aria-labelledby="entryName{{ item.id }}">
              <div class="card-table__form">
                <h3 class="govuk-visually-hidden" id="entryName{{ item.id }}">{{ item.name | trim }}'s test details</h3>


              <div class="card-table__form-column column-8">
                  <dl class="card-table__summary">
                    <dt class="app-visually-hidden--desktop">Name</dt>
                    <dd>{{ item.name }}</dd>
                    <dd class="dob">{{ item.dob }}</dd>
                    <dd>
                      <a href="#">View personal details</a>
                    </dd>
                  </dl>
                </div>

                <div class="card-table__form-column column-16">
                  {{ govukInput({
                    label: {
                      text: "Test kit barcode or URN",
                      classes: "govuk-!-font-size-16 app-bold--mobile"
                    },
                    classes: "govuk-input--width-10",
                    id: "cuTestKitCode" + item.id,
                    name: "cuTestKitCode" + item.id,
                    value: "CHE00000502"

                  }) }}

                  {{ govukInput({
                    label: {
                      text: "Confirm test kit barcode or URN",
                      classes: "govuk-!-font-size-16 govuk-!-margin-bottom-1 govuk-!-margin-top-2"
                    },

                    classes: "govuk-input--width-10",
                    id: "cuTestKitCodeConfirm" + item.id,
                    name: "cuTestKitCodeConfirm" + item.id,
                    value: "CHE00000502"
                  }) }}
                </div>

                <div class="card-table__form-column column-16">
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group">

                      <legend class="govuk-fieldset__legend govuk-!-font-size-16 govuk-!-font-weight-bold app-visually-hidden--desktop">

                        Date of swab test

                      </legend>


                      <div class="govuk-date-input" id="covidUploadDATE">

                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label govuk-!-font-size-16" for="covidUpload-day">
                              Day
                            </label>

                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="covidUpload-day" name="cuOrgType-day{{ item.id }}" type="text" autocomplete="bday-day" pattern="[0-9]*" inputmode="numeric" value="22">
                          </div>
                        </div>

                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label govuk-!-font-size-16" for="covidUpload-month">
                              Month
                            </label>


                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="covidUpload-month" name="cuOrgType-month{{ item.id }}" type="text" autocomplete="bday-month" pattern="[0-9]*" inputmode="numeric" value="7">
                          </div>
                        </div>

                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label govuk-!-font-size-16" for="covidUpload-year">
                              Year
                            </label>


                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="covidUpload-year" name="cuOrgType-year{{ item.id }}" type="text" autocomplete="bday-year" pattern="[0-9]*" inputmode="numeric" value="2020">
                          </div>
                        </div>

                      </div>
                      </fieldset>
                    </div>
                </div>


                <div class="card-table__form-column column-12">

                  {% call govukFieldset({
                    legend: {
                      text: "Time of swab test",
                      classes: "govuk-!-font-size-16 govuk-!-font-weight-bold app-visually-hidden--desktop",
                      isPageHeading: false
                    }
                  }) %}



                  <div class="govuk-form-group">
                    <div class="govuk-date-input__item govuk-!-margin-right-1">
                      <label class="govuk-label govuk-!-font-size-16" for="covidUploadHour{{ item.id }}">
                        Hour
                      </label>
                      <input class="govuk-input govuk-input--width-2" id="covidUploadHour{{ item.id }}" name="cuTime{{ item.id }}" type="text" value="9">
                    </div>

                    <div class="govuk-date-input__item">
                      <label class="govuk-label govuk-!-font-size-16" for="covidUploadAMPM{{ item.id }}">
                        am or pm
                      </label>
                      <select class="govuk-select govuk-input--width-4" id="covidUpload{{ item.id }}" name="cuAMPM{{ item.id }}">
                        <option value="am">am</option>
                        <option value="pm">pm</option>
                      </select>
                    </div>

                  </div>

                  {% endcall %}

                </div>

                <div class="card-table__form-column column-6" style="display:none">
                  <p>
                    <a class="govuk-!-font-size-16 destructive-action" href="#">Delete entry</a>
                  </p>
                </div>

              </div>
            </div>
          {% endfor %}



      </div>

      <h2 class="govuk-heading-m govuk-!-margin-top-6">Confirm records 1 to 2</h2>





        {{ govukCheckboxes({
          idPrefix: "covidUploadCheckbox",
          name: "cuConfirmCheckbox",
          items: [
            {
              value: "agreed",
              text: "I confirm all details are correct"
            }
          ]
        }) }}
          <input class="govuk-button" type="submit" value="Save and continue">
      </form>

    </div>
  </div>

{% endblock %}
