{% set serviceName = "Register test kits for your organisation" %}
{% set version = "organisational/ind-accounts/v3" %}
{% extends "includes/layout.html" %}
{% set pageTitle = "Coronavirus symptoms" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.go(-1);"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
          {{ pageTitle }}
        </h1>
      </legend>

      <div class="govuk-warning-text">
<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
<strong class="govuk-warning-text__text">
<span class="govuk-warning-text__assistive">Warning</span>
If they have a high temperature, a new cough, or loss or change to their sense of smell or taste, they should stay at home. They can leave home to get or post a test.
</strong>
</div>

<p>Find out more about guidance across the UK. The following links open in a new tab:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-and-treatment/when-to-self-isolate-and-what-to-do/" class="govuk-link">England: stay at home guidance</a></li>
  <li><a href="https://www.nhsinform.scot/isolation" class="govuk-link">Scotland: self-isolation guidance</a></li>
  <li><a href="https://gov.wales/self-isolation" class="govuk-link">Wales: self-isolation guidance</a></li>
  <li><a href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-self-isolating-and-close-contacts" class="govuk-link">Northern Ireland: self-isolation guidance</a></li>
</ul>


<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      If they're worried about symptoms
    </span>
  </summary>
  <div class="govuk-details__text">


    <p>If their symptoms get worse or they need medical help:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://digital.nhs.uk/services/nhs-111-online" class="govuk-link">use 111 online (opens in a new tab)</a></li>
      <li>call 111 if they're in England, Wales or Scotland</li>
      <li>call a GP or GP out-of-hours service if they're in Northern Ireland</li>
      <li>call 999 if they feel very unwell or think there's something seriously wrong</li>
    </ul>
</div>
</details>

      <form action="" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Does John Smith currently have any coronavirus symptoms?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="havesymptoms" name="havesymptoms" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="havesymptoms">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="havesymptoms-2" name="havesymptoms" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="havesymptoms-2">
                  No
                </label>
              </div>
            </div>

<br>

            <div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>
        </div>





      </form>
    </div>
  </div>

{% endblock %}
