{% set pageHeading = "Register coronavirus (COVID-19) test kits for your organisation" %}
{% set version = "organisational/test-pass/reg-without-pass" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}



<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

<p>Use this service to register up to 100 COVID-19 test kits for your organisation at once. </p>
<p>Care homes can also use this service to report the results of rapid lateral flow tests (positive, negative or void). </p>

<h2 class="govuk-heading-m">
  What you'll need
</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>
    your 8 digit unique organisation number (UON)
  </li>
  <li>
    the barcode for each test
  </li>
  <li>
    an email address (and ideally mobile number) to get results
  </li>
</ul>


  <h2 class="govuk-heading-m">
    Before you start
  </h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>
       <a href="#">book a courier collection</a>
    </li>
    <li>
      take the tests on the same day your courier comes to collect them
    </li>
    <li>
      make sure people getting tested have given you consent to register them and to get their results sent to the contact details you enter
    </li>
    </ul>


    {{ govukButton({
      text: "Start now",
      href: "/" + version + "/confirm-before?cuSingleCount=",
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
      isStartButton: true
    }) }}


      <h2 class="govuk-heading-m">
        What type of tests can you register?
      </h2>
      <p class="govuk-body govuk-!-font-weight-bold">All organisations <span class="govuk-body">can use this service to register polymerase chain reaction (PCR) tests, which are swab tests sent to a lab. </p>
        <p class="govuk-body govuk-!-font-weight-bold">Care homes, schools and prisons  <span class="govuk-body">can also use this service to register rapid lateral flow test kits, which give results in 30 minutes. </p>
<p>Read the <a href="#">COVID-19 online guidance</a> and your printed instructions to learn more about who is eligible for this service and which types of tests you can register. </p>


<h2 class="govuk-heading-m">
Which organisations can report a result?
</h2>
<p>If your organisation is a care home, you can also use this service to report the results of rapid lateral flow tests if you have them. </p>
<p>All other organisations must report their rapid lateral flow test results through the <a href="#">self-report service. </a></p>

<h2 class="govuk-heading-m">
  How to use test registration codes
</h2>
<p>Creating test registration codes for people will save you time during the registration process.</p>
<p>A test registration code is a unique 8 digit number that is linked to an individual at your organisation. When you create a test registration code for them, information such as their contact details, address and NHS will be saved automatically. You will no longer have to re-enter these details every time you register a test or report a result on their behalf.</p>


<h2 class="govuk-heading-m">
  How to use the spreadsheet
</h2>
<p>Using the correct spreadsheet will save you time if you are registering lots of tests at once. If you do not have the right spreadsheet, you can download it during the registration process. </p>
<p>Make sure you:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>only record up to 100 test kits per spreadsheet</li>
        <li>record the details of staff and non-staff on separate spreadsheets</li>
        <li>remove the details of anyone who isn’t being tested </li>
      </ul>


      <h2 class="govuk-heading-m">
        How we use personal data
      </h2>
      <p>
        To find out how we use people’s data when you register them for a coronavirus test,
        <a href="#">read the coronavirus privacy note</a>.
      </p>



      <div class="govuk-width-container">

        <main class="govuk-main-wrapper">


          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <h3 class="govuk-heading-m">Online guidance</h3>
              <ul class="govuk-list govuk-!-font-size-16">
                <li>
                  <a class="govuk-link" href="#">
                    COVID-19: getting tested
                  </a>
                </li>
                <li>
                  <a class="govuk-link" href="#">
                    Testing in adult care homes
                  </a>
                </li>
                <li>
                  <a class="govuk-link" href="#">
                  Testing for adult social care settings
                  </a>
                </li>
                <li>
                  <a class="govuk-link" href="#">
                  Testing in schools and colleges
                  </a>
                </li>
                <li>
                  <a class="govuk-link" href="#">
                  COVID-19 in prisons and places of detention
                  </a>
                </li>
                <li>
                  <a class="govuk-link" href="#">
                  Organisation testing registration: spreadsheet guidance
                  </a>
                </li>
              </ul>
            </div>



            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-half">
                <h3 class="govuk-heading-m">Test kits and courier collections</h3>
                <ul class="govuk-list govuk-!-font-size-16">
                  <li>
                    <a class="govuk-link" href="#">
                      Order more tests for your organisation
                    </a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">
                      Guidance for taking swab samples
                    </a>
                  </li>
                  <li>
                    <a class="govuk-link" href="#">
                    Book a courier
                    </a>
                  </li>

                </ul>
                </div>


            </div>
          </div>

        </main>
      </div>

</div>

    </div>



{% endblock %}
