{% set version = "v5" %}
{% set pageTitle = "How do you want to get the coronavirus test?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  
  <a class="govuk-back-link" href="#">Back</a>
{% endblock %}

{% block content %}
{% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="#" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="how-will-you-get-test-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
                {{ pageTitle }}
              </h1>
            </legend>
            <span id="how-will-you-get-test-hint" class="govuk-body">
              Choose a test site near you today and get your result in 24 hours.<br><br>
              Based on your answers, these testing services are available to you.
            </span>
            <div class="govuk-radios govuk-!-margin-top-5">
              <div class="recommended-box-green">
                <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-4">
                    Recommended for a quick result 
                </strong>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="way-to-test-1-option-2" name="way-to-test-option-2" type="radio" value="drive-through" {{ checked("way-to-test-option-2", "drive-through") }} aria-describedby="drive-through-1-hint drive-through-2-hint drive-through-3-hint drive-through-4-hint drive-through-5-hint">
                    <label class="govuk-label govuk-radios__label" for="way-to-test-1-option-2">
                      <span  class="govuk-body-l"><strong>At a drive-through test site</strong></span>
                    </label><br>
                    <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2 govuk-!-margin-top-2" style="text-transform: none">
                        Result on the next day after booking an appointment
                    </strong>
                      <ul class="govuk-list govuk-list--bullet">
                        <li><span id="drive-through-1-hint">you need to book your test as soon as possible</span></li>
                        <li><span id="drive-through-2-hint">you or someone you live with must drive to the test site by car or small van</span></li>
                        <li><span id="drive-through-3-hint">do not arrive by motorbike</span></li>
                        <li><span id="drive-through-4-hint">site staff will tell you if an assistant does the swab test for you or if you do it yourself</span></li>
                      </ul>
                      <span id="drive-through-5-hint" class="govuk-body-m">
                          <strong>Your nearest drive-through test site is Heathrow airport (0.5 miles away)</strong><br><br>
                          125 testing Lane<br>
                          Highbury & Islington<br>
                          RM4 3RS<br><br>
                          168 slots available.
                      </span>
                  </div>
                  <div class="govuk-radios__item govuk-!-margin-top-6">
                    <input class="govuk-radios__input" id="way-to-test-2-option-2" name="way-to-test-option-2" type="radio" value="walk-in" {{ checked("way-to-test-option-2", "walk-in") }} aria-describedby="walk-in-1-hint walk-in-2-hint walk-in-3-hint walk-in-4-hint">
                    <label class="govuk-label govuk-radios__label" for="way-to-test-2-option-2">
                      <span class="govuk-body-l"><strong>At a walk-through test site</strong></span>
                    </label>
                    <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2 govuk-!-margin-top-2" style="text-transform: none">
                        Result on the next day after booking an appointment
                    </strong><br>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><span id="walk-in-1-hint">you need to book your test slot as soon as possible</span></li>
                        <li><span id="walk-in-2-hint">ou can walk or cycle to the site (do not go by public transport or taxi)</span></li>
                        <li><span id="walk-in-3-hint">site staff will tell you if an assistant does the swab for you, or if you do it yourself</span></li>
                      </ul>
                      <span id="walk-in-4-hint" class="govuk-body-m">
                          <strong>Your nearest walk-through test site is Heathrow airport (0.5 miles away)</strong><br><br>
                          125 testing Lane<br>
                          Highbury & Islington<br>
                          RM4 3RS<br><br>
                          168 slots available.
                      </span>
                  </div>
              </div>
              <p class="govuk-body govuk-!-margin-top-7">If you are not able to go to a test site (for example, if you do not have a car or are feeling unwell), you can order a home test kit.</p>
              <div class="govuk-radios__item govuk-!-margin-top-6">
                <input class="govuk-radios__input" id="way-to-test-3-option-2" name="way-to-test-option-2" type="radio" value="home testing" {{ checked("way-to-test-option-2", "home testing") }} aria-describedby="home-testing-1-hint home-testing-2-hint home-testing-3-hint home-testing-4-hint">
                <label class="govuk-label govuk-radios__label" for="way-to-test-3-option-2">
                  <span  class="govuk-body-l"><strong>Home testing</strong></span>
                </label><br>
                <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2 govuk-!-margin-top-2" style="text-transform: none">
                    Result within 3 days from when you order a test
                </strong>
                <ul class="govuk-list govuk-list--bullet">
                  <li><span id="home-testing-1-hint">you can get a test kit for yourself and up to 3 other people you live with</span></li>
                  <li><span id="home-testing-2-hint">it is posted to your home and should arrive the day after you order it</span></li>
                  <li><span id="home-testing-3-hint">it’s important that you return your test as soon as possible after doing it</span></li>
                </ul>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
