{% set version = "v1" %}
{% set pageTitle = "Coronavirus account" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ pageTitle }}</h1>

      <p class="govuk-body">Creating an account will make it easier for you to get tested quicker in future.<br>Continue with NHS login to create an account or sign in.</p>

      <p class="govuk-body">If you dont have an email address and mobile phone, continue without an account.</p>

    </div>
  </div>
  <div>
    <button class="govuk-button" type="submit" style="background: #005EB8; width: 100%;">
      Continue with NHS login
    </button>
  </div>
  <div>
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="width: 100%;">
      Continue without an account
    </button>
  </div>

{% endblock %}
