{% set version = "v1" %}
{% set folder = "pooling" %}
{% set pageTitle = "Register a coronavirus test" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ pageTitle }}</h1>

      <p class="govuk-body govuk-!-font-size-24">Use this service to register a coronavirus (COVID-19) test for you or someone else.</p>

      <p class="govuk-body govuk-!-font-size-24">You need to register your coronavirus test so you can get your results.</p>

      <h2 class="govuk-heading-m">To complete this form, you'll need</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>the barcode for the test you're registering</li>
        <li>a mobile number (for you or the person you're registering it for)</li>
      </ul>
      <p class="govuk-body"><b>If you are taking a test before your hospital visit,</b> you need to <a class="govuk-link" href="#">register your kit here</a>.</p>
      <h2 class="govuk-heading-m">How we use your data</h2>
      <p class="govuk-body">To find out how we use your personal data when you register for a coronavirus test, <a class="govuk-link" href="#">read the coronavirus privacy note.</a></p>

      <a href="/{{folder}}/v1/test-place" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
    </a>

    </div>
  </div>
{% endblock %}
