{% set version = "v1" %}

{% extends "includes/layout.html" %}

{% block pageTitle %}
  Have you tested positive for coronavirus before? - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/{{version}}/teacher-registration/ethnic-group">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/{{version}}/action/tested-positive" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="tested-positive-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Have you tested positive for coronavirus before?
              </h1>
            </legend>
            <span id="tested-positive-hint" class="govuk-hint">
              This means you had the virus at the time of the test
            </span>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="tested-positive-1" name="tested-positive" type="radio" value="Yes" {{ checked("tested-positive", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="tested-positive-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="tested-positive-2" name="tested-positive" type="radio" value="No" {{ checked("tested-positive", "No") }}>
                <label class="govuk-label govuk-radios__label" for="tested-positive-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
