// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";
@import "patterns/bulk-upload";

// Components that aren't in Frontend
@import "components/cookie-banner";
@import "components/dev-mode";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


////// LFT share result service /////

.govuk-panel-lft-result {
  background: #0065bb !important;
}


.button-styled-link {
    cursor: pointer;
    border: none;
    color: #1d70b8;
    background-color: transparent;
    text-decoration: underline;
}

.button-styled-link:hover {
    color: #003078
}

.button-styled-link:visited {
    color: #4c2c92
}

.button-styled-link:active,
.button-styled-link:focus {
    color: #0b0c0c;
    outline: 0
}

.recommended-box {
    padding: 1em;
    border: 3px dashed #b1b4b6;
}

.recommended-box-green {
  padding: 1em;
  border: 3px dashed #00703c;
}

.checkmark-box {
    display: flex;
    align-items: center;
}

.checkmark-green {
    border-radius: 50%;
    background-color:#00703c;
    height: 1.3em;
    width: 1.3em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-right: .4em;
}


//ADMIN PORTAL
.cards {
  margin: 0 !important;
  padding: 0 !important;
}

.card {
  display: block;
  float: left;
  width: 36%;
  margin-right: 2%;
  margin-left: 0;
  margin-bottom: 30px;
  border-bottom: 3px solid #115ea5;
}

.card__body {
  display: block;
  background-color: #f8f8f8;
  padding: 1em;
  color: #0b0c0c;
  text-decoration: none;
  margin: 0;
  height: 12em;

  span {
    display: block;
  }
}

.card-title{
  color: #115ea5;
}

a.card__body {
  color: #0b0c0c;

  &:hover, &:focus {
    cursor: pointer;
    background-color: #ffffff;
    color: #115ea5;
    text-decoration: none;
    outline-style: solid;
    outline-color: 	#115ea5;
  }
}

.inline-buttons-wrapper {
  display: block;
}

.nhsuk-button-image {
  background: url('/public/images/NHS-button/RegisterUsing_Original.svg') no-repeat;
  background-size: 21em;
  background-position: 0 -6px;
  width: 21em;
  cursor: pointer;
  border: none;
  outline:none;
  border-radius: 4px;
  height: 50px;
}

.nhsuk-button-image:active,
.nhsuk-button-image:focus {
  outline:none;
  background: url('/public/images/NHS-button/RegisterUsing_Light.svg') no-repeat;
  width: 21em;
  background-size: 21em;
  background-position: 0 -6px;
}

.nhsuk-button-style {
  background: url('/public/images/Symbol-NHS.png') 10px no-repeat;
  background-size: 60px 28px;
  background-color: #235fb3;
  border: 2px solid transparent;
  border-radius: 4px;
  box-shadow: 0 4px 0 #0c3282;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin-top: 0;
  padding: 12px 16px 12px 3em;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

@media (min-width: 40.0625em) {
  .nhsuk-button-style {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 1.47368;
      width: auto;
      padding: 12px 16px 12px 4.5em;
  }
  .nhsuk-button-image,
  .nhsuk-button-image:active,
  .nhsuk-button-image:focus {
    width: 14em;
    background-size: 14em;
    background-position: 0 0;
  }
  .inline-buttons-wrapper {
    display: flex;
    align-items: center;
  }
  .inline-buttons-wrapper button:first-child {
    margin-right: 25px;
  }
}

@media print {
  .nhsuk-button-style {
      font-size: 14pt;
      line-height: 1.15
  }
}

@media (min-width: 40.0625em) {
  .nhsuk-button-style {
      margin-bottom:36px
  }
}

// @media (max-width: 40.0525em) {
//   .nhsuk-button-style {
//       padding:8px 16px
//   }
// }

.nhsuk-button-style:active,.nhsuk-button-style:hover,.nhsuk-button-style:link,.nhsuk-button-style:visited {
  color: #fff;
  text-decoration: none
}

.nhsuk-button-style::-moz-focus-inner {
  border: 0;
  padding: 0
}

.nhsuk-button-style:hover {
  background-color: #235fb3
}

.nhsuk-button-style:focus {
  background-color: #ffeb3b;
  box-shadow: 0 4px 0 #0c3282;
  color: #212b32;
  outline: 4px solid transparent
}

.nhsuk-button-style:focus:visited {
  color: #212b32
}

.nhsuk-button-style:focus:visited:active {
  color: #ffeb3b
}

.nhsuk-button-style:active {
  background-color: #0c3282;
  box-shadow: none;
  color: #fff;
  top: 4px
}

.nhsuk-button-style::before {
  background: 0 0;
  bottom: -6px;
  content: '';
  display: block;
  left: -2px;
  position: absolute;
  right: -2px;
  top: -2px
}

.nhsuk-button-style:active::before {
  top: -6px
}

.account-home-button {
  width: 100%; 
  position: relative; 
  text-align: left; 
  display: flex; 
  flex-direction: row;
  align-items: center; 
  justify-content: space-between;
  text-decoration: none; 
  background-color: #f8f8f8; 
  border: 1px solid #d7dde0;
  padding: 1rem; 
  cursor: pointer
}

.scan-barcode {
  width: 100%;
}

@media (min-width: 40.0625em) {
  .requests-content {
      display: flex;
      justify-content: space-between;
  }
  .requests-content form {
    display: inline-block;
  }
  .requests-content .undo-button {
    float: right;
  }
  .requests-content form:first-child {
    margin-right: .4em;
  }
  .scan-barcode {
    width: 70%;
  }
}