// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";
@import "patterns/bulk-upload";

// Components that aren't in Frontend
@import "components/cookie-banner";
@import "components/dev-mode";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


////// LFT share result service /////

.external-panel {
  text-decoration: none;
}

.responsive-image {
  height: auto;
  width: 60%;
  margin: 0 auto;
}

.responsive-image-center {
  height: auto;
  width: 54%;
  display: flex;
  margin: 0 auto;
}

.responsive-image-long {
  height: auto;
  width: 80%;
}

@media (min-width: 48.0625em) {
  .responsive-image {
    width: 50%;
    margin: 0 auto;
  }
  .responsive-image-long {
    width: 38%;
  }
  .responsive-image-center {
    height: auto;
    width: 50%;
    margin: 0;
  }
}

.family-account-home-button {
  width: 100%;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  background-color: #f8f8f8;
  border: 1px solid #d7dde0;
  padding: 1rem;
  cursor: pointer
}

.govuk-notification-banner {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 30px;
    border: 5px solid #1d70b8;
    background-color: #1d70b8;
  }

  .govuk-notification-banner__header {
    padding: 2px 5px 5px 5px;
    border-bottom: 1px solid transparent;
}

.govuk-notification-banner__heading {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    padding: 0;
}

.govuk-notification-banner__title {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    color: #fff;
}


.govuk-notification-banner__content {
    color: #0b0c0c;
    padding: 15px;
    background-color: #fff;
}

.govuk-notification-banner {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
}



.govuk-panel-lft-result {
  background: #0065bb !important;
}


.button-styled-link {
    cursor: pointer;
    border: none;
    color: #1d70b8;
    background-color: transparent;
    text-decoration: underline;
}

.button-styled-link:hover {
    color: #003078
}

.button-styled-link:visited {
    color: #4c2c92
}

.button-styled-link:active,
.button-styled-link:focus {
    color: #0b0c0c;
    outline: 0
}

.expand-header-menu:after {
  content: '';
  position: absolute;
  left: 3.7em;
  top: 40%;
	width: 0;
	height: 0;
	border-width: 0 5px 7px 5px;
	border-color: transparent transparent #FFFFFF transparent;
	border-style: solid;
	transform: rotate(180deg);
}

.recommended-box {
    padding: 1em;
    border: 3px dashed #b1b4b6;
}

.recommended-box-green {
  padding: 1em;
  border: 3px dashed #00703c;
}

.checkmark-box {
    display: flex;
    align-items: center;
}

.checkmark-green {
    border-radius: 50%;
    background-color:#00703c;
    height: 1.3em;
    width: 1.3em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-right: .4em;
}

.checkmark-white {
  border-radius: 50%;
  background-color:#ffffff;
  height: 1.4em;
  width: 1.4em;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: .4em;
}

.checkmark-black {
  border-radius: 50%;
  height: 1.4em;
  width: 1.4em;
  color: #000000;
  display: flex;
  align-items: center;
  border: 1px solid #000;
  justify-content: center;
  margin-right: .4em;
}
.checkmark-black.bold {
  border: 2px solid #000;
}

.checkmark-list li {
  list-style-type: none;
  position: relative;
}
.checkmark-list::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  height: 1.4em;
  width: 1.4em;
  left: -50px;
  color: #ffffff;
  display: flex;
  align-items: center;
  border: 1px solid #000;
  justify-content: center;
}
.checkmark-list.list-one::before {
  background: url('../images/checklist1.svg');
}
.checkmark-list.list-two::before {
  background: url('../images/checklist2.svg');
}

.info-summary > p {
  padding: 15px 30px 15px 10px;
  border-bottom: 1px solid #b1b4b6;
}

.info-summary div {
  padding: 10px 10px 10px 0;
  border-top: 1px solid #b1b4b6;
  border-bottom: 1px solid #b1b4b6;
}

.info-summary div p {
  padding: 10px 0 0 0;
}

@media (min-width: 40.0625em) {
  .info-summary > p {
    display: inline-block;
  }
  .info-summary div p {
    padding: 10px 30px 0 0;
    display: inline-block;
  }
}

//ADMIN PORTAL
.cards {
  margin: 0 !important;
  padding: 0 !important;
}

.card {
  display: block;
  float: left;
  width: 36%;
  margin-right: 2%;
  margin-left: 0;
  margin-bottom: 30px;
  border-bottom: 3px solid #115ea5;
}

.card__body {
  display: block;
  background-color: #f8f8f8;
  padding: 1em;
  color: #0b0c0c;
  text-decoration: none;
  margin: 0;
  height: 12em;

  span {
    display: block;
  }
}

.card-title{
  color: #115ea5;
}

a.card__body {
  color: #0b0c0c;

  &:hover, &:focus {
    cursor: pointer;
    background-color: #ffffff;
    color: #115ea5;
    text-decoration: none;
    outline-style: solid;
    outline-color: 	#115ea5;
  }
}

.inline-buttons-wrapper {
  display: block;
}

.inline-buttons-wrapper input:first-child {
  margin-bottom: .5em;
}

.nhsuk-button-image {
  background-size: 21em;
  background-position: 0 -6px;
  width: 21em;
  cursor: pointer;
  border: none;
  outline:none;
  border-radius: 4px;
  height: 50px;
}

.nhsuk-button-image.v1 {
  background: url('/public/images/NHS-button/ContinueWith_Original.svg') no-repeat;
}

.nhsuk-button-image.v2 {
  background: url('/public/images/NHS-button/RegisterUsing_Original.svg') no-repeat;
}

.nhsuk-button-image.v3 {
  background: url('/public/images/NHS-button/Report_Using.svg') no-repeat;
}

.report-result-button {
  background-color: #005eb8;
  border-bottom: 3px #003087;
  border-radius: 2px;
}

.report-result-button:hover {
  background-color: #014e98;
  border-bottom: 3px #003087;
  border-radius: 2px;
}

.report-using-button {
  display: block;
  background-size: 300px;
  width: 300px;
  height:50px;
  background: url('/public/images/NHS-button/Report_Using.png') no-repeat;
}


.nhsuk-button-image:active,
.nhsuk-button-image:focus {
  outline:none;
  width: 21em;
  background-size: 21em;
  background-position: 0 -6px;
}

.nhsuk-button-image.v1:active,
.nhsuk-button-image.v2:focus {
  background: url('/public/images/NHS-button/RegisterUsing_Light.svg') no-repeat;
}

.nhsuk-button-style {
  background: url('/public/images/Symbol-NHS.png') 10px no-repeat;
  background-size: 60px 28px;
  background-color: #235fb3;
  border: 2px solid transparent;
  border-radius: 4px;
  box-shadow: 0 4px 0 #0c3282;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin-top: 0;
  padding: 12px 16px 12px 3em;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.link-styled-button {
  border: none;
  color: #1d70b8;
  background-color: transparent;
  cursor: pointer;
  font-weight: 300;
  text-decoration: underline;
  position: relative;
}

.link-styled-button:active,
.link-styled-button:focus {
  background-color: #ffdd00;
  text-decoration: none;
  padding-right: 0;
  padding-left: 0;
}

.link-styled-button:active::after,
.link-styled-button:focus::after {
  content: '';
  height: 5px;
  width: 100%;
  bottom: -3px;
  left: 0;
  background-color: #000;
  position: absolute;
}

@media (min-width: 40.0625em) {
  .nhsuk-button-style {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 1.47368;
      width: auto;
      padding: 12px 16px 12px 4.5em;
  }
  .nhsuk-button-image,
  .nhsuk-button-image:active,
  .nhsuk-button-image:focus {
    width: 14em;
    background-size: 14em;
    background-position: 0 0;
  }
  .inline-buttons-wrapper {
    display: flex;
    align-items: center;
  }
  .inline-buttons-wrapper button:first-child {
    margin-right: 25px;
  }
  .inline-buttons-wrapper input:first-child {
    margin-right: 25px;
  }
}

@media print {
  .nhsuk-button-style {
      font-size: 14pt;
      line-height: 1.15
  }
}

@media (min-width: 40.0625em) {
  .nhsuk-button-style {
      margin-bottom:36px
  }
}

// @media (max-width: 40.0525em) {
//   .nhsuk-button-style {
//       padding:8px 16px
//   }
// }

.nhsuk-button-style:active,.nhsuk-button-style:hover,.nhsuk-button-style:link,.nhsuk-button-style:visited {
  color: #fff;
  text-decoration: none
}

.nhsuk-button-style::-moz-focus-inner {
  border: 0;
  padding: 0
}

.nhsuk-button-style:hover {
  background-color: #235fb3
}

.nhsuk-button-style:focus {
  background-color: #ffeb3b;
  box-shadow: 0 4px 0 #0c3282;
  color: #212b32;
  outline: 4px solid transparent
}

.nhsuk-button-style:focus:visited {
  color: #212b32
}

.nhsuk-button-style:focus:visited:active {
  color: #ffeb3b
}

.nhsuk-button-style:active {
  background-color: #0c3282;
  box-shadow: none;
  color: #fff;
  top: 4px
}

.nhsuk-button-style::before {
  background: 0 0;
  bottom: -6px;
  content: '';
  display: block;
  left: -2px;
  position: absolute;
  right: -2px;
  top: -2px
}

.nhsuk-button-style:active::before {
  top: -6px
}

.proto-link-button:active::after {
  content: '';
  bottom: -5;
  right: 0;
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #000000;
}

.proto-action.invisible,
.proto-error.invisible {
  opacity: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 250px;
  height: 200px;
  a {
    width: 100%;
    height: 100%;
  }
}

.account-home-button {
  width: 100%;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  background-color: #f8f8f8;
  border: 1px solid #d7dde0;
  padding: 1rem;
  cursor: pointer
}

.email-header {
  display: flex;
  justify-content: center;
  img {
    width: 100%;
  }
}

.scan-barcode {
  width: 100%;
}

.proto-action.big {
  width: 40%;
  height: auto;
}

.proto-action.big a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.grey-box {
  padding: 12px 16px 12px 16px;
  border: 10px solid	#b1b4b6;
  background-color: 	#f3f2f1;
  margin-left: 2.3vh;
  margin-right: 2.3vh;
  margin-bottom: 2.3vh;
}

.grey-box p {
  font-weight: bold;
}

.grey-box span {
  font-weight: normal;
}

.payment-summary {
  border-top: 2px solid #1d70b8;
  background-color:	#f3f2f1;
}

.mobile-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-center img {
  width: 40%;
}

.inline-button-wrapper {
  display: block;
}

@media (min-width: 40.0625em) {
  .email-header {
    display: flex;
    justify-content: center;
    img {
      width: 75%;
    }
  }
  .grey-box {
    position: absolute;
    height: auto;
    width: 26%;
    right: 15px;
    top: -10px;
    margin: 0
  }
  .mobile-center {
    display: block;
  }
  .mobile-center img {
    width: 30%;
  }
  .upper-menu {
    display: flex;
    align-items: flex-end;
  }
  .no-padding {
    padding: 0 !important;
  }
  .requests-content {
      display: flex;
      justify-content: space-between;
  }
  .requests-content form {
    display: inline-block;
  }
  .requests-content .undo-button {
    float: right;
  }
  .requests-content form:first-child {
    margin-right: .4em;
  }
  .scan-barcode {
    width: 70%;
  }
  .inline-button-wrapper {
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
  .inline-button-wrapper.help-text {
    align-items: center;
  }
  .inline-button-wrapper.help-text p {
    margin-bottom: 0;
  }
  .inline-button-wrapper a {
    margin: 5px !important;
  }
  .right-button-margin {
    margin-left: 10px;
  }
  .bottom-pagination {
    display: flex;
    justify-content: space-between;
  }
  .proto-action.big {
    width: 16%;
    height: auto;
  }
}

.register-themes,
.register-themes-detail {
  list-style: none;
  width: 100%;
  padding-bottom: 2em;
  padding-left: 0;
}

.account-menu {
  display: block;
}

@media (min-width: 48.0625em) {
  .register-themes,
.register-themes-detail {
    display: flex;
    flex-wrap: wrap;
  }

  .account-menu {
    float: right;
    margin-top: -30px
  }

  @supports (display: grid) {
    .register-themes {
      display: grid;
      grid-column-gap: 1.5em;
      grid-row-gap: 0.75em;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(5em, auto);
      padding-bottom: 0;
    }

    .register-themes-detail {
      display: grid;
      grid-column-gap: 1.5em;
      grid-row-gap: 0.75em;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: minmax(5em, auto);
      margin-top: 0;
      padding-bottom: 0;
    }
  }
}
.register-theme {
  width: 100%;
  padding: 0 0 0.75em 0;
}

@media (min-width: 48.0625em) {
  .register-theme {
    display: inline-block;
    vertical-align: top;
    width: 32%;
  }

  .register-theme:nth-child(3n+1) {
    margin-right: 2%;
  }

  .register-theme:nth-child(3n+3) {
    margin-left: 2%;
  }

  @supports (display: grid) {
    .register-theme {
      width: 100%;
      padding: 0;
    }

    .register-theme:nth-child(3n+1) {
      margin-right: 0;
    }

    .register-theme:nth-child(3n+3) {
      margin-left: 0;
    }
  }
}
.register-theme__link {
  background: #f8f8f8;
  border: 1px solid #bfc1c3;
  box-sizing: border-box;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0.75em 0.75em 0.6em 0.75em;
  text-decoration: none;
  align-content: flex-start;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.register-theme__link:hover {
  border: 1px solid #005ea5;
  box-shadow: 0 0 0 1px #005ea5;
}

.register-theme__heading,
.register-theme__description,
.register-theme__count {
  pointer-events: none;
  width: 100%;
}

.register-theme__heading {
  color: #005ea5;
}

.register-theme__description {
  flex-grow: 5;
}

.register-theme__count {
  margin: 0;
}

.register-theme__view-all:link,
.register-theme__view-all:visited {
  background: #005ea5;
  color: #fff;
  display: block;
  font-weight: bold;
  line-height: 1;
  padding: 1em 1em 0.9em 1em;
  text-decoration: none;
}

.register-theme__view-all:link:hover,
.register-theme__view-all:visited:hover {
  text-decoration: underline;
}

.gem-c-action-link--simple-light:before {
  width: 30px;
  height: 30px;
  background: url(../images/action-link-arrow--simple-light.png);
  background: url(../images/action-link-arrow--simple-light.svg),linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  background-size: 25px auto;
  background-position: 0 50%;
}

.no-icon .govuk-accordion__icon::before,
.no-icon .govuk-accordion__icon::after
 {
  display: none;
}

.header-list {
  margin-bottom: 0
}
.header-list li {
  display: inline;
  margin-right: .5em
}
.header-list a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.grow-wrapper {
  .govuk-header__container, .govuk-width-container {
    max-width: 1440px;
  }
}

//Styles for govuk-notification-banner

  .govuk-notification-banner {
    @include govuk-font($size: 19);
    @include govuk-responsive-margin(8, "bottom");

    border: $govuk-border-width solid $govuk-brand-colour;

    background-color: $govuk-brand-colour;

    &:focus {
      outline: $govuk-focus-width solid $govuk-focus-colour;
    }
  }

  .govuk-notification-banner__header {
    padding: 2px govuk-spacing(3) govuk-spacing(1);

    // Ensures the notification header appears separate to the notification body text in high contrast mode
    border-bottom: 1px solid transparent;

    @include govuk-media-query($from: tablet) {
      padding: 2px govuk-spacing(4) govuk-spacing(1);
    }
  }

  .govuk-notification-banner__title {
    @include govuk-font($size: 19, $weight: bold);

    margin: 0;

    padding: 0;

    color: govuk-colour("white");
  }

  .govuk-notification-banner__content {
    $padding-tablet: govuk-spacing(4);
    @include govuk-text-colour;
    padding: govuk-spacing(3);

    background-color: $govuk-body-background-colour;

    @include govuk-media-query($from: tablet) {
      padding: $padding-tablet;
    }

    // Wrap content at the same place that a 2/3 grid column ends, to maintain
    // shorter line-lengths when the notification banner is full width
    > * {
      // When elements have their own padding (like lists), include the padding
      // in the max-width calculation
      box-sizing: border-box;

      // Calculate the internal width of a two-thirds column...
      $two-col-width: ($govuk-page-width * 2 / 3) - ($govuk-gutter * 1 / 3);

      // ...and then factor in the left border and padding
      $banner-exterior: ($padding-tablet + $govuk-border-width);
      max-width: $two-col-width - $banner-exterior;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  .govuk-notification-banner__heading {
    @include govuk-font($size: 24, $weight: bold);

    margin: 0 0 govuk-spacing(3) 0;

    padding: 0;
  }

  .govuk-notification-banner__link {
    @include govuk-link-common;
    @include govuk-link-style-no-visited-state;
  }

  // .govuk-notification-banner--success {
  //   border-color: $govuk-success-colour;
  //
  //   background-color: $govuk-success-colour;
  //
  //   .govuk-notification-banner__link {
  //     @include govuk-link-style-success;
  //   }
  // }


@media screen and (max-width:601px) {
	table.mobile-optimised {
		word-wrap:break-word;
	}
	table.mobile-optimised thead {
		display:none
	}
	table.mobile-optimised td {
		display:block;
		float:left;/* ie9 and under hack */
		width:100%;
		clear:both;
		padding:10px 5px;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	table.mobile-optimised tbody, table.mobile-optimised tr {
		display:block
	}
	.mobile-optimised td:before {
		content:attr(data-th);
		display:block;
		font-weight:bold;
		margin:0 0 2px;
		color:#000;
	}
	.mobile-optimised tbody tr {
		float:left;width:100%;
    margin-bottom:40px;
    border: 1px solid #b1b4b6;
	}
  .mobile-optimised tbody tr {
		float:left;width:100%;
    margin-bottom:40px;
    border: 1px solid #b1b4b6;
	}
  .mobile-optimised tbody td:last-child {
    border-bottom: 0;
    text-align: center;
  }
}

//Share results
@media (min-width: 48.0625em) {
  .column-width-title {
    width:300px;
  }
}

@media screen and (min-width:641px) {
  .inline-form {
    position: absolute;
    bottom: 0px;
    left: 37%;
  }
}

@media screen and (min-width:694px) {
  .inline-form {
    position: absolute;
    bottom: 0px;
    left: 31%;
  }
}

@media screen and (min-width:769px) {
  .inline-form {
    position: absolute;
    bottom: 0px;
    left: 43%;
  }
}

@media (min-width: 847px) {
  .inline-form {
    position: absolute;
    bottom: 0px;
    left: 40%;
  }
}

@media (min-width: 1000px) {
  .inline-form {
    position: absolute;
    bottom: 0px;
    left: 35%;
  }
}

// Digital Reader - camera UI for taking a photo and playing it back to user //


.camera-test-result {
  width: 100%;
}

.camera-test-result.canvas {
  height: 470px;
}

.camera-test-result .camera-overlay {
  position: absolute; background-color: rgba(0,0,0,.6);
}

.camera-test-result .camera-overlay-a11y {
  position: absolute; background-color: rgba(0,0,0,.6);
}

.camera-test-result .camera-overlay.right {
  right: 0;
  width: 32%; height: 100%;
}
.camera-test-result .camera-overlay.left {
  left: 0;
  width: 32%; height: 100%;
}
.camera-test-result .camera-overlay.top {
  top: 0;
  width: 36%; height: 6%;
}
.camera-test-result .camera-overlay.bottom {
  bottom: 0;
  width: 36%; height: 6%;
}

.camera-test-result .camera-overlay-a11y.right {
  right: 0;
  width: 32%; height: 100%;
}
.camera-test-result .camera-overlay-a11y.left {
  left: 0;
  width: 32%; height: 100%;
}
.camera-test-result .camera-overlay-a11y.top {
  top: 0;
  width: 36%; height: 1%;
}
.camera-test-result .camera-overlay-a11y.bottom {
  bottom: 0;
  width: 36%; height: 11%;
}

@media (min-width: 600px) {
  // .camera-test-result.wrapper {
  //   transform: scaleX(-1);
  // }
  .camera-test-result .camera-overlay.right {
    width: 39%; height: 100%;
  }
  .camera-test-result .camera-overlay.left {
    width: 39%; height: 100%;
  }
  .camera-test-result .camera-overlay.top {
    width: 22%; height: 5%;
  }
  .camera-test-result .camera-overlay.bottom {
    width: 22%; height: 5%;
  }
}

@media (min-width: 600px) {
  // .camera-test-result.wrapper {
  //   transform: scaleX(-1);
  // }
  .camera-test-result .camera-overlay-a11y.right {
    width: 39%; height: 100%;
  }
  .camera-test-result .camera-overlay-a11y.left {
    width: 39%; height: 100%;
  }
  .camera-test-result .camera-overlay-a11y.top {
    width: 22%; height: 5%;
  }
  .camera-test-result .camera-overlay-a11y.bottom {
    width: 22%; height: 5%;
  }
}

@media (min-width: 760px) {
  // .camera-test-result.wrapper {
  //   transform: scaleX(-1);
  // }
  .camera-test-result .camera-overlay.right {
    width: 37%; height: 100%;
  }
  .camera-test-result .camera-overlay.left {
    width: 37%; height: 100%;
  }
  .camera-test-result .camera-overlay.top {
    width: 26%; height: 0%;
  }
  .camera-test-result .camera-overlay.bottom {
    width: 26%; height: 0%;
  }
}

@media (min-width: 760px) {
  // .camera-test-result.wrapper {
  //   transform: scaleX(-1);
  // }
  .camera-test-result .camera-overlay-a11y.right {
    width: 37%; height: 100%;
  }
  .camera-test-result .camera-overlay-a11y.left {
    width: 37%; height: 100%;
  }
  .camera-test-result .camera-overlay-a11y.top {
    width: 26%; height: 0%;
  }
  .camera-test-result .camera-overlay-a11y.bottom {
    width: 26%; height: 0%;
  }
}

@media (min-width: 890px) {
  // .camera-test-result.wrapper {
  //   transform: scaleX(-1);
  // }
  .camera-test-result .camera-overlay.right {
    width: 39%; height: 100%;
  }
  .camera-test-result .camera-overlay.left {
    width: 39%; height: 100%;
  }
  .camera-test-result .camera-overlay.top {
    width: 22%; height: 5%;
  }
  .camera-test-result .camera-overlay.bottom {
    width: 22%; height: 5%;
  }
}

@media (min-width: 890px) {
  // .camera-test-result.wrapper {
  //   transform: scaleX(-1);
  // }
  .camera-test-result .camera-overlay-a11y.right {
    width: 39%; height: 100%;
  }
  .camera-test-result .camera-overlay-a11y.left {
    width: 39%; height: 100%;
  }
  .camera-test-result .camera-overlay-a11y.top {
    width: 22%; height: 5%;
  }
  .camera-test-result .camera-overlay-a11y.bottom {
    width: 22%; height: 5%;
  }
}

@media (min-width: 930px) {
  // .camera-test-result.wrapper {
  //   transform: scaleX(-1);
  // }
  .camera-test-result .camera-overlay.right {
    width: 40%; height: 100%;
  }
  .camera-test-result .camera-overlay.left {
    width: 40%; height: 100%;
  }
  .camera-test-result .camera-overlay.top {
    width: 20%; height: 7%;
  }
  .camera-test-result .camera-overlay.bottom {
    width: 20%; height: 7%;
  }
}

@media (min-width: 930px) {
  // .camera-test-result.wrapper {
  //   transform: scaleX(-1);
  // }
  .camera-test-result .camera-overlay-a11y.right {
    width: 40%; height: 100%;
  }
  .camera-test-result .camera-overlay-a11y.left {
    width: 40%; height: 100%;
  }
  .camera-test-result .camera-overlay-a11y.top {
    width: 20%; height: 7%;
  }
  .camera-test-result .camera-overlay-a11y.bottom {
    width: 20%; height: 7%;
  }
}

@media (min-width: 1000px) {
  // .camera-test-result.wrapper {
  //   transform: scaleX(-1);
  // }
  .camera-test-result .camera-overlay.right {
    width: 42%; height: 100%;
  }
  .camera-test-result .camera-overlay.left {
    width: 42%; height: 100%;
  }
  .camera-test-result .camera-overlay.top {
    width: 16%; height: 11%;
  }
  .camera-test-result .camera-overlay.bottom {
    width: 16%; height: 11%;
  }
}

@media (min-width: 1000px) {
  // .camera-test-result.wrapper {
  //   transform: scaleX(-1);
  // }
  .camera-test-result .camera-overlay-a11y.right {
    width: 42%; height: 100%;
  }
  .camera-test-result .camera-overlay-a11y.left {
    width: 42%; height: 100%;
  }
  .camera-test-result .camera-overlay-a11y.top {
    width: 16%; height: 2%;
  }
  .camera-test-result .camera-overlay-a11y.bottom {
    width: 16%; height: 21%;
  }
}

@media (min-width: 1030px) {
  .camera-test-result.wrapper {
    transform: scaleX(-1);
  }
}

// start digital reader button //

.image-overlay__button {
position: absolute;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
// bottom: 3%;
bottom: 18%;
z-index: 1;
height: 10%;
aspect-ratio: 1/1;
}

.camera-button {
    width: 100%;
    height: 100%;
    position:relative
}

.camera-button__circle {
    top: 4px;
    left: 4px;
    bottom: 4px;
    right: 4px;
    background-color: #fff;
    opacity:1
}

.camera-button__circle, .camera-button__ring {
    position: absolute;
    border-radius: 100%;
    -webkit-transition: all .25s;
    transition:all .25s
}

.camera-button__ring {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    opacity:.8
}

.camera-button:active .camera-button__ring {
    opacity:1
}

.camera-button:active .camera-button__circle {
    opacity:.5
}


.govuk-visually-hidden, .govuk-visually-hidden-focusable {
position: absolute!important;
width: 1px!important;
height: 1px!important;
margin: 0!important;
overflow: hidden!important;
clip: rect(0 0 0 0)!important;
-webkit-clip-path: inset(50%)!important;
clip-path: inset(50%)!important;
white-space: nowrap!important;
}


// End digital reader button //



//Accessibility

.invisible-link .govuk-accordion__open-all {
  display: none;
}

.accessibility-needs-label {
  width: 100%;
}

@media (min-width: 48.0625em) {
  .accessibility-needs-label {
    width: auto;
  }
}

.versions {
  background: white;
  border: 2px solid $govuk-link-colour;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
}

.autocomplete__wrapper * {
  @include govuk-typography-common();
}

@media (min-width: 40.0625em) {
  .gem-c-modal-dialogue {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    // overflow-y: scroll;
    outline: 0;
  }
  .gem-c-modal-dialogue__overlay {
    position: fixed;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    background: #0b0c0c;
    pointer-events: none;
    touch-action: none;
  }
}

// @media (min-width: 40.0625em) {
//   .gem-c-modal-dialogue__box {
//       position: relative;
//       top: inherit;
//       right: inherit;
//       bottom: inherit;
//       left: inherit;
//       width: auto;
//       max-width: 640px;
//       height: auto;
//       margin: 30px auto;
//       border: 2px solid #0b0c0c;
//   }
// }

// .gem-c-modal-dialogue__box {
//   display: block;
//   position: fixed;
//   background: #fff;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   margin: 0 auto;
//   padding: 0;
//   border: 0;
//   font-family: "GDS Transport",arial,sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   font-weight: 400;
//   font-size: 16px;
//   font-size: 1rem;
//   line-height: 1.25;
//   color: #0b0c0c;
// }

.gem-c-modal-dialogue__box {
  display: block;
  position: fixed;
  background: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  border: 0;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
}

@media (min-width: 40.0625em) {
  .gem-c-modal-dialogue__box {
    top: 15vh;
    right: inherit;
    bottom: inherit;
    left: inherit;
    height: auto;
    width: auto;
    max-width: 640px;
    margin: auto;
    position: relative;
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    border: 2px solid #0b0c0c;
  }
}

.gem-c-modal-dialogue__header {
  padding: 9px 15px 10px;
  color: #fff;
  background: #0b0c0c;
}

@media (min-width: 40.0625em) {
  .gem-c-modal-dialogue__box {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737;
  }
}

.gem-c-modal-dialogue__content {
  padding: 15px;
  background: #fff;
}

.gem-c-modal-dialogue__close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  border: 0;
  color: #fff;
  background: none;
  cursor: pointer;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.3;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gem-c-modal-dialogue__close-button:active,
.gem-c-modal-dialogue__close-button:visited,
.gem-c-modal-dialogue__close-button:focus,
.gem-c-modal-dialogue__close-button:hover {
  background: none;
  color: #fff;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  box-shadow: none;
}