@import 'node_modules/nhsuk-frontend/packages/nhsuk';
@import 'node_modules/nhsuk-frontend/packages/core/all';

.account-home-button {
    width: 100%; 
    position: relative; 
    text-align: left; 
    display: flex; 
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    text-decoration: none; 
    background-color: #ffffff; 
    border-top: 1px solid #d7dde0; 
    border-bottom: 1px solid #d7dde0; 
    border-left: none; 
    border-right: none; 
    padding: 1rem; 
    cursor: pointer
}

.proto-action {
  position: fixed;
  right: 0;
  bottom: 60px;
  width: 114px;
  height: 35px;
  background-color: #ffeb3b;
  box-shadow: -7px -7px 12px -7px rgba(0,0,0,0.85);
  a {
    text-decoration: none;
    display: block;
  }
}

.proto-action-text {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 1.3em;
  font-weight: bold;
}

.proto-action.big {
  width: 35%;
  height: 7%;
}
  
.proto-action.big a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media (min-width: 40.0625em) {
  .proto-action.big {
    width: 16%;
    height: 6%;
  }
}

.white-text {
  color: #ffffff;
}

.border-bottom-white {
  border-bottom: 1px solid #ffffff;
}

