{% set version = "v1" %}
{% set pageTitle = "Test kit barcode already added" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ pageTitle }}</h1>

        <p class="govuk-body">
          You cannot add the same barcode twice. You need to add a different test kit barcode.<br><br>
          If the issue continues, call our helpline on
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-5">
          <li>119 if you're in England, Wales or Northern Island</li>
          <li>0300 303 2713 if you're in Scotland</li>
        </ul>
        <p class="govuk-body">
          Lines are open from 7am to 11pm every day. It's free to call from any mobile or landline.
        </p>



      <form action="/lite-registration/{{version}}/enter-barcode" method="post">

        <button class="govuk-button" data-module="govuk-button">Add test kit barcode</button>

      </form>

    </div>
  </div>

{% endblock %}
