{% set version = "live" %}
{% set pageTitle = "Do you have a mobile number?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% if data['coronavirus-account'] == "Yes" %}
  {% include "includes/account-menu.html" %}
{% endif %}

  <a class="govuk-back-link" href="/IBT/lfd-collect/e2e-prototypes/{{version}}/email-address">Back</a>
{% endblock %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/IBT/lfd-collect/e2e-prototypes/{{version}}/action10/mobile-number" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="mobile-number-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                {{ pageTitle }}
              </h1>
            </legend>
            <span id="mobile-number-hint" class="govuk-body">
              If you do not provide an email address, we’ll send your collect code to this mobile number. We may also use it to contact you about your collection.
              <br><br>
              If you do not have a mobile number, you can provide one that belongs to someone you trust. 
            </span>
            <div class="govuk-radios govuk-radios--conditional govuk-!-margin-top-5" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="mobile-number-1" name="mobile-number" type="radio" value="Yes" data-aria-controls="conditional-mobile-number" {{ checked("mobile-number", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="mobile-number-1">
                  Yes, I have a mobile number
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-mobile-number">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="mobile-phone-number">
                    Mobile number
                  </label>
                  <input class="govuk-input govuk-!-width-one-half" id="mobile-phone-number" name="mobile-phone-number" type="tel" value="{{ data['mobile-phone-number'] }}">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="mobile-phone-number">
                    Confirm mobile number
                  </label>
                  <input class="govuk-input govuk-!-width-one-half" id="confirm-mobile-phone-number" name="confirm-mobile-phone-number" type="tel" value="{{ data['confirm-mobile-phone-number'] }}">
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="mobile-number-2" name="mobile-number" type="radio" value="No" {{ checked("mobile-number", "No") }}>
                <label class="govuk-label govuk-radios__label" for="mobile-number-2">
                  No, I do not have a mobile number
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}

