{% set pageTitle = "Check the accessibility of Test Digital services" %}

<!DOCTYPE html>
<!-- [if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><html lang="en" style="{{ html_style }}"> -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>{% block pageTitle %}{{pageTitle}} - NHS.UK{% endblock %}</title>

    <link href="https://www.nhs.uk/" rel="preconnect">
    <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>

    <link href="/public/stylesheets/nhs_application.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/public/stylesheets/nhsuk-site.css" media="all" rel="stylesheet" type="text/css" />

    <!-- <script src="nhsuk.min.js" defer></script> -->
  </head>

  <body class="{{ bodyClasses }}">

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {% block beforeContent %}
    <header class="nhsuk-header nhsuk-header--transactional" role="banner">
      <div class="nhsuk-width-container nhsuk-header__container border-bottom-white desktop-only">
        <div class="nhsuk-header__logo nhsuk-header__logo--only"><a class="nhsuk-header__link" href="/" aria-label="NHS homepage">

            <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
              <path class="nhsuk-logo__background" fill="#005eb8" d="M0 0h40v16H0z"></path>
              <path class="nhsuk-logo__text" fill="#fff" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
            </svg>

          </a>
        </div>
        <div class="nhsuk-header__transactional-service-name desktop-only">
          <a class="nhsuk-header__transactional-service-name--link" href="https://www.nhs.uk/nhs-services/gps/how-to-register-with-a-gp-surgery/">Digital testing</a>
        </div>

      </div>

      <div class="nhsuk-width-container nhsuk-header__container">
        <h1 class="nhsuk-heading-xl white-text">{{ pageTitle }}</h1>
        <p class="nhsuk-body white-text">Use this dashboard to check if a Test Digital service is meeting accessibility and inclusion requirements.</p>
      </div>


    </header>

    {% endblock %}

    {% block bodyStart %}

    {% endblock %}

    {% block main %}
    <div class="nhsuk-width-container {{ containerClasses }}">

      <div class="nhsuk-back-link nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-0">
        <a class="nhsuk-back-link__link" href="/A&I-dashboard/">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Back</a>
      </div>
      
        <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent" role="main">

          {% block content %}

          <div class="nhsuk-card white">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-card__heading nhsuk-u-font-size-32">
                Accessibility requirements
              </h3>
            </div>
          </div>
          
          <h2 class="nhsuk-heading-m nhsuk-u-margin-left-5 nhsuk-u-margin-right-5" style="color: #4c6272">
            Government accessibility requirements
          </h2>
          
          <div class="nhsuk-card nhsuk-u-margin-bottom-0" id="guidelines">
            <div class="nhsuk-card__content collapsible">
              <h3 class="nhsuk-card__heading">
                Meet WCAG 2.1 AA guidelines
              </h3>
              <p class="nhsuk-boody">The service meets level AA of the Web Content Accessibility Guidelines (WCAG) 2.1 as a minimum.</p>
              <ul class="separator-list no-border">
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--green">
                    Met
                  </strong>
                  <p class="nhsuk-card__description">An audit has taken place and any issues have been fixed.</p>
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--orange">
                    In progress
                  </strong>
                  <p class="nhsuk-card__description">An audit is in progress or has been completed but issues have not yet been fixed.</p>
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--red">
                    Not met
                  </strong>
                  <p class="nhsuk-card__description">No audit has taken place.</p>
                </li>
              </ul>
            </div>
          </div>

          <div class="nhsuk-card nhsuk-u-margin-bottom-0" id="accessibility">
            <div class="nhsuk-card__content collapsible">
              <h3 class="nhsuk-card__heading">
                Have an accessibility statement
              </h3>
              <p class="nhsuk-boody">
                The service has published an accessibility statement that follows the <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/publishing-information-about-your-services-accessibility" class="nhsuk-link">standard set out by government</a>.
              </p>
              <ul class="separator-list no-border">
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--green">
                    Met
                  </strong>
                  <p class="nhsuk-card__description">This has been completed and there is an accessibility statement in place.</p>
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--orange">
                    In progress
                  </strong>
                  <p class="nhsuk-card__description">A partial accessibility statement has been completed or it is being worked towards.</p>
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--red">
                    Not met
                  </strong>
                  <p class="nhsuk-card__description">There is no accessibility statement in place or there is an inaccurate statement.</p>
                </li>
              </ul>
            </div>
          </div>

          <div class="nhsuk-card nhsuk-u-margin-bottom-0" id="assistive-tech">
            <div class="nhsuk-card__content collapsible">
              <h3 class="nhsuk-card__heading">
                Test with assistive technology
              </h3>
              <p class="nhsuk-boody">
                The service must be tested with commonly used assistive technologies and any issues fixed. These include screen magnifiers, screen readers and speech recognition tools.
              </p>
              <ul class="separator-list no-border">
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--green">
                    Met
                  </strong>
                  <p class="nhsuk-card__description">Testing has taken place with all of the commonly used assistive technologies and any issues fixed.</p>
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--orange">
                    In progress
                  </strong>
                  <p class="nhsuk-card__description">Testing has taken place with some of the commonly used assistive technologies but not all of them. Or testing has taken place but the issues have not been fixed.</p>
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--red">
                    Not met
                  </strong>
                  <p class="nhsuk-card__description">No testing has taken place or unknown technologies have been used.</p>
                </li>
              </ul>
            </div>
          </div>

          <div class="nhsuk-card" id="research">
            <div class="nhsuk-card__content collapsible">
              <h3 class="nhsuk-card__heading">
                Include people with access needs in research
              </h3>
              <p class="nhsuk-boody">
                The service needs to do user research with people who have a range of access needs.
              </p>
              <ul class="separator-list no-border">
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--green">
                    Met
                  </strong>
                  <p class="nhsuk-card__description">There is evidence that people with access needs have been included in research.</p>
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--orange">
                    In progress
                  </strong>
                  <p class="nhsuk-card__description">Some research has taken place with people who have access needs.</p>
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--red">
                    Not met
                  </strong>
                  <p class="nhsuk-card__description">No user research has taken place or it has not included people who have access needs.</p>
                </li>
              </ul>
            </div>
          </div>

          <h2 class="nhsuk-heading-m nhsuk-u-margin-left-5 nhsuk-u-margin-right-5" style="color: #4c6272">
            Inclusion requirements
          </h2>

          <div class="nhsuk-card nhsuk-u-margin-bottom-0" id="e2e-testing">
            <div class="nhsuk-card__content collapsible">
              <h3 class="nhsuk-card__heading">
                End-to-end usability testing
              </h3>
              <p class="nhsuk-boody">
                The live service is regularly tested from beginning to end to see how usable it is.
              </p>
              <ul class="separator-list no-border">
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--green">
                    Met
                  </strong>
                  <p class="nhsuk-card__description">The team does regular end-to-end usability testing with a range of users.</p>
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--orange">
                    In progress
                  </strong>
                  <p class="nhsuk-card__description">Some end-to-end usability testing has been done with users, but this is not regular practice.</p>
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--red">
                    Not met
                  </strong>
                  <p class="nhsuk-card__description">No end-to-end usability testing has been completed.</p>
                </li>
              </ul>
            </div>
          </div>

          <div class="nhsuk-card nhsuk-u-margin-bottom-0" id="exclusion-mapping">
            <div class="nhsuk-card__content collapsible">
              <h3 class="nhsuk-card__heading">
                Exclusion mapping
              </h3>
              <p class="nhsuk-boody">
                An exclusion mapping workshop has taken place to identify inclusion needs. The team needs to work with the Inclusive Design Team in CC&I (UKHSA) to arrange this.
              </p>
              <ul class="separator-list no-border">
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--green">
                    Met
                  </strong>
                  <p class="nhsuk-card__description">
                    An <a href="https://miro.com/app/board/o9J_kpKu6lM=/?moveToWidget=3074457360733726322&cot=14" class="nhsuk-link">exclusion mapping workshop</a> has taken place and any issues have been added to the backlog and prioritised by the team.
                  </p>
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--orange">
                    In progress
                  </strong>
                  <p class="nhsuk-card__description">An exclusion mapping workshop is planned or has taken place but issues have not been added to the backlog and prioritised by the team.</p>
                </li>
                <li>
                  <strong class="nhsuk-tag nhsuk-tag--red">
                    Not met
                  </strong>
                  <p class="nhsuk-card__description">An exclusion mapping workshop has not taken place.</p>
                </li>
              </ul>
            </div>
          </div>

          {% endblock %}
        </form>
      </main>
    </div>
    {% endblock %}

  </body>

  {% block bodyEnd %}
  <footer role="contentinfo">
    <div class="nhsuk-footer" id="nhsuk-footer">
      <div class="nhsuk-width-container">
        <h2 class="nhsuk-u-visually-hidden">Support links</h2>
        <ul class="nhsuk-footer__list">
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#">Home</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#">Get in touch</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#">UCD Team</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#">Github</a></li>
        </ul>

        <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>

        <p class="nhsuk-footer__list-item nhsuk-u-margin-top-5 desktop-only">All content is available under the <a href="#">Open Government Licence v3.0</a>, except where otherwise stated.</p>
      </div>
    </div>
  </footer>
  {% endblock %}
</html>
