{% set pageHeading = "Test registration code(s) created" %}
 {% set version = "organisational/test-pass" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}
{% block beforeContent %}
<div class=“”>
  <div class=“govuk-grid-row”>
    <div class=“govuk-grid-column-full”>
      <a class="govuk-back-link" href="javascript:window.history.go(-1);">Back</a>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Test registration code(s) created</h1>

      </div>



      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Unique organisation number (UON)</th>
            <td class="govuk-table__cell">78654536</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Organisation details</th>
            <td class="govuk-table__cell">Dorset Care Home<br>DT11 8UI</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Number of test registration codes</th>
            <td class="govuk-table__cell">6</td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">Test registration codes</h3>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Make sure your organisation keeps a record of these test registration codes somewhere safe. You can save or print the codes by
       <a href="#" class="govuk-link">downloading a PDF file.</a>
       </strong>
      </div>


          <h3 class="govuk-heading-s">How to use test registration codes</h3>
          <p>The next time you register a test for someone, you will be asked if you know their test registration code. Once you confirm their name, date of birth and test registration code, their personal details will be uploaded to your registration automatically. All you’ll need to enter for them is their test details.
          </p>


      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Date of birth</th>
            <th scope="col" class="govuk-table__header">Contact details</th>
            <th scope="col" class="govuk-table__header">Test registration code</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">John Smith<br><a href="#" class="govuk-link">View details</a></td>
            <td class="govuk-table__cell">01 January 1990</td>
            <td class="govuk-table__cell">07654 123 123 <br>johnsmith@gmail.com</td>
            <td class="govuk-table__cell">EZ6U-4UVF-G45G-4ID5-9D5M</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Joe Davies<br><a href="#" class="govuk-link">View details</a></td>
            <td class="govuk-table__cell">21 March 1998</td>
            <td class="govuk-table__cell">07654 123 123<br>joe@hotmail.com</td>
            <td class="govuk-table__cell">AB6U-8UVF-G45G-4ID5-9D5M</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Ellie Jones<br><a href="#" class="govuk-link">View details</a></td>
            <td class="govuk-table__cell">01 January 1990</td>
            <td class="govuk-table__cell">07654 123 123 <br>elliejones@gmail.com</td>
            <td class="govuk-table__cell">YU6U-4UVF-G45G-4ID5-9D5M</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Georgie Brash<br><a href="#" class="govuk-link">View details</a></td>
            <td class="govuk-table__cell">21 March 1998</td>
            <td class="govuk-table__cell">07654 123 123<br>georgie@hotmail.com</td>
            <td class="govuk-table__cell">YY6U-4UVF-G45P-4ID5-9D5M</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">John Smith<br><a href="#" class="govuk-link">View details</a></td>
            <td class="govuk-table__cell">01 January 1990</td>
            <td class="govuk-table__cell">07654 123 123 <br>johnsmith@gmail.com</td>
            <td class="govuk-table__cell">HT6U-4UVF-G45G-4ID5-9D5M</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Joe Davies<br><a href="#" class="govuk-link">View details</a></td>
            <td class="govuk-table__cell">21 March 1998</td>
            <td class="govuk-table__cell">07654 123 123<br>joe@hotmail.com</td>
            <td class="govuk-table__cell">XW6U-4UVF-G45G-4ID5-9D5M</td>
          </tr>
        </tbody>
      </table>

<br>
<a href="/organisational/test-pass/create-pass/who">
  <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
  Create more test registration codes
</button></a>

      <h2 class="govuk-heading-m">We want to hear from you</h2>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 3 minutes)</p>


    </div>
  </div>

{% endblock %}
