{% set pageHeading = "What is John Smith's ethnic group?" %}
 {% set version = "organisational/test-pass" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}
{% block beforeContent %}
<div class=“”>
  <div class=“govuk-grid-row”>
    <div class=“govuk-grid-column-full”>
      <a class="govuk-back-link" href="javascript:window.history.go(-1);">Back</a>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What is John Smith's ethnic group?</h1>

      <form class="form" action="/url/of/next/page" method="post">

        <p>This will help us understand how coronavirus is affecting people of different ethnic backgrounds.</p>

        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label" for="sign-in">
          <span class="govuk-body govuk-!-font-weight-bold">Asian or Asian British</span>
        </label>
        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          Includes any Asian background, for example, Bangladeshi, Chinese, Indian, Pakistani or other East or South Asian
        </div>
      </div>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
          <label class="govuk-label govuk-radios__label" for="sign-in">
            <span class="govuk-body govuk-!-font-weight-bold">Black, African, Black British or Caribbean</span>
          </label>
          <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
            Includes any Black background
          </div>
        </div>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
            <label class="govuk-label govuk-radios__label" for="sign-in">
              <span class="govuk-body govuk-!-font-weight-bold">Mixed or multiple ethnic groups</span>
            </label>
            <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
              Includes any mixed background
            </div>
          </div>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
              <label class="govuk-label govuk-radios__label" for="sign-in">
                <span class="govuk-body govuk-!-font-weight-bold">White</span>
              </label>
              <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                Includes any White background
              </div>
            </div>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
                <label class="govuk-label govuk-radios__label" for="sign-in">
                  <span class="govuk-body govuk-!-font-weight-bold">Another ethnic group</span>
                </label>
                <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  Includes any other ethnic group
                </div>
              </div>
          </div>
    <div class="govuk-radios__divider">or</div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="where-do-you-live-6" name="where-do-you-live" type="radio" value="abroad">
      <label class="govuk-label govuk-radios__label" for="where-do-you-live-6">
        Prefer not to say
      </label>
    </div>
    </div>

  </fieldset>
</div>


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
