{% set pageHeading = "Create test registration codes for your organisation" %}
 {% set version = "organisational/test-pass" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Create test registration codes for your organisation
      </h1>

      <p> Use this service to create test registration codes for people at your organisation. When you register a test for someone, entering their code will save you time by automatically adding their personal details to your registration.</p>

      <h4 class="govuk-heading-m">How test registration codes work</h4>

      <p>When you create a test registration code for someone, we securely store the personal details you give us so they can be used in future. These details can only be accessed using the code.</p>
      <p>Make sure you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>keep a record of each code - we'll also send it to you by email or text</li>
<li>get consent from each person to create a test registration code for them and to have their code sent to the contact details you enter</li>
</ul>
<p>To find out more information on test registration codes, view the  <a href="#" class="govuk-link"> test registration codes guidance.</a></P>


<h4 class="govuk-heading-m">What you need</h4>
<ul class="govuk-list govuk-list--bullet">
  <li>your 8 digit unique organisation number (UON)</li>
<li>the personal details for each person you’re creating a test registration code for</li>
<li>if you would like to create codes for multiple people, using the test registration code spreadsheet will save you time</li>
</ul>

<h4 class="govuk-heading-m">How we use personal data</h4>
<p>To find out how we use people’s data when you create a test registration code for them, <a href="#" class="govuk-link">read the coronavirus (COVID-19) privacy note.</a></P>

      <a href="/organisational/test-pass/create-pass/consent" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>


    <div class="govuk-grid-column-one-third">


    </div>
  </div>
{% endblock %}
