<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-7-a-to-z-services.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Diabetic eye screening - NHS.UK
{% endblock %}



<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<main class="nhsuk-main-wrapper" id="maincontent" style="padding-top: 0px;">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <section>

        <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
              <div >
                <ol class="nhsuk-breadcrumb__list ">
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-4/">Home</a></li>
                  <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">NHS Services</a></li>
                  <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Find a service</a></li>

                </ol>
                <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="">Find a service</a></a></p>
              </div>
            </nav>


        <h1><span role="text">Find Diabetic eye screening services</span></h1>
        <p class="nhsuk-lede-text">Diabetic eye screening is a test to check for eye problems caused by <a href="/lab-4/a-to-z/diabetes">diabetes</a>.</p>
      </section>
      <section>
        <p>Nearly there. Enter a location below to continue or <a href="">browse all locations</a>. You can also <a href="">narrow your search</a>. </p>
      </section>
      <section>
        <div class="nhsuk-form-group">
          <h1 class="nhsuk-label-wrapper"><label class="nhsuk-label nhsuk-label--l" for="example-heading">Location</label></h1>
          <input class="nhsuk-input" id="example-heading" name="example-heading" type="text">
        </div>
        {{ button({
            "text": "Search"
          }) }}
      <section>
    </div>
  </div>
</main>



{% endblock %}
