{% set version = "v1" %}
{% set pageTitle = "Text message" %}

{% extends "includes/layout.html" %}


{% block header %}

{% endblock %}

{% block content %}

  <style>
    body {
      background-color: #f3f2f1 !important;
      -webkit-text-size-adjust: 100%;
      font-family: "Helvetica Neue", Helvetica, sans-serif;
      font-size: 20px;
      font-weight: normal;
      margin: 50px auto;
      display: flex;
      flex-direction: column;
    }

    .app-text-message {
      background-color: #fff;
      padding: 20px;
      max-width: 340px;
      min-height: 420px;
    }

    .app-text-message__text {
      max-width: 255px;
      word-wrap: break-word;
      margin-bottom: 12px;
      line-height: 24px;
      position:relative;
      padding:10px 20px;
      border-radius:25px;
      background:#E5E5EA;
      color:black;
      
      &:before, &:after {
        content:"";
        position:absolute;
        bottom:-2px;
        height:20px;
      }

       &:before {
        left:-7px;
        border-left:20px solid #E5E5EA;
        border-bottom-right-radius: 16px 14px;
        transform:translate(0, -2px);
      }

      &:after {
        left:4px;
        width:26px;
        background:white;
        border-bottom-right-radius: 10px;
        transform:translate(-30px, -2px);
      }
    }
    </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Text message</h1>

      <div class="app-text-message">
        <h2 class="govuk-heading-s">UK_Gov</h2>
        <p class="app-text-message__text">
          Dear Jo Watkins<br><br>
          Birth date 2 January 1995<br><br>
          Test date 19 Aug 2021<br><br>
          Your coronavirus PCR test (or other lab test) result is positive. It’s likely you had the virus when the test was done.<br><br>
          You must self-isolate immediately for 10 days to avoid infecting others.<br><br>
          This includes the day your symptoms started (or the test date if you’ve no symptoms) and the next 10 full days.<br><br>
          If this is a follow-up test result, self-isolate for 10 days from the date of your first test.<br><br>
          People you live with may need to self-isolate. Find out at <a href="https://www.nhs.uk/coronavirus" class="govuk-link">https://www.nhs.uk/coronavirus</a> and read 'Self-isolation and treating symptoms'.<br><br>
          For a child or staff at school or nursery, tell the school/nursery.<br><br>
          For medical help, contact 111. In an emergency dial 999.
        </p>
      </div>

    </div>
  </div>

{% endblock %}

{% block footer %}

{% endblock %}