{% set version = "v1" %}
{% set pageTitle = "Text message" %}

{% extends "includes/layout.html" %}


{% block header %}

{% endblock %}

{% block content %}

  <style>
    body {
      background-color: #f3f2f1 !important;
      -webkit-text-size-adjust: 100%;
      font-family: "Helvetica Neue", Helvetica, sans-serif;
      font-size: 20px;
      font-weight: normal;
      margin: 50px auto;
      display: flex;
      flex-direction: column;
    }

    .app-text-message {
      background-color: #fff;
      padding: 20px;
      max-width: 340px;
      min-height: 420px;
    }

    .app-text-message__text {
      max-width: 255px;
      word-wrap: break-word;
      margin-bottom: 12px;
      line-height: 24px;
      position:relative;
      padding:10px 20px;
      border-radius:25px;
      background:#E5E5EA;
      color:black;
      
      &:before, &:after {
        content:"";
        position:absolute;
        bottom:-2px;
        height:20px;
      }

       &:before {
        left:-7px;
        border-left:20px solid #E5E5EA;
        border-bottom-right-radius: 16px 14px;
        transform:translate(0, -2px);
      }

      &:after {
        left:4px;
        width:26px;
        background:white;
        border-bottom-right-radius: 10px;
        transform:translate(-30px, -2px);
      }
    }
    </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Text message</h1>

      <div class="app-text-message">
        <h2 class="govuk-heading-s">UK_Gov</h2>
        <p class="app-text-message__text">
          Dear Jo Watkins<br><br>
          Birth date 2 January 1995<br><br>
          Test date 19 Aug 2021<br><br>
          Your coronavirus lateral flow test result is positive. It’s likely you are infectious.<br><br>
          You should take a different follow-up test (normally a PCR test) today, or as soon as possible, to confirm the result.<br><br>
          Go to <a href="../antigen/v1/govuk/get-coronavirus-test">www.gov.uk/get-coronavirus-test</a> to book your follow-up test.<br><br>
          You should self-isolate straight away until you get your follow-up test result. If the follow-up test is negative, you can stop self-isolating. But if it’s positive you will have to continue to self-isolate for 10 days.<br><br>
          For medical help, contact 111. In an emergency dial 999.<br><br>
          More advice: <a href="https://www.nhs.uk/coronavirus">https://www.nhs.uk/coronavirus</a>
        </p>
      </div>

    </div>
  </div>

{% endblock %}

{% block footer %}

{% endblock %}