{% set version = "v1" %}
{% extends "includes/layout.html" %}
{% set serviceName = "Manage haulier COVID-19 testing" %}
{% set pageTitle = "Manage team members}" %}

{% block beforeContent %}
  <div class="flex-container govuk-!-margin-top-2" style="display: flex; justify-content: space-between;">
    <a class="govuk-back-link govuk-!-margin-top-0" href="javascript:window.history.go(-1);">Back</a>
    <a href="#" class="govuk-link">Signout</a>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-xl">{organisation_name}</span>
      <h1 class="govuk-heading-xl">{{pageTitle}}</h1>

      <form action="" method="post">
        <button class="govuk-button" data-module="govuk-button">
          Add team member
        </button>
      </form>

      <form action="" method="post">
        <div class="govuk-form-group govuk-!-margin-bottom-0">
          <label class="govuk-label" for="width-10">
            Search by username, first name and/or last name
          </label>
          <input class="govuk-input govuk-!-width-one-third govuk-!-margin-bottom-4" id="width-10" name="width-10" type="text">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Search
          </button>
        </div>
      </form>


      <!-- <table class="govuk-table table-card mobile-optimised" >
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Username</th>
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Email address</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
    		<tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-th="Username">{username}</td>
            <td class="govuk-table__cell" data-th="Name">{firstname} {lastname}</td>
            <td class="govuk-table__cell" data-th="Email address">{email_address}</td>
            <td class="govuk-table__cell" data-th="Status"><strong class="govuk-tag govuk-tag--orange">Pending</strong></td>
            <td class="govuk-table__cell" data-th=""><a href="#" class="govuk-link">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-th="Username">{username}</td>
            <td class="govuk-table__cell" data-th="Name">{firstname} {lastname}</td>
            <td class="govuk-table__cell" data-th="Email address">{email_address}</td>
            <td class="govuk-table__cell" data-th="Status"><strong class="govuk-tag govuk-tag--green">Active</strong></td>
            <td class="govuk-table__cell" data-th=""><a href="#" class="govuk-link">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-th="Username">{username}</td>
            <td class="govuk-table__cell" data-th="Name">{firstname} {lastname}</td>
            <td class="govuk-table__cell" data-th="Email address">{email_address}</td>
            <td class="govuk-table__cell" data-th="Status"><strong class="govuk-tag govuk-tag--green">Active</strong></td>
            <td class="govuk-table__cell" data-th=""><a href="#" class="govuk-link">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-th="Username">{username}</td>
            <td class="govuk-table__cell" data-th="Name">{firstname} {lastname}</td>
            <td class="govuk-table__cell" data-th="Email address">{email_address}</td>
            <td class="govuk-table__cell" data-th="Status"><strong class="govuk-tag govuk-tag--green">Active</strong></td>
            <td class="govuk-table__cell" data-th=""><a href="#" class="govuk-link">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-th="Username">{username}</td>
            <td class="govuk-table__cell" data-th="Name">{firstname} {lastname}</td>
            <td class="govuk-table__cell" data-th="Email address">{email_address}</td>
            <td class="govuk-table__cell" data-th="Status"><strong class="govuk-tag govuk-tag--green">Active</strong></td>
            <td class="govuk-table__cell" data-th=""><a href="#" class="govuk-link">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-th="Username">{username}</td>
            <td class="govuk-table__cell" data-th="Name">{firstname} {lastname}</td>
            <td class="govuk-table__cell" data-th="Email address">{email_address}</td>
            <td class="govuk-table__cell" data-th="Status"><strong class="govuk-tag govuk-tag--green">Active</strong></td>
            <td class="govuk-table__cell" data-th=""><a href="#" class="govuk-link">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-th="Username">{username}</td>
            <td class="govuk-table__cell" data-th="Name">{firstname} {lastname}</td>
            <td class="govuk-table__cell" data-th="Email address">{email_address}</td>
            <td class="govuk-table__cell" data-th="Status"><strong class="govuk-tag govuk-tag--green">Active</strong></td>
            <td class="govuk-table__cell" data-th=""><a href="#" class="govuk-link">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-th="Username">{username}</td>
            <td class="govuk-table__cell" data-th="Name">{firstname} {lastname}</td>
            <td class="govuk-table__cell" data-th="Email address">{email_address}</td>
            <td class="govuk-table__cell" data-th="Status"><strong class="govuk-tag govuk-tag--grey">Inactive</strong></td>
            <td class="govuk-table__cell" data-th=""><a href="#" class="govuk-link">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-th="Username">{username}</td>
            <td class="govuk-table__cell" data-th="Name">{firstname} {lastname}</td>
            <td class="govuk-table__cell" data-th="Email address">{email_address}</td>
            <td class="govuk-table__cell" data-th="Status"><strong class="govuk-tag govuk-tag--grey">Inactive</strong></td>
            <td class="govuk-table__cell" data-th=""><a href="#" class="govuk-link">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-th="Username">{username}</td>
            <td class="govuk-table__cell" data-th="Name">{firstname} {lastname}</td>
            <td class="govuk-table__cell" data-th="Email address">{email_address}</td>
            <td class="govuk-table__cell" data-th="Status"><strong class="govuk-tag govuk-tag--grey">Inactive</strong></td>
            <td class="govuk-table__cell" data-th=""><a href="#" class="govuk-link">Manage</a></td>
          </tr>
        </tbody>
      </table> -->

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {username}
          </dt>
          <dd class="govuk-summary-list__value">
            {firstname} {lastname}<br/>
            {email_address}<br/>
          </dd>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--yellow">Awaiting approval</strong>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Manage</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {username}
          </dt>
          <dd class="govuk-summary-list__value">
            {firstname} {lastname}<br/>
            {email_address}<br/>
          </dd>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--yellow">Awaiting approval</strong>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Manage</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {username}
          </dt>
          <dd class="govuk-summary-list__value">
            {firstname} {lastname}<br/>
            {email_address}<br/>
          </dd>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--green">Active</strong>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Manage</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {username}
          </dt>
          <dd class="govuk-summary-list__value">
            {firstname} {lastname}<br/>
            {email_address}<br/>
          </dd>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--green">Active</strong>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Manage</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {username}
          </dt>
          <dd class="govuk-summary-list__value">
            {firstname} {lastname}<br/>
            {email_address}<br/>
          </dd>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--green">Active</strong>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Manage</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {username}
          </dt>
          <dd class="govuk-summary-list__value">
            {firstname} {lastname}<br/>
            {email_address}<br/>
          </dd>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--green">Active</strong>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Manage</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {username}
          </dt>
          <dd class="govuk-summary-list__value">
            {firstname} {lastname}<br/>
            {email_address}<br/>
          </dd>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--green">Active</strong>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Manage</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {username}
          </dt>
          <dd class="govuk-summary-list__value">
            {firstname} {lastname}<br/>
            {email_address}<br/>
          </dd>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--green">Active</strong>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Manage</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {username}
          </dt>
          <dd class="govuk-summary-list__value">
            {firstname} {lastname}<br/>
            {email_address}<br/>
          </dd>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--green">Active</strong>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Manage</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {username}
          </dt>
          <dd class="govuk-summary-list__value">
            {firstname} {lastname}<br/>
            {email_address}<br/>
          </dd>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--grey">Inactive</strong>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#" class="govuk-link">Manage</a>
          </dd>
        </div>
      </dl>

      <div class="flex-container" style="display: flex; justify-content: space-between;">
        <div>
          <span class="govuk-hint">1 to 10 of 100 items</span>
        </div>
        <div>
          <a href="#" class="govuk-link govuk-!-margin-right-2">Previous</a>
          <a href="#" class="govuk-link govuk-!-margin-right-2">1</a>
          <a href="#" class="govuk-link govuk-!-margin-right-2">2</a>
          <a href="#" class="govuk-link govuk-!-margin-right-2">3</a>
          <span class="govuk-!-margin-right-2">...</span>
          <a href="#" class="govuk-link govuk-!-margin-right-2">10</a>
          <a href="#" class="govuk-link govuk-!-margin-right-2">Next</a>
        </div>
      </div>

    </div>
  </div>


{% endblock %}
