{% set version = "v1" %}
{% extends "includes/layout.html" %}
{% set serviceName = "Manage haulier COVID-19 testing" %}
{% set pageTitle = "Manage new team member access" %}

{% block beforeContent %}
  <div class="flex-container govuk-!-margin-top-2" style="display: flex; justify-content: space-between;">
    <a class="govuk-back-link govuk-!-margin-top-0" href="javascript:window.history.go(-1);">Back</a>
    <a href="#" class="govuk-link">Signout</a>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-xl">{organisation_name}</span>
      <h1 class="govuk-heading-xl">{{pageTitle}}</h1>

      <form action="" method="post">
        <div class="govuk-form-group govuk-!-margin-bottom-0">
          <label class="govuk-label" for="width-10">
            Search by username, first name and/or last name
          </label>
          <input class="govuk-input govuk-!-width-one-third govuk-!-margin-bottom-4" id="width-10" name="width-10" type="text">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Search
          </button>
        </div>
      </form>


      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {username}
          </dt>
          <dd class="govuk-summary-list__value">
            {firstname} {lastname}<br/>
            {email_address}
          </dd>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-!-margin-bottom-2 govuk-tag--green">Approved</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {username}
          </dt>
          <dd class="govuk-summary-list__value">
            {firstname} {lastname}<br/>
            {email_address}
          </dd>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-!-margin-bottom-2 govuk-tag--grey">Denied</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {username}
          </dt>
          <dd class="govuk-summary-list__value">
            {firstname} {lastname}<br/>
            {email_address}
          </dd>
          <dd class="govuk-summary-list__actions">
            <div class="govuk-button-group">
              <button class="govuk-button" data-module="govuk-button">Approve</button>
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Deny</button>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {username}
          </dt>
          <dd class="govuk-summary-list__value">
            {firstname} {lastname}<br/>
            {email_address}
          </dd>
          <dd class="govuk-summary-list__actions">
            <div class="govuk-button-group">
              <button class="govuk-button" data-module="govuk-button">Approve</button>
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Deny</button>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {username}
          </dt>
          <dd class="govuk-summary-list__value">
            {firstname} {lastname}<br/>
            {email_address}
          </dd>
          <dd class="govuk-summary-list__actions">
            <div class="govuk-button-group">
              <button class="govuk-button" data-module="govuk-button">Approve</button>
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Deny</button>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {username}
          </dt>
          <dd class="govuk-summary-list__value">
            {firstname} {lastname}<br/>
            {email_address}
          </dd>
          <dd class="govuk-summary-list__actions">
            <div class="govuk-button-group">
              <button class="govuk-button" data-module="govuk-button">Approve</button>
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Deny</button>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {username}
          </dt>
          <dd class="govuk-summary-list__value">
            {firstname} {lastname}<br/>
            {email_address}
          </dd>
          <dd class="govuk-summary-list__actions">
            <div class="govuk-button-group">
              <button class="govuk-button" data-module="govuk-button">Approve</button>
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Deny</button>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {username}
          </dt>
          <dd class="govuk-summary-list__value">
            {firstname} {lastname}<br/>
            {email_address}
          </dd>
          <dd class="govuk-summary-list__actions">
            <div class="govuk-button-group">
              <button class="govuk-button" data-module="govuk-button">Approve</button>
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Deny</button>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {username}
          </dt>
          <dd class="govuk-summary-list__value">
            {firstname} {lastname}<br/>
            {email_address}
          </dd>
          <dd class="govuk-summary-list__actions">
            <div class="govuk-button-group">
              <button class="govuk-button" data-module="govuk-button">Approve</button>
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Deny</button>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {username}
          </dt>
          <dd class="govuk-summary-list__value">
            {firstname} {lastname}<br/>
            {email_address}
          </dd>
          <dd class="govuk-summary-list__actions">
            <div class="govuk-button-group">
              <button class="govuk-button" data-module="govuk-button">Approve</button>
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Deny</button>
            </div>
          </dd>
        </div>
      </dl>

      <div class="flex-container" style="display: flex; justify-content: space-between;">
        <div>
          <span class="govuk-hint">1 to 10 of 100 items</span>
        </div>
        <div>
          <a href="#" class="govuk-link govuk-!-margin-right-2">Previous</a>
          <a href="#" class="govuk-link govuk-!-margin-right-2">1</a>
          <a href="#" class="govuk-link govuk-!-margin-right-2">2</a>
          <a href="#" class="govuk-link govuk-!-margin-right-2">3</a>
          <span class="govuk-!-margin-right-2">...</span>
          <a href="#" class="govuk-link govuk-!-margin-right-2">10</a>
          <a href="#" class="govuk-link govuk-!-margin-right-2">Next</a>
        </div>
      </div>

    </div>
  </div>


{% endblock %}
