{% set version = "v1" %}
{% set serviceName = "Manage haulier COVID-19 testing" %}
{% set pageTitle = "What's the organisation ID?" %}
{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="flex-container govuk-!-margin-top-2" style="display: flex; justify-content: space-between;">
    <a class="govuk-back-link govuk-!-margin-top-0" href="javascript:window.history.go(-1);">Back</a>
    <a href="#" class="govuk-link">Signout</a>
  </div>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form action="#" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  {{pageTitle}}
                </h1>
              </legend>
              <p class="govuk-body">Enter the # character organisation ID. If you cannot find it, ask your team leader.</p>
              <div class="govuk-date-input" id="">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="">
                      Organisation ID
                    </label>
                    <div id="dob-hint" class="govuk-hint">
                      For example 0000
                    </div>
                    <input class="govuk-input" id="" name="" type="text">
                  </div>
                </div>
              </div>

            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

    </div>
  </div>



{% endblock %}
