{% set version = "v1" %}
{% set serviceName = "Manage haulier COVID-19 testing" %}
{% set pageTitle = "{firstname} {lastname}" %}
{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="flex-container govuk-!-margin-top-2" style="display: flex; justify-content: space-between;">
    <a class="govuk-back-link govuk-!-margin-top-0" href="javascript:window.history.go(-1);">Change organisation</a>
    <a href="#" class="govuk-link">Signout</a>
  </div>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl govuk-!-margin-bottom-4">{organisation_name}</span>
      <strong class="govuk-tag govuk-!-margin-bottom-2 govuk-tag--yellow">Awaiting approval</strong>
      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
      <p class="govuk-body">Your team leader has not yet given you access to this organisation. If they approve access, you can start to log results.</p>
      <p class="govuk-body">Do not refresh this page. It will update automatically.</p>

    </div>
  </div>


{% endblock %}
