{% set version = "v4" %}
{% set pageTitle = "How do you provide care?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/antibody/{{version}}/refer-and-triage/occupation">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/antibody/{{version}}/refer-and-triage/care-home-id" method="post">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              {{ pageTitle }}
            </h1>
          </legend>

          <span id="nhs-number-hint" class="govuk-hint">
          We need this information for clinical research and this will help us prioritise you for a test
          </span>
        
          <div class="govuk-form-group">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="multiple-sites" name="multiple-care-homes-role" type="radio" value="Multiple test sites">
              <label class="govuk-label govuk-radios__label" for="multiple-sites">
                I work with residents across multiple care homes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="care-home" name="single-care-home-role" type="radio" value="Care home">
              <label class="govuk-label govuk-radios__label" for="single-care-home-role">
                I work with residents in a single care home
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="non-resident-facing" name="non-resident-facing-role" type="radio" value="Non resident-facing">
              <label class="govuk-label govuk-radios__label" for="non-resident-facing">
                I work in a non resident-facing capacity within a care home 
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="domiciliary-care" name="domiciliary-care-role" type="radio" value="Domiciliary care">
              <label class="govuk-label govuk-radios__label" for="domiciliary-care">
                I provide domiciliary care to people in their homes
              </label>
            </div>
          </div>
        
        </fieldset>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
