{% set version = "v4" %}
{% set pageTitle = "You're registered" %}

{% extends "includes/layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">{{ pageTitle }}</h1>
      </div>



      <p class="govuk-body govuk-!-margin-top-6">Your registration details will help us prioritise antibody test kits.</p>




      <h2 class="govuk-heading-m">When can you order a test kit.</h2>

      <p class="govuk-body">You must wait to be invited to order a test kit.</p>

      <p class="govuk-body">This invite may take a few days to arrive.  </p>

      <p class="govuk-body">It will contain a link and tell you what to do. </p>

      <p class="govuk-body">Once ordered, your test kit will arrive in the post within 5 days. </p>

      <div class="govuk-warning-text govuk-!-margin-top-6">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive govuk-body">Warning</span>
          Antibody tests are not available to everyone at the moment.<br>
          You will not get a test kit if you're not eligible.
        </strong>
      </div>

      <h2 class="govuk-heading-m">Find out more</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#">A guide to antibody testing - including eligibility</a></li>
        <li><a href="#">Watch a video: your antibody test kit</a></li>
      </ul>








    </div>
  </div>

{% endblock %}

{% block bodyEnd %}
<div class="proto-action">
  <a href="/antibody/{{version}}/sms">
    <div class="proto-action-icon"></div>
    <div class="proto-action-text">Check SMS</div>
  </a>
</div>

{% endblock %}
