{% set version = "v4" %}
{% set pageTitle = "Find out if you've had coronavirus before ('antibody' test)" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/antibody/{{version}}/govuk">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p class = "govuk-body">You can sign up for a free coronavirus (COVID-19) antibody test to find out if you've had the virus before. There is a different test to
        <a href="/antigen/v1/govuk/get-coronavirus-test">check if you currently have the virus</a> (sometimes called a “swab test”).  </a>

    <div class="govuk-inset-text" role="note" aria-label="Information">
      <p>This service is for people in England, Wales, Scotland and Northern Ireland. </p>
    </div>

      <h2 class="govuk-heading-m govuk-!-margin-top-7">Check you're eligible</h2>

    <p class="govuk-body">If you live in England and Wales you can get an antibody test if:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>you're 18 or over</li>
      <li>you're a care worker</li>
      <li>you cannot get to an NHS test site to take the test</li>
    </ul>

    <p class="govuk-body">If you live in Northern Ireland, you can get an antibody test if:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>you're 18 or over</li>
      <li>you're working in primary care (including eye doctors), a pharmacist or a care worker (in care homes or domiciliary care)</li>
    </ul>
    
     <p class="govuk-body">If you live in Scotland, you can get an antibody test if:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>you're 18 or over</li>
      <li>you work in education with children or young people (teaching or non-teaching roles) </li>
      <li>you work in early years education or in a primary, secondary or special school</li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-top-7">About the test</h2>

    <p class="govuk-body">It is a "fingerprick" blood test done at home. It is posted to you and comes with everything you need. You take the test and post your sample to get your results. </p>

    <p class="govuk-body">The test checks for coronavirus antibodies. If you have them, it’s likely you’ve had the virus before.</p>

    <div class="govuk-inset-text" role="note" aria-label="Information">
      <p>Even if you have coronavirus antibodies it does not mean you are guaranteed to be immune (protected) from further infection. You might get the virus again or spread it. </p>
    </div>


    <h2 class="govuk-heading-m govuk-!-margin-top-7">How long it takes to sign up</h2>
      <p class="govuk-body">It should take 5 to 10 minutes to sign up.</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-6">After you've signed up</h2>

      <div class="govuk-inset-text" role="note" aria-label="Information">
        <p>You need to wait for a message inviting you to order a test. It’s sent within a few days by email or text. But it can take up to 3 months because test kits are limited and need to be prioritised. In Scotland, not everyone who signs up will get a test.</p>
      </div>

      <p class="govuk-body">Once you get your invite message, you can order your test. </p>
      <p class="govuk-body">Once ordered, it takes up to 5 days to arrive and about 5 days to get your results.</p>
      
      <h2 class="govuk-heading-m govuk-!-margin-top-7">Why take the test</h2>

      <p class="govuk-body">It will help the NHS and research scientists. They need to learn more about:</p>
      <ul class = "govuk-list govuk-list--bullet">
        <li>who has already had the virus</li>
        <li>how it has spread in the UK</li>
      </ul>

      <a href="/antibody/{{version}}/refer-and-triage/comfortable-doing-test" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

    </div>
  </div>

{% endblock %}
