{% set version = "v4" %}
{% set pageTitle = "Sorry, you cannot sign up for an antibody test right now" %}

{% extends "includes/layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      <p class = "govuk-body">Antibody tests are not available to everyone at the moment.</p>
      
      <p class="nhsuk-body">You've either told us:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>you're not comfortable doing a fingerprick blood test</li>
        <li>you do not have an email or mobile phone</li>
        <li>you have an immune condition that prevents you from taking the test</li>
      </ul>

      <p class="nhsuk-body">You may be able to get the test from an NHS test site.</p>

      <p class="nhsuk-body"><a href="https://www.gov.uk/government/publications/coronavirus-covid-19-antibody-tests/coronavirus-covid-19-antibody-tests">Find out more: coronavirus antibody testing</a>.</p>

    </div>
  </div>

{% endblock %}