{% set version = "v4" %}
{% set pageTitle = "What is your postcode?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/antibody/{{version}}/refer-and-triage/mobile-number">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/antibody/{{version}}/refer-and-triage/date-of-birth" method="post">

      <fieldset class="govuk-fieldset" aria-describedby="delivery-address-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            {{ pageTitle }}
          </h1>
        </legend>
        <span id="delivery-address-hint" class="govuk-hint">
         Enter the postcode where you are living right now.<br>
         <br>
         People in certain areas may be prioritised for a test.
        </span>
        <div class="govuk-form-group">
          <label class="govuk-label" for="test-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10" id="test-postcode" name="test-postcode" type="text" autocomplete="postal-code" value="{{ data['test-postcode'] }}">
        </div>
      </fieldset>

      <button class="govuk-button" type="submit" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}
