{% set version = "live" %}
{% set pageTitle = "Enter your password" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% if data['coronavirus-account'] == "Yes" and data['first-name'] %}
  {% include "includes/account-menu.html" %}
{% else %}
  {% include "includes/account-menu-email.html" %}
{% endif %}

  <a class="govuk-back-link" href="/IBT/lfd-collect/e2e-prototypes/{{version}}/user-account/edit-personal-details/home-page">Back</a>
{% endblock %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/IBT/lfd-collect/e2e-prototypes/{{version}}/user-account/edit-personal-details/home-page" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="password-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
                {{ pageTitle }}
              </h1>
            </legend>
  
                <div class="govuk-form-group govuk-!-margin-top-6">
                  <label class="govuk-label" for="password">
                    Password
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds" id="password" name="password" type="text" value="{{ data['password'] }}">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="confirm-password">
                    Confirm password
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds" id="confirm-password" name="confirm-password" type="text" value="{{ data['confirm-password'] }}">
                </div>
      
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}