{% set version = "v1" %}
{% set pageTitle = "Confirm details" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/elective-care-testing/{{version}}/upload-file">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ pageTitle }}</h1>

      <p class="govuk-body">Once you continue your order will be processed</p>

      <p class="govuk-body"><strong>44 patients</strong></p>

      <p class="govuk-body"><a href="#" class="govuk-link govuk-!-margin-right-2">Patient list</a><span class="govuk-!-margin-right-4">file added</span><a href="/elective-care-testing/{{version}}/upload-file" class="govuk-link">change</a></p>

      <a href="/elective-care-testing/{{version}}/confirmation" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
        Save and continue
      </a>

    </div>
  </div>
{% endblock %}
