{% set version = "v1" %}
{% set pageTitle = "What’s the patient’s delivery address?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/elective-care-testing/{{version}}/nhs-number">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/elective-care-testing/{{version}}/find-address" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="delivery-postcode-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
                What's {{ data['first-name'] }} {{ data['last-name'] }}'s delivery address?
              </h1>
            </legend>
            <span id="delivery-postcode-hint" class="govuk-hint">
              We’ll send their home test to this address.
            </span>

            <div class="govuk-form-group">
              <label class="govuk-label" for="delivery-postcode">
                Search for a UK postcode
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="delivery-postcode" name="delivery-postcode" type="text" spellcheck="false" value="{{ data['delivery-postcode'] }}">
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Find address</button>

      </form>

    </div>
  </div>

{% endblock %}
