{% set version = "v1" %}
{% set pageTitle = "Enter your delivery address" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/elective-care-testing/{{version}}/find-address">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/elective-care-testing/{{version}}/check-your-answers" method="post">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
              What’s {{ data['first-name'] }} {{ data['last-name'] }}’s delivery address?
            </h1>
          </legend>

          <p><span class="govuk-!-margin-bottom-1 govuk-!-display-block">We’ll send their home test to this address.</span></p>

          <div class="govuk-form-group">
            <label class="govuk-label" for="delivery-address-line-1">
              Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
            <input class="govuk-input" id="delivery-address-line-1" name="delivery-address-line-1" type="text" autocomplete="address-line1" value="{{ data['delivery-address-line-1'] }}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="delivery-address-line-2">
              <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
            </label>
            <input class="govuk-input" id="delivery-address-line-2" name="delivery-address-line-2" type="text" autocomplete="address-line2" value="{{ data['delivery-address-line-2'] }}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="delivery-address-town">
              Town or city
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="delivery-address-town" name="delivery-address-town" type="text" autocomplete="address-level2" value="{{ data['delivery-address-town'] }}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="delivery-address-county">
              County
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="delivery-address-county" name="delivery-address-county" type="text" autocomplete="address-level3" value="{{ data['delivery-address-county'] }}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="delivery-address-postcode">
              Postcode
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="delivery-address-postcode" name="delivery-address-postcode" type="text" autocomplete="address-level4" value="{{ data['delivery-address-postcode'] }}">
          </div>

        </fieldset>

        <p><a class="govuk-link" href="/elective-care-testing/{{version}}/find-address">Or search for their address</a></p>

        <button class="govuk-button  govuk-!-margin-top-6" type="submit" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}