{% set version = "v1" %}
{% set pageTitle = "What’s the patient’s delivery address?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/elective-care-testing/{{version}}/delivery-postcode">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/elective-care-testing/{{version}}/check-your-answers" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="choose-site-1-hint choose-site-2-hint choose-site-3-hint choose-site-4-hint choose-site-13-hint choose-site-5-hint choose-site-6-hint choose-site-7-hint choose-site-8-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
                What's {{ data['first-name'] }} {{ data['last-name'] }}'s delivery address?
              </h1>
            </legend>
            <span id="choose-site-1-hint" class="govuk-body govuk-!-margin-bottom-2 govuk-!-margin-top-2">
              We’ll send their home test to this address.
            </span>
            <span id="choose-site-2-hint" class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-margin-top-2">
              Postcode
            </span>
            <span id="choose-site-3-hint" class="govuk-body govuk-!-margin-bottom-2 govuk-!-margin-right-4" style="display: inline-block;">
              {{ data['delivery-postcode'] }}
            </span>
            <span class="govuk-body" style="display: inline-block;"><a class="govuk-link" href="/elective-care-testing/{{version}}/delivery-postcode">change</a></span>
        
            <div class="govuk-form-group govuk-!-margin-bottom-5">
                <label class="govuk-label" for="address">
                  Select an address
                </label>
                <select class="govuk-select" id="address" name="address">
                  <option value="75 Nith Street, GLENCARSE, {{ data['delivery-postcode'] }}" ">75 Nith Street, GLENCARSE, {{ data['delivery-postcode'] }}</option>
                  <option value="46 Seafield Street, LLANYCRWYS, SA19 1WS">46 Seafield Street, LLANYCRWYS, SA19 1WS</option>
                  <option value="32 Boroughbridge Road, BISHOP, DT9 5WF">32 Boroughbridge Road, BISHOP, DT9 5WF</option>
                  <option value="81 Front St, HENDY, SA4 1PZ">81 Front St, HENDY, SA4 1PZ</option>
                </select>
            </div>

            <p><a class="govuk-link" href="/elective-care-testing/{{version}}/delivery-address-manual">I can’t find their address in the list</a></p>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}