{% extends "includes/layout.html" %}
{% set serviceName = "Manage elective care patient COVID-19 testing" %}
{% set pageTitle = "Confirm you want to send a temporary password" %}

{% block beforeContent %}
  <!-- <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div> -->
  <a class="govuk-back-link" href="javascript:window.history.go(-1);">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="5" method="post">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-2">
              {{ pageTitle }}
            </h1>
          </legend>

          <p class="govuk-body">Send a new temporary password to {email_address}.</p>

        </fieldset>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Send temporary password
          </button>

          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>
        </div>

      </form>

    </div>
  </div>


{% endblock %}
