{% set pageHeading = "Account details" %}
{% set version = "organisational/unified-testing/v0" %}
{% set serviceName = "Organisation testing" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}


      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

      <h2 class="govuk-heading-l">
        John Lewis Birmingham
      </h2>
      <p>You can find all the individuals associated to your organisation here. You can add a new person or change an existing individuals details.</p>

      {{ govukButton({
        text: "Add new person"
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table">
        <caption class="govuk-table__caption">Records 1 to 10</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Position</th>
            <th scope="col" class="govuk-table__header">DOB</th>
            <th scope="col" class="govuk-table__header">Gender</th>
            <th scope="col" class="govuk-table__header">Ethnic group</th>
            <th scope="col" class="govuk-table__header">Address</th>
            <th scope="col" class="govuk-table__header">NHS number</th>
            <th scope="col" class="govuk-table__header"> </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell govuk-body-s">Giacomo Guilizzoni</td>
            <td class="govuk-table__cell govuk-body-s">Staff</td>
            <td class="govuk-table__cell govuk-body-s">11/04/1980</td>
            <td class="govuk-table__cell govuk-body-s">Female</td>
            <td class="govuk-table__cell govuk-body-s">Mixed or multiple ethnic groups</td>
            <td class="govuk-table__cell govuk-body-s">72 Guild Street<br>London<br>SE23 6FH</td>
            <td class="govuk-table__cell govuk-body-s">01849258</td>
            <td class="govuk-table__cell govuk-body-s"><a href="">Edit</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell govuk-body-s">Marc Botton</td>
            <td class="govuk-table__cell govuk-body-s">Staff</td>
            <td class="govuk-table__cell govuk-body-s">03/06/1982</td>
            <td class="govuk-table__cell govuk-body-s">Male</td>
            <td class="govuk-table__cell govuk-body-s">Irish</td>
            <td class="govuk-table__cell govuk-body-s">54 Isle Park<br>London<br>N1 1PX</td>
            <td class="govuk-table__cell govuk-body-s"> </td>
            <td class="govuk-table__cell govuk-body-s"><a href="">Edit</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell govuk-body-s">Mariah Maclachlan</td>
            <td class="govuk-table__cell govuk-body-s">Resident</td>
            <td class="govuk-table__cell govuk-body-s">26/08/1979</td>
            <td class="govuk-table__cell govuk-body-s">Female</td>
            <td class="govuk-table__cell govuk-body-s">Black African and White</td>
            <td class="govuk-table__cell govuk-body-s">60 Cross Road<br>London<br>N1 2BA</td>
            <td class="govuk-table__cell govuk-body-s">32452345</td>
            <td class="govuk-table__cell govuk-body-s"><a href="">Edit</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell govuk-body-s">Valerie Liberty</td>
            <td class="govuk-table__cell govuk-body-s">Resident</td>
            <td class="govuk-table__cell govuk-body-s">26/08/1939</td>
            <td class="govuk-table__cell govuk-body-s">Female</td>
            <td class="govuk-table__cell govuk-body-s">British, English, Northern Irish, Scottish, or Welsh</td>
            <td class="govuk-table__cell govuk-body-s">Westgate Road<br>London<br>N1 8PT</td>
            <td class="govuk-table__cell govuk-body-s">08459331</td>
            <td class="govuk-table__cell govuk-body-s"><a href="">Edit</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell govuk-body-s">Georgia Smith</td>
            <td class="govuk-table__cell govuk-body-s">Staff</td>
            <td class="govuk-table__cell govuk-body-s">06/10/1960</td>
            <td class="govuk-table__cell govuk-body-s">Female</td>
            <td class="govuk-table__cell govuk-body-s">British, English, Northern Irish, Scottish, or Welsh</td>
            <td class="govuk-table__cell govuk-body-s">5 Guild Street<br>London<br>NW8 5RN</td>
            <td class="govuk-table__cell govuk-body-s">19274850</td>
            <td class="govuk-table__cell govuk-body-s"><a href="">Edit</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell govuk-body-s">Vinay Parekh</td>
            <td class="govuk-table__cell govuk-body-s">Resident</td>
            <td class="govuk-table__cell govuk-body-s">12/07/1962</td>
            <td class="govuk-table__cell govuk-body-s">Male</td>
            <td class="govuk-table__cell govuk-body-s">Indian</td>
            <td class="govuk-table__cell govuk-body-s">30 Union Terrace<br>London<br>E13 6UF</td>
            <td class="govuk-table__cell govuk-body-s">27047394</td>
            <td class="govuk-table__cell govuk-body-s"><a href="">Edit</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell govuk-body-s">Sarah Links</td>
            <td class="govuk-table__cell govuk-body-s">Staff</td>
            <td class="govuk-table__cell govuk-body-s">26/10/1989</td>
            <td class="govuk-table__cell govuk-body-s">Female</td>
            <td class="govuk-table__cell govuk-body-s">Another White background</td>
            <td class="govuk-table__cell govuk-body-s">93 Crown Street<br>London<br>WC1H 7EQ</td>
            <td class="govuk-table__cell govuk-body-s">27495395</td>
            <td class="govuk-table__cell govuk-body-s"><a href="">Edit</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell govuk-body-s">Karen Brighton</td>
            <td class="govuk-table__cell govuk-body-s">Resident</td>
            <td class="govuk-table__cell govuk-body-s">08/08/1975</td>
            <td class="govuk-table__cell govuk-body-s">Female</td>
            <td class="govuk-table__cell govuk-body-s">British, English, Northern Irish, Scottish, or Welsh</td>
            <td class="govuk-table__cell govuk-body-s">100 Upper Street<br>London<br>N1 0NP</td>
            <td class="govuk-table__cell govuk-body-s">72639463</td>
            <td class="govuk-table__cell govuk-body-s"><a href="">Edit</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell govuk-body-s">Bill Green</td>
            <td class="govuk-table__cell govuk-body-s">Resident</td>
            <td class="govuk-table__cell govuk-body-s">03/02/1952</td>
            <td class="govuk-table__cell govuk-body-s">Male</td>
            <td class="govuk-table__cell govuk-body-s">Irish</td>
            <td class="govuk-table__cell govuk-body-s">59 Essex Road<br>London<br>ES1 2SF</td>
            <td class="govuk-table__cell govuk-body-s">38274595</td>
            <td class="govuk-table__cell govuk-body-s"><a href="">Edit</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell govuk-body-s">Oscar Bell</td>
            <td class="govuk-table__cell govuk-body-s">Staff</td>
            <td class="govuk-table__cell govuk-body-s">28/09/1988</td>
            <td class="govuk-table__cell govuk-body-s">Male</td>
            <td class="govuk-table__cell govuk-body-s">African</td>
            <td class="govuk-table__cell govuk-body-s">61 Richmond Avenue<br>London<br>SE21 2DL</td>
            <td class="govuk-table__cell govuk-body-s">48572047</td>
            <td class="govuk-table__cell govuk-body-s"><a href="">Edit</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <p class="govuk-body"><a href=""></a></p>
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="govuk-body" style="text-align: center;">1 <a href="">2</a> <a href="">3</a> <a href="">4</a> <a href="">5</a></p>
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="govuk-body" style="text-align: right;"><a href="">Next page ></a></p>
    </div>
  </div>

  

{% endblock %}
