{% set version = "v1" %}
{% set pageTitle = "Check your answers" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% if data['coronavirus-account'] == "Yes" %}
  {% include "includes/account-menu.html" %}
{% endif %}

  <a class="govuk-back-link" href="/collect-tests/{{version}}/site-id">Back</a>
{% endblock %}

{% block content %}
{% include "includes/gtm-noscript.html" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Name
          </dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-third">
            {{ data['first-name'] or 'Pete' }} {{ data['last-name'] or 'Smith' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/lfd-collection-registration/{{version}}/name">
              Change
              <span class="govuk-visually-hidden">name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-third">
            {{ data['date-of-birth-day'] or '15 March 1988' }} {{ data['date-of-birth-month'] }} {{ data['date-of-birth-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/lfd-collection-registration/{{version}}/date-of-birth">
            Change
            <span class="govuk-visually-hidden">date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Home address
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-third">
              {{ data['home-postcode'] or 'SW1H 0EU'}}<br>
              {% if data['home-address'] %}
              {{ data['home-address'] }}
              {% else %}
              {{ data['address-line-1'] or '43 Tremadoc road'}}<br>
                {% if data['address-line-2'] %}
                {{ data['address-line-2'] or 'SW1H 0EU'}}<br>
                {% endif %}
              {{ data['address-town'] or 'London'}}
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/lfd-collection-registration/{{version}}/address">
              Change
              <span class="govuk-visually-hidden">home address</span>
              </a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-third">
              Mobile number
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-third">
              {{ data['mobile-phone-number'] or '1234567890'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/lfd-collection-registration/{{version}}/mobile-number">
              Change
              <span class="govuk-visually-hidden">email address</span>
              </a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Email address
          </dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-third">
            {{ data['email-address'] or 'psmith@example.co.uk' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/lfd-collection-registration/{{version}}/email-address">
            Change
            <span class="govuk-visually-hidden">email address</span>
            </a>
          </dd>
        </div>
      </dl>

      <form action="/lfd-collection-registration/{{version}}/action10/check-your-answers" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}