{% set version = "v1" %}
{% set pageTitle = "Confirmation email" %}
{% extends "includes/layout.html" %}


{% block content %}
  {% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
        {{ data['first-name'] or 'John' }} {{ data['last-name'] or 'Smith' }} 
      </h1>

     <h2 class="govuk-heading-m">Date of birth: {{ data['date-of-birth-day'] or '15 March 1988' }} {{ data['date-of-birth-month'] }} {{ data['date-of-birth-year'] }}</h2>

     <p class="govuk-body">
         Your collection for twice weekly testing is confirmed.<br>
         Your pass to collect your rapid tests is below - <strong>have this ready to show staff when you arrive</strong>.
        </p>

     <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

     <div style="display: flex; justify-content: center;">
       <img src="/public/images/QR_code.png" alt="randox number" style="height: 20%; width: 20%;" />
     </div>

     <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-8" style="text-align: center;">Pass ID: 12653234356</p>

     <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

     <h3 class="govuk-heading-s govuk-!-margin-top-6">Collection details</h3>
     <p class="govuk-body">
        If you need to check again, you can <a class="govuk-link" href="#">find your local collection site here</a>.<br><br>
        Take your confirmation email or SMS with you to collect your test kits.
    </p>

    <div style="border-left: 10px solid #b1b4b6;">
        <p class="govuk-body" style="padding: 1em">If you're in a bubble, make sure the other household sorts their rapid tests now because you should all test twice a week on the same day.</p>
    </div>

    <h3 class="govuk-heading-s govuk-!-margin-top-4">What's in your test pack</h3>
    <p class="govuk-body">
        Each pack contains:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>7 rapid lateral flow tests</li>
      <li>instructions on how to take the test</li>
      <li>instructions on how to report each result to the NHS</li>
    </ul>

    <p class="govuk-body">You can watch a demonstration video and get the test instructions in other languages or easy read and large print format.</p>

    <p class="govuk-body">
        <a class="govuk-link" href="#">Watch a short video: how to take rapid test</a><br><br>
        <a class="govuk-link" href="#">Get test instructions in other languages or easy read and large print format</a>
    </p>

    <h3 class="govuk-heading-s govuk-!-margin-top-4">About twice weekly testing</h3>
    <p class="govuk-body">
        You will get an about twice weekly testing email in the next 36 hours.<br><br>
        It will contain web links and support to help you.
    </p>

    <h3 class="govuk-heading-s govuk-!-margin-top-4">Contact centre</h3>
    <p class="govuk-body">
        If you have any questions or problems call the contact centre.<br><br>
        Call 119 in England, Wales and Northern Ireland<br>
        Free from mobiles and landlines<br><br>
        Call 0300 303 2713 in Scotland<br>
        Charged at your standard network rate<br><br>
        Lines open from 7am to 11pm
    </p>

    </div>
  </div>

{% endblock %}

{% block bodyEnd %}
<div class="proto-action big">
    <a href="../../share-result-lateral-flow/v17/">
      <div class="proto-action-text govuk-!-font-size-19 govuk-!-padding-2 govuk-!-margin-left-3">Report results</div>
    </a>
  </div>
{% endblock %}