{% set version = "v1" %}
{% set pageTitle = "Get a collect code to collect rapid lateral flow tests for coronavirus (COVID-19)" %}

{% extends "includes/layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{ pageTitle }}</h1>

    <p class="govuk-body govuk-!-margin-bottom-2">Use this service to get a collect code so you can pick up rapid lateral flow tests from:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a COVID-19 test site collection point</li>
      <li>your school, college, university or workplace collection point</li>
    </ul>
    <p class="govuk-body">You do not need a collect code to get rapid lateral flow tests from a pharmacy. See other ways to get a rapid lateral flow test.</p>

    <h2 class="govuk-heading-m">How it works</h2>
    <p class="govuk-body">You will receive a text with your temporary password. You must use this within 7 days before it expires. Sign in with your email address as your username.</p>

    <h3 class="govuk-heading-s">1. Get a collect code</h3>
    <p class="govuk-body">
      Before you go to the collection site, use this service to get a collect code. You can create an account so it’s quicker next time.<br><br>
      You can also get a collect code by calling 119 (free from landlines and mobiles). Lines are open from 7am to 11pm.<br><br>
      We’ll send your collect code by email or text. You can print your code.
    </p>

    <h3 class="govuk-heading-s">2. Collect your tests</h3>
    <p class="govuk-body">
      Take your collect code to the collection point. Someone will scan your code and give you the tests.
    </p>

    <h3 class="govuk-heading-s">3. Do the test</h3>
    <p class="govuk-body">
      After you’ve done the test, you should report your test result. We’ll tell you how to report your result when we send your collect code. You can also find this information in the test instructions.
    </p>

    <a href="/lfd-collection-registration/{{version}}/do-you-have-symptoms" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-top-4" data-module="govuk-button">
      Get a collect code
    </a>

  </div>
</div>

{% endblock %}
