{% set version = "v1" %}
{% set pageTitle = "You need to provide contact details or call 119" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

<a class="govuk-back-link" href="/lfd-collection-registration/{{version}}/mobile-number">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            {{ pageTitle }}
        </h1>
        <p class="govuk-body">
          If you want to use this online service to get a collect code, you need to go back and add an email address or mobile number.<br><br>
          <a href="/lfd-collection-registration/{{version}}/email-address" class="govuk-link">Add an email address</a><br><br>
          <a href="/lfd-collection-registration/{{version}}/mobile-number" class="govuk-link">Add a mobile number </a><br><br>
          If you cannot provide an email address or mobile number, call 119 for help.<br><br>
        </p>

    </div>
</div>

{% endblock %}
