{% set version = "v1" %}
{% set pageTitle = "Check your mobile phone" %}

<!DOCTYPE html>
<!-- [if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><html lang="en" style="{{ html_style }}"> -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>{% block pageTitle %}{{pageTitle}} - NHS.UK{% endblock %}</title>

    <link href="https://www.nhs.uk/" rel="preconnect">
    <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>

    <link href="/public/stylesheets/nhs_application.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/public/stylesheets/nhsuk-site.css" media="all" rel="stylesheet" type="text/css" />

    <!-- <script src="nhsuk.min.js" defer></script> -->
  </head>

  <body class="{{ bodyClasses }}" style="background-color: black ;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin: 50px auto;
  display: flex;
  flex-direction: column;">

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    {% block main %}



      <div style="background-color: #eaeaea; border-radius: 10px; width: 60%; position: absolute; left: 20%; top: 15%; padding: 40px; padding-bottom: 0px">
        <p>
          Dear Pete Boam<br>
          Date of birth: 19 July 1976<br><br>

          Here is your collect code:<br><br>

          NYX7  CT5Z   8VF7  7FW4<br><br>

          Show this code at a collection point to pick up your test packs.<br><br>

          You can collect up to 2 packs of 7 tests at a time (14 tests in total).<br><br>

          In each test pack you’ll find 7 rapid lateral flow tests and instructions on how to take the test and report results.<br><br>

          Got any questions? Call our customer contact centre between 7am and 11pm:<br><br>

          England, Wales and Northern Ireland: call 119 (free from mobiles and landlines)<br><br>

          Scotland: call 0300 303 2713 (charged at your standard network rate)
        </p>
      </div>



    {% endblock %}

  </body>

  {% block bodyEnd %}
  <div style="background-color: #ffeb3b; height: 35px; width: 114px; position: absolute; right: 0; display: flex; align-items: center; box-shadow: -7px -7px 12px -7px rgba(0, 0, 0, 0.85)">
    <a style="font-weight: bold; text-decoration: none; outline: none; background-color: none" href="../../share-result-lateral-flow/v17/">
      <div class="proto-action-text govuk-!-margin-left-3" style="font-size: 1rem">Report results</div>
    </a>
  </div>
  {% endblock %}


</html>
