{% set version = "v2" %}
{% set folder = "prereg" %}
{% set pageTitle = "Create a Test and Trace account or test pass" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ pageTitle }}</h1>

      <p class="govuk-body govuk-!-font-size-24">Use this service to create a Test and Trace account or test pass for you or someone else.</p>

      <p class="govuk-body">
        An account or test pass will help you get tested quicker at a workplace, education or asymptomatic test site.
      <p>

      <p class="govuk-body">You can:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>create an account so you can order and register test kits quicker</li>
        <li>save time filling in your personal details everytime you get tested at a test site</li>
      </ul>

      <p class="govuk-body">To create an account you must have an email address and mobile number. If you do not have both you can still create a test pass.</p>

      <h2 class="govuk-heading-m">How we use your data</h2>
      <p class="govuk-body">To find out how we use your personal data when you register for a coronavirus test, <a class="govuk-link" href="#">read the coronavirus privacy note.</a></p>

      <a href="/{{folder}}/{{ version }}/who" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
    </a>

    </div>
  </div>
{% endblock %}
