{% set pageTitle = "We've cancelled your order" %}

{% extends "includes/layout-intl-arrivals-email.html" %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <p>&nbsp;</p>
      </div>
    <div class="govuk-grid-column-one-half">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ pageTitle }}</h1>

      <div class="govuk-inset-text">
        <p class="govuk-!-margin-bottom-1">Order number</p>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold">1WE83JD</p>
      </div>
      
      <p>You cannot use any of the unique booking references from this order to enter the UK.</p>

    <h2 class="govuk-heading-m">Traveller details</h2>

    <p>First name: Steve <br />
        Last name: Hine <br />
        Date of birth: 4 January 1982 <br />
        Unique booking reference: xxxxxxxxxxxx
    </p>

    <p>First name: Emily <br />
        Last name: Hine <br />
        Date of birth: 4 January 1982 <br />
        Unique booking reference: xxxxxxxxxxxx
    </p>

    <h2 class="govuk-heading-m">If your travel plans change</h2>
    
    <p>Call our contact centre:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>0151 676 0491 from the UK</li>
        <li>+44 (0)151 676 0491 from outside the UK</li>
    </ul>

    </div>
    <div class="govuk-grid-column-one-quarter"></div>
  </div>
{% endblock %}
