{% set version = "v1" %}
{% extends "includes/layout.html" %}
{% set serviceName = "Test Site Results" %}
{% set pageTitle = "Enter code" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{ pageTitle }}</h1>
      <p class="govuk-body">We have delivered the authentication code by SMS to +********1234. Please enter the code to complete authentication.</p>

      <form action="results-leaders-v1" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="">
            Code
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="" name="" type="number" pattern="[0-9]*" inputmode="numeric">
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Verify
        </button>
      </form>

    </div>
  </div>


{% endblock %}
