{% set version = "v1" %}
{% extends "includes/layout.html" %}
{% set serviceName = "Test Site Results" %}
{% set pageTitle = "Forgot your password?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{ pageTitle }}</h1>
      <p class="govuk-body">Enter your email below and we will send a message to reset your password.</p>

      <form action="results-leaders-v1" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="">
            Email
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="" name="" type="text">
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
  </div>


{% endblock %}
