{% set pageHeading = "Who are you creating test registration codes for?" %}
 {% set version = "organisational/test-pass" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}
{% block beforeContent %}
<div class=“”>
  <div class=“govuk-grid-row”>
    <div class=“govuk-grid-column-full”>
      <a class="govuk-back-link" href="javascript:window.history.go(-1);">Back</a>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Who are you creating test registration codes for?</h1>

            <form class="form" action="" method="post">

      <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live" name="who" type="radio" value="residents">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                Residents
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-2" name="who" type="radio" value="staff">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                Staff
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-3" name="who" type="radio" value="other">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                Other (for example, visitors)
              </label>
            </div>



    <br><br>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
