{% set version = "v2" %}
{% set pageTitle = "Check your answers" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% if data['contact-details-same'] == "No" %}
<a class="govuk-back-link" href="/international-arrivals/{{version}}/contact-details">Back</a>
{% else %}
<a class="govuk-back-link" href="/international-arrivals/{{version}}/contact-details-same">Back</a>
{% endif %}

{% endblock %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}
​
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form action="/international-arrivals/{{version}}/people-confirmed" method="post" novalidate>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">{{ pageTitle }}</h1>

      <div style="display: flex; justify-content: space-between; align-items: flex-end;">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Personal details</h2>
        <p class="govuk-body">
          <a href="/international-arrivals/{{version}}/personal-details">
            Change
            <span class="govuk-visually-hidden">name</span>
          </a>
        </p>
      </div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['first-name'] or 'Jane' }} {{ data['last-name'] or 'Smith' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a href="/international-arrivals/{{version}}/personal-details">
              Change
              <span class="govuk-visually-hidden">name</span>
            </a> -->
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Passport number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['passport-number'] or '50213876' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a href="/international-arrivals/{{version}}/personal-details">
              Change
              <span class="govuk-visually-hidden">passport number</span>
            </a> -->
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['date-of-birth-day'] or '2 June 1984' }} {{ data['date-of-birth-month'] }} {{ data['date-of-birth-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Coronavirus vaccine
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['vaccine'] == "Yes, they've had 1 dose" and data['vaccine-date'] == "Less than 7 days ago" %}
            1 dose, less than 7 days ago
            {% elseif data['vaccine'] == "Yes, they've had 1 dose" and data['vaccine-date'] == "7 to 14 days ago" %}
            1 dose, 7 to 14 days ago
            {% elseif data['vaccine'] == "Yes, they've had 1 dose" and data['vaccine-date'] == "More than 14 days ago" %}
              {% if data['vaccine-month'] == "1" or data['vaccine-month'] == "01" %}
              1 dose, January {{ data['vaccine-year'] }}
              {% elseif data['vaccine-month'] == "2" or data['vaccine-month'] == "02" %}
              1 dose, February {{ data['vaccine-year'] }}
              {% elseif data['vaccine-month'] == "3" or data['vaccine-month'] == "03" %}
              1 dose, March {{ data['vaccine-year'] }}
              {% elseif data['vaccine-month'] == "4" or data['vaccine-month'] == "04" %}
              1 dose, April {{ data['vaccine-year'] }}
              {% elseif data['vaccine-month'] == "5" or data['vaccine-month'] == "05" %}
              1 dose, May {{ data['vaccine-year'] }}
              {% elseif data['vaccine-month'] == "6" or data['vaccine-month'] == "06" %}
              1 dose, June {{ data['vaccine-year'] }}
              {% elseif data['vaccine-month'] == "7" or data['vaccine-month'] == "07" %}
              1 dose, July {{ data['vaccine-year'] }}
              {% elseif data['vaccine-month'] == "8" or data['vaccine-month'] == "08" %}
              1 dose, August {{ data['vaccine-year'] }}
              {% elseif data['vaccine-month'] == "9" or data['vaccine-month'] == "09" %}
              1 dose, September {{ data['vaccine-year'] }}
              {% elseif data['vaccine-month'] == "10" %}
              1 dose, October {{ data['vaccine-year'] }}
              {% elseif data['vaccine-month'] == "11" %}
              1 dose, November {{ data['vaccine-year'] }}
              {% elseif data['vaccine-month'] == "12" %}
              1 dose, December {{ data['vaccine-year'] }}
              {% endif %}
            {% elseif data['vaccine'] == "Yes, they've had 2 doses" and data['vaccine-date'] == "Less than 7 days ago" %}
            2 doses, less than 7 days ago
            {% elseif data['vaccine'] == "Yes, they've had 2 doses" and data['vaccine-date'] == "7 to 14 days ago" %}
            2 doses, 7 to 14 days ago
            {% elseif data['vaccine'] == "Yes, they've had 2 doses" and data['vaccine-date'] == "More than 14 days ago" %}
              {% if data['vaccine-month'] == "1" or data['vaccine-month'] == "01" %}
              2 doses, January {{ data['vaccine-year'] }}
              {% elseif data['vaccine-month'] == "2" or data['vaccine-month'] == "02" %}
              2 doses, February {{ data['vaccine-year'] }}
              {% elseif data['vaccine-month'] == "3" or data['vaccine-month'] == "03" %}
              2 doses, March {{ data['vaccine-year'] }}
              {% elseif data['vaccine-month'] == "4" or data['vaccine-month'] == "04" %}
              2 doses, April {{ data['vaccine-year'] }}
              {% elseif data['vaccine-month'] == "5" or data['vaccine-month'] == "05" %}
              2 doses, May {{ data['vaccine-year'] }}
              {% elseif data['vaccine-month'] == "6" or data['vaccine-month'] == "06" %}
              2 doses, June {{ data['vaccine-year'] }}
              {% elseif data['vaccine-month'] == "7" or data['vaccine-month'] == "07" %}
              2 doses, July {{ data['vaccine-year'] }}
              {% elseif data['vaccine-month'] == "8" or data['vaccine-month'] == "08" %}
              2 doses, August {{ data['vaccine-year'] }}
              {% elseif data['vaccine-month'] == "9" or data['vaccine-month'] == "09" %}
              2 doses, September {{ data['vaccine-year'] }}
              {% elseif data['vaccine-month'] == "10" %}
              2 doses, October {{ data['vaccine-year'] }}
              {% elseif data['vaccine-month'] == "11" %}
              2 doses, November {{ data['vaccine-year'] }}
              {% elseif data['vaccine-month'] == "12" %}
              2 doses, December {{ data['vaccine-year'] }}
              {% endif %}
            {% else %}
            No
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a href="/antigen/{{version}}/global-registration/edit-check-answers/coronavirus-vaccine">
              Change
              <span class="govuk-visually-hidden">Coronavirus vaccine</span>
            </a> -->
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Positive coronavirus test
          </dt>
           <dd class="govuk-summary-list__value">
            {{ data['previous-infection'] or 'No' }}
           </dd>
         <dd class="govuk-summary-list__actions">
            <!-- <a href="/antigen/{{version}}/global-registration/edit-check-answers/previous-infection">
              Change
              <span class="govuk-visually-hidden">positive coronavirus test</span>
            </a> -->
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Ethnicity
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['ethnic-group'] or 'White' }}{% if data['ethnic-background'] !== 'Prefer not to say' and data['ethnic-background'] !== undefined %}{% if data['ethnic-background'] == "Another" %}, {{ data['another-ethnic-background'] or 'Irish'}}{% else %}, {{ data['ethnic-background'] or 'Irish'}}{% endif %}{% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a href="/antigen/{{version}}/global-registration/edit-check-answers/ethnic-group">
              Change
              <span class="govuk-visually-hidden">ethnicity</span>
            </a> -->
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            NHS number
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['nhs-number-known'] == "Yes" %}
            {{ data['nhs-number'] }}
            {% else %}
            Not known
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a href="/antigen/{{version}}/global-registration/edit-check-answers/nhs-number-known">
              Change
              <span class="govuk-visually-hidden">NHS number</span>
            </a> -->
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Home address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['address'] or '5 Souterhead Road' }}<br>
            {{ data['home-postcode'] or 'LS1 3BE' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a href="/antigen/{{version}}/global-registration/edit-check-answers/nhs-number-known">
              Change
              <span class="govuk-visually-hidden">NHS number</span>
            </a> -->
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Medical record (male, female, other…)
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['gender'] or 'Female' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a href="/international-arrivals/{{version}}/gender">
              Change
              <span class="govuk-visually-hidden">medical record</span>
            </a> -->
          </dd>
        </div>
      </dl>

      <div style="display: flex; justify-content: space-between; align-items: flex-end;">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Contact details</h2>
        <p class="govuk-body">
          <a href="/international-arrivals/{{version}}/contact-details">
            Change
            <span class="govuk-visually-hidden">name</span>
          </a>
        </p>
      </div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mobile number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['mobile-phone-number'] or '077719665478' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a href="/international-arrivals/{{version}}/contact-details">
              Change
              <span class="govuk-visually-hidden">country of residence</span>
            </a> -->
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['email-address'] or 'jsmith@example.co.uk' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a href="/international-arrivals/{{version}}/contact-details">
              Change
              <span class="govuk-visually-hidden">email address</span>
            </a> -->
          </dd>
        </div>
      </dl>

      <div style="display: flex; justify-content: space-between; align-items: flex-end;">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Travel details</h2>
        <p class="govuk-body">
          <a href="/international-arrivals/{{version}}/travel-details-same">
            Change
            <span class="govuk-visually-hidden">name</span>
          </a>
        </p>
      </div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Flight, Eurostar or ferry number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['flight-eurostar-ferry'] or '9W15' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a href="/international-arrivals/{{version}}/travel-details">
              Change
              <span class="govuk-visually-hidden">flight, eurostar or ferry number</span>
            </a> -->
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country you’re departing from
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['port-of-origin'] or 'Hamburg' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a href="/international-arrivals/{{version}}/travel-details">
              Change
              <span class="govuk-visually-hidden">country of residence</span>
            </a> -->
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Airport, train station or ferry port you’re arriving at
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['port-of-entry'] or 'Heathrow' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a href="/international-arrivals/{{version}}/travel-details">
              Change
              <span class="govuk-visually-hidden">country of residence</span>
            </a> -->
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of entry
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['date-of-entry-month'] == "1" or data['date-of-entry-month'] == "01" %}
            {{ data['date-of-entry-day'] }} January {{ data['date-of-entry-year'] }}
            {% elseif data['date-of-entry-month'] == "2" or data['date-of-entry-month'] == "02" %}
            {{ data['date-of-entry-day'] }} February {{ data['date-of-entry-year'] }}
            {% elseif data['date-of-entry-month'] == "3" or data['date-of-entry-month'] == "03" %}
            {{ data['date-of-entry-day'] }} March {{ data['date-of-entry-year'] }}
            {% elseif data['date-of-entry-month'] == "4" or data['date-of-entry-month'] == "04" %}
            {{ data['date-of-entry-day'] }} April {{ data['date-of-entry-year'] }}
            {% elseif data['date-of-entry-month'] == "5" or data['date-of-entry-month'] == "05" %}
            {{ data['date-of-entry-day'] }} May {{ data['date-of-entry-year'] }}
            {% elseif data['date-of-entry-month'] == "6" or data['date-of-entry-month'] == "06" %}
            {{ data['date-of-entry-day'] }} June {{ data['date-of-entry-year'] }}
            {% elseif data['date-of-entry-month'] == "7" or data['date-of-entry-month'] == "07" %}
            {{ data['date-of-entry-day'] }} July {{ data['date-of-entry-year'] }}
            {% elseif data['date-of-entry-month'] == "8" or data['date-of-entry-month'] == "08" %}
            {{ data['date-of-entry-day'] }} August {{ data['date-of-entry-year'] }}
            {% elseif data['date-of-entry-month'] == "9" or data['date-of-entry-month'] == "09" %}
            {{ data['date-of-entry-day'] }} September {{ data['date-of-entry-year'] }}
            {% elseif data['date-of-entry-month'] == "10" %}
            {{ data['date-of-entry-day'] }} October {{ data['date-of-entry-year'] }}
            {% elseif data['date-of-entry-month'] == "11" %}
            {{ data['date-of-entry-day'] }} November {{ data['date-of-entry-year'] }}
            {% elseif data['date-of-entry-month'] == "12" %}
            {{ data['date-of-entry-day'] }} December {{ data['date-of-entry-year'] }}
            {% else %}
            5 May 2021
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a href="/international-arrivals/{{version}}/travel-details">
              Change
              <span class="govuk-visually-hidden">country of residence</span>
            </a> -->
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Test package
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['travel-route-same'] or 'Day 2 and Day 8 test' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a href="/antigen/{{version}}/global-registration/edit-check-answers/date-of-birth">
              Change
              <span class="govuk-visually-hidden">date of birth</span>
            </a> -->
          </dd>
        </div>
      </dl>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

      </form>

    </div>


  </div>
{% endblock %}
