{% set version = "v2" %}
{% set pageTitle = "Confirm tests" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

{% endblock %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      <p class="govuk-body">
        You can order travel packages for other people that you're travelling with. They must be quarantining at the same address as you (if applicable).
      </p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">{{ data['first-name'] or 'Pete' }} {{ data['last-name'] or 'Smith' }}</th>
            <td class="govuk-table__cell">
              {{ data['date-of-birth-day'] or '2' }}/{{ data['date-of-birth-month'] or '03' }}/{{ data['date-of-birth-year'] or '1979' }}
              <!-- {{ data['email-address'] or 'email@example.com' }}
              <br>
              {{ data['mobile-phone-number'] or '+447782808451' }} -->
            </td>
            <td class="govuk-table__cell">
              {{ data['travel-route'] or 'Day 2 test' }}
            </td>
            <td class="govuk-table__cell">
              <p class="govuk-body-m" style="display: flex; justify-content: flex-end;">£100</p>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">{{ data['first-name-person-1'] or 'Jane' }} {{ data['last-name-person-1'] or 'Smith' }}</th>
            <td class="govuk-table__cell">
              {{ data['date-of-birth-person-1-day'] or '2' }}/{{ data['date-of-birth-person-1-month'] or '06' }}/{{ data['date-of-birth-person-1-year'] or '1984' }}
              <!-- {{ data['email-address-person-1'] or 'jsmith@example.com' }}
              <br>
              {{ data['mobile-phone-number-person-1'] or '+447732868489' }} -->
            </td>
            <td class="govuk-table__cell">
              {{ data['travel-route-same-person-1'] or 'Day 2 & day 8 test' }}
            </td>
            <td class="govuk-table__cell">
              <p class="govuk-body-m" style="display: flex; justify-content: flex-end;">£200</p>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="border: none">
   
            </th>
            <td class="govuk-table__cell" style="border: none">
          
            </td>
            <td class="govuk-table__cell" style="border: none">
           
            </td>
            <td class="govuk-table__cell" style="border: none">
              <p class="govuk-body-m" style="display: flex; justify-content: flex-end;"><strong class="govuk-!-padding-right-4">Total</strong> £300</p>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="inline-buttons-wrapper">
        <form class="form" action="/international-arrivals/{{version}}/delivery-address" method="post">
          <button class="govuk-button" data-module="govuk-button">
            Continue to payment
          </button>
        </form>
        <form class="form" action="#" method="post">
          <button class="govuk-button govuk-button--secondary govuk-!-margin-right-1" data-module="govuk-button">
            Add another person
          </button>
        </form>
      </div>

    </div>
  </div>

{% endblock %}
