{% set version = "v1" %}
{% set pageTitle = "Home test kit order submitted" %}

{% extends "includes/layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title govuk-!-margin-bottom-3">{{ pageTitle }}</h1>
      <p class="govuk-body govuk-!-margin-bottom-2" style="color: #ffffff"> </p>
      <p class="govuk-body govuk-!-margin-bottom-0" style="color: #ffffff">25th June 2021</p>
    </div>

    <h2 class="govuk-heading-s govuk-!-margin-top-8">What happens next?</h2>

    <p class="govuk-class govuk-!-margin-bottom-7">You can check the status of this order on the home test kit order history page.</p>

    <div class="inline-button-wrapper" style="justify-content: flex-start;">

      <form action="/bulk-order-home-kits/{{version}}/order-kits/what-test-package-order" method="post" novalidate>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Order more tests
        </button>

      </form>

      <form action="/bulk-order-home-kits/{{version}}/order-kits/" method="post" class="right-button-margin" novalidate>

        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Finish
        </button>

      </form>

  </div>
    

  </div>
</div>

{% endblock %}
