{% set version = "v1" %}
{% set pageTitle = "Order number 1234567899" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div> 

  <a class="govuk-back-link" href="/bulk-order-home-kits/{{version}}/order-kits/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/bulk-order-home-kits/{{version}}/order-kits/what-test-package-order" method="post">


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="upload-patient-list-1-hint upload-patient-list-2-hint upload-patient-list-3-hint upload-patient-list-4-hint upload-patient-list-5-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
                {{ pageTitle }}
              </h1><strong class="govuk-tag govuk-tag--red">
                PARTIALLY PROCESSED
              </strong>
            </legend>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <span id="upload-patient-list-1-hint" class="govuk-body">
              200 recipients<br><br>
              Targeted surge test<br><br>
              Submitted 25 Mar 2022<br><br>
              <a class="govuk-link" href="#">Download full.CSV</a><br><br>
            </span>

            <span id="upload-patient-list-1-hint" class="govuk-body">
              <strong>89 Errors detected</strong><br><br>
            </span>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <span><p class="govuk-body">Some of the test kits have not been ordered as data was missing or invalid. Download the error file to fix this.</p></span>

            <span id="upload-patient-list-1-hint" class="govuk-body">
              <a class="govuk-link" href="#">Download error.CSV</a><br><br>
            </span>


          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue to upload fixed file</button>

      </form>

    </div>
  </div>

{% endblock %}