{% set version = "v1" %}
{% set pageTitle = "Which test package do you want to order?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <a class="govuk-back-link" href="/bulk-order-home-kits/{{version}}/order-kits/upload-file-test-package">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/bulk-order-test-kits/{{version}}/action1/what-test-package-order" method="post">

        <fieldset class="govuk-fieldset" aria-describedby="test-package-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
              {{ pageTitle }}
            </h1>
          </legend>

          <span id="test-package-hint" class="govuk-body">
            If your order is not covered by the previously agreed forecasting and time frames, or is of an unexpected volume, contact the home channel live ops team before progressing.
          </span><br><br>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="test-package-1" name="test-package" type="radio" value="Sequenced pre-linked PCR test kit" {{ checked("test-package", "Sequenced pre-linked PCR test kit") }}>
              <label class="govuk-label govuk-radios__label" for="test-package-1">
                Sequenced pre-linked PCR test kit
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="test-package-2" name="test-package" type="radio" value="Private provider validation kit" {{ checked("test-package", "Private provider validation kit") }}>
              <label class="govuk-label govuk-radios__label" for="test-package-2">
                Private provider validation kit
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="test-package-3" name="test-package" type="radio" value="PCR test kit to support antiviral treatment" {{ checked("test-package", "PCR test kit to support antiviral treatment") }}>
              <label class="govuk-label govuk-radios__label" for="test-package-3">
                PCR test kit to support antiviral treatment
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="test-package-4" name="test-package" type="radio" value="Pre-Registered PCR test kit to support antiviral treatment" {{ checked("test-package", "Pre-Registered PCR test kit to support antiviral treatment") }}>
              <label class="govuk-label govuk-radios__label" for="test-package-4">
                Pre-Registered PCR test kit to support antiviral treatment
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="test-package-5" name="test-package" type="radio" value="LFD test kit to support antiviral treatment" {{ checked("test-package", "LFD test kit to support antiviral treatment") }}>
              <label class="govuk-label govuk-radios__label" for="test-package-5">
                LFD test kit to support antiviral treatment
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="test-package-6" name="test-package" type="radio" value="BAU PCR" {{ checked("test-package", "BAU PCR") }}>
              <label class="govuk-label govuk-radios__label" for="test-package-6">
                BAU PCR
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="test-package-7" name="test-package" type="radio" value="Pre-Registered BAU PCR" {{ checked("test-package", "Pre-Registered BAU PCR") }}>
              <label class="govuk-label govuk-radios__label" for="test-package-7">
                Pre-Registered BAU PCR
              </label>
            </div>
          </div>

        </fieldset>

        <button class="govuk-button govuk-!-margin-top-6" type="submit" data-module="govuk-button">
          Continue
        </button>


      </form>

    </div>
  </div>

{% endblock %}
