{% set pageHeading = "Check the details for each person" %}
 {% set version = "organisational/test-pass" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}
{% block beforeContent %}
<div class=“”>
  <div class=“govuk-grid-row”>
    <div class=“govuk-grid-column-full”>
      <a class="govuk-back-link" href="javascript:window.history.go(-1);">Back</a>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Check the details for each person</h1>

      <form class="form" action="/organisational/test-pass/Check2" method="post">

        <p>Once you’ve checked all the details on this page, confirm they’re correct by ticking the box. There may be more than one page for you to review, depending on how many test registration codes you're creating.</p>

<h4 class="govuk-heading-s">Displaying records 1 to 2 of 2</h4>

<table class="govuk-table">


  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Date of birth</th>
      <th scope="col" class="govuk-table__header">Contact details</th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">John Smith</td>
      <td class="govuk-table__cell">01 January 1990</td>
      <td class="govuk-table__cell">07654 123 123 <br>johnsmith@gmail.com</td>
      <td class="govuk-table__cell"><a href="#">View details</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Joe Davies</td>
      <td class="govuk-table__cell">21 March 1998</td>
      <td class="govuk-table__cell">07654 123 123<br>joe@hotmail.com</td>
      <td class="govuk-table__cell"><a href="#">View details</a></td>
    </tr>
  </tbody>
</table>

<h4 class="govuk-heading-s">Confirm records 1 to 2 of 2</h4>

<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
    I confirm all details are correct
  </label>
</div>
<br><br>
<button class="govuk-button" data-module="govuk-button">
Save and continue
</button>

      </form>

    </div>
  </div>

{% endblock %}
