{% set pageHeading = "How do you want to create your test registration codes?" %}
 {% set version = "organisational/test-pass" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}
{% block beforeContent %}
<div class=“”>
  <div class=“govuk-grid-row”>
    <div class=“govuk-grid-column-full”>
      <a class="govuk-back-link" href="javascript:window.history.go(-1);">Back</a>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">How do you want to create your test registration codes?</h1>

      <form class="" action="" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sign-in" name="spreadsheet" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
                <label class="govuk-label govuk-radios__label" for="sign-in">
                  Use our spreadsheet to add a list of people
                </label>
                <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                  Enter and upload details for up to 100 people at a time
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sign-in-2" name="spreadsheet" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="sign-in-2">
                  Add each person’s details one by one
                </label>
                <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
                  Use an online form to enter their details
                </div>
              </div>
            </div>

          </fieldset>
        </div>


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
