{% set version = "v7" %}
{% set pageTitle = "Select which area best describes your workplace?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="/antibody/{{version}}/refer-and-triage/currently-in-work">Back</a>
{% endblock %}

{% block content %}
{% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/antibody/{{version}}/action7/area-of-work" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="area-of-work-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
                {{ pageTitle }}
              </h1>
            </legend>
            <span id="area-of-work-hint" class="govuk-body">
              For example, if you are a cook in a care home, select "social care".
            </span>
            <div class="govuk-radios govuk-!-margin-top-5">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="area-of-work-1" name="area-of-work" type="radio" value="Teaching and education" {{ checked("area-of-work", "Teaching and education") }}>
                <label class="govuk-label govuk-radios__label" for="area-of-work-1">
                  Teaching and education
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="area-of-work-2" name="area-of-work" type="radio" value="Health" {{ checked("area-of-work", "Health") }}>
                <label class="govuk-label govuk-radios__label" for="area-of-work-2">
                  Health
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="area-of-work-3" name="area-of-work" type="radio" value="Social care" {{ checked("area-of-work", "Social care") }}>
                <label class="govuk-label govuk-radios__label" for="area-of-work-3">
                  Social care
                </label>
              </div>
              {% if data['antibody-survey-or-study'] == "Yes" %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="area-of-work-4" name="area-of-work" type="radio" value="Transport" {{ checked("area-of-work", "Transport") }}>
                <label class="govuk-label govuk-radios__label" for="area-of-work-4">
                  Transport
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="area-of-work-5" name="area-of-work" type="radio" value="Retail" {{ checked("area-of-work", "Retail") }}>
                <label class="govuk-label govuk-radios__label" for="area-of-work-5">
                  Retail
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="area-of-work-6" name="area-of-work" type="radio" value="Hospitality" {{ checked("area-of-work", "Hospitality") }}>
                <label class="govuk-label govuk-radios__label" for="area-of-work-6">
                  Hospitality
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="area-of-work-7" name="area-of-work" type="radio" value="Hair and beauty professionals" {{ checked("area-of-work", "Hair and beauty professionals") }}>
                <label class="govuk-label govuk-radios__label" for="area-of-work-7">
                  Hair and beauty professionals
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="area-of-work-8" name="area-of-work" type="radio" value="Information and communication" {{ checked("area-of-work", "Information and communication") }}>
                <label class="govuk-label govuk-radios__label" for="area-of-work-8">
                  Information and communication
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="area-of-work-9" name="area-of-work" type="radio" value="Finacial services and insurance" {{ checked("area-of-work", "Finacial services and insurance") }}>
                <label class="govuk-label govuk-radios__label" for="area-of-work-9">
                  Finacial services and insurance
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="area-of-work-10" name="area-of-work" type="radio" value="Manufactoring or construction" {{ checked("area-of-work", "Manufactoring or construction") }}>
                <label class="govuk-label govuk-radios__label" for="area-of-work-10">
                  Manufactoring or construction
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="area-of-work-11" name="area-of-work" type="radio" value="Civil service or local government" {{ checked("area-of-work", "Civil service or local government") }}>
                <label class="govuk-label govuk-radios__label" for="area-of-work-11">
                  Civil service or local government
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="area-of-work-12" name="area-of-work" type="radio" value="Armed forces" {{ checked("area-of-work", "Armed forces") }}>
                <label class="govuk-label govuk-radios__label" for="area-of-work-12">
                  Armed forces
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="area-of-work-13" name="area-of-work" type="radio" value="Arts, entertainment or recreation" {{ checked("area-of-work", "Arts, entertainment or recreation") }}>
                <label class="govuk-label govuk-radios__label" for="area-of-work-13">
                  Arts, entertainment or recreation
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="area-of-work-14" name="area-of-work" type="radio" value="Retired" {{ checked("area-of-work", "Retired") }}>
                <label class="govuk-label govuk-radios__label" for="area-of-work-14">
                  Retired
                </label>
              </div>
              <div class="govuk-radios__divider">or</div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="area-of-work-15" name="area-of-work" type="radio" value="Other" {{ checked("area-of-work", "Other") }}>
                <label class="govuk-label govuk-radios__label" for="area-of-work-15">
                  Other
                </label>
              </div>
              {% else %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="area-of-work-4" name="area-of-work" type="radio" value="None of the above" {{ checked("area-of-work", "None of the above") }}>
                <label class="govuk-label govuk-radios__label" for="area-of-work-4">
                  None of the above
                </label>
              </div>
              {% endif %}

            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
