{% set version = "v7" %}
{% set pageTitle = "Do you have an email address where you can receive your coronavirus results?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}

  <a class="govuk-back-link" href="/antibody/{{version}}/refer-and-triage/mobile-number-test">Back</a>
{% endblock %}

{% block content %}
{% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/antibody/{{version}}/refer-and-triage/check-your-answers" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="email-address-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                {{ pageTitle }}
              </h1>
            </legend>
            <span id="email-address-hint" class="govuk-body">
              If you do not have an email address, that's OK - we can use your mobile phone number.
            </span>
            <div class="govuk-radios govuk-radios--conditional govuk-!-margin-top-4" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="email-1" name="email" type="radio" value="Yes" data-aria-controls="conditional-email-address" {{ checked("email", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="email-1">
                  Yes, I have an email address where I can receive my results
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-email-address">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="email-address">
                    Email address
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds" id="email-address" name="email-address" type="text" value="{{ data['email-address'] }}">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="confirm-email-address">
                    Confirm email address
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds" id="confirm-email-address" name="confirm-email-address" type="text" value="{{ data['confirm-email-address'] }}">
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="email-2" name="email" type="radio" value="No" {{ checked("email", "No") }}>
                <label class="govuk-label govuk-radios__label" for="email-2">
                  No, I do not have an email address
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
      <div class="proto-action big">
        <a href="/antibody/{{version}}/refer-and-triage/contact-details">
          <div class="proto-action-text govuk-!-font-size-19 govuk-!-padding-2 govuk-!-margin-left-3">Go to option 1</div>
        </a>
      </div>
    </div>
  </div>

{% endblock %}
