{% set version = "v7" %}
{% set pageTitle = "You're not eligible for an antibody test right now" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}

<a class="govuk-back-link" href="/antibody/{{version}}/refer-and-triage/mobile-number">Back</a>
{% endblock %}

{% block content %}
{% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      <p class="nhsuk-body">
        You've told us you do not have a mobile phone that can recieve text messages.<br><br>
        The invitation code for ordering your test kit will be sent to you by text.<br><br>
        Find out more: <a href="https://www.gov.uk/government/publications/coronavirus-covid-19-antibody-tests/coronavirus-covid-19-antibody-tests" target="blank" class="govuk-link">coronavirus antibody testing</a>
      </p>

    </div>
  </div>

{% endblock %}
