{% set version = "v7" %}
{% set pageTitle = "You're not eligible for an antibody test right now" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}

<a class="govuk-back-link" href="/antibody/{{version}}/refer-and-triage/currently-in-work">Back</a>
{% endblock %}

{% block content %}
{% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      <p class="govuk-body">
        You've told us you are not currently in work.<br><br>
        Only specific groups are eligible for antibody test kits right now.<br><br>
        Find out more: <a href="https://www.gov.uk/government/publications/coronavirus-covid-19-antibody-tests/coronavirus-covid-19-antibody-tests" target="blank" class="govuk-link">coronavirus antibody testing</a>
      </p>

    </div>
  </div>

{% endblock %}
