{% set version = "v7" %}
{% set pageTitle = "You're not eligible for an antibody test right now" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}

<a class="govuk-back-link" href="/antibody/{{version}}/refer-and-triage/do-you-have-symptoms">Back</a>
{% endblock %}

{% block content %}
{% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      <p class="nhsuk-body">
        You've told us you currently have coronavirus symptoms - <a class="govuk-link" href="../../../antigen/v1/govuk/get-coronavirus-test.html">it’s more important you get a swab test to check if you have coronavirus</a><br><br>
        You can return to this service again when it has been 3 weeks since your symptoms started. It's important you wait 3 weeks to allow your antibodies to build up.<br><br>
        Find out more: <a href="https://www.gov.uk/government/publications/coronavirus-covid-19-antibody-tests/coronavirus-covid-19-antibody-tests" target="blank" class="govuk-link">coronavirus antibody testing</a>
      </p>

    </div>
  </div>

{% endblock %}
