{% set fullname %}
  {% if data.cuFirstName and data.cuLastName %}
    {{ data.cuFirstName }} {{ data.cuLastName }}
    {% else %}
      Alun Smith
  {% endif %}
{% endset %}
{% set dob %}
  {% if data["cuDOB-day"] and data["cuDOB-month"] and data["cuDOB-year"]  %}
    {{ data["cuDOB-day"]}} {{ data["cuDOB-month"] | monthToWord }} {{ data["cuDOB-year"]}}
  {% else %}
    31 March 1975
  {% endif %}
{% endset %}
{% set timeDate %}
  {% if data.cuDate and data.cuTime %}
    {% if data.cuDate == "Another date" %}
      {{ data["cuExactDate-day"]}} {{ data["cuExactDate-month"] | monthToWord }} {{ data["cuExactDate-year"]}}:
    {% else %}
      {{ data.cuDate | returnDateShort }}:
    {% endif %}
    {{ data.cuTime }}{{data.cuAMPM}}

  {% else %}
    {{ "Today" | returnDateShort }}: 9am
  {% endif %}
{% endset %}
{% set pageHeading = "Personal details: Alun Smith" %}
 {% set version = "organisational/register/v5" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>

      {{ govukSummaryList({
        rows: [
        {
          key: {
            text: "Full name"
          },
          value: {
            text: fullname
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Name"
              }
            ]
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: dob
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Gender"
            },
            value: {
              text: data.cuGender or "Male"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Gender"
                }
              ]
            }
          },
          {
            key: {
              text: "Ethnic group"
            },
            value: {
              text: data.cuEthnicGroup or "Black, African, Black British or Caribbean"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Ethnic group"
                }
              ]
            }
          },
          {
            key: {
              text: "Ethnic background"
            },
            value: {
              text: data.cuEthnicDesc or "Caribbean"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Ethnic background"
                }
              ]
            }
          },

          {
            key: {
              text: "In work"
            },
            value: {
              text: data.cuInWork or "Yes, and for the last 2 weeks they've travelled to work"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Ethnic group"
                }
              ]
            }
          },

          {
            key: {
              text: "Area of work"
            },
            value: {
              text: data.cuAreaWork or "Health and social care"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Ethnic group"
                }
              ]
            }
          },

          {
            key: {
              text: "Occupation"
            },
            value: {
              text: "Carer"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Ethnic group"
                }
              ]
            }
          },

          {
            key: {
              text: "Employer name"
            },
            value: {
              text: "Blue Castle Care"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Ethnic group"
                }
              ]
            }
          },

          {
            key: {
              text: "Country of residence"
            },
            value: {
              text: data.cuCountry | capitalize  or "England"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Country of residence"
                }
              ]
            }
          },


          {
            key: {
              text: "Postcode"
            },
            value: {
              text: data.cuPostcode or "LS1 6AE"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Postcode"
                }
              ]
            }
          },

          {
            key: {
              text: "NHS number known"
            },
            value: {
              text: "No" if data.cuKnowNHSnumber == "no" else "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "NHS number known"
                }
              ]
            }
          },
          {
            key: {
              text: "NHS number"
            },
            value: {
              text: data.cuNHSnumber | placeholder("485 777 3456")
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "NHS number known"
                }
              ]
            }
          } if data.cuKnowNHSnumber == "yes",

          {
            key: {
              text: "Do they have any symptoms?"
            },
            value: {
              text: data.cuCoronavirus or "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Do they have any symptoms"
                }
              ]
            }
          },

          {
            key: {
              text: "Symptoms start date"
            },
            value: {
              text: data['bday-day'] | placeholder("20 June 2020")
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Do they have any symptoms"
                }
              ]
            }
          } if data.cuCoronavirus == "Yes",

            {
              key: {
                text: "Email"
              },
              value: {
                text: data.cuEmail or "john.smith@test.com"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "Email"
                  }
                ]
              }
            },
            {
              key: {
                text: "Mobile"
              },
              value: {
                text: "None provided" if data.cuMobileQuestion == "No" else data.cuMobile | placeholder("07700912357")
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "Mobile"
                  }
                ]
              }
            }
        ]
      }) }}


      <form class="" action="javascript:window.history.go(-1);" method="get">

        <input class="govuk-button" type="submit" value="Save and return">

      </form>

    </div>
  </div>

{% endblock %}
