{% extends "layout.html" %} {% block pageTitle %} DPT Prototypes Index {%
endblock %} {% block header %} {{ govukHeader({ serviceName: "DPT Prototypes" })
}} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {#
    <h1 class="govuk-heading-l">DPT Prototype index</h1>
    #} {#
    <p class="govuk-body-l">
      These prototypes are work in progress and are only temporarily hosted
      here.
    </p>
    #} {#
    <p>
      Please continue to use the
      <a href="https://app.zeplin.io/project/5e9f07670480db7de98d0d96"
        >designs on Zeplin</a
      >
      unless you have specifically been given a link to use.
    </p>
    #}

    <span class="govuk-caption-l">Covid-19 Testing Admin Portal</span>
    <h2 class="govuk-heading-m">
      Adding sample barcode to identity verification screen
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="Option1/CTAP-home.html">Option 1</a></li>
      <br />
      <li><a href="Option2/CTAP-home.html">Option 2</a></li>
    </ul>

    <div class="govuk-!-padding-bottom-9"></div>
  </div>
</div>

{% endblock %}
