{% set pageHeading = "When did you take the tests?" %}
{% set version = "organisational/register/v4" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

{% set anotherDate %}
{{ govukDateInput({
  id: "cuOrgPrepopDateExact",
  namePrefix: "cuOrgPrepopDateExact",
  fieldset: {
    legend: {
      text: "Date of swab test",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "For example, 26 3 2020"
  },
  errorMessage: {
    text: "Date of swab test must be within the last 7 days"
  },
  items: [
    {
      classes: "govuk-input--width-2 govuk-input--error",
      name: "day",
      value: "15"
    },
    {
      classes: "govuk-input--width-2 govuk-input--error",
      name: "month",
      value: "7"
    },
    {
      classes: "govuk-input--width-4 govuk-input--error",
      name: "year",
      value: "2020"
    }
  ]
}) }}
{% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Date of swab test must be within the last 7 days",
              href: "#cuOrgPrepopDateExact"
            }
          ]
        }) }}

      <form class="" action="/{{ version }}/bulk/list/index-with-confirm" method="get">
        {{ govukRadios({
            idPrefix: "cuOrgPrepopDate",
            name: "cuOrgPrepopDate",
            fieldset: {
              legend: {
                text: pageHeading,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },

            items: [
              {
                value: "Today",
                text: "Today, " + "today" | returnDate
              },
              {
                value: "Yesterday",
                text: "Yesterday, " + "-1" | returnDate
              },
              {
                value: "A different date",
                text: "A different date",
                checked: true,
                conditional: {
                  html: anotherDate
                }
              },
              {
                divider: "or"
              },
              {
                value: "none",
                text: "On multiple days"
              }
            ]
          }) }}

        <input class="govuk-button" type="submit" value="Continue">

      </form>

    </div>
  </div>

{% endblock %}
