{% set version = "v1" %}
{% set pageTitle = "Book a coronavirus test for a person" %}

{% extends "includes/layout-admin-portal.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ pageTitle }}</h1>

      <p class="govuk-body govuk-!-margin-bottom-7">Use this service to help people book a coronavirus test by taking their personal details.</p>

      <h2 class="govuk-heading-m">Who can apply for a test</h2>
      <p class="govuk-body">People with <a href="#">coronavirus symptoms</a> can get a test, whether that's you or someone you live with. Some people without symptoms can also get a test.</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>high temperature</li>
          <li>new, continuous cough</li>
          <li>loss or change to your sense of smell or taste</li>
      </ul>
      <p class="govuk-body">This test can tell you if you have coronavirus at the time the swab sample is taken. The test to tell if you’ve ever had coronavirus (antibody test) is not available yet.</p>

      <h2 class="govuk-heading-m">What the test involves</h2>
      <p class="govuk-body">You can usually choose to take the test at home or at a drive-through or walk-through test site.</p>

      <p class="govuk-body">The test involves taking a swab of the inside of your nose and the back of your throat, using a long cotton bud.</p>

      <h2 class="govuk-heading-m">When to get tested</h2>

    <form action="../search" method="post">

      <button class="govuk-button" data-module="govuk-button">Try again</button>

    </form>

  </div>
</div>
{% endblock %}
