{% extends "includes/layout.html" %}

{% block pageTitle %}
  Delivery of your home test kit - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Delivery of your home test kit</h1>
      <p class="govuk-body">We'll now ask you to verify your email address and provide your home address so we can check your identity.</p>

      <a role="button" draggable="false" class="govuk-button" data-module="govuk-button" href="/">
        Continue
      </a>

    </div>
  </div>

{% endblock %}
