{% set pageHeading = "Enter your unique test kit barcode" %}
 {% set version = "organisational/register/v3" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - COVID-19
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

      <p>Use the camera on your phone or computer to scan one of the identical barcodes inside your test kit. You’ll find them attached to the plastic vial, biohazard bag and return box.</p>

      <p>You can also manually enter the 11 character reference below the barcode.</p>

      {{ govukDetails({
          summaryText: "What does the barcode look like?",
          text: "[image]"
        }) }}

        <form class="" action="/{{ version }}/single/scan" method="get">
          <input class="govuk-button govuk-button--secondary" type="submit" value="Use camera to scan barcode">
        </form>

      <form class="" action="/{{ version }}/single/name" method="get">

            {{ govukInput({
              label: {
                html: 'Test kit barcode reference'
              },
              classes: "govuk-input--width-20",
              id: "covidUpload",
              name: "cuBarcode"
            }) }}

            {{ govukInput({
              label: {
                html: 'Confirm test kit barcode reference'
              },
              classes: "govuk-input--width-20",
              id: "covidUpload",
              name: "cuBarcodeConfirm"
            }) }}

        <input class="govuk-button" type="submit" value="Continue">

      </form>

    </div>
  </div>

{% endblock %}
