{% set version = "v1" %}
{% set serviceName = electiveCareServiceName %}
{% set pageTitle = "Manage a team member" %}
{% extends "includes/layout.html" %}

{% block beforeContent %}
  {% include "includes/ec-beta-banner-v1.html" %}
  <a class="govuk-back-link" href="#">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" id="error-summary" class="govuk-error-summary" style="display: none;">
        <h2 id="error-summary-title" class="govuk-error-summary__title"> There is a problem </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list pl-0"></ul>
        </div>
      </div>
      <h1 class="govuk-heading-xl"> Manage a team member </h1>
      <form>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <div class="govuk-form-group">
              <label for="first-name" class="govuk-label"> First name </label><input id="first-name" autocomplete="off" spellcheck="false" maxlength="60" class="govuk-input"></div>
            <div class="govuk-form-group">
              <label for="last-name" class="govuk-label"> Last name </label><input id="last-name" autocomplete="off" spellcheck="false" maxlength="60" class="govuk-input"></div>
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
              <label for="email" class="govuk-label"> Email address </label>
              <span id="email-hint" class="govuk-hint"> This should be their work email address </span><input id="email" autocomplete="off" aria-describedby="email-hint" spellcheck="false" maxlength="254" class="govuk-input"></div>
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h4 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-6"> Sign in access </h4>
            <p class="govuk-body">Email and password</p>
            <a class="govuk-link govuk-body" href="#" style="display: block;">Send a new temporary password</a>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Learn about sign in options
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">There are 2 ways for team members to sign in:</p>
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Email and password</h3>
                <ul class="govuk-list govuk-list--bullet">
                  <li>you can create team members with an email and password</li>
                  <li>team members cannot view test results</li>
                </ul>
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Smartcard</h3>
                <ul class="govuk-list govuk-list--bullet">
                  <li>you cannot create team members who have a Smartcard</li>
                  <li>team members need to ask for access when they first use their Smartcard on the test kit ordering portal</li>
                  <li>a team member with enhanced access can go in and approve this request</li>
                  <li>team members can view test results</li>
                </ul>
              </div>
            </details>
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h4 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-3"> Permissions</h4>
            <p class="govuk-body">Team member has <strong>enhanced permissions</strong>. To change these permissions, contact the elective care support team.</p>
            <a href="#" class="govuk-link govuk-body" style="display: block">ElectiveCareTesting@dhsc.gov.uk</a>
            <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Learn about team member permissions</span>
              </summary>
              <div class="govuk-details__text">
                    Depending on a team member's role, they will be given certain permissions. The available permissions are:
                    
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-margin-top-6"> Standard </h3>
                <p class="govuk-body">Order home tests, check patient details, view test results (when signed in with a Smartcard) and confirm procedure cancellations.</p>

                <h3 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-margin-top-6"> Enhanced </h3>
                <p class="govuk-body">Standard permissions, plus add team members and manage groups.</p>
              </div>
            </details>
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <p class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-8"> Account status </p>
            <span class="govuk-hint govuk-!-margin-bottom-4">Remove sign in access by marking team member as inactive.</span>
            <fieldset role="group" class="govuk-fieldset govuk-form-group">
              <div class="govuk-radios">
                <div class="govuk-radios__item"><input type="radio" id="status" name="status" class="govuk-radios__input" value="true">
                  <label for="status" class="govuk-label govuk-radios__label"> Active </label>
                </div>
                <div class="govuk-radios__item"><input type="radio" id="status-2" name="status" class="govuk-radios__input" value="false">
                  <label for="status-2" class="govuk-label govuk-radios__label"> Inactive </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>

        <h4 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-8"> Which groups should this team member belong to? </h4>
        <div class="govuk-form-group">
          <fieldset role="group" class="govuk-fieldset">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item"><input type="checkbox" id="group-ids" name="groupIds" class="govuk-checkboxes__input" value="1465ca9a-5edc-4d97-b0a8-46f1baf32151">
                <label for="group-ids" class="govuk-label govuk-checkboxes__label"> Test Group 2 </label>
              </div>
              <div class="govuk-checkboxes__item"><input type="checkbox" id="group-ids-2" name="groupIds" class="govuk-checkboxes__input" value="06744cc4-6bbb-40fc-b4c4-509d40e4dad3">
                <label for="group-ids-2" class="govuk-label govuk-checkboxes__label"> Test Group 2 </label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-button-group govuk-!-margin-top-8">
          <button type="submit" class="govuk-button"> Save and continue </button>
          <button class="govuk-button--secondary govuk-button"> Cancel </button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}