{% extends "includes/layout.html" %}
{% set serviceName = "Manage hospital coronavirus test ordering" %}
{% set pageTitle = "Do you want this user to have standard permissions?" %}

{% block beforeContent %}
  {% include "includes/ec-beta-banner-v1.html" %}
  <a class="govuk-back-link"  href="javascript:window.history.go(-1);">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="5" method="post">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-3">
            {{ pageTitle }}
          </h1>
        </legend>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            If you continue, you'll need to contact an enhanced user in their organisation.
          </strong>
        </div>

        <p class="govuk-body govuk-!-margin-bottom-8">When you remove a user's enhanced permissions, they will need to be added again to the relevant groups within their organisation.</p>

        <div class="govuk-button-group">
          <a class="govuk-button" href="check-your-answers-v1">Continue</a>
          <button class="govuk-button govuk-button--secondary">Cancel</button>
        </div>

        <div class="ec__prototype-navigation">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Prototype links: </h3>
            <ul style="list-style: none; padding-left: 0">
                <li><a href="confirm-downgrade-v1">Downgrade</a></li>
                <li><a href="confirm-downgrade-last-enhanced-v1">Last enhanced downgrade</a></li>
                <li><a href="confirm-upgrade-v1">Upgrade</a></li>
            </ul>
        </div>

      </form>

    </div>
  </div>


{% endblock %}
