{% set fullname %}
  {% if data.cuFirstName and data.cuLastName %}
    {{ data.cuFirstName }} {{ data.cuLastName }}
    {% else %}
      John Smith
  {% endif %}
{% endset %}
{% set dob %}
  {% if data["cuDOB-day"] and data["cuDOB-month"] and data["cuDOB-year"]  %}
    {{ data["cuDOB-day"]}} {{ data["cuDOB-month"] | monthToWord }} {{ data["cuDOB-year"]}}
  {% else %}
    31 March 1975
  {% endif %}
{% endset %}
{% set timeDate %}
  {% if data.cuDate and data.cuTime %}
    {% if data.cuDate == "Another date" %}
      {{ data["cuExactDate-day"]}} {{ data["cuExactDate-month"] | monthToWord }} {{ data["cuExactDate-year"]}}:
    {% else %}
      {{ data.cuDate | returnDateShort }}:
    {% endif %}
    {{ data.cuTime }}{{data.cuAMPM}}

  {% else %}
    {{ "Today" | returnDateShort }}: 9am
  {% endif %}
{% endset %}
{% set pageHeading = "Check before you register your test kits" %}
{% set version = "organisational/register/v2" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-0",
        rows: [
          {
            key: {
              text: "Organisation number"
            },
            value: {
              text: data.cuOrgID or "12345678"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Name"
                }
              ]
            }
          },
          {
            key: {
              text: "Registration type"
            },
            value: {
              text: "Staff"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Name"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        classes: "govuk-summary-list--no-border app-summary-list--border-bottom",
        rows: [
          {
            key: {
              text: "Registrations"
            },
            value: {
              text: "25"
            }
          },
          {
            key: {
              html: "<span class='govuk-visually-hidden'>Registrations</span>"
            },
            value: {
              text: "Records 1 to 10"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "View or change",
                  visuallyHiddenText: "Name"
                }
              ]
            }
          },
          {
            key: {
              html: "<span class='govuk-visually-hidden'>Registrations</span>"
            },
            value: {
              text: "Records 11 to 20"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "View or change",
                  visuallyHiddenText: "Name"
                }
              ]
            }
          },
          {
            key: {
              html: "<span class='govuk-visually-hidden'>Registrations</span>"
            },
            value: {
              text: "Records 21 to 25"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "View or change",
                  visuallyHiddenText: "Name"
                }
              ]
            }
          }
        ]
      }) }}

      <form class="" action="/{{ version }}/bulk/done" method="get">

        <input class="govuk-button" type="submit" value="Confirm and send">

      </form>

    </div>
  </div>

{% endblock %}
