
// NEEDS REFACTORING

.card-table {
  list-style-type: none;
  padding: 0;

  .govuk-form-group {
    margin-bottom: 0 !important;
  }
}

.card-table__item {
  padding: 1rem 0 0 0;
  border-top: 1px solid #b1b4b6;
  margin-bottom: 6px;

  &:first-of-type {
    @include govuk-media-query($from: desktop) {
      border-top: none;
    }
  }

  &:last-of-type {
    border-bottom: 1px solid #b1b4b6;
    padding-bottom: 1rem;
  }
}


.card-table__summary {

  margin: 0;

  dl {



  }

  dt {
    @include govuk-font(16, $weight: bold);
    margin-bottom: 6px;

  }

  dd {
    margin: 0;
    @include govuk-font(16)
  }

  dd.dob {
    margin: 0;
    @include govuk-font(16);
    color: #626a6e;
  }


}


.column-6 {

  vertical-align: bottom;
  margin-bottom: 1rem;
  @include govuk-media-query($from: desktop) {
    width: 6rem;
    display: inline-block;
    margin-bottom: 0;
  }
}

.column-7 {

  vertical-align: top;
  margin-bottom: 1rem;
  @include govuk-media-query($from: desktop) {
    width: 7rem;
    display: inline-block;
    margin-bottom: 0;
  }
}

.column-8 {

  vertical-align: top;
  margin-bottom: 1rem;
  @include govuk-media-query($from: desktop) {
    width: 8rem;
    display: inline-block;
    margin-bottom: 0;
  }
}

.column-10 {

  vertical-align: top;
  margin-bottom: 1rem;
  @include govuk-media-query($from: desktop) {
    width: 10rem;
    display: inline-block;
    margin-bottom: 0;
  }
}

.column-12 {

  vertical-align: top;
  margin-bottom: 1rem;
  @include govuk-media-query($from: desktop) {
    width: 12rem;
    display: inline-block;
    margin-bottom: 0;
  }
}

.column-16 {

  vertical-align: top;
  margin-bottom: 1rem;
  @include govuk-media-query($from: desktop) {
    width: 16rem;
    display: inline-block;
    margin-bottom: 0;
  }
}

.destructive-action {
  color:  $govuk-error-colour !important;

  &:hover {
    color:  darken($govuk-error-colour, 10%) !important;
  }

}

a.app-panel__link {

  color: #ffffff;


  &:hover {

    color: darken(#ffffff, 2%);

  }

   &:focus {
     color: $govuk-link-active-colour;
   }
}


.app-visually-hidden--desktop {

  @include govuk-media-query($from: desktop) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
  }


}

.app-bold--mobile {

  @include govuk-media-query($until: desktop) {
    font-weight: 700;
    margin-bottom: 15px;
  }

}
