
// NEEDS REFACTORING

.card-table {
  list-style-type: none;
  padding: 0;

  .govuk-form-group {
    margin-bottom: 0 !important;
  }
}

.card-table__item {
  padding: 1rem 0 0 0;
  border-top: 1px solid #b1b4b6;
  margin-bottom: 6px;

  &:first-of-type {
    border-top: none;
  }

  &:last-of-type {
    border-bottom: 1px solid #b1b4b6;
    padding-bottom: 1rem;
  }
}


.card-table__summary {

  margin: 0;

  dl {



  }

  dt {
    @include govuk-font(16, $weight: bold);
    margin-bottom: 6px;

  }

  dd {
    margin: 0;
    @include govuk-font(16)
  }

  dd.dob {
    margin: 0;
    @include govuk-font(16);
    color: #626a6e;
  }


}


.column-6 {
  width: 6rem;
  display: inline-block;
  vertical-align: bottom;
}

.column-7 {
  width: 7rem;
  display: inline-block;
  vertical-align: top;
}

.column-8 {
  width: 8rem;
  display: inline-block;
  vertical-align: top;
}

.column-10 {
  width: 10rem;
  display: inline-block;
  vertical-align: top;
}

.column-12 {
  width: 12rem;
  display: inline-block;
  vertical-align: top;
}

.column-16 {
  width: 16rem;
  display: inline-block;
  vertical-align: top;
}

.destructive-action {
  color:  $govuk-error-colour !important;

  &:hover {
    color:  darken($govuk-error-colour, 10%) !important;
  }

}



a.app-panel__link {

  color: #ffffff;

  &:visited {

    color:
  }

  &:hover {

    color: darken(#ffffff, 2%);

  }

  // &:focus {
  //   color: $govuk-link-active-colour;
  // }
}
