{% set version = "v1" %}
{% set serviceName = electiveCareServiceName %}
{% set pageTitle = "View organisation" %}
{% extends "includes/layout.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <div class="govuk-!-margin-bottom-6 govuk-panel--confirmation govuk-panel">
                <h1 class="govuk-panel__title"> You sent a group access request </h1>
            </div>
            <p class="govuk-body"> An enhanced user in your organisation will add you to a group or groups.</p>
            <p class="govuk-body">If you have requested group access before but not had a response, contact the elective care support team:</p>
            <p class="govuk-body"><a href="#" class="govuk-link">ElectiveCareTesting@dhsc.gov.uk</a></p>
        </div>
    </div>
</div>
{% endblock %}