{% set version = "da-eligibility" %}
{% set pageTitle = "COVID-19 treatments" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/IBT/lfd-home-order/feature-design/{{version}}/action10/qualifying-condition" method="post">

        <h1 class="govuk-heading-l">
            {{ pageTitle }}
        </h1>

        <p class="govuk-body">
          These treatments are for people with COVID-19 who are at highest risk of becoming seriously ill.
        </p>
        <p class="govuk-body">
          The NHS may have told you that you're eligible for COVID-19 treatments.
        </p>
        <p class="govuk-body">
          If you think you may be eligible, but the NHS has not contacted you, check if you have one of these <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-care-and-treatments-for-coronavirus/treatments-for-coronavirus/" target="_blank" rel="noreferrer">qualifying health conditions (opens in new tab)</a>.
        </p>
        <p class="govuk-body">
          A doctor or specialist can also confirm if you're eligible.
        </p>

          <div class="govuk-form-group govuk-!-margin-top-7">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Are you eligible for COVID-19 treatments?
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="health-1" name="qualifying-condition" type="radio" value="Yes" {{ checked("qualifying-condition", "Yes") }} >
                  <label class="govuk-label govuk-radios__label" for="health-1">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="health-2" name="qualifying-condition" type="radio" value="No" {{ checked("qualifying-condition", "No") }} >
                  <label class="govuk-label govuk-radios__label" for="health-2">
                    No
                  </label>
                </div>
              </div>

            </fieldset>
          </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>
{% endblock %}
