{% set version = "v3" %}
{% set pageTitle = "Registration confirmed" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">{{ pageTitle }}</h1>
    </div>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-third" style="border: none"></th>
          <th scope="col" class="govuk-table__header govuk-!-width-two-thirds" style="border: none"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{ data['first-name'] or 'Bob' }} {{ data['last-name'] or 'Smith' }}</th>
          {% if data['swab-test-date'] == "different" %}
          <td class="govuk-table__cell">
            {{ data['mobile-phone-number'] or '+4478353335' }}<br>
            {{ data['email-address'] or 'bsmith@testing.co.uk' }}<br>
            Test kit barcode reference: {{ data['kit-barcode-reference-1'] or 'CHE00000501' }}<br>
            Test date: {{ data['date-of-swab-test-day'] or '30' }} {{ data['date-of-swab-test-month'] or 'June' }} {{ data['date-of-swab-test-year'] or '2021' }}<br>
            Test time: {{ data['swab-test-time'] or '7' }} {{ data['swab-test-time-ampm'] or 'am' }}
          </td>
          {% else %}
          <td class="govuk-table__cell">
            {{ data['mobile-phone-number'] or '+4478353335' }}<br>
            {{ data['email-address'] or 'bsmith@testing.co.uk' }}<br>
            Test kit barcode reference: {{ data['kit-barcode-reference-1'] or 'CHE00000501' }}<br>
            Test date: {{ data['swab-test-date'] or '30 June 2021' }}<br>
            Test time: {{ data['swab-test-time'] or '7' }} {{ data['swab-test-time-ampm'] or 'am' }}
          </td>
          {% endif %}
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m">Next steps</h2>

    {% if data['kit-barcode-reference-1'] == "COE00000501" %}
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
      <li>Everyone you live with must register their test kit. If they cannot do this themselves, you need to register their kit for them.</li>
      <li>Take the test in a group. Make sure to place each person's swab in the same plastic tube. <a class="govuk-link" href="#">Watch this instructional video to see how to take the swab test</a>.</li>
    </ul>
    {% elseif data['kit-barcode-reference-1'] == "LAMP" %}
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
      <li>if you've registered multiple test kits, it's very important that each person takes the test registered to them to make sure they receive the correct results.</li>
      <li>if you're doing the swab test yourself, you can watch <a class="govuk-link" href="#">this instructional video.</a></li>
      <li>You need to drop off your sample at a test kit collection point. <a href="#" target="blank" class="govuk-link">Find your nearest one</a>.</li>
      <li>You should drop off the sample as soon as possible after taking the test.</li>
    </ul>
    {% else %}
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
      <li>if you've registered multiple test kits, it's very important that each person takes the test registered to them to make sure they receive the correct results.</li>
      <li>if you're doing the swab test yourself, you can watch <a class="govuk-link" href="#">this instructional video.</a></li>
    </ul>
    
    <h2 class="govuk-heading-m">Antibody testing</h2>

    <p class="govuk-body govuk-!-margin-bottom-8">
      If you agreed to do antibody testing, you may recieve an antibody test kit in the past 2-3 days after you get a positive PCR test result. Your 2nd antibody test kit will arrive 3 weeks after the first one.<br><br>
      The kit contains clear instructions on how to do the test. It's important you do the test and post it back <strong>as soon as possible.</strong> You can leave home to post a test kit while self isolating. <a href="#">Find more info on how to prepare for, take and return the antibody test.</a>
    </p>

    {% endif %}


    <h2 class="govuk-heading-m">Help us improve our service</h2>

    <p class="govuk-body govuk-!-margin-bottom-8"><a class="govuk-link govuk-!-margin-right-2" href="#">Fill in our short survey</a> (takes 3 minutes)</p>

    <form action="/litereg-accounts/{{version}}/whos-taking-the-test" method="post" novalidate>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Register someone else
      </button>

    </form>

  </div>
</div>

{% endblock %}
