// styles for CTAP pages

.card-ctap {
  background: govuk-colour("light-grey");
  border-bottom: 3px solid govuk-colour("blue");
  a:hover {
    text-decoration: none;
  }
}

.card-ctap .card__heading {
  color: govuk-colour("blue");
}

.card-ctap p a:link {
  text-decoration: none;
}

.panel {
  background: govuk-colour("blue");
  padding: 40px 40px 40px 40px;
  color: govuk-colour("white");
}

.white-text {
  color: govuk-colour("white");
}

.white-circle {
  background: govuk-colour("white");
  display: table;
  text-align: center;
  border-bottom: none;
  font-weight: 700;
  width: 25px;
  height: 25px;
  margin: 10px 10px 10px 0px;
  border-radius: 50%;
}

.table-header-width {
  width: 30%;
}

.table-data-width {
  width: 65%;
}

.button-reverse {
  background: govuk-colour("white");
  color: govuk-colour("black");
}

.button-reverse:hover {
  background: govuk-colour("light-grey");
  color: govuk-colour("black");
}

.sample-summary-table {
  width: 55%;
}
