
// for photo-error-infographic screen

.photo-guide-photos {
 overflow-x:auto;
 overflow-y:hidden;
 -webkit-overflow-scrolling:touch;
}
.photo-guide-photos ul {
 display:flex;
 overflow:hidden;
 margin-left:-48px
}
.photo-guide-photos ul:after {
 content:"";
 display:block;
 clear:both
}
.photo-guide-photos ul li {
 flex:1;
 position:relative;
 box-sizing:border-box;
 float:left;
 padding-left:8px;
 list-style: none;
}
.photo-guide-photos img {
 width:100%;
 vertical-align:bottom
}
.photo-guide-photos .result {
 font-size:12px;
 width:100%;
 color:#0b0c0c
}
@media (min-width: 40.0625em) {
 .photo-guide-photos .result {
  display:flex;
  font-size:16px
 }
}
.photo-guide-photos .result .approved,
.photo-guide-photos .result .failed {
 margin:0;
 padding:4px 0 4px 18px;
 background-repeat:no-repeat;
 background-position:left 0 top 4px;
 background-size:14px
}
@media (min-width: 40.0625em) {
 .photo-guide-photos .result .approved,
 .photo-guide-photos .result .failed {
  width:100%;
  padding:8px 0 8px 30px;
  background-position:left 0 top 6px;
  background-size:22px
 }
}
.photo-guide-photos .result .approved {
 background-image:url("/public/images//icon-thick-tick-large.png");
}
.photo-guide-photos .result .failed {
 background-image:url("/public/images//icon-thick-cross-large.png");
}
.photo-guide-photos.large {
 width:50%;
}
@media (min-width: 40.0625em) {
 .photo-guide-photos.large {
  padding-bottom:8px
 }
}
.panel-photo-result {
 margin:10px 20px 10px 0;
 border-left:0;
 padding-left:38px;
 background-repeat:no-repeat;
 background-position:left 10px;
 background-size:24px
}
@media (min-width: 48.0625em) {
 .panel-photo-result {
  margin-top:10px;
  margin-bottom:30px;
  padding-left:54px;
  background-size:36px
 }
}
.panel-photo-result h2 {
 margin-bottom:0
}
.panel-photo-result ul {
 margin-bottom:0
}
.panel-photo-error {
 background-image:url("/public/images//icon-thick-cross-large.png");
}
.panel-photo-pass {
 background-image:url("/public/images//icon-thick-tick-large.png");
}
