@keyframes ec-loading-spiner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.ec__loading-spinner {
  margin: 20px auto;
  border: 12px solid #dee0e2;
  border-radius: 50%;
  border-top-color: #005ea5;
  width: 40px;
  height: 40px;
  animation: ec-loading-spiner .8s linear infinite;
}

.ec__prototype-navigation {
  background-color: #f3f2f1;
  padding: 1rem 1rem;
  position: fixed;
  top: 8rem;
  right: 2rem;
  border: solid 2px #0b0c0c; 

  ul {
    margin: .75rem 0 0 0;
  }

  li {
    margin-bottom: .4rem;
    font-size: 1.125rem;
  }
}