@keyframes ec-loading-spiner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ec__loading-spinner {
  margin: 20px auto;
  border: 12px solid #dee0e2;
  border-radius: 50%;
  border-top-color: #005ea5;
  width: 40px;
  height: 40px;
  animation: ec-loading-spiner .8s linear infinite;
}

.ec__prototype-navigation {
  background-color: #f3f2f1;
  padding: 1rem 1rem;
  position: fixed;
  bottom: 8rem;
  right: 2rem;
  border: solid 2px #0b0c0c; 

  ul {
    margin: .75rem 0 0 0;
  }

  li {
    margin-bottom: .4rem;
    font-size: 1.125rem;
  }
}

.ec__remove-account-banner {
  display: none !important;
}

.ec__account-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px 0 0 0;
  border-top: 1px solid #b1b4b6;

  @media only screen and (max-width: 768px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;

    > * {
      line-height: 2;
    }
  }
}

.ec__action-card {
  margin-bottom: 30px;
  border-bottom: 3px solid #115ea5;
  text-decoration: none; 
  background-color: #f3f2f1; 
  cursor: pointer; 
  width:auto;
  padding: 20px;

  .ec__action-card-heading {
    color: #1d70b8
  }
}

.ec__action-card-disabled {
  margin-bottom: 30px;
  border-bottom: 3px solid #f3f2f1;
  text-decoration: none; 
  background-color: #f3f2f1; 
  cursor: not-allowed; 
  width:auto;
  padding: 20px;

  > * {
    color: #505a5f;
  }
}