{% set pageHeading = "<span class='govuk-caption-xl'>Page 1 of 1</span> Check the lateral flow test details %}
{% set version = "organisational/lft/carehome-registration" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">Contents</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Overview</li>
        <li><a href="#" class="govuk-link">Before you start</a></li>
        <li><a href="#" class="govuk-link">Types of tests you can register</a></li>
        <li><a href="#" class="govuk-link">Additional information for care homes</a></li>
        <li><a href="#" class="govuk-link">Using the spreadsheet</a></li>
        <li><a href="#" class="govuk-link">Consent and privacy note</a></li>
      </ul>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        Overview
      </h2>
<p>Use this service to register COVID-19 test kits on behalf of your organisation. You can register up to 100 test kits at once. Registering test kits correctly will allow us to send your results to you.</p>
<p>In addition to registering test kits, care homes can also use this service to report the result of rapid lateral flow tests (positive, negative or void). Reporting your results will help the NHS continue to understand the spread of the virus and be in a better position to prevent further spread.
</p>

{{ govukButton({
  text: "Start now",
  href: "/" + version + "/confirm-before?cuSingleCount=",
  classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
  isStartButton: true
}) }}


  <h2 class="govuk-heading-m">
    Before you start
  </h2>

  <p>To use this service, you must:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      have your 8 digit unique organisation number (UON) and the barcode for each test available)
    </li>
    <li>
      <a href="#" class="govuk-link">book a courier collection</a>
    </li>
    <li>
      take the tests on the same day your courier comes to collect them
    </li>
    <li>
      have an email address (and ideally mobile number) where you can receive the test results
    </li>
  </ul>

  <h2 class="govuk-heading-m">
    Types of tests you can register and report
  </h2>

      <p>There are 2 types of test kit:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          a polymerase chain reaction (PCR test) - sent to a lab
        </li>
        <li>
          a rapid lateral flow test - gives results in 30 minutes
        </li>
      </ul>
      <p><span class="govuk-body govuk-!-font-weight-bold">All organisations:</span></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
           can use this service to register PCR tests
        </li>
      </ul>
      <p><span class="govuk-body govuk-!-font-weight-bold">If your organisation is a school or prison:</span>
      <ul class="govuk-list govuk-list--bullet">
        <li>
           schools and prisons can use this service to register PCR and rapid lateral flow test kits. To report the results of rapid lateral flow tests, these organisations should refer their managers to the <a href="#" class="govuk-link">self-report service</a>
        </li>
      </ul>
      <p><span class="govuk-body govuk-!-font-weight-bold">If you are a member of another organisation:</span> </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          if you are not sure which types of tests your organisation can register, read the <a href="#" class="govuk-link">online guidance</a> and your printed instructions for more information.
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        Additional information for care homes
      </h2>

      <p>Care homes can use this service to register PCR tests and rapid lateral flow test kits. They can also report the results of rapid lateral flow tests through this service.</p>


      <h2 class="govuk-heading-m">
        Using the spreadsheet
      </h2>

      <p>You can use our spreadsheet to register up to 100 test kits at once. This will save you time if you are registering lots of tests for your organisation. If you do not have the spreadsheet, you will be able to download the correct one during the registration process. </p>
      <p>To use the spreadsheet: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>record the details of staff and non-staff of separate spreadsheets</li>
          <li>remove the details of anyone who isn’t being tested</li>
        </ul>
        <p>If you prefer to add each person’s details one by one, you can do this by choosing the online form instead. </p>


      <h2 class="govuk-heading-m">
        Consent and privacy note
      </h2>

      <p>Make sure people getting tested have freely given you consent to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>register them</li>
          <li>get their results sent to the contact details you enter</li>
        </ul>
        <p>To find out how we use people’s data when you register them through this service, read the  <a href="#" class="govuk-link">COVID-19 privacy note.</a> </p>
      </div>

  <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">

          <h2 class="govuk-heading-m" id="subsection-title">
                 Related content
               </h2>
         <nav role="navigation" aria-labelledby="subsection-title">
           <ul class="govuk-list govuk-!-font-size-16">
             <li>
               <a class="govuk-link" href="#">
                 COVID-19: getting tested
               </a>
             </li>
             <li>
               <a class="govuk-link" href="#">
                 Organisation testing registration: spread
               </a>
             </li>
             <li>
               <a class="govuk-link" href="#">
                 Order test kits for your organisation
               </a>
             </li>
             <li>
               <a class="govuk-link" href="#">
                 Book a courier
               </a>
             </li>
           </ul>
       </nav>
     </aside>

                 </div>
               </div>
             </main>
           </div>
{% endblock %}
