{% set version = "v1" %}
{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Request coronavirus testing for your organisation</h1>
      <p class="govuk-body">You can only request coronavirus testing for your organisation if you’ve been referred by someone else. You’ll need their 8-digit unique organisation number (UON) to do this.</p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="one-third">
          Referrer's unique organisation number (UON)
        </label>
        <input class="govuk-input govuk-!-width-one-third" id="one-third" name="one-third" type="text">
      </div>

      <form action="2">
        <button class="govuk-button" data-module="govuk-button">
          Start now
        </button>
      </form>

    </div>
  </div>


{% endblock %}
