{% set version = "v1" %}
{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a class="govuk-back-link" href="#">Back</a>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Organisation details</h1>
      <p class="govuk-body">Enter the primary address of your organisation. If your organisation is eligible for testing, we’ll use this address when delivering and collecting your test kits.</p>
      <p class="govuk-body">If your organisation needs test kits at 2 or more locations call the customer contact centre:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>England, Wales and Northern Ireland: call <span class="govuk-!-font-weight-bold">119</span> (free from mobiles and landlines)</li>
        <li>Scotland: call <span class="govuk-!-font-weight-bold">0300 303 2713</span> (charged at your standard network rate)</li>
      </ul>

      <div class="govuk-form-group">
        <label class="govuk-label" for="two-thirds">
          Organisation name
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" name="two-thirds" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="two-thirds">
          Organisation local authority
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" name="two-thirds" type="text">
      </div>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="event-name">
            Address
          </label>
        </h1>
        <label class="govuk-label" for="two-thirds">
          Building
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" name="two-thirds" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="two-thirds">
          Street
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" name="two-thirds" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="two-thirds">
          Town or city
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" name="two-thirds" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="two-thirds">
          County
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" name="two-thirds" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="one-quarter">
          Postcode
        </label>
        <input class="govuk-input govuk-!-width-one-quarter" id="one-quarter" name="one-quarter" type="text">
      </div>

      <form action="4">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>



    </div>
  </div>


{% endblock %}
