{% set version = "v1" %}
{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a class="govuk-back-link" href="#">Back</a>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Primary contact details</h1>
      <p class="govuk-body govuk-!-margin-bottom-6">Enter the details of the person who’ll be responsible for coronavirus testing at your organisation. This will normally be a manager. We’ll email test kit order confirmations and instructions to this person.</p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="two-thirds">
          First name
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" name="two-thirds" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="two-thirds">
          Last name
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" name="two-thirds" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="two-thirds">
          Job title
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" name="two-thirds" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="two-thirds">
          Phone number
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" name="two-thirds" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="two-thirds">
          Email address
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" name="two-thirds" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="two-thirds">
          Confirm email address
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" name="two-thirds" type="text">
      </div>

      <form action="5">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>



    </div>
  </div>


{% endblock %}
