{% set version = "v1" %}
{% extends "includes/layout.html" %}
{% set serviceName = "COVID-19" %}
{% set pageTitle = "Request received" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title govuk-!-padding-6">
          Request received
        </h1>
      </div>


    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body govuk-!-font-weight-bold">Thank you for requesting coronavirus testing for your organisation</p>
      <p class="govuk-body">We’ve sent a confirmation email to [MERGE FIELD] from organisation.coronavirus.testing@notifications.service.gov.uk. If you do not receive the email within a few hours please check your spam folder.</p>
      <p class="govuk-body govuk-!-margin-bottom-6">If you have any questions about your order or do not receive the confirmation email, call the contact centre: <span class="govuk-!-font-weight-bold">119</span> (free from mobiles and landlines).</p>
      <p class="govuk-body">Lines are open 7am to 11pm.</p>


    </div>
  </div>


{% endblock %}
