{% set version = "v1" %}
{% extends "includes/layout.html" %}
{% set serviceName = "COVID-19" %}
{% set pageTitle = "Register for coronavirus test ordering" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#field-1">Enter a number</a>
            </li>
          </ul>
        </div>
      </div>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ pageTitle }}</h1>
      <p class="govuk-body">You can only request coronavirus testing for your organisation if you’ve been referred by someone else. You’ll need their 8-digit unique organisation number (UON) to do this.</p>

      <form action="2" method="post">
        <div class="govuk-form-group govuk-form-group--error">
          <label class="govuk-label" for="">
            Referrer’s unique organisation number (UON)
          </label>
          <span id="event-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter a number
          </span>
          <input class="govuk-input govuk-input--error govuk-!-width-one-third" id="field-1" name="" type="text">
        </div>
        <div class="govuk-form-group">
          <div class="govuk-!-margin-bottom-6" style="width: 300px;height: 80px; background-color: #ccc;">
            reCAPTCHA
          </div>
        </div>
        <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </div>
  </div>


{% endblock %}
