{% set version = "v3" %}
{% set pageTitle = "Your invitation code has expired" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<!--  <a class="govuk-back-link" href="/antibody/{{version}}/global-registration/">Back</a>-->

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Coronavirus (COVID-19)</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Testing for coronavirus</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  

      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      <p class = "govuk-body">Your invitation code has expired.</p>
      <p class = "govuk-body">Sign up for a test again to get another code. It can take a few weeks to arrive.</p>
      <p class = "govuk-body"><a href="/antibody/{{version}}/govuk/testing-for-coronavirus">Sign up for a test again.</a></p>


    </div>
  </div>

{% endblock %}
