{% set version = "v2" %}
{% set pageTitle = "Save your details" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form class="form" action="/litereg-accounts/{{version}}/action3/coronavirus-account-v2" method="post">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ pageTitle }}</h1>

      <p class="govuk-body">Set up an account and you wont need to renter your details for future tests.</p>
      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="coronavirus-account-v2-1" name="coronavirus-account-v2" type="radio" value="Sign in or create an account with NHS login" {{ checked("coronavirus-account-v2-1", "Sign in or create an account with NHS login") }}>
        <label class="govuk-label govuk-radios__label" for="coronavirus-account-v2-1">
          <strong>Sign in or create an account with NHS login</strong>
        </label>
        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          All you'll need is a mobile number an email address. It will only take a couple of minutes for us to send you an invite email. If you've done tests before you may have already created an account.
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="coronavirus-account-v2-2" name="coronavirus-account-v2" type="radio" value="Continue without an account" {{ checked("coronavirus-account-v2-2", "Continue without an account") }}>
        <label class="govuk-label govuk-radios__label" for="coronavirus-account-v2-2">
          <strong>Continue without an account</strong>
        </label>
        <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
          Your details wont be saved for future tests and all information will have to be re-entered.
        </div>
      </div>
    </div>

  </fieldset>
</div>
    <button class="govuk-button" data-module="govuk-button">Continue</button>
</form>

    </div>
  </div>


<!--
  <div class="inline-buttons-wrapper">
    <form class="form" action="/litereg-accounts/{{version}}/user-account/login-email" method="post">
      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

    <form class="form" action="/litereg-accounts/{{version}}/site-id" method="post">
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Continue without logging in
      </button>
    </form>

</div>
-->


{% endblock %}

{% block bodyEnd %}
<div class="proto-action" style="width: 150px;">
  <a href="/litereg-accounts/v2/coronavirus-account.html">
    <div class="proto-action-text govuk-!-margin-left-3">Version 1</div>
  </a>
</div>
{% endblock %}
