{% set version = "v2" %}
{% set pageTitle = "Have you chosen to do daily contact testing?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/litereg-accounts/{{version}}/action9/daily-contact-testing" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="daily-contact-testing-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                {{ pageTitle }}
              </h1>
            </legend>
            <span id="daily-contact-testing-hint" class="govuk-body">
              {% if data['whos-taking-the-test'] == "someone-else" %}
                They may have if they’ve been told to self-isolate after coming into contact with someone who has the virus.<br><br>
                Instead of self-isolating, they take a test to check they’re not infectious. Usually every day or when they start a work shift. It can last 7 or more days.
                {% else %}
                You may have if you’ve been told to self-isolate after coming into contact with someone who has the virus.<br><br>
                Instead of self-isolating, you take a test to check you’re not infectious. Usually every day or when you start a work shift. It can last 7 or more days.
                
                {% endif %}
            </span>
            <div class="govuk-radios govuk-!-margin-top-5 govuk-!-bottom-top-5">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="daily-contact-testing-1" name="daily-contact-testing" type="radio" value="Yes" {{ checked("daily-contact-testing", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="daily-contact-testing-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="daily-contact-testing-2" name="daily-contact-testing" type="radio" value="No" {{ checked("daily-contact-testing", "No") }}>
                <label class="govuk-label govuk-radios__label" for="daily-contact-testing-2">
                  No
                </label>
              </div>
              
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}

{% block bodyEnd %}
<div class="proto-action big">
  <a href="/litereg-accounts/{{version}}/daily-contact-testing">
    <div class="proto-action-text govuk-!-font-size-19 govuk-!-padding-2 govuk-!-margin-left-3">Go to option 1</div>
  </a>
</div>
{% endblock %}