{% set version = "v2" %}
{% set pageTitle = "Are you taking part in the 'daily contact testing' pilot?" %}

{% extends "includes/layout-lite-registration.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/litereg-accounts/{{version}}/action5/daily-contact-testing" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="daily-contact-testing-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
                {% if data['whos-taking-the-test'] == "someone-else" %}
                Are they taking part in the 'daily contact testing' pilot?
                {% else %}
                  {% if data['email-address'] == "user@testing.co.uk" %}
                  Were you asked to take part in daily contact testing?
                  {% else %}
                  {{ pageTitle }}
                  {% endif %}
                {% endif %}
              </h1>
            </legend>
            <span id="daily-contact-testing-hint" class="govuk-body">
              {% if data['email-address'] == "user@testing.co.uk" %}
              This means taking a test everyday for 7 days (usually because you're in contact with someone who has tested positive for coronavirus).
              {% else %}
              Only a small number of organisations are inviting their employees to take part in this pilot. If you are not sure, select no.
              {% endif %}
            </span>
            <div class="govuk-radios govuk-!-margin-top-5 govuk-!-bottom-top-5">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="daily-contact-testing-1" name="daily-contact-testing" type="radio" value="Yes" {{ checked("daily-contact-testing", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="daily-contact-testing-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="daily-contact-testing-2" name="daily-contact-testing" type="radio" value="No" {{ checked("daily-contact-testing", "No") }}>
                <label class="govuk-label govuk-radios__label" for="daily-contact-testing-2">
                  No
                </label>
              </div>
              {% if data['email-address'] == "user@testing.co.uk" %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="daily-contact-testing-3" name="daily-contact-testing" type="radio" value="I do not know" {{ checked("daily-contact-testing", "I do not know") }}>
                <label class="govuk-label govuk-radios__label" for="daily-contact-testing-3">
                  I do not know
                </label>
              </div>
              {% endif %}
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
