{% set version = "v2" %}
{% set pageTitle = "Enter your test kit barcode reference" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.go(-1);"
  }) }}

{% endblock %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/litereg-accounts/{{version}}/scan-barcode" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="enter-barcode-number-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                {{ pageTitle }}
              </h1>
            </legend>

            <span id="enter-barcode-number-hint" class="govuk-body">
              Use the camera on your phone, tablet or computer to scan the test kit barcode.<br><br>
              The test kit barcode should look like this:
            </span>

            <div class="govuk-!-margin-top-5 govuk-!-margin-bottom-5">
              <img src="/public/images/barcode-number-2.png" alt="barcode number"/>
            </div>

            <span id="enter-barcode-number-hint" class="govuk-body">
              You’ll find the same test kit barcode in 4 different places. You only have to scan one of them. Choose to scan one of the barcodes on the:<br><br>
              <ul class="govuk-list govuk-list--bullet">
                <li>plastic tube</li>
                <li>leak proof bag</li>
                <li>instruction leaflet</li>
                <li>return box</li>
              </ul>
            </span>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Scan barcode</button>

        <p class="govuk-body">
          <a href="/litereg-accounts/{{version}}/enter-barcode-manual" role="button" draggable="false" class="govuk-link" data-module="govuk-button">
            Enter barcode manually instead
          </a>
        </p>

      </form>

    </div>
  </div>

{% endblock %}
