{% set version = "v2" %}
{% set pageTitle = "What's the hotel ID?" %}

{% extends "includes/layout-lite-registration.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.go(-1);"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form lass="form" action="/litereg-accounts/{{version}}/site-confirmation" method="post">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper govuk-!-margin-bottom-8">
          <label class="govuk-label govuk-label--xl" for="siteID">
            {{ pageTitle }}
          </label>
        </h1>
        <span id="siteID-hint" class="govuk-body">
          The test site ID will be either 3 or 4 characters.<br><br>

          {% if data['whos-taking-the-test'] == "someone-else" %}
          If they're isolating after international travel, the test site is their government quarantine hotel.<br><br>
          {% else %}
          If you're isolating after international travel, the test site is your government quarantine hotel.<br><br>
          {% endif %}

          {% if data['whos-taking-the-test'] == "someone-else" %}
          If they cannot find the ID, get them to ask a member of staff.<br><br>
          {% else %}
          If you cannot find the ID, ask a member of staff.
          {% endif %}
        </span>

        <div class="govuk-form-group govuk-!-margin-top-5">
          <label class="govuk-label" for="site-id">
            Test site ID<br>
            <span class="govuk-hint">For example, THGR or LMHL</span>
          </label>
          <input class="govuk-input" id="site-id" name="site-id" type="text" value="{{ data['site-id'] }}">
        </div>
      </div>

      <p class="govuk-body"><a href="/litereg-accounts/v2/site-postcode">I do not know the hotel ID</a></p>

      <button class="govuk-button" type="submit" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>
</div>

{% endblock %}
