{% set version = "v2" %}
{% set pageTitle = "Register a coronavirus (COVID-19) test" %}

{% extends "includes/layout-lite-registration.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">{{ pageTitle }}</h1>

      <p class="govuk-body govuk-!-font-size-24">Use this service to register a coronavirus (COVID-19) test for you or someone else.</p>

      <p class="govuk-body govuk-!-font-size-24">You need to register each coronavirus test to get the results.</p>

      <h2 class="govuk-heading-m">To complete this form, you’ll need:</h2>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
        <li>the test kit barcode for the test you’re registering</li>
        <li>a mobile number (for you or the person you're registering it for)</li>
        <li>the Royal Mail barcode on the return box (only if you are registering a PCR swab home test kit that you will return by post)</li>
      </ul>

      <!-- <p class="govuk-body"><strong>If you’re taking a test before your hospital visit</strong>, you need to <a href="#">register your kit here</a>.</p> -->

      <a href="/litereg-accounts/{{version}}/whos-taking-the-test" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-7 govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

      <h2 class="govuk-heading-m">How we use your data</h2>
      <p class="govuk-body">To find out how we use your personal data when you register for a coronavirus test, <a class="govuk-link" href="#">read the coronavirus privacy note.</a></p>

    </div>
  </div>
{% endblock %}
