{% set version = "v2" %}
{% set pageTitle = "Register a coronavirus test" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div> 

  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{ pageTitle }}</h1>

        <p class="govuk-body-l">Use this service to register a coronavirus (COVID-19) test for you or someone else.</p>
        <p class="govuk-body-l">You need to register your coronavirus test so you can get your results.</p>
        <p class="govuk-body-l govuk-!-margin-bottom-2"><strong>To complete this form, you'll need:</strong></p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
            <li>The barcode for the test you're registering</li>
            <li>A mobile number (for you or the person you're registering it for)</li>
        </ul>

        <p class="govuk-body-l govuk-!-margin-bottom-2"><strong>How we use your data</strong></p>
        <p class="govuk-body govuk-!-margin-bottom-9">To find out how we use your personal data when you register for a coronavirus test, <a href="#">read the coronavirus privacy note.</a></p>

        <a href="/litereg-accounts/{{version}}/email-address-first" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
          </a>

    </div>
  </div>

{% endblock %}

