{% set version = "v2" %}
{% set pageTitle = "Tell NHS Test and Trace you’re doing daily contact testing " %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="/litereg-accounts/{{version}}/daily-contact-testing">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/litereg-accounts/v2/test-date" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="reminders-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
                {{ pageTitle }}
              </h1>
            </legend>
            <span id="reminders-hint" class="govuk-body">
                <strong class="govuk-!-font-size-24">We can do this for you, and stop them sending your reminder calls and emails about self-isolation.</strong><br><br>
                Enter the reference number they gave you. It’s called an account ID. Find it on their emails and texts. It’s 8 characters, for example 784c513f.
            </span>

            <div class="govuk-form-group govuk-!-margin-top-5">
              <label class="govuk-label" for="manual-account-id">
                If you can, enter the Account ID
              </label>
              <input class="govuk-input govuk-input--width-10" id="manual-account-id" name="manual-account-id" type="text" value="{{ data['manual-account-id'] }}">
            </div>

          </fieldset>
        </div>  

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              If you do not enter the Account ID?
            </span>
          </summary>
          <div class="govuk-details__text">
            You will continue to get calls and reminders until you do.<br><br>
            Find it on NHS test and Trace texts and email for next time you use this service. 
          </div>
        </details>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}