{% extends "includes/layout.html" %}

{% block pageTitle %}
COVID test providers
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl">Find a coronavirus (COVID-19) travel test provider for international arrivals to England</h1>

      <p class="govuk-body-l">
        You must book a travel test if you’ve been to a country on the <span><a href=“#” target=“_blank”>green list</a></span> or <span><a href=“#” target=“_blank”>amber list</a></span> in the past 10 days. This is in addition to the negative test result that you need before leaving for the UK.<br><br>
        The day 2 travel test needs to be taken on or before 2. The day 8 travel test needs to be taken on or after day 8. The day on which you arrive in England is counted as day 0.
      </p>
{{releaseVersion | log }}
    </div>

  </div>

  <hr class="govuk-section-break govuk-section-break--visible">

  <div class="govuk-grid-row govuk-!-margin-top-6 govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-three-quarters">

      <h2 class="govuk-heading-m">Green list</h2>
      <p>
        If you’ve only been to a <span><a href=“#” target=“_blank”>green list</a></span> country in the past 10 days, you need to book a day 2 test only.
      </p> 
      <h2 class="govuk-heading-m">Amber list</h2>
      <p>
        If you’ve been to an <span><a href=“#” target=“_blank”>amber list</a></span> country, you need to book day 2 and day 8 tests. You must also quarantine for 10 days. <br><br>
        If you’re staying for less than 10 days, you must quarantine for the duration of your stay and still need to book travel tests. <br><br>
        See the <span><a href=“#” target=“_blank”>rules on arriving from an amber list country</a></span>. 
      </p> 
      <h2 class="govuk-heading-m">Red list</h2>
      <p>
        If you’ve been to a <span><a href=“#” target=“_blank”>red list</a></span> country in the past 10 days, you must <span><a href=“#” target=“_blank”>book and stay in a quarantine hotel when you arrive in England</a></span>. Testing is included in the hotel package so you do not need to use this service. 
        <br><br>You must be a British or Irish national or have UK residency rights to travel from a red list country. 
      </p> 
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--visible">
  <div class="govuk-grid-row govuk-!-margin-top-6 govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-three-quarters">
      <div class="govuk-inset-text">
        <p class="govuk-body-l">See information on other <span><a href=“#” target=“_blank”>actions you need to take before entering the UK</a></span>, including getting a negative test result and filling in a passenger locator form.</p>
      </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--visible"> 
  <div class="govuk-grid-row govuk-!-margin-top-6 govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-three-quarters">
      <h2 class="govuk-heading-m">Booking your travel test</h2>
      <p>
        You need to book your travel test or tests before you travel as you need the booking reference to complete the passenger locator form before you arrive in the UK. You will also need to allow time for delivery. 
        <br><br>If you need overnight booking support, CTM (administering NHS Test and Trace tests) provides a 24-hour helpline.
      </p> 
       <h2 class="govuk-heading-m">Prices</h2>
      <p>
        The travel test prices you see may not be the actual prices. They’re simply to give you an idea of how much you’ll pay.
        <br><br>Prices are for the provider’s standard service, which meets the government’s <span><a href=“#” target=“_blank”>minimum standards</a></span>. <br><br>
        This includes:
      </p> 
       <ul class="govuk-list govuk-list--bullet">
        <li>COVID-19 test kit (2 kits for combined day 2 and day 8 tests)</li>
        <li>delivery, and test swabbing where relevant</li>
        <li>evaluation of the test sample</li>
        <li>genome sequencing</li>
        <li>reporting the result to the patient</li>
        <li>reporting the data to Public Health England</li>
      </ul>
      <h2 class="govuk-heading-m">Regions</h2>
      <p>
        Many providers are listed as nationwide as they offer a postal or courier service for you to self-swab at home. Some providers offer assisted testing either in your own home or at their clinic or facility. These variations in service affect price.
      </p> 
      <h2 class="govuk-heading-m">Test to Release providers</h2>
      <p>
        If you’ve been to an <span><a href=“#” target=“_blank”>amber list</a></span> country, you can also use this service to find a provider of <span><a href=“#” target=“_blank”>Test to Release tests</a></span>. <br><br>
        Test to Release tests are optional. If you receive a negative test result to Test to Release on or after day 5 after you arrive, you will be able to shorten your quarantine time. See further information on <span><a href=“#” target=“_blank”>ending your quarantine early through Test to Release</a></span>.
      </p>
      <h2 class="govuk-heading-m">About the list</h2>
      <p>
        This list of providers is continually updated by DHSC as providers declare that they meet the required standards and are reviewed by UKAS. <br><br>
        The government does not endorse, recommend or approve any test provider. You should conduct your own research about available providers, the tests they supply and their terms and conditions of sale.
      </p>
    </div>
  </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third govuk-!-margin-top-6">
        <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg></a>
      </div>
    </div>
  
  </div>
{% endblock %}
