{% set version = "v3" %}
{% set pageTitle = "The antibody test is not available yet in your country" %}

{% extends "includes/layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      <p class="nhsuk-body"> </p>

      <ul class="govuk-list govuk-list--bullet">
        <li> </li>
      </ul>

      <p class="nhsuk-body">If you currently have coronavirus symptoms, you should <a href="#">get a swab test</a> instead. This will tell you if you have coronavirus right now.</p>

    </div>
  </div>

{% endblock %}
