{% set fullname %}
  {% if data.cuFirstName and data.cuLastName %}
    {{ data.cuFirstName }} {{ data.cuLastName }}
    {% else %}
      John Smith
  {% endif %}
{% endset %}
{% set pageHeading = "Invite your organisation's staff to create testing accounts" %}
 {% set version = "organisational/future" %}
{% set serviceName = "Coronavirus testing manager" %}
{% extends "includes/layout.html" %}


{% block pageTitle %}
  {{ pageHeading }} - COVID-19
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
   <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
     <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
       <h1 class="govuk-heading-xl">
         Invite staff members to create testing accounts
       </h1>
     </legend>
     <p>Staff can register for individual testing accounts. Staff can use their account to add their personal details, view their upcoming tests and complete their COVID-19 testing requirements.</p>


     <h2 class="govuk-heading-m">Would you like to invite staff members now?</h2>
     <div class="govuk-form-group">
       <fieldset class="govuk-fieldset">
         <div class="govuk-radios govuk-radios">
           <div class="govuk-radios__item">
             <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
             <label class="govuk-label govuk-radios__label" for="changed-name">
               Yes
             </label>
           </div>
           <div class="govuk-radios__item">
             <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
             <label class="govuk-label govuk-radios__label" for="changed-name-2">
               No
             </label>
           </div>
         </div>

       </fieldset>
     </div>
     </div>

     <button class="govuk-button" data-module="govuk-button">
       Continue
     </button>

{% endblock %}
