{% set pageHeading = "Invitations for staff accounts" %}
{% set version = "organisational/future" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

</div>
</div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">


      <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Full name
    </dt>
    <dt class="govuk-summary-list__key">
    Email
    </dt>
    <dt class="govuk-summary-list__key">
      Mobile
    </dt>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        <span class="govuk-visually-hidden"></span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value"">
      Rita Patel
    </dd>
      <dd class="govuk-summary-list__value">
        rita@gmail.com
      </dd>
      <dd class="govuk-summary-list__value">
        07800900800
      </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Edit
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value"">
      Sarah Johnson
    </dd>
    <dd class="govuk-summary-list__value">
      sarah@hotmail.com
    </dd>
    <dd class="govuk-summary-list__value">
      0700800900
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Edit
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value"">
      Mark Young
    </dd>
    <dd class="govuk-summary-list__value">
      markyoung@gmail.com
    </dd>
    <dd class="govuk-summary-list__value">
      07500800900
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Edit
      </a>
    </dd>
  </div>
</dl>

<button class="govuk-button govuk-button--secondary" data-module="govuk-button">
Invite another staff member
</button>
</div>
</div>
        <input class="govuk-button" type="submit" value="Continue">




{% endblock %}
