{% set pageHeading = "Coronavirus test kit orders" %}
{% set version = "organisational/future" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

<p>Your organisation's staff are required to do two lateral flow tests and one PCR test per week.<br><a href="#" class="govuk-link">Update your organisation's testing requirements</a>
</p>


 <p>Staff will recieve two lateral flow tests and one PCR test per week unless they have tested positive in the last three weeks or are not coming into the work place the following week.</p>
      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Filter by
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="published">Lateral flow tests</option>
          <option value="updated" selected>PCR tests</option>
          <option value="views">Out for delivery</option>
          <option value="comments">Delivered</option>
        </select>
      </div>



      <div class="govuk-form-group">
        <label class="govuk-label" for="width-10">
        </label>
        <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Search
        </button>


      <h2 class="govuk-heading-m">
        View your upcoming orders
      </h2>

      <h3 class="govuk-heading-s">
        06 June - 06 July
      </h3>
      <p><a href="#" class="govuk-link">Previous month</a> | <a href="#" class="govuk-link">Next month</a></p>

      <table class="govuk-table">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">Staff member</th>
            <th scope="col" class="govuk-table__header">PCR test</th>
            <th scope="col" class="govuk-table__header">Lateral flow test</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">06 June</td>
            <td class="govuk-table__cell">John Smith</td>
            <td class="govuk-table__cell">N/A</td>
            <td class="govuk-table__cell">Delivered</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">07 June</td>
            <td class="govuk-table__cell">Paul Farmer</td>
            <td class="govuk-table__cell">Delivered</td>
            <td class="govuk-table__cell">Out for delivery</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">08 June</td>
            <td class="govuk-table__cell">Sarah Johnson</td>
            <td class="govuk-table__cell">N/A</td>
            <td class="govuk-table__cell">Ordered</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Manage</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">09 June</td>
              <td class="govuk-table__cell">Tom Jones</td>
              <td class="govuk-table__cell">N/A</td>
              <td class="govuk-table__cell">Ordered</td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">Manage</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">10 June</td>
                <td class="govuk-table__cell">Paul Smith</td>
                <td class="govuk-table__cell">Ordered</td>
                <td class="govuk-table__cell">N/A</td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">Manage</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">11 June</td>
                  <td class="govuk-table__cell">Paul Farmer</td>
                  <td class="govuk-table__cell">Ordered</td>
                  <td class="govuk-table__cell">Ordered</td>
                  <td class="govuk-table__cell"><a href="#" class="govuk-link">Manage</a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">12 June</td>
                    <td class="govuk-table__cell">Sarah Johnson</td>
                    <td class="govuk-table__cell">Ordered</td>
                    <td class="govuk-table__cell">Ordered</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Manage</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">13 June</td>
                      <td class="govuk-table__cell">Tom Jones</td>
                      <td class="govuk-table__cell">N/A</td>
                      <td class="govuk-table__cell">Ordered</td>
                      <td class="govuk-table__cell"><a href="#" class="govuk-link">Manage</a></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">14 June</td>
                        <td class="govuk-table__cell">Max Barnes</td>
                        <td class="govuk-table__cell">Ordered</td>
                        <td class="govuk-table__cell">N/A</td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">Manage</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">15 June</td>
                          <td class="govuk-table__cell">Jason Martin</td>
                          <td class="govuk-table__cell">Ordered</td>
                          <td class="govuk-table__cell">Ordered</td>
                          <td class="govuk-table__cell"><a href="#" class="govuk-link">Manage</a></td>
                          </tr>
        </tbody>
      </table>

      <button class="govuk-button" data-module="govuk-button">
        Add new order
      </button>


{% endblock %}
