{% set pageHeading = "Confirm Paul Farmer's work schedule change" %}
{% set version = "organisational/future" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

<p>You have updated Paul Farmer's work schedule.</p>

<table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Previous work status</th>
      <th scope="col" class="govuk-table__header">New work status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Friday 04 June</td>
      <td class="govuk-table__cell">Annual leave</td>
      <td class="govuk-table__cell">Working
    </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Saturday 05 June</td>
      <td class="govuk-table__cell">Annual leave</td>
      <td class="govuk-table__cell">Working</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Sunday 06 June </td>
        <td class="govuk-table__cell">Annual leave</td>
        <td class="govuk-table__cell">Working</td>
        </tr>
  </tbody>
</table>


  <h2 class="govuk-heading-m">
    If you confirm:
  </h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>Paul will recieve a notification of this update</li>
    <li>Paul's coronavirus test kits will be adjusted</li>
  </ul>


  <div class="govuk-button-group">
    <button class="govuk-button" data-module="govuk-button">
      Confirm
    </button>

    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Cancel
    </button>
  </div>


{% endblock %}
