{% set version = "v2" %}
{% set pageTitle = "Enter collect code reference manually" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="/logresults-web-service/{{version}}/site-operative/qr-code-person">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
      <form action="/logresults-web-service/{{version}}/site-operative/action13/confirm-collect-code" method="post">
  
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="confirm-collect-code-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                {{ pageTitle }}
              </h1>
            </legend>
            <span id="confirm-collect-code-hint" class="govuk-body">
              You'll find the person's 16 character collect code reference under the collect code.
            </span>

            <div class="mobile-center govuk-!-margin-top-6">
              <img src="/public/images/qr-collect.png" alt="barcode number" />
              <p class="govuk-body govuk-!-margin-top-3">
                Collect code reference:<br>
                <span class="govuk-!-margin-right-2">NYX7</span><span class="govuk-!-margin-right-2">CT5Z</span><span class="govuk-!-margin-right-2">8VF7</span><span>7FW4</span>
              </p>
              
              <div class="govuk-form-group govuk-!-margin-top-7">
                <label class="govuk-label" for="qr-code-1-person-1">
                  Enter collect code reference
                </label>
                <input maxlength="4" class="govuk-input govuk-input--width-3 govuk-!-margin-right-2" id="qr-code-1-person-1" name="qr-code-1-person-1" type="text" autofocus value={{ data['qr-code-1-person-1'] }}>
                <input maxlength="4" class="govuk-input govuk-input--width-3 govuk-!-margin-right-2" id="qr-code-2-person-1" name="qr-code-2-person-1" type="text" value={{ data['qr-code-2-person-1'] }}>
                <input maxlength="4" class="govuk-input govuk-input--width-3 govuk-!-margin-right-2" id="qr-code-3-person-1" name="qr-code-3-person-1" type="text" value={{ data['qr-code-3-person-1'] }}>
                <input maxlength="4" class="govuk-input govuk-input--width-3 govuk-!-margin-right-2" id="qr-code-4-person-1" name="qr-code-4-person-1" type="text" value={{ data['qr-code-4-person-1'] }}>
              </div>

              <div class="govuk-form-group govuk-!-margin-bottom-6">
                <label class="govuk-label" for="qr-code-5-person-1">
                  Confirm collect code reference
                </label>
                <input maxlength="4" class="govuk-input govuk-input--width-3 govuk-!-margin-right-2" id="qr-code-5-person-1" name="qr-code-5-person-1" type="text" autofocus value={{ data['qr-code-5-person-1'] }}>
                <input maxlength="4" class="govuk-input govuk-input--width-3 govuk-!-margin-right-2" id="qr-code-6-person-1" name="qr-code-6-person-1" type="text" autofocus value={{ data['qr-code-6-person-1'] }}>
                <input maxlength="4" class="govuk-input govuk-input--width-3 govuk-!-margin-right-2" id="qr-code-7-person-1" name="qr-code-7-person-1" type="text" autofocus value={{ data['qr-code-7-person-1'] }}>
                <input maxlength="4" class="govuk-input govuk-input--width-3 govuk-!-margin-right-2" id="qr-code-8-person-1" name="qr-code-8-person-1" type="text" autofocus value={{ data['qr-code-8-person-1'] }}>
              </div>

              <p class="govuk-body govuk-!-margin-top-7">
                <a href="/logresults-web-service/{{version}}/site-operative/qr-code-person" draggable="false" class="govuk-link">
                  Scan the collect code
                </a>
              </p>
              <p class="govuk-body govuk-!-margin-bottom-6">
                <a href="/logresults-web-service/{{version}}/site-operative/anonymous-registration" draggable="false" class="govuk-link">
                  This person doesn't have a collect code
                </a>
              </p>
            </div>
            
          </fieldset>
        </div>
  
        <button class="govuk-button" data-module="govuk-button" id="continue-button">Continue</button>
  
      </form>
  
    </div>
  </div>

  <script type="text/javascript">

    const inputs = document.getElementsByTagName("input");

    for (i=0; i<=inputs.length; i++) {
      if (inputs[i].value.length !== 4) {
        lookForInputChange1()
        break;
      } else {
        document.getElementById("qr-code-1-person-1").blur()
      }
    }
    

    function lookForInputChange1() {
  
      var interval1 = setInterval(function() {
        var inputChange = document.getElementById("qr-code-1-person-1").value;
        var nextInput = document.getElementById("qr-code-2-person-1");
        if (inputChange.length === 4) {
          nextInput.focus()
          lookForInputChange2()
          clearInterval(interval1)
        }
      }, 100); 
    }

      function lookForInputChange2() {

        var interval2 = setInterval(function() {
          var inputChange = document.getElementById("qr-code-2-person-1").value;
          var nextInput = document.getElementById("qr-code-3-person-1");
          if (inputChange.length === 4) {
            nextInput.focus()
            lookForInputChange3()
            clearInterval(interval2)
          }
        }, 100);
      }

      function lookForInputChange3() {

        var interval3 = setInterval(function() {
          var inputChange = document.getElementById("qr-code-3-person-1").value;
          var nextInput = document.getElementById("qr-code-4-person-1");
          if (inputChange.length === 4) {
            nextInput.focus()
            lookForInputChange4()
            clearInterval(interval3)
          }
        }, 100);
      }

      function lookForInputChange4() {

        var interval4 = setInterval(function() {
          var inputChange = document.getElementById("qr-code-4-person-1").value;
          var nextInput = document.getElementById("qr-code-5-person-1");
          if (inputChange.length === 4) {
            nextInput.focus()
            lookForInputChange5()
            clearInterval(interval4)
          }
        }, 100);
      }

      function lookForInputChange5() {

        var interval5 = setInterval(function() {
          var inputChange = document.getElementById("qr-code-5-person-1").value;
          var nextInput = document.getElementById("qr-code-6-person-1");
          if (inputChange.length === 4) {
            nextInput.focus()
            lookForInputChange6()
            clearInterval(interval5)
          }
        }, 100);
      }

      function lookForInputChange6() {

        var interval6 = setInterval(function() {
          var inputChange = document.getElementById("qr-code-6-person-1").value;
          var nextInput = document.getElementById("qr-code-7-person-1");
          if (inputChange.length === 4) {
            nextInput.focus()
            lookForInputChange7()
            clearInterval(interval6)
          }
        }, 100);
      }

      function lookForInputChange7() {

        var interval7 = setInterval(function() {
          var inputChange = document.getElementById("qr-code-7-person-1").value;
          var nextInput = document.getElementById("qr-code-8-person-1");
          if (inputChange.length === 4) {
            nextInput.focus()
            lookForInputChange8()
            clearInterval(interval7)
          }
        }, 100);
      }

      function lookForInputChange8() {

        var interval8 = setInterval(function() {
          var inputChange = document.getElementById("qr-code-8-person-1").value;
          var nextInput = document.getElementById("continue-button");
          if (inputChange.length === 4) {
            nextInput.focus()
            clearInterval(interval8)
          }
        }, 100);
      }
  
  </script>

{% endblock %}
