{% set version = "v2" %}
{% set pageTitle = "Scan the person's collect code" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <a class="govuk-back-link" href="/logresults-web-service/{{version}}/site-operative/request-approved">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ pageTitle }}</h1>
        <p class="govuk-body">Position the QR code so it fits inside the square on your device's camera.</p>

        <details class="govuk-details govuk-!-margin-top-4" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What does the collect code look like?
            </span>
          </summary>
          <div class="govuk-details__text">
            <img src="/public/images/qr-collect.png" alt="barcode number" width="20%" />
          </div>
        </details>

        <div>
          <img src="/public/images/code-scan.png" alt="camera view" class="scan-barcode" />
        </div>
        
        <a href="/logresults-web-service/{{version}}/site-operative/enter-qr-code-person" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--secondary" data-module="govuk-button">
          Enter QR code manually
        </a>
  
    </div>
  </div>

{% endblock %}

{% block bodyEnd %}
<div class="proto-action big">
  <a href="/logresults-web-service/{{version}}/site-operative/lot-reference">
    <div class="proto-action-text govuk-!-font-size-19 govuk-!-padding-2 govuk-!-margin-left-3">Continue</div>
  </a>
</div>
{% endblock %}
