{% set version = "v1" %}
{% extends "includes/layout.html" %}
{% set serviceName = "COVID-19" %}
{% set pageTitle = "Durham Site 2" %}

{% block beforeContent %}
  <!-- <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div> -->
  <a class="govuk-back-link" href="javascript:window.history.go(-1);">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Test site details</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ pageTitle }}</h1>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <form action="confirm-team-leader" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <label class="govuk-label" for="contact-by-phone">
              Do you have a unique organisation number (UON) for this test site?
            </label>
            <div id="contact-hint" class="govuk-hint">
              If you do not know your number, you can <a href="#">look it up</a>
            </div>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                <label class="govuk-label govuk-radios__label" for="contact">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-email">
                    Enter the 8 digit UON
                  </label>
                  <div id="contact-hint" class="govuk-hint">
                    For example 12345678
                  </div>
                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false"></div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                <label class="govuk-label govuk-radios__label" for="contact-2">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-!-margin-bottom-4 govuk-!-font-weight-regular" for="">
              Test site address
            </label>
          </h1>
          <label class="govuk-label" for="">
            Building and street
          </label>
          <input class="govuk-input govuk-!-width-full govuk-!-margin-bottom-2" id="" name="search-query" type="text" value="">
          <input class="govuk-input govuk-!-width-full" id="" name="search-query" type="text" value="">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="">
            Town or city
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="" name="search-query" type="text" value="0700000000">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="">
            Postcode
          </label>
          <p class="govuk-body govuk-!-margin-bottom-6">DH1 4ZD</p>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="">
            Country
          </label>
          <p class="govuk-body govuk-!-margin-bottom-6">England</p>
        </div>


        <div class="govuk-form-group govuk-!-margin-top-8">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Status
              </h1>
            </legend>
            <div class="govuk-form-group">
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" name="" type="checkbox" value="" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="">
                    Active - Staff can log test results at this test site
                  </label>
                </div>
              </div>
            </div>
            <div class="govuk-inset-text">
              <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-warning-text__assistive">Warning</span>
                  If you deactivate this test site, staff cannot log test results
                </strong>
              </div>
            </div>

          </fieldset>
        </div>


        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Save and continue
        </button>

        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Cancel
        </button>

      </form>



    </div>
  </div>


{% endblock %}
