{% set version = "v4" %}
{% set pageTitle = "We've received your order" %}

{% extends "includes/layout-intl-arrivals.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% if data['coronavirus-account'] == "Yes" %}
  {% include "includes/account-menu.html" %}
{% endif %}

{% endblock %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-8">
      <h1 class="govuk-panel__title">
        {{pageTitle}}<br>

      </h1>
      <p class="govuk-heading-l" style="color: white; font-weight: 200;">Booking reference number<br><strong>NHSTT0720749</strong></p>
    </div>

    <p class="govuk-body">
      {% if data['travel-route'] and data['travel-route-same-person-1'] %}
      We've received your order for 2 travel packages. We'll send you confirmation by email.
      {% else %}
      We've received your order for 1 travel package. We'll send you confirmation by email.
      {% endif %}
    </p>

    <h3 class="govuk-heading-s govuk-!-margin-top-6">What happens next</h3>
    <p class="govuk-body">
      Enter your booking reference number in the <a class="govuk-body" href="https://www.gov.uk/provide-journey-contact-details-before-travel-uk">passenger Locator Form</a> (PLF). You can use the same booking reference number for each person in your order.<br><br>
      You can submit the PLF any time in the 48 hours before you arrive in the UK. You will not be able to travel if you do not complete the PLF.
    </p>

    <h3 class="govuk-heading-s govuk-!-margin-top-6">If your travel plans change</h3>
    <p class="govuk-body govuk-!-margin-bottom-2">
      Call our contact centre:
    </p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-3">
      <li>Telephone from the UK: 0151 676 0491</li>
      <li>Telephone from overseas: +44 (0)151 676 0491</li>
    </ul>

  </div>
</div>

<!-- {% if data['travel-route'] == "green" %}
<div class="proto-action big">
  <a href="/international-arrivals/{{version}}/confirmation-email-green">
    <div class="proto-action-text govuk-!-font-size-19 govuk-!-padding-2 govuk-!-margin-left-3">Confirmation email</div>
  </a>
</div>
{% else %}
<div class="proto-action big">
  <a href="/international-arrivals/{{version}}/confirmation-email-amber">
    <div class="proto-action-text govuk-!-font-size-19 govuk-!-padding-2 govuk-!-margin-left-3">Confirmation email</div>
  </a>
</div>
{% endif %} -->

{% endblock %}
