{% set version = "v6" %}
{% set pageTitle = "Sorry, there are no home delivery slots for rapid lateral flow tests right now" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.go(-1);"
  }) }} -->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">
      {{ pageTitle }}
    </h1>

    <p class="govuk-body">Please try again later.</p>
    <p class="govuk-body">The 119 service does not have access to more home delivery slots right now. You cannot order tests from NHS 111 or 999.</p>

    <h2 class="govuk-heading-s govuk-!-margin-top-6">Guidance on testing</h2>
    <p class=govuk-body">In England, most people without COVID-19 symptoms do not need to get tested. <a class="govuk-link" href="https://www.nhs.uk/conditions/coronavirus-covid-19/testing/regular-rapid-coronavirus-tests-if-you-do-not-have-symptoms/">Check who should get rapid lateral flow tests</a>.</p>

    <p class=govuk-body">If you're in Scotland, Wales and Northern Ireland, you may be able to <a class="govuk-link" href="https://maps.test-and-trace.nhs.uk/">pick up tests from a collection point near you</a>.</p>

    <p class="govuk-body">
      Find out more about guidance across the UK:
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link"href="https://www.nhs.uk/conditions/coronavirus-covid-19/testing/">Guidance if you're in England</a></li>
        <li><a class="govuk-link" href="https://www.nhsinform.scot/illnesses-and-conditions/infections-and-poisoning/coronavirus-covid-19/test-and-protect/coronavirus-covid-19-testing">Guidance if you're in Scotland</a></li>
        <li><a class="govuk-link" href="https://gov.wales/testing-coronavirus">Guidance if you're in Wales</a></li>
        <li><a class="govuk-link" href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-testing">Guidance if you're in Northern Ireland</a></li>
      </ul>
    </p>

    <h2 class="govuk-heading-s govuk-!-margin-top-7">COVID-19 and mental wellbeing</h2>
    <p class="govuk-body"><a class="govuk-link" href="https://www.nhs.uk/every-mind-matters/coronavirus/">Get tips and advice to take care of your mental health</a>.</p>

  </div>
</div>

{% endblock %}
