{% set version = "v2" %}
{% set pageTitle = "Scan your unique home test kit barcode" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <a class="govuk-back-link" href="/antigen/{{version}}/home-testing/enter-barcode-number">Back</a>
{% endblock %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ pageTitle }}</h1>
        <p class="govuk-body">Position the barcode so it fits inside the square on your mobile or computer's camera.</p>

        <!-- <div>
          <img src="/public/images/camera-view.png" alt="camera view"/>
        </div> -->

        <script src="https://cdn.jsdelivr.net/npm/scandit-sdk@5.x"></script>

        <scandit-barcode-picker
          id="barcodePicker"
          configure.licenseKey="AUSQwjXJFdcTMaMlm0Lg11YKZtj3KdetJg7RCctrOnQUNzVwLnY15RNFGdJZZTsgFGj4f2hK+wWEa3bv31IoQl5f/sZkftSU5V19aMhLz2/qbEJuBXFk9ixgb2/VWSZloGKf7glmI/2aQSBkQHSuIf9ouc1DEkOvdThlTyMxs53OFb7GFFLNOyuBjcbjIrmVDl8TR8aKg7X5ecOcPfDLsmokj/b6NvDnui0xOh3K87c2n61Bjy2mSP8S9W+XIV63lOPHb18Le8Q81Ww38iFfT9GqSiAZR9mzpN+d2+6K1Kgu7kBnDthExxHkK3Tfk6nGtXRuDvTuMeeSMe+2L8+1ON+x4V8kh92s78XUFIZty9HP3GSS+WlDXJQVOkMvA1PjB4mP3X0T6N5ot+Nz+iHuxI1fzVaA02UYL95JMifyeixgJ9gfmg6331oOHKuv2TpgcrbBNW1Oy3p/wEupWTwqQVpMvfbCI/3gqDZVi8LyAHUECenFX2zxRWpvWn78m6nvhmiixaYmBXp9Po9qnSDDjpaPT09CGJcWsDW5sklRqccJfC4y5/7whgA685sOzvBBjkgIy9xeWZQWbufodtbu+r87lOl7nTQ2fX7tft2jzzrkl43ldiY7xEh3VWb7YYHpY7yxK/OtfWxVFI2//5K5rKyGlajtDzYqpa0U+Wa3ElG15Zo/uxKp5lW8Y05YdxA8C42wJrxB+22U1L0IgiyvXwHK1ETu763+NFfwJ/EV8q9aNEGsbIjNnvluo1NHxh81Y/M0x/vOs398Cz4S1jRTAYV9/qG3H1N5LC0Xg51ZIVq5dW0JxiD6rGKGIJtNRXy7ZD8X8h8XhnBExRiw9Wpq8dTDDg=="
          configure.engineLocation="https://cdn.jsdelivr.net/npm/scandit-sdk@5.x/build/"
          playSoundOnScan="true"
          scanSettings.searchArea='{"x":0.1,"y":0.2,"width":0.8,"height":0.6}'
          guiStyle="viewfinder"
          enableTorchToggle="true"
          videoFit="cover"
          scanSettings.enabledSymbologies='["data-matrix", "code128", "qr"]'
        >
        </scandit-barcode-picker>
        
        <a href="/antigen/{{version}}/home-testing/enter-barcode-number" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
          Cancel
        </a>
  
    </div>
  </div>

  <script type="text/javascript">

  const barcodePicker = document.getElementById('barcodePicker')
  barcodePicker.addEventListener('scan', function (event) {
    event.preventDefault()
    setTimeout(function () {
      window.location.href = '/antigen/{{version}}/home-testing/enter-barcode-manual';
    }, 100)
  })

  </script>

{% endblock %}