{% set version = "v2" %}
{% set pageTitle = "Here is your collect code" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% if data['coronavirus-account'] == "Yes" %}
  {% include "includes/account-menu.html" %}
{% endif %}

{% endblock %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-8">
      <h1 class="govuk-panel__title">{{ pageTitle }}</h1>
      <p class="govuk-body" style="color: #ffffff">
        We’ll also send this collect code to the email address or mobile number you provided
      </p>
    </div>

    <div style="display: flex; justify-content: center;">
      <img src="/public/images/QR_code.png" alt="randox number" style="height: 20%; width: 20%;" />
    </div>

    <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-8" style="text-align: center; line-height: 1em;">
      Collect code reference:<br><br>
      <strong>NYX7 - CT5Z - 8VF7 - 7FW4</strong></p>
    
    <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> -->

    <!-- <p class="govuk-body govuk-!-margin-top-4"><strong>{{ data['first-name'] or 'Pete' }} {{ data['last-name'] or 'Smith' }}</strong></p>
    <p class="govuk-body">{{ data['email-address'] or 'name@email.com' }}<br>
      {{ data['mobile-phone-number'] or '07472398473' }}</p>

    <p class="govuk-body"><a href="#">Print collect code</a></p>

    <hr> -->

    <h3 class="govuk-heading-s govuk-!-margin-top-6">What happens next</h3>
    <p class="govuk-body">
      We’ll send this collect code to the email address or mobile number you provided. You can also <a href="#" class="govuk-link">print it out</a>.<br><br>
      Show your collect code at a collection point to pick up your test packs.<br><br>
      <a class="govuk-body" href="https://find-covid-19-rapid-test-sites.maps.test-and-trace.nhs.uk/">Find your nearest collection point</a><br><br>
      You can only use your collect code once to collect up to 2 packs of 7 test kits (14 test kits in total).<br><br>
    </p>

    <h3 class="govuk-heading-s govuk-!-margin-top-6">
      What's in the test pack
    </h3>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-4">
      <li>7 rapid lateral flow tests</li>
      <li>instructions on how to take the test and report results</li>
    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-top-4">Taking the test</h3>
    <p class="govuk-body">
      You’ll get an email with help on how to take the test and a link to a short video. It will also include more information about reporting results on the day you take the test and what to do next.
    </p>

    <p class="govuk-body">
      <a class="govuk-link" href="#">Watch a short video: how to take a rapid test</a><br><br>
      <a class="govuk-link" href="#">Get test instructions in other languages and in easy read or large print format</a><br><br>
      <a class="govuk-link" href="#">How to report your results</a>
    </p>
    
  </div>
</div>

<div class="proto-action big" style="bottom: 50px;">
  <a href="/lfd-collection-registration/v1/confirmation-email">
    <div class="proto-action-text govuk-!-font-size-19 govuk-!-padding-2 govuk-!-margin-left-3">Confirmation email</div>
  </a>
</div>

{% endblock %}