{% set version = "v2" %}
{% set pageTitle = "Collect test packs from a pharmacy" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

<a class="govuk-back-link" href="/lfd-collection-registration/{{version}}/pharmacy-collection">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            {{ pageTitle }}
        </h1>
        <p class="govuk-body">
          You do not need to use this online service if you’re collecting test packs from a pharmacy.<br><br>
          You can register your details there.<br><br>
          <a href="https://find-covid-19-rapid-test-sites.maps.test-and-trace.nhs.uk/" class="govuk-link" target="blank">Find your nearest collection point</a>.
        </p>

    </div>
</div>

{% endblock %}
