{% set version = "v2" %}
{% set pageTitle = "Get a collect code to pick up coronavirus (COVID-19) rapid lateral flow tests" %}

{% extends "includes/layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{ pageTitle }}</h1>

    <p class="govuk-body">
      <strong>Use this service to get a collect code so you can pick up rapid lateral flow tests from a pharmacy. Collect codes help the NHS match your details to the tests.</strong>
      </p>
      <p class="govuk-body">
      This service is only available to people who live in England. If you’re in Scotland, Wales or Northern Ireland, you do not need a collect code.
      </p>
      <div class="govuk-inset-text">
        <a href="https://maps.test-and-trace.nhs.uk/"><strong>Find where to pick up a test near you</strong></a>
      </div>

      <p class="govuk-body">
      If you’re 11 to 15, your parent or guardian must use this service to get a collect code.
    </p>

    <h2 class="govuk-heading-m">How it works</h2>

    <h3 class="govuk-heading-s">1. Get a collect code</h3>
    <p class="govuk-body">
      Before you go to the pharmacy, use this service to get a collect code. This is a code that you can show when you collect your test packs. You can create an account so it’s quicker next time.
      </p>
      <p class="govuk-body">
      You can also get a collect code by calling 119 (free from landlines and mobiles). Lines are open from 7am to 11pm.
    </p>
    <p class="govuk-body">
      We’ll send your collect code by email or text. You can print your code.
    </p>
    <p class="govuk-body">
      You can collect test packs for your household or another household. Get a separate collect code for each household.
    </p>

    <h3 class="govuk-heading-s">2. Collect your tests</h3>
    <p class="govuk-body">
      Take your collect code to the pharmacy. Someone will record your code and give you the tests.
    </p>
    <p class="govuk-body">
      You should get a new collect code for each collection.
    </p>

    <h3 class="govuk-heading-s">3. Report your test</h3>
    <p class="govuk-body">
      After you’ve done the test, you should report your test result. This helps the NHS track the spread of COVID-19 and spot new outbreaks faster.
    </p>
    <p class="govuk-body">
    We’ll tell you how to report your result when we send your collect code. You can also find this information in the test instructions.
    </p>

    <a href="/lfd-collection-registration/{{version}}/do-you-have-symptoms" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-top-4" data-module="govuk-button">
      Continue
    </a>

  </div>
</div>

{% endblock %}
