{% set version = "v2" %}
{% set pageTitle = "Teaching staff: order your antibody home test kit" %}

{% extends "includes/layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p class="govuk-body-l">You can only order a coronavirus antibody home test kit if you've been invited.</p>
     
            <p class="nhsuk-body">If you do not have an invite code, you can <a href="#">check you're eligible and sign up.</a></p>


      <h2 class="govuk-heading-m">About the test</h2>

      <p class="nhsuk-body">It is a free fingerprick blood test that you do at home. It checks for coronavirus antibodies. If you have them, it is likely you have had the virus before.</p>

      <p class="nhsuk-body">Take the test and return your sample in the post. You'll get your results a few days later.</p>

      <h2 class="govuk-heading-m">How to order your test kit</h2>

      <p class="govuk-body">First, enter your 16-digit invite code (it's in the text you received from GOVUK). You will only have one if you've been invited.</p>

      <p class="govuk-body">Then, answer some quick questions and enter your contact details to place your order. This will take 5 minutes.</p> 
      
      <p class="govuk-body">You'll get your test kit in the post within 5 days.</p>
     
      <a href="/{{version}}/registration/invitation-code" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

    </div>
  </div>

{% endblock %}
