{% set version = "v2" %}
{% set pageTitle = "Teaching staff: order your antibody home test kit" %}

{% extends "includes/layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p class="govuk-body-l">You can only order an antibody home test kit if you've been invited.</p>
     
            <p class="nhsuk-body">If you do not have an invite code, you can<a href="#">check you're eligible and sign up.</a></p>


      <h2 class="govuk-heading-m">About the test</h2>

      <p class="nhsuk-body">It is a fingerprick blood test that you do at home. It checks for coronavirus antibodies. If you have them, it is likely you have had the virus before.</p>

      <p class="nhsuk-body">The test is free and: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>safe, accurate and easy to use</li>
        <li>approved by Public Health England</li>
        <li>takes about 5 working days to arrive </li>
      </ul>

      <p class="nhsuk-body">Take the test and return your sample in the post. You'll get your results a few days later.</p>
      <p class="nhsuk-body"><a href="#">Watch a short video about what the test involves.</a><br>

      <h2 class="govuk-heading-m">Who can order a test kit </h2>

      <p class="nhsuk-body">You must be invited before you can order an antibody home test kit. </p>
      
            <p class="nhsuk-body">You can only order 1 test kit for yourself. </p>

      <p class="nhsuk-body"><a href="#">Check if you're eligible for a home test kit</a></p>

      <h2 class="govuk-heading-m">How to order your test kit</h2>

      <p class="govuk-body"><strong>Step 1 - make sure you have an invite code</strong><br>
        Invite codes are 16 digits long and sent by text from GOVUK. You will only have one if you've been invited.</p>

      <p class="govuk-body"><strong>Step 2 - confirm your details</strong><br>
        You'll be asked to confirm your contact details and some information about you.</p>

      <p class="govuk-body"><strong>Step 3 - order your test kit</strong><br>
        Provide your delivery address and place your order. You'll get your test kit in the post within 5 working days.</p>
              

      <div class="govuk-warning-text govuk-!-margin-top-8" >
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Please note</span>
          You can only order a test kit if you have been invited to do so.
        </strong>
      </div>

      <a href="/{{version}}/registration/invitation-code" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

    </div>
  </div>

{% endblock %}
