{% set version = "v2" %}
{% set pageTitle = "Enter your invite code" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<!--  <a class="govuk-back-link" href="/{{version}}/registration/">Back</a>-->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      <p class="govuk-body-l">Leading para</p>

      <p class="govuk-body">normal para</p>

      <form action="/{{version}}/registration/" method="post">

        <div class="govuk-form-group govuk-!-margin-top-6">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="invitation-code-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Enter your invitation code
            </legend>
            <span id="invitation-code-hint" class="govuk-hint">
              This is the 16 digit code we sent to you.<br><br>
            </span>

            <div class="govuk-!-display-inline-block uppercase govuk-form-group">
              <label for="invitation-code-1" class="govuk-label govuk-visually-hidden"> Invitation code field 1</label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-3" id="invitation-code-1" name="invitation-code-1" type="text" spellcheck="false" value="{{ data['invitation-code-1'] }}">
            </div>
            -
            <div class="govuk-!-display-inline-block uppercase govuk-form-group">
              <label for="invitation-code-2" class="govuk-label govuk-visually-hidden"> Invitation code field 2</label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-3" id="invitation-code-2" name="invitation-code-2" spellcheck="false" value="{{ data['invitation-code-2'] }}">
            </div>
            -
            <div class="govuk-!-display-inline-block uppercase govuk-form-group">
              <label for="invitation-code-3" class="govuk-label govuk-visually-hidden"> Invitation code field 3</label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-3" id="invitation-code-3" name="invitation-code-3" type="text" spellcheck="false" value="{{ data['invitation-code-3'] }}">
            </div> -
            <div class="govuk-!-display-inline-block uppercase govuk-form-group">
              <label for="invitation-code-4" class="govuk-label govuk-visually-hidden"> Invitation code field 4</label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-3" id="invitation-code-4" name="invitation-code-4" type="text" spellcheck="false" value="{{ data['invitation-code-4'] }}">
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

      <p>Sorry, but if you've lost your code it cannot be re-sent. </p>

    </div>
  </div>

{% endblock %}
