{% set version = "v2" %}
{% set pageTitle = "What’s your invitation code?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/{{version}}/registration/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/{{version}}/registration/name" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="invitation-code-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ pageTitle }}
              </h1>
            </legend>
            <span id="invitation-code-hint" class="govuk-hint">
              Invitation code<br><br>
              This is the 16 digit code you received in the text message we sent you
            </span>
            <div class="govuk-date-input" id="invitation-code">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="invitation-code-1" name="invitation-code-1" type="text" spellcheck="false" value="{{ data['invitation-code-1'] }}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="invitation-code-2" name="invitation-code-2" spellcheck="false" value="{{ data['invitation-code-2'] }}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="invitation-code-3" name="invitation-code-3" type="text" spellcheck="false" value="{{ data['invitation-code-3'] }}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="invitation-code-4" name="invitation-code-4" type="text" spellcheck="false" value="{{ data['invitation-code-4'] }}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}