{% set version = "v3" %}
{% set pageTitle = "Check your answers" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

{% if data['email-address'] == "user@testing.co.uk" %}
  <div class="govuk-phase-banner govuk-!-margin-bottom-0" style="margin-top: 0px;">
      <p class="govuk-phase-banner__content" style="line-height: 35px">
        <span class="govuk-phase-banner__text">
          Signed in as <strong>{{ data['first-name'] or "Pete" }} {{ data['last-name'] or "Smith" }}</strong>
        </span>
      </p>
      <div style="float: right; margin-top: -30px">
        <a href="/lfd-home-ordering/{{version}}/user-account/edit-personal-details/home-page" style="margin-right: 20px">Edit login details</a>
        <a href="/lfd-home-ordering/{{version}}/order-home-test">Sign out</a>
      </div>
    </div>
{% endif %}

  <a class="govuk-back-link" href="/lfd-home-ordering/{{version}}/date-of-birth">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">{{ pageTitle }}</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current coronavirus symptoms
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['do-you-have-symptoms'] or 'No' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/lfd-home-ordering/{{version}}/do-you-have-symptoms">
              Change
              <span class="govuk-visually-hidden">current coronavirus symptoms</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Country
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['country'] or 'England' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/lfd-home-ordering/{{version}}/country">
                Change
                <span class="govuk-visually-hidden">country</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Connection to a school?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['work-from-home'] or 'Yes' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/lfd-home-ordering/{{version}}/work-from-home">
                Change
                <span class="govuk-visually-hidden">connection to a school</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How do you want to get your tests?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['test-choice'] or 'I want to collect tests' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/lfd-home-ordering/{{version}}/test-choice">
                Change
                <span class="govuk-visually-hidden">how do you want to get your tests</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['first-name'] or 'Pete' }} {{ data['last-name'] or 'Smith' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/lfd-home-ordering/{{version}}/name">
                Change
                <span class="govuk-visually-hidden">name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['email-address'] or 'name@example.com' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/lfd-home-ordering/{{version}}/email-address">
                Change
                <span class="govuk-visually-hidden">email address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mobile number
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['mobile-number'] == "Yes" %}
              {{ data['mobile-phone-number'] }}
              {% else %}
              I do not have a mobile phone number
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/lfd-home-ordering/{{version}}/mobile-number">
                Change
                <span class="govuk-visually-hidden">mobile number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['date-of-birth-day'] or '15 March 1988' }} {{ data['date-of-birth-month'] }} {{ data['date-of-birth-year'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/lfd-home-ordering/{{version}}/date-of-birth">
                Change
                <span class="govuk-visually-hidden">date of birth</span>
              </a>
            </dd>
          </div>
      </dl>

      <form action="/lfd-home-ordering/{{version}}/action/check-your-answers" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}
