{% set version = "v3" %}
{% set pageTitle = "Thank you for helping to free up home delivery" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="/lfd-home-ordering/{{version}}/test-choice">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            {{ pageTitle }}
        </h1>

        <h3 class="govuk-heading-s">Going to a test site</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>You do not need any paperwork or ID</li>
            <li>You do need to wear a face covering (unless you're exempt)</li>
            <li>You do need to follow social distancing</li>
        </ul>

        <p class="govuk-body govuk-!-margin-bottom-7">
            <a targeet="blank" class="govuk-link" href="https://find-covid-19-rapid-test-sites.maps.test-and-trace.nhs.uk/">Find your local community assisted test site</a> and check to see if you need to make an appointment
        </p>  

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text govuk-!-font-size-19">
              <span class="govuk-warning-text__assistive">Warning</span>
              Do not go if you have coronavirus symptoms or you're been told to self-isolate. <a class="govuk-link" href="#">Find out what you must do and how to get tested</a>.
            </strong>
          </div>

    </div>
</div>

{% endblock %}
