{% set version = "v3" %}
{% set pageTitle = "How do you want to get the coronavirus test?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  {% if data['email-address'] == "user@testing.co.uk" %}
    <div class="govuk-phase-banner govuk-!-margin-bottom-7" style="margin-top: -40px;">
        <p class="govuk-phase-banner__content" style="line-height: 35px">
          <span class="govuk-phase-banner__text">
            Signed in as <strong>{{ data['first-name'] or "Pete" }} {{ data['last-name'] or "Smith" }}</strong>
          </span>
        </p>
        <div style="float: right; margin-top: -30px">
          <a href="/lfd-home-ordering/{{version}}/user-account/edit-personal-details/home-page" style="margin-right: 20px">Edit login details</a>
          <a href="/lfd-home-ordering/{{version}}/order-home-test">Sign out</a>
        </div>
      </div>
  {% endif %}
  <a class="govuk-back-link" href="/lfd-home-ordering/{{version}}/work-from-home">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/lfd-home-ordering/{{version}}/action10/test-choice" method="post">

            <div class="govuk-form-group govuk-!-padding-bottom-5">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
                            {{ pageTitle }}
                        </h1>
                    </legend>
                    <div class="govuk-radios govuk-!-margin-top-5">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="test-choice-1" name="test-choice" type="radio" value="Collect tests to take home" {{ checked("test-choice", "Collect tests to take home") }}>
                            <label class="govuk-label govuk-radios__label" for="test-choice-1">
                              <strong class="govuk-!-font-size-24">Collect tests to take home</strong>
                            </label>
                        </div>
                        <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-2">
                          <li>Check to see where your <a href="https://maps.test-and-trace.nhs.uk/findatestcenter.html#" target="blank" class="govuk-link">nearest collection point is</a></li>
                          <li>You can collect at the COVID-secure site today</li>
                          <li>You can get up to 14 tests per household</li>
                          <li>You need to register some basic personal details before collecting</li>
                        </ul>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="test-choice-3" name="test-choice" type="radio" value="Order tests to your home" {{ checked("test-choice", "Order tests to your home") }}>
                          <label class="govuk-label govuk-radios__label" for="test-choice-3">
                            <strong class="govuk-!-font-size-24">Order tests to your home</strong>
                          </label>
                        </div>
                        <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-2">
                          <li>You can get 7 tests delivered by post</li>
                          <li>Tests should arrive within 2 working days</li>
                          <li>You need to register some basic personal details before ordering</li>
                        </ul>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="test-choice-2" name="test-choice" type="radio" value="Get a one off test at a community test site" {{ checked("test-choice", "Get a one off test at a community test site") }}>
                            <label class="govuk-label govuk-radios__label" for="test-choice-2">
                                <strong class="govuk-!-font-size-24">Get a one off test at a community test site</strong>
                            </label>
                        </div>
                        <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-2 govuk-!-margin-top-2">
                          <li>You should register for the test before you go to the test site</li>
                          <li>Check to see where your <a href="https://maps.test-and-trace.nhs.uk/findatestcenter.html#" target="blank" class="govuk-link">local community assisted test site is</a></li>
                        </ul>
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>

    </div>
</div>

{% endblock %}
