{% set version = "live" %}
{% set pageTitle = "Your postcode shows us you live on a Scottish island" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="#">Back</a>
{% endblock %}

{% block content %}
{% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ pageTitle }}</h1>

        <p class="govuk-body">There’s a separate <a class="govuk-link" href="#">coronavirus testing service for people who live on a Scottish island.</a></p>
        <p class="govuk-body">If you need help getting a test, call the free NHS Inform helpline: 0800 028 2816 (open 8am to 10pm every day).</p>

    </div>
  </div>

{% endblock %}