{% set pageHeading = "Enter the unique test kit barcode" %}
 {% set version = "organisational/register/v5" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - COVID-19
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

      <p>You'll find the 11-character barcode attached to the plastic tube, biohazard bag and return box inside the test kit.</p>

      <p>Choose 1 of these ways to enter the barcode:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          use the camera on your phone or computer
        </li>
        <li>
          use your handheld scanner
        </li>
        <li>
          enter it manually
        </li>
      </ul>


          <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What does the barcode look like?
        </span>
      </summary>
      <div class="govuk-details__text">
      <img src="/public/images/barcode-number.png" alt="Large outer return box barcode">
      </div>
    </details>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How to use the handheld barcode scanner
        </span>
      </summary>
      <div class="govuk-details__text">
        <ol class="govuk-list govuk-list--number">
      <li>Click in the ‘Test kit barcode reference’ box</li>
      <li>Scan the barcode using your handheld scanner. This automatically adds it to the box</li>
      <li>Click in the ‘Confirm test kit reference’ box</li>
      <li>Scan the barcode again using your handheld scanner. This automatically adds it to the box</li>
      <li>Click 'Continue'</li>
    </ol>
    </details>

      <h2 class="govuk-heading-m">
        Use camera
      </h2>

        <form class="" action="/organisational/outer-return-box/option1/scantest" method="get">
          <input class="govuk-button govuk-button--secondary" type="submit" value="Use camera to scan barcode">
        </form>

        <h2 class="govuk-heading-m">
          Use handheld scanner or enter manually
        </h2>

        <p>If you're using a handheld scanner, click in the box before you scan the barcode</p>

      <form class="" action="/organisational/outer-return-box/option1/time" method="get">

            {{ govukInput({
              label: {
                html: 'Test kit barcode reference'
              },
              classes: "govuk-input--width-20",
              id: "covidUpload",
              name: "cuBarcode"
            }) }}

            {{ govukInput({
              label: {
                html: 'Confirm test kit barcode reference'
              },
              classes: "govuk-input--width-20",
              id: "covidUpload",
              name: "cuBarcodeConfirm"
            }) }}

        <input class="govuk-button" type="submit" value="Continue">

      </form>

    </div>
  </div>

{% endblock %}
