{% set version = "v1" %}
{% set pageTitle = "What's John Smith's mobile number?" %}
{% set serviceName = electiveCareServiceName %}
{% set group %}
{% if data.cuRequestGroup %}
    Group {{ data.cuRequestGroup }}
{% else %}
      Group 1
  {% endif %}
{% endset %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  {% include "includes/ec-beta-banner-v1.html" %}
  <a class="govuk-back-link"  href="javascript:window.history.go(-1);">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="1by1-address-v1" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="mobile-number-hint mobile-number-hint-2 mobile-number-hint-3 mobile-number-hint-4 mobile-number-hint-5">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-xl">
                {{ group }}</span>
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
                {{pageTitle}}
              </h1>
            </legend>
          </legend>
          <p class="govuk-body">We'll use this to send the patient a confirmation of the rapid lateral flow test kit order.</p>
          <p class="govuk-body">If they are under 16 years old, enter the parent or guardian’s mobile number.</p>
          <div class="govuk-form-group govuk-!-margin-top-6">
            <label class="govuk-label" for="mobile">Mobile phone number</label>
            <input class="govuk-input govuk-input--width-10" id="mobile" name="mobile" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="confirm-mobile">Confirm mobile phone number</label>
            <input class="govuk-input govuk-input--width-10" id="confirm-mobile" name="confirm-mobile" type="text">
          </div>

          <button class="govuk-button govuk-!-margin-top-7" data-module="govuk-button">Continue</button>
        </div>

      </form>

    </div>
  </div>

{% endblock %}