{% set version = "v1" %}
{% extends "includes/layout.html" %}
{% set pageTitle = "How might we ensure organisations do not register LFTs incorrectly using the org-based service" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-6">{{ pageTitle }}?</h1>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="start">Ammended start page [Start page]</a>
        </li>
        <li>
          <a href="cannot-register-lft">Cannot register this type of test [Error screen]</a>
        </li>
      </ul>

    </div>
  </div>


{% endblock %}
