{% set version = "v2" %}
{% set pageTitle = "Elective care management" %}
{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ pageTitle }}</h1>
      <p class="govuk-body">Lead copy to guide page purpose</p>

      <ul class="register-themes">
        <li class="register-theme">
          <a class="register-theme__link" href="i_1">
            <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-2 govuk-!-padding-bottom-1">Order tests kits</h3>
            <p class="govuk-body-s">Use this service to order test kits for patients due to have a hospital procedure.</p>
          </a>
        </li>
        <li class="register-theme">
          <a class="register-theme__link" href="i_1">
            <h3 class="register-theme__heading govuk-heading-s govuk-!-margin-bottom-2 govuk-!-padding-bottom-1">Lookup orders and view results</h3>
            <p class="govuk-body-s">Use this service to lookup test kits orders for patients due to have a hospital procedure.</p>
          </a>
        </li>
      </ul>
      <hr class="govuk-section-break govuk-section-break--xl">

    </div>
  </div>



{% endblock %}
