{% set version = "v2" %}
{% set pageTitle = "Elective care management" %}
{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="#" method="post">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <span class="govuk-caption-xl">Elective care management</span>
          <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-6">
            What are you looking to do?
          </h1>
        </legend>
        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="swab-test-date-3" name="swab-test-date" type="radio" value="different" data-aria-controls="conditional-swab-test-date" {{ checked("swab-test-date", "different") }}>
            <label class="govuk-label govuk-radios__label" for="swab-test-date-3">
              Order tests kits
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-swab-test-date">
            <div class="govuk-form-group">
              <label class="govuk-label" for="different-date">
                What group do you want to order test kits for?<br>
              </label>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <div class="govuk-radios govuk-radios--small">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
                      <label class="govuk-label govuk-radios__label" for="changed-name">
                        Group 1
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                      <label class="govuk-label govuk-radios__label" for="changed-name-2">
                        Group 2
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                      <label class="govuk-label govuk-radios__label" for="changed-name-2">
                        Group 3
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                      <label class="govuk-label govuk-radios__label" for="changed-name-2">
                        Group 4
                      </label>
                    </div>
                  </div>

                </fieldset>
              </div>
            </div>
          </div>
        </div>

        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="" name="swab-test-date" type="radio" value="different">
            <label class="govuk-label govuk-radios__label" for="swab-test-date-3">
              Register test kits
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-swab-test-date">
            <div class="govuk-form-group">
              <label class="govuk-label" for="different-date">
                What group do you want to order test kits for?<br>
              </label>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <div class="govuk-radios govuk-radios--small">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
                      <label class="govuk-label govuk-radios__label" for="changed-name">
                        Group 1
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                      <label class="govuk-label govuk-radios__label" for="changed-name-2">
                        Group 2
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                      <label class="govuk-label govuk-radios__label" for="changed-name-2">
                        Group 3
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                      <label class="govuk-label govuk-radios__label" for="changed-name-2">
                        Group 4
                      </label>
                    </div>
                  </div>

                </fieldset>
              </div>
            </div>
          </div>
        </div>

        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="" name="swab-test-date" type="radio" value="different">
            <label class="govuk-label govuk-radios__label" for="swab-test-date-3">
              Lookup orders
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-swab-test-date">
            <div class="govuk-form-group">
              <label class="govuk-label" for="different-date">
                What group do you want to order test kits for?<br>
              </label>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <div class="govuk-radios govuk-radios--small">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
                      <label class="govuk-label govuk-radios__label" for="changed-name">
                        Group 1
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                      <label class="govuk-label govuk-radios__label" for="changed-name-2">
                        Group 2
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                      <label class="govuk-label govuk-radios__label" for="changed-name-2">
                        Group 3
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                      <label class="govuk-label govuk-radios__label" for="changed-name-2">
                        Group 4
                      </label>
                    </div>
                  </div>

                </fieldset>
              </div>
            </div>
          </div>
        </div>

        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="" name="swab-test-date" type="radio" value="different">
            <label class="govuk-label govuk-radios__label" for="swab-test-date-3">
              View results
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-swab-test-date">
            <div class="govuk-form-group">
              <label class="govuk-label" for="different-date">
                What group do you want to order test kits for?<br>
              </label>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <div class="govuk-radios govuk-radios--small">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
                      <label class="govuk-label govuk-radios__label" for="changed-name">
                        Group 1
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                      <label class="govuk-label govuk-radios__label" for="changed-name-2">
                        Group 2
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                      <label class="govuk-label govuk-radios__label" for="changed-name-2">
                        Group 3
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                      <label class="govuk-label govuk-radios__label" for="changed-name-2">
                        Group 4
                      </label>
                    </div>
                  </div>

                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
        Continue
      </button>
    </form>
    <hr class="govuk-section-break govuk-section-break--xl">
  </div>
</div>



{% endblock %}
