{% set version = "dev" %}
{% set pageTitle = "Check if you are eligible to order rapid lateral flow tests" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{{ govukBackLink({
text: "Back",
href: "/IBT/lfd-home-order/feature-design/SAID-468-2/country"
}) }}

{% endblock %}

{% block content %}
{% include "includes/gtm-noscript.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ pageTitle }}
    </h1>

    <p class="govuk-body">In Wales, you can order tests if:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you have <a class="govuk-link" href="https://gov.wales/check-your-symptoms-see-if-you-need-coronavirus-medical-help" rel="noreferrer noopener" target="blank">symptoms of COVID-19 (opens in new tab)</a></li>
      <li><a class="govuk-link" href="https://gov.wales/covid-19-treatments" rel="noreferrer noopener" target="blank">a doctor or specialist has said you're eligible for new COVID-19 treatments (opens in new tab)</a></li>
      <li>you are going to visit someone eligible for new COVID-19 treatments</li>
      <li>your GP or healthcare professional asks you to take a test</li>
      <li>you have COVID-19 and want to check if your test result is still positive after day 5</li>
      <li>you are <a class="govuk-link" href="https://gov.wales/get-tested-coronavirus-covid-19" rel="noreferrer noopener" target="blank">eligible for another reason (opens in new tab)</a></li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-top-7">If you are not eligible for tests</h2>

    <p class="govuk-body">Do not call 119, as you will not be able to get a test this way. You cannot order tests from NHS 111 or 999.</p>
    <p class="govuk-body"><a class="govuk-link" href="https://gov.wales/self-isolation">Find out what to do if you think you have COVID-19</a>. If you're worried, or
      your symptoms get worse, contact 111 or speak to your GP. In an emergency dial 999.</p>
    <p class="govuk-body">If you do not have symptoms, <a class="govuk-link" href="https://www.nhs.uk/conditions/coronavirus-covid-19/how-to-avoid-catching-and-spreading-coronavirus-covid-19/">find out how to avoid catching and spreading
        COVID-19</a>. You can also find <a class="govuk-link" href="https://callhelpline.org.uk/">advice and support if you're worried about COVID-19</a>.</p>

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Disclaimer</h2>
    <p class="govuk-body">By selecting 'Confirm and continue', I confirm I am eligible to order rapid lateral flow tests.</p>

    <div class="govuk-button-group govuk-!-margin-top-7">
      <a href="/IBT/lfd-home-order/feature-design/SAID-468-2/do-you-have-symptoms" class="govuk-button" role="button" draggable="false" data-module="govuk-button">
        Confirm and continue
      </a>
      <a href="https://gov.wales/get-tested-coronavirus-covid-19" class="govuk-button govuk-button--secondary" role="button" draggable="false" data-module="govuk-button">
        I am not eligible
      </a>
    </div>
  </div>

  {% endblock %}
