{% set pageHeading = "Which organisation did you get the test kits from?" %}
 {% set version = "organisational/ind-accounts/v3" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}


{% block pageTitle %}
  {{ pageHeading }} - COVID-19
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

      <!-- div for include from content folder -->
      <div id="includedContent1"></div>

      <a href="#" class="govuk-back-link">Back</a>

    </div>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">




    <h1 class="govuk-heading-xl">
      {{ pageHeading }}
    </h1>

    <div class="govuk-inset-text">We need to ask for this information again to save your organisation details to your NHS account.</div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="">
          Enter the unique organisation number (UON)
        </label>
        <div id="passport-issued-hint" class="govuk-hint">
      For example, 12345678
        </div>
        <input class="govuk-input govuk-!-width-one-third" id="" name="" type="text">
        <a href='UON-check'><button class="govuk-button govuk-button" data-module="govuk-button">
          Find organisation
        </button></a>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<h3 class="govuk-heading-s">You can also  search by organisation name</h3>

        <div class="govuk-form-group">
          <label class="govuk-label" for="">
            Name
          </label>
          <div id="passport-issued-hint" class="govuk-hint">
      Enter the postcode of the head office
    </div>
          <input class="govuk-input govuk-!-width-one-quarter" id="" name="" type="text">
          <a href='UON-select-postcode'><button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Find organisation
          </button></a>
        </div>

<h3 class="govuk-heading-s">Or you can search by organisation postcode</h3>

        <div class="govuk-form-group">
          <label class="govuk-label" for="">
           Postcode
          </label>
          <div id="passport-issued-hint" class="govuk-hint">
      Enter the name of the head office
    </div>
          <input class="govuk-input govuk-!-width-one-quarter" id="" name="" type="text">
          <a href='UON-select-name'><button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Find organisation
          </button></a>
        </div>


        <p>If you do not know these details you can:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href='#'>look up the UON</a></li>
                <li>ask the organisation</li>
                <li>search the Internet for their name and postcode</li>
              </ul>

            <p>If you're unable to complete this form, call 119. Lines are open 7am to 11pm.</p>






      </form>



    </div>
  </div>


  <!-- corresponding html file name included from content folder -->
<script>
  $(function(){
    $("#includedContent1").load("/includes/LFD-account-menu.html");
  });
</script>

{% endblock %}
