{% set version = "v1" %}
{% set pageTitle = "Check your answers" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <a class="govuk-back-link" href="/elective-care-testing/{{version}}/patient-register/swab-test-date">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ pageTitle }}</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Order ID
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['order-id'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/elective-care-testing/{{version}}/patient-register/order-id">
              Change
              <span class="govuk-visually-hidden">order ID</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['first-name'] }} {{ data['last-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/elective-care-testing/{{version}}/patient-register/name">
              Change
              <span class="govuk-visually-hidden">Name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['date-of-birth-day'] }} {{ data['date-of-birth-month'] }} {{ data['date-of-birth-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/elective-care-testing/{{version}}/patient-register/date-of-birth">
              Change
              <span class="govuk-visually-hidden">date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Test kit barcode reference
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['test-kit-barcode-reference-1'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/elective-care-testing/{{version}}/patient-register/test-kit-barcode">
              Change
              <span class="govuk-visually-hidden">test kit barcode reference</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Test date and time
            </dt>
            <dd class="govuk-summary-list__value">
              2 July 2020 : {{ data['swab-test-time'] }}am
            </dd>
            <dd class="govuk-summary-list__actions">
                <a href="/elective-care-testing/{{version}}/patient-register/swab-test-date">
                Change
                <span class="govuk-visually-hidden">test date and time</span>
                </a>
            </dd>
          </div>
      </dl>

      <form action="/elective-care-testing/{{version}}/patient-register/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}
