<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content" style="line-height: 35px">
      <span class="govuk-phase-banner__text">
      <!--  Signed in as <strong>{{ data['first-name'] or "Bob" }} {{ data['last-name'] or "Smith" }}</strong> -->
        Signed in with <strong>bob.smith@gmail.com &nbsp;</strong>
      </span>
      <span class="govuk-phase-banner__text">
      <!--  Signed in as <strong>{{ data['first-name'] or "Bob" }} {{ data['last-name'] or "Smith" }}</strong> -->
        Organisation: <strong>Oak Care Home</strong>
      </span>

    </p>
    <div class="account-menu">
      <a href="#" style="margin-right: 20px">View account</a>
    <!--  <a href="https://settings.login.nhs.uk/" target="blank" rel="noreferrer" style="margin-right: 20px">Update NHS login details</a> -->
      <a href="#">Sign out</a>
    </div>
  </div>
