{% set version = "live" %}
{% set pageTitle = "Where in the UK do you live?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  {{ govukBackLink({
  text: "Back",
  href: "/IBT/lfd-home-order/e2e-prototypes/live/"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/IBT/lfd-home-order/e2e-prototypes/{{version}}/action10/country" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset aria-describedby="country-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
                {{ pageTitle }}
              </h1>
            </legend>
            <!-- <span id="country-hint" class="govuk-hint">If you're away from home, select the country where you're staying.</span> -->
            <div class="govuk-radios govuk-!-margin-bottom-3">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="country-1" name="country" type="radio" value="England" {{ checked("country", "England") }} aria-required="true">
                <label class="govuk-label govuk-radios__label" for="country-1">
                  England
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="country-2" name="country" type="radio" value="Scotland" {{ checked("country", "Scotland") }} aria-required="true">
                <label class="govuk-label govuk-radios__label" for="country-2">
                  Scotland
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="country-3" name="country" type="radio" value="Wales" {{ checked("country", "Wales") }} aria-required="true">
                <label class="govuk-label govuk-radios__label" for="country-3">
                  Wales
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="country-4" name="country" type="radio" value="Northern Ireland" {{ checked("country", "Northern Ireland") }} aria-required="true">
                <label class="govuk-label govuk-radios__label" for="country-4">
                  Northern Ireland
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>
{% endblock %}
{% block bodyEnd %}
  <div class="proto-action big">
    <a href="/IBT/lfd-home-order/e2e-prototypes/{{version}}/exit-screens/no-more-tests-available-v4">
      <div class="proto-action-text govuk-!-font-size-19 govuk-!-padding-2 govuk-!-margin-left-3">No tests page</div>
    </a>
  </div>
{% endblock %}
