{% set version = "live" %}
{% set pageTitle = "You are eligible to order rapid lateral flow tests" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{{ govukBackLink({
text: "Back",
href: "/IBT/lfd-home-order/e2e-prototypes/live/do-you-have-symptoms"
}) }}

{% endblock %}

{% block content %}
{% include "includes/gtm-noscript.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ pageTitle }}
    </h1>

    <p class="govuk-body">In Northern Ireland, the current recommendation is that everyone over 11 years of age takes regular rapid lateral flow tests, particularly if you’re planning to mix with other people.
    </p>

    <p class="govuk-body">Everyone who does not have symptoms should take a rapid lateral flow test before:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>meeting friends and family</li>
      <li>attending an event or social gathering</li>
      <li>spending time in a crowd or a busy public place</li>
      <li>visiting someone who is elderly or more vulnerable</li>
    </ul>

    <p class="govuk-body">All areas of testing are kept under regular review.</>

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Help and advice</h2>

    <p class="govuk-body">If you do have COVID-19 symptoms, you should self-isolate and <a class="govuk-link" href="https://www.gov.uk/get-coronavirus-test" rel="noreferrer noopener" target="blank"">book a PCR test (opens in new tab)</a>. If your symptoms do not get better, or get worse, contact your GP or your GP out of hours service. In an emergency dial 999.
</p>
    <p class=" govuk-body"><a class="govuk-link" href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-testing" rel="noreferrer noopener" target="blank"">Find out what to do if you think you have COVID-19 (opens in new tab)</a>.
</p>
    <p class=" govuk-body">If you do not have symptoms, <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-how-stay-safe-and-help-prevent-spread" rel="noreferrer noopener"
            target="blank"">find out how to avoid catching and spreading COVID-19 (opens in new tab)</a>. You can also find <a class=" govuk-link" href="https://www.nhs.uk/every-mind-matters/coronavirus/tips-to-cope-with-anxiety-lockdown-lifting/"
            rel="noreferrer noopener" target="blank"">advice and support if you're worried about COVID-19 (opens in new tab)</a>.</p>


    <div class=" govuk-button-group govuk-!-margin-top-7">
            <a href="/IBT/lfd-home-order/e2e-prototypes/live/coronavirus-account" class="govuk-button" role="button" draggable="false" data-module="govuk-button">
              Continue
            </a>

  </div>
</div>

{% endblock %}
