{% set version = "v7" %}
{% set pageTitle = "Is the person who needs a test part of a trial or government pilot project?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% if data['follow-up-test'] == "Yes" %}
<a class="govuk-back-link" href="/antigen/{{version}}/refer-and-triage/follow-up-test-reason">Back</a>
{% else %}
<a class="govuk-back-link" href="/antigen/{{version}}/refer-and-triage/follow-up-test">Back</a>
{% endif %}

{% endblock %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/antigen/{{version}}/action3/government-pilot" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="government-pilot-address-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
                {{ pageTitle }}
              </h1>
            </legend>
            <span id="government-pilot-hint" class="govuk-body">
              For example, they have been invited to take part in the Contact Testing Study.
            </span>
            <div class="govuk-radios govuk-radios--conditional govuk-!-margin-top-5" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="professional-pilot-1" name="professional-pilot" type="radio" value="The person was told to get a test by the COVID Symptom Study App (by ZOE) " {{ checked("professional-pilot", "The person was told to get a test by the COVID Symptom Study App (by ZOE)") }}>
                <label class="govuk-label govuk-radios__label" for="professional-pilot-1">
                  The person was told to get a test by the COVID Symptom Study App (by ZOE)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="professional-pilot-3" name="professional-pilot" type="radio" value="The person has been invited to take part in the Contact Testing Study" {{ checked("professional-pilot", "The person has been invited to take part in the Contact Testing Study") }}>
                <label class="govuk-label govuk-radios__label" for="professional-pilot-3">
                  The person has been invited to take part in the Contact Testing Study
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="professional-pilot-2" name="professional-pilot" type="radio" value="Attended an event as part of the Events Research Programme in the last 21 days" {{ checked("professional-pilot", "Attended an event as part of the Events Research Programme in the last 21 days") }}>
                <label class="govuk-label govuk-radios__label" for="professional-pilot-2">
                  Attended an event as part of the Events Research Programme in the last 21 days
                </label>
              </div>
              <p class="govuk-body">or</p>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="professional-pilot-4" name="professional-pilot" type="radio" value="None of the above" {{ checked("professional-pilot", "None of the above") }}>
                <label class="govuk-label govuk-radios__label" for="professional-pilot-4">
                  None of the above
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>


    </div>
  </div>

{% endblock %}
