.dev-mode, details.dev-mode {
  background-color: #ffeb3b;
  border: #666 dashed 1px;
  border-radius: 3px;
  padding: 15px;
  display: inline-block;
  clear: both;
}
.dev-mode:hover, details.dev-mode:hover {
  background-color: #deebfd;
  border: #39629f dashed 1px;
}

details.dev-mode summary, details.dev-mode ol {
  font-size: 15px;
}

// styles to show user actions or links to other pages for use in just the prototype.
// Not for use in production

// display a wedge on the footer of the screen

.proto-action,
.proto-error {
  position: fixed;
  right: 0;
  bottom: 60px;
  width: 114px;
  height: 35px;
  background-color: #ffeb3b;
  box-shadow: -7px -7px 12px -7px rgba(0,0,0,0.85);
  a {
    text-decoration: none;
    display: block;
  }
}

.proto-error {
  bottom: 0;
}

.proto-action-icon,
.proto-error-icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('/public/images/sms-sent.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-top: 7px;
  margin-left: 7px;
}

.proto-error-icon {
  background-image: url('/public/images/alert.svg');
  background-size: 20px;
}

.proto-action-text,
.proto-error-text {
  @include govuk-font(14);
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-top: 9px;
  font-size: 15px;
  font-weight: bold;
}