{% set pageHeading = "<span class='govuk-caption-xl'>Page 2 of 3</span> Enter the test details for each person" %}
{% set version = "organisational/antibody/v1" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
   Enter the test details for each person - COVID-19
{% endblock %}

{% block phaseBanner %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageHeading | safe }}
      </h1>

      <p>Enter each person’s test details below for up to a maximum of 10 people per page. Check their personal details are correct and change if necessary</p>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">Records 11 to 20</h2>

      <form class="" action="/{{ version }}/bulk/list/3" method="get">



      <ul class="card-table">


        <li class="card-table__item" id="entry-1">
          <div class="card-table__form">

          <div class="card-table__form-column column-8">
              <dl class="card-table__summary">
                <dt>Name</dt>
                <dd>Alun Smith</dd>
                <dd class="dob">23 June 1980</dd>
                <dd>
                  <a href="#">View details</a>
                </dd>
              </dl>
            </div>

            <div class="card-table__form-column column-16">
              {{ govukInput({
                label: {
                  text: "Enter test kit barcode or Unique Reference Number (URN)",
                  classes: "govuk-!-font-size-16 govuk-!-font-weight-bold govuk-!-margin-bottom-3"
                },
                classes: "govuk-input--width-10",
                id: "covidUpload",
                name: "cuTestKitCode1"
              }) }}
            </div>

            <div class="card-table__form-column column-16">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group">

                  <legend class="govuk-fieldset__legend govuk-!-font-size-16 govuk-!-font-weight-bold">

                    Date of swab test

                  </legend>


                  <div class="govuk-date-input" id="covidUpload">

                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label govuk-!-font-size-16" for="covidUpload-day">
                          Day
                        </label>

                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="covidUpload-day" name="cuOrgType-day1" type="text" autocomplete="bday-day" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>

                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label govuk-!-font-size-16" for="covidUpload-month">
                          Month
                        </label>


                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="covidUpload-month" name="cuOrgType-month1" type="text" autocomplete="bday-month" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>

                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label govuk-!-font-size-16" for="covidUpload-year">
                          Year
                        </label>


                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="covidUpload-year" name="cuOrgType-year1" type="text" autocomplete="bday-year" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>

                  </div>
                  </fieldset>
                </div>
            </div>


            <div class="card-table__form-column column-12">

              {% call govukFieldset({
                legend: {
                  text: "Time of swab test",
                  classes: "govuk-!-font-size-16 govuk-!-font-weight-bold",
                  isPageHeading: false
                }
              }) %}

              <div class="govuk-form-group">
                <div class="govuk-date-input__item govuk-!-margin-right-1">
                  <label class="govuk-label govuk-!-font-size-16" for="covidUpload">
                    Hour
                  </label>
                  <input class="govuk-input govuk-input--width-2" id="covidUpload" name="cuTime1" type="text">
                </div>

                <div class="govuk-date-input__item">
                  <label class="govuk-label govuk-!-font-size-16" for="covidUpload">
                    am or pm
                  </label>
                  <select class="govuk-select govuk-input--width-2" id="covidUpload" name="cuAMPM1">
                    <option value="am">am</option>
                    <option value="pm">pm</option>
                  </select>
                </div>

              </div>

              {% endcall %}

            </div>

            <div class="card-table__form-column column-6">
              <p>
                <a class="govuk-!-font-size-16 destructive-action" href="#">Delete entry</a>
              </p>
            </div>



          </div>
        </li>

        {% set items = [

          { name: "Filomena Guyton", id: 2, dob: "29 June 1975" },
          { name: "Pete Smith", id: 3, dob: "24 April 1984" },
          { name: "Susan Watson", id: 4, dob: "23 October 1982" },
          { name: "Dennis Long", id: 5, dob: "23 June 1969" },
          { name: "Tariq Bin Ziyad", id: 6, dob: "24 May 1983" },
          { name: "Lori Foster", id: 7, dob: "18 April 1990" },
          { name: "Ruby Howard", id: 8, dob: "4 January 1987" },
          { name: "Ariannie Wright", id: 9, dob: "16 April 1976" },
          { name: "John Smith", id: 10, dob: "24 January 1972" }

          ] %}
          {% for item in items %}


            <li class="card-table__item" id="entry-{{ item.id }}">
              <div class="card-table__form">

              <div class="card-table__form-column column-8">
                  <dl class="card-table__summary">
                    <dt class="govuk-visually-hidden">Name</dt>
                    <dd>{{ item.name }}</dd>
                    <dd class="dob">{{ item.dob }}</dd>
                    <dd>
                      <a href="#">View details</a>
                    </dd>
                  </dl>
                </div>

                <div class="card-table__form-column column-16">
                  {{ govukInput({
                    label: {
                      text: "Test kit barcode or URN",
                      classes: "govuk-!-font-size-16"
                    },
                    classes: "govuk-input--width-10",
                    id: "covidUpload",
                    name: "cuTestKitCode" + item.id
                  }) }}
                </div>

                <div class="card-table__form-column column-16">
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group">

                      <legend class="govuk-fieldset__legend govuk-!-font-size-16 govuk-!-font-weight-bold govuk-visually-hidden">

                        Date of swab test

                      </legend>


                      <div class="govuk-date-input" id="covidUpload">

                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label govuk-!-font-size-16" for="covidUpload-day">
                              Day
                            </label>

                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="covidUpload-day" name="cuOrgType-day{{ item.id }}" type="text" autocomplete="bday-day" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        </div>

                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label govuk-!-font-size-16" for="covidUpload-month">
                              Month
                            </label>


                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="covidUpload-month" name="cuOrgType-month{{ item.id }}" type="text" autocomplete="bday-month" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        </div>

                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label govuk-!-font-size-16" for="covidUpload-year">
                              Year
                            </label>


                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="covidUpload-year" name="cuOrgType-year{{ item.id }}" type="text" autocomplete="bday-year" pattern="[0-9]*" inputmode="numeric">
                          </div>
                        </div>

                      </div>
                      </fieldset>
                    </div>
                </div>


                <div class="card-table__form-column column-12">

                  {% call govukFieldset({
                    legend: {
                      text: "Time of swab test",
                      classes: "govuk-!-font-size-16 govuk-!-font-weight-bold govuk-visually-hidden",
                      isPageHeading: false
                    }
                  }) %}

                  <div class="govuk-form-group">
                    <div class="govuk-date-input__item govuk-!-margin-right-1">
                      <label class="govuk-label govuk-!-font-size-16" for="covidUpload">
                        Hour
                      </label>
                      <input class="govuk-input govuk-input--width-2" id="covidUpload" name="cuTime{{ item.id }}" type="text">
                    </div>

                    <div class="govuk-date-input__item">
                      <label class="govuk-label govuk-!-font-size-16" for="covidUpload">
                        am or pm
                      </label>
                      <select class="govuk-select govuk-input--width-2" id="covidUpload" name="cuAMPM{{ item.id }}">
                        <option value="am">am</option>
                        <option value="pm">pm</option>
                      </select>
                    </div>

                  </div>

                  {% endcall %}

                </div>

                <div class="card-table__form-column column-6">
                  <p>
                    <a class="govuk-!-font-size-16 destructive-action" href="#">Delete entry</a>
                  </p>
                </div>



              </div>
            </li>
          {% endfor %}



      </ul>

      <h2 class="govuk-heading-m govuk-!-margin-top-6">Confirm records 11 to 20</h2>

        {{ govukCheckboxes({
          idPrefix: "covidUploadCheckbox",
          name: "cuConfirmCheckbox",
          items: [
            {
              value: "agreed",
              text: "I confirm all details are correct"
            }
          ]
        }) }}

        <input class="govuk-button" type="submit" value="Save and continue to records 21 to 25">
      </form>



    </div>
  </div>

{% endblock %}
