{% set version = "v1" %}
{% set serviceName = "Elective care management" %}
{% set pageTitle = "Elective care management" %}

{% extends "includes/layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Sorry, the service is unavailable</h1>
    <p class="govuk-body">
      We are carrying out planned site maintenance. You will be able to use the service from 9am on 29 June 2021.
    </p>
  </div>
</div>

{% endblock %}
