{% set version = "research" %}
{% set pageTitle = "Order details" %}

{% extends "includes/layout-intl-arrivals.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


<a class="govuk-back-link" href="/IBT/international-arrivals/assisted/e2e-prototypes/{{version}}/confirm-identity-12345677">Back</a>


{% endblock %}

{% block content %}
{% include "includes/gtm-noscript.html" %}
​
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Order number
        </dt>
        <dd class="govuk-summary-list__value">
          A12345677B
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Order date
        </dt>
        <dd class="govuk-summary-list__value">
          30 June 2022
          <span class="govuk-hint">(3 days ago)</span>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Travel test package
        </dt>
        <dd class="govuk-summary-list__value">
          Arrival test
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Arrival date
        </dt>
        <dd class="govuk-summary-list__value">
          10 July 2022
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-width-container">
    <h2 class="govuk-heading-m">Traveller details</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header ">Name</th>
          <th scope="col" class="govuk-table__header ">Booking reference</th>
          <th scope="col" class="govuk-table__header ">Delivery status</th>
          <th scope="col" class="govuk-table__header ">Payment status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">Rianne Jones<br><span class="govuk-hint govuk-!-margin-bottom-0">(Lead booker)</span></td>
          <td class="govuk-table__cell">NHSTT1234564</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Scheduled</strong></td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Exempt</strong></td>
        </tr>
      </tbody>
      </tbody>
    </table>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-9">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Delivery address</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Building and street
        </dt>
        <dd class="govuk-summary-list__value">
          4 Chapel Hill
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Town or city
        </dt>
        <dd class="govuk-summary-list__value">
          Bournemouth
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Postcode
        </dt>
        <dd class="govuk-summary-list__value">
          BH1 1AD
        </dd>
      </div>
    </dl>

      <div class="govuk-button-group">
      <a href="/international-arrivals/{{version}}/manage-orders/" class="govuk-button" data-module="govuk-button">
        Search again
      </a>
      <a href="#" class="govuk-button govuk-button--warning" data-module="govuk-button">
        Cancel order
      </a>
      </div>

  </div>
</div>

<div class="proto-action big">
  <a href="case-3">
    <div class="proto-action-text govuk-!-font-size-19 govuk-!-padding-2 govuk-!-margin-left-3">Go to case 3</div>
  </a>
</div>
{% endblock %}
