{% set version = "v1" %}
{% set pageTitle = "Do you know your NHS number?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/litereg-accounts/{{version}}/action9/nhs-number-known" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="nhs-number-known-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              {% if data['whos-taking-the-test'] == "myself" %}
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{ pageTitle }}</h1>
              {% else %}
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Do you know {{ data['first-name'] or "Pete" }} {{ data['last-name'] or "Smith" }}'s NHS number?</h1>
              {% endif %}
            </legend>
            <span id="nhs-number-known-hint" class="govuk-body">
              <strong>It's OK if you do not, you can still continue.</strong><br><br>
              An NHS number is a 10 digit number like 867 406 5600. Find it on any letter from the NHS, on a prescription, or by logging in to some GP online services.<br><br>
              In Scotland, it’s known as a CHI number. In Northern Ireland, it’s known as an H&C number.
            </span>
            <p class="govuk-!-margin-top-5"><a href="#">How to find your NHS number</a></p>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="nhs-number-known-1" name="nhs-number-known" type="radio" value="Yes" {{ checked("nhs-number-known", "Yes") }}>
                  <label class="govuk-label govuk-radios__label" for="nhs-number-known-1">
                    {% if data['whos-taking-the-test'] == "myself" %}
                    Yes, I know my NHS number
                    {% else %}
                    Yes, I know {{ data['first-name'] or "Pete" }} {{ data['last-name'] or "Smith" }}'s NHS number
                    {% endif %}
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="nhs-number-known-2" name="nhs-number-known" type="radio" value="No" {{ checked("nhs-number-known", "No") }}>
                  <label class="govuk-label govuk-radios__label" for="nhs-number-known-2">
                    {% if data['whos-taking-the-test'] == "myself" %}
                    No, I do not know my NHS number
                    {% else %}
                    No, I do not know {{ data['first-name'] or "Pete" }} {{ data['last-name'] or "Smith" }}'s NHS number
                    {% endif %}
                  </label>
                </div>
              </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
