{% set version = "v1" %}
{% set pageTitle = "Enter a postcode" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <a class="govuk-back-link" href="/antigen/{{version}}/refer-and-triage/email-address">Back</a>
{% endblock %}

{% block content %}
{% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/antigen/{{version}}/refer-and-triage/do-you-have-a-car" method="post">

        <fieldset class="govuk-fieldset" aria-describedby="postcode-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
              {{ pageTitle }}
            </h1>
          </legend>
          <span id="postcode-hint" class="govuk-body">
            We may use this postcode to show test site options near you. You'll still be able to order a home test if you prefer.
          </span>
          <div class="govuk-form-group govuk-!-margin-top-5">
            <label class="govuk-label" for="home-postcode">
              Postcode
            </label>
            <input class="govuk-input govuk-input--width-10" id="home-postcode" name="home-postcode" type="text" autocomplete="postal-code" value="{{ data['home-postcode'] }}">
          </div>
        </fieldset>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              If you do not have a fixed address
            </span>
          </summary>
          <div class="govuk-details__text">
            You can use the postcode of a nearby reference address, such as your GP (family doctor).<br><br>
            You can also call 119 (free from mobiles and landlines). Lines are open 7am to 11pm.
          </div>
        </details>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
