{% set version = "v1" %}
{% set pageTitle = "What's your NHS number?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/antibody/{{version}}/registration/nhs-number-known">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/antibody/{{version}}/registration/check-your-answers" method="post">

        <fieldset class="govuk-fieldset" aria-describedby="nhs-number-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              {{ pageTitle }}
            </h1>
          </legend>
          <span id="nhs-number-hint" class="govuk-hint">
            Your NHS number is a 10 digit number. For example 485 777 3456.
          </span>
          <div class="govuk-form-group">
            <label class="govuk-label" for="nhs-number">
              NHS number
            </label>
            <input class="govuk-input govuk-input--width-10" id="nhs-number" name="nhs-number" type="text" value="{{ data['nhs-number'] }}">
          </div>
        </fieldset>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
