{% set version = "v7" %}
{% set pageTitle = "You have ordered a test within the last 24 hours" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-5">{{ pageTitle }}</h1>

    <p class="govuk-body">You can only place one order in a 24 hour period, for each person.</p>
    <p class="govuk-body">You need to wait before you can order again. If we have made a mistake, you can call the contact centre.</p>


    <h2 class="govuk-heading-m">Other ways to get a test</h2>

    <p class="govuk-body">You may be able to book a test site appointment.</p>

    <p class="govuk-body">If you need more help, call 119 (free from mobiles and landlines). Lines are open 7am to 11pm.</p>

    <a href="/antigen/{{version}}/site-appointment-booking/choose-drive-through-site" role="button" draggable="false" class="govuk-button" data-module="govuk-button">Book a test site appointment</a>
    {% endif %}






  </div>
</div>

{% endblock %}
