{% set fullname %}
  {% if data.cuFirstName and data.cuLastName %}
    {{ data.cuFirstName }} {{ data.cuLastName }}
    {% else %}
      John Smith
  {% endif %}
{% endset %}
{% set pageHeading = "Enter " + fullname | trim + "'s work details" %}
 {% set version = "organisational/lft/carehome-registration" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - COVID-19
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>


      <form action="/{{ version }}/single/have-coronavirus" method="get">

          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label-m govuk-label--m" for="occupation">
                What's their occupation?
              </label>
            </h1>
            <p class="govuk-body">
              This helps us track which occupations are more at risk from COVID-19.
            </p>
            <span id="occupation-hint" class="govuk-hint">
              Start typing and select their occupation from the drop down menu. If they are a nurse at a care home or other social care setting, choose ‘Other nursing professional’. If their occupation is not displayed, choose ‘I cannot find the correct occupation’.
            </span>
            <label class="govuk-label" for="width-20">
              Occupation (optional)
            </label>
            <div id="cuOccupation"></div>
          </div>

          <h1 class="govuk-label-wrapper">
            <label class="govuk-label-m govuk-label--m" for="occupation">
              What's the name of their employer?
            </label>
          </h1>

          <p>This helps us trace their work colleagues if they test positive for COVID-19.</p>

          {{ govukInput({
              label: {
                text: "Employer name (optional)",
                classes: "",
                isPageHeading: true
              },
              classes: "",
              hint: {
                html: ""
              },
              id: "cuEmployer",
              name: "cuEmployer"
            }) }}

        <input class="govuk-button" type="submit" value="Continue">

      </form>

    </div>
  </div>
<style>
.autocomplete__wrapper {
  position: relative;
  max-width: 35em;
  margin-bottom: 20px;
  font-family: "GDS Transport",Arial,sans-serif;
}

@media (min-width: 40.0625em) {
  .autocomplete__wrapper {
    margin-bottom: 30px;
  }
}

.autocomplete__hint, .autocomplete__input {
  -webkit-appearance: none;
  border: 2px solid #0b0c0c;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-bottom: 0;
  width: 100%;
}

.autocomplete__input {
  background-color: transparent;
  position: relative;
}

.autocomplete__hint {
  color: #b1b4b6;
  position: absolute;
}

.autocomplete__input--default {
  padding: 5px;
}

.autocomplete__input--focused {
  outline: 3px solid #fd0;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px;
}

.autocomplete__input--show-all-values {
  padding: 5px 34px 5px 5px;
  cursor: pointer;
}

.autocomplete__dropdown-arrow-down {
  z-index: -1;
  display: inline-block;
  position: absolute;
  right: 8px;
  width: 24px;
  height: 24px;
  top: 10px;
}

.autocomplete__menu {
  background-color: #fff;
  border: 2px solid #0b0c0c;
  border-top: 0;
  color: #0b0c0c;
  margin: 0;
  max-height: 342px;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  width: calc(100% - 4px);
}

.autocomplete__menu--visible {
  display: block;
}

.autocomplete__menu--hidden {
  display: none;
}

.autocomplete__menu--overlay {
  box-shadow: rgba(0, 0, 0, 0.256863) 0 2px 6px;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 100;
}

.autocomplete__menu--inline {
  position: relative;
}

.autocomplete__option {
  border-bottom: solid #b1b4b6;
  border-width: 1px 0;
  cursor: pointer;
  display: block;
  position: relative;
}

.autocomplete__option > * {
  pointer-events: none;
}

.autocomplete__option:first-of-type {
  border-top-width: 0;
}

.autocomplete__option:last-of-type {
  border-bottom-width: 0;
}

.autocomplete__option--odd {
  background-color: #fafafa;
}

.autocomplete__option--focused, .autocomplete__option:hover {
  background-color: #1d70b8;
  border-color: #1d70b8;
  color: #fff;
  outline: 0;
}

.autocomplete__option--no-results {
  background-color: #fafafa;
  color: #646b6f;
  cursor: not-allowed;
}

.autocomplete__hint, .autocomplete__input, .autocomplete__option {
  font-size: 16px;
  line-height: 1.25;
}

.autocomplete__hint, .autocomplete__option {
  padding: 5px;
}

@media (min-width: 641px) {
  .autocomplete__hint, .autocomplete__input, .autocomplete__option {
    font-size: 19px;
    line-height: 1.31579;
  }
}
</style>
<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script>
  const occupations = [
"Actor, entertainer or presenter",
"Actuary, economist or statistician",
"Advertising accounts manager or creative director",
"Aerospace engineer",
"Agricultural or fishing trade",
"Air transport operative",
"Air travel assistant",
"Air-conditioning or refrigeration installer or repairer",
"Aircraft maintenance or related trades",
"Aircraft pilot or air traffic controller",
"Ambulance staff (excluding paramedics)",
"Animal care services ",
"Architect",
"Archivist or curator",
"Artist",
"Arts officer, producer or director",
"Assembler (electrical or electronic products)",
"Assembler (vehicles or metal goods)",
"Assembler or routine operative",
"Authors, writer or translator",
"Baker or flour confectioner",
"Bank or post office clerk",
"Bar or catering supervisor",
"Bar staff",
"Barrister or judge",
"Beautician or related occupations",
"Bed or breakfast or guest house owner or proprietor",
"Betting shop or gambling establishment manager",
"Biochemist or biomedical scientist",
"Biological scientist",
"Boat or ship builder or repairer",
"Book-keeper, payroll manager or wages clerk",
"Bricklayer",
"Broker",
"Building or civil engineering technician",
"Bus or coach driver",
"Business or financial project management professional",
"Business or related research professional",
"Business associate professional",
"Business sales executive",
"Business, research or administrative professional",
"Butcher or meat processing worker ",
"Buyer or procurement officer",
"CAD, drawing or architectural technician",
"Call or contact centre occupation",
"Care escort",
"Care worker or home carer",
"Careers adviser or vocational guidance specialist",
"Caretaker",
"Carpenter or joiner",
"Catering or bar manager",
"Charitable organisation manager or director",
"Chartered or certified accountant",
"Chartered architectural technologist, planning officer or consultant",
"Chartered surveyor",
"Chef or head chef",
"Chemical or related process operative",
"Chemical scientist",
"Chief executive or senior official",
"Child or early years officer",
"Childminder ",
"Children's nurse",
"Civil engineer",
"Cleaner or domestic",
"Cleaning or housekeeping manager or supervisor",
"Clergy",
"Clinical psychologist",
"Clothing, fashion or accessories designer",
"Coffee shop worker",
"Communication operator",
"Community nurse",
"Company secretary or administrator",
"Complementary health associate professional",
"Computer system or equipment installer or servicer",
"Conference or exhibition manager or organiser",
"Conservation professional",
"Construction or building trades ",
"Construction or building trades supervisor",
"Construction operative",
"Construction project manager or related professional",
"Cook",
"Counsellor",
"Crane driver",
"Credit controller",
"Customer service manager",
"Customer service occupation",
"Customer service supervisor",
"Cyber security professional",
"Dancer or choreographer",
"Data analyst",
"Data entry administrator",
"Database administrator or web content technician",
"Debt, rent or other cash collector",
"Delivery driver or courier",
"Delivery operative",
"Dental nurse",
"Dental practitioner",
"Design occupation",
"Director in consultancy services",
"Director in logistics, warehousing or transport",
"Dispensing optician",
"Driving instructor",
"Early education or childcare assistant",
"Early education or childcare practitioner",
"Early education or childcare services manager",
"Early education or childcare services proprietor",
"Education adviser or school inspector",
"Education manager",
"Educational support assistant",
"Elected officer or representative",
"Electrical or electronic trades",
"Electrical or electronics technician",
"Electrical engineer",
"Electrical service or maintenance mechanic or repairer",
"Electrician or electrical fitter",
"Electronics engineer",
"Elementary administration occupation",
"Elementary cleaning occupation",
"Elementary construction occupation",
"Elementary process plant occupation",
"Elementary sales occupation",
"Elementary storage occupation",
"Elementary storage supervisor",
"Energy plant operative",
"Engineering professional ",
"Engineering project manager or project engineer",
"Engineering technician",
"Environment professional",
"Environmental health professional",
"Estate agent or auctioneer",
"Estimator, valuer or assessor",
"Exam invigilator",
"Farm worker",
"Farmer",
"Finance or investment analyst or adviser",
"Finance officer",
"Financial accounts manager",
"Financial administrative occupation",
"Financial or accounting technician",
"Financial manager or director",
"Fire service officer (watch manager or below)",
"Fishing or other elementary agriculture occupation",
"Fishmonger or poultry dresser",
"Fitness or wellbeing instructor",
"Floorer or wall tiler",
"Florist",
"Food, meat, drink or tobacco process operative",
"Footwear or leather working trades",
"Forestry or related worker",
"Fork-lift truck driver",
"Functional manager or director",
"Furniture maker or other craft woodworker",
"Further education teacher",
"Garage manager or proprietor",
"Gardener or landscape gardener",
"General medical practioner",
"Glass or ceramics maker, decorator or finisher",
"Glazier, window fabricator or fitter",
"Graphic or multimedia designer",
"Groundsmen or greenkeeper",
"Groundworker",
"Hairdresser or barber",
"Hairdressing or beauty salon manager or proprietor",
"Head teacher or principal",
"Health or safety manager or officer",
"Health associate professional",
"Health care practice manager",
"Health services or public health manager or director ",
"Higher education teacher",
"Higher level teaching assistant",
"Hire services manager or proprietor",
"Horticultural trade",
"Hospital porter",
"Hotel or accommodation manager and proprietor",
"Housekeeper or related occupations",
"Houseparent or residential warden",
"Housing officer",
"Human resource manager or director",
"Human resources administrative occupation",
"Human resources or industrial relations officer ",
"Importer or exporter",
"Industrial cleaning process occupation",
"Inspector of storards or regulations",
"Insurance underwriter",
"Interior designer",
"IT business analyst, architect or systems designer",
"IT director",
"IT manager",
"IT network professional",
"IT operations technician",
"IT professional",
"IT project manager",
"IT quality or testing professional",
"IT trainer",
"IT user support technician",
"Kitchen or catering assistant",
"Laboratory technician",
"Large goods vehicle driver ",
"Launderer, dry cleaner or presser",
"Legal associate professional",
"Legal professional",
"Legal secretary",
"Leisure or sports manager ",
"Leisure or theme park attendant",
"Leisure or travel service occupation",
"Librarian",
"Library clerk or assistant",
"Local government administrative occupation",
"Management consultant or business analyst",
"Manager or director in retail or wholesale",
"Manager or director in the creative industries ",
"Manager or proprietor in agriculture and horticulture",
"Manager or proprietor in forestry, fishing and related services",
"Manager or proprietor in other services",
"Manager in logistics",
"Manager in storage or warehousing",
"Manager in transport or distribution",
"Marine or waterways transport operative",
"Market or street trader or assistant",
"Market research interviewer",
"Marketing or commercial manager",
"Marketing associate professional",
"Marketing, sales or advertising director",
"Mechanical engineer",
"Medical or dental technician",
"Medical radiographer",
"Medical secretary",
"Mental health nurse",
"Merchoriser",
"Metal machining setter or setter-operator",
"Metal making or treating process operative",
"Metal plate worker, smith, moulder or related occupations",
"Metal working machine operative",
"Metal working production or maintenance fitter",
"Midwifery nurse",
"Mining or quarry worker or related operatives",
"Mobile machine driver or operative",
"Musician",
"Nanny or au pair",
"National government administrative occupation",
"Natural or social science professional ",
"Newspaper or periodical editor",
"Newspaper or periodical journalist or reporter",
"Non-commissioned officer or other rank",
"Nurse practitioner",
"Nursery teacher",
"Nursing auxiliary or assistant",
"Occupational therapist",
"Office manager",
"Office supervisor",
"Officer in the armed forces ",
"Officer of non-governmental organisations",
"Ophthalmic optician",
"Other administrative occupation",
"Other driver or transport operative",
"Other educational professional",
"Other elementary services occupation",
"Other health professional",
"Other nursing professional",
"Other psychologist",
"Other researcher, unspecified discipline",
"Other skilled trades",
"Other vocational or industrial trainer",
"Packer, bottler, canner or filler",
"Painter or decorator",
"Paper or wood machine operative",
"Paramedic",
"Parking or civil enforcement ",
"Pensions or insurance clerk or assistant",
"Personal assistant  or other secretarial roles",
"Pest control officer",
"Pharmaceutical technician",
"Pharmacist",
"Pharmacy or optical dispensing assistant",
"Photographer, audio-visual or broadcasting equipment operator",
"Physical scientist",
"Physiotherapist",
"Pipe fitter",
"Planning, process or production technician",
"Plant or machine operative",
"Plasterer",
"Plastics process operative",
"Playworker",
"Plumber & heating or ventilating installer or repairer",
"Podiatrist",
"Police community support officer",
"Police officer (sergeant or below)",
"Postal worker, mail sorter or messenger",
"Pre-press technician",
"Precision instrument maker or repairer",
"Primary education teacher",
"Print finishing or binding worker",
"Printer",
"Printing machine assistant",
"Prison service officer (below principal officer)",
"Probation officer",
"Process operative",
"Production or process engineer",
"Production manager or director in construction",
"Production manager or director in manufacturing",
"Production manager or director in mining and energy ",
"Production, factory or assembly supervisor",
"Professional/Chartered company secretary",
"Programmer or software development professional",
"Project support officer",
"Property, housing or estate manager",
"Protective service associate professional",
"Psychotherapists or cognitive behaviour therapist",
"Public relations or communications director",
"Public relations professional",
"Public services associate professional",
"Publican or manager of licensed premises ",
"Purchasing manager or director",
"Quality assurance or regulatory professional",
"Quality assurance technician",
"Quality control or planning engineer",
"Quantity surveyor",
"Rail or rolling stock builder or repairer",
"Rail construction or maintenance operative",
"Rail transport operative",
"Rail travel assistant",
"Receptionist",
"Records clerk or assistant",
"Refuse or salvage occupation",
"Research or development (R&D) manager",
"Residential, day or domiciliary care manager and proprietor",
"Restaurant or catering establishment manager and proprietor",
"Retail cashier or check-out operator",
"Road construction operative",
"Road transport driver",
"Roofer, roof tiler or slater",
"Roundsperson or van salesperson",
"Routine inspector or tester",
"Sales account or business development manager",
"Sales administrator",
"Sales or retail assistant",
"Sales related occupation",
"Sales supervisor - retail or wholesale ",
"Scaffolder, stager or rigger",
"School midday or crossing patrol ",
"School secretary ",
"Science, engineering or production technician",
"Secondary education teacher",
"Security guard or related occupations",
"Security system installer or repairer",
"Senior care worker",
"Senior officer in fire, ambulance, prision or related services ",
"Senior police officer",
"Sewing machinist",
"Sheet metal worker",
"Shelf filler",
"Ship or hovercraft officer",
"Shopkeeper or owner - retail or wholesale",
"Skilled metal, electrical or electronic trades supervisor",
"Social or humanities scientist",
"Social services manager or director",
"Social worker",
"Solicitor or lawyer",
"Special needs teacher",
"Specialist medical practitioner",
"Specialist nurse",
"Speech or language therapist",
"Sports or leisure assistant",
"Sports coach, instructor or official",
"Sports player",
"Steel erector",
"Stock control clerk or assistant",
"Stonemason or related trades",
"Street cleaner",
"Tailor or dressmaker",
"Taxation expert",
"Taxi or cab drivers or chauffeurs",
"Teacher of English as a foreign language",
"Teaching assistant",
"Teaching professional",
"Telecoms or related network installer or repairer",
"Telephone salesperson",
"Telephonist",
"Textile process operative",
"Textiles, garments or related trades",
"Therapy professional",
"Tool maker, tool fitter or markers-out",
"Train or tram driver",
"Transport or distribution clerk or assistant",
"Travel agency manager or proprietor",
"Travel agent",
"TV, video or audio servicer or repairer",
"Typist or related keyboard occupation",
"Tyre, exhaust or windscreen fitter",
"Undertaker, mortuary or crematorium assistant",
"Upholsterer",
"Vehicle or parts salesperson or adviser",
"Vehicle or parts salesperson or adviser",
"Vehicle body builder or repairer",
"Vehicle paint technician",
"Vehicle technician, mechanic or electrician",
"Vehicle valeter or cleaner",
"Veterinarian",
"Veterinary nurse",
"Visual merchoriser or related occupations",
"Waiter or waitress",
"Warehouse operative",
"Waste disposal or environmental services manager",
"Water or sewerage plant operative",
"Web design professional",
"Weigher, grader or sorter",
"Welding trade",
"Welfare or housing associate professional",
"Welfare professional",
"Window cleaner",
"Youth or community worker",
"Youth work professional",
"Other"
  ];

  accessibleAutocomplete({
    autoselect: true,
    element: document.querySelector('#cuOccupation'),
    id: 'occupation',
    source: occupations,
    displayMenu: 'overlay',
    minLength: 2
  });
</script>
{% endblock %}
