
{% extends "includes/layout.html" %}

{% block pageTitle %}
  Get a coronavirus test prototypes
{% endblock %}

{% block content %}


  {% include "includes/gtm-noscript.html" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Get a coronavirus test prototypes</h1>


      <h2 class="govuk-heading-m">Antigen (V1 - Live)</h2>
      <p class="govuk-body"></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/antigen/research-intro">Research Scenario</a>
        </li>
        <li>
          <a href="/antigen/v1/govuk/">GOV.UK coronavirus page</a>
        </li>
        <li>
          <a href="/antigen/v1/refer-and-triage/">Refer and triage</a>
        </li>
        <li>
          <a href="/antigen/v1/global-registration/">Global registration</a>
        </li>
        <li>
          <a href="/antigen/v1/site-appointment-booking/choose-drive-through-site">Site appointment registration</a>
        </li>
        <li>
          <a href="/antigen/v1/order-home-test-kit/">Ordering a home test kit</a>
        </li>
        <li>
          <a href="/antigen/v1/home-testing/">Registering a home test kit</a>
        </li>
        <li>
          <a href="/antigen/v1/home-testing/agnostic-instructions">Home test kit instructions</a>
        </li>
        <details class="govuk-details govuk-!-margin-top-2 govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Results
          </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/antigen/v1/results/negative">Negative result (non-Randox test)</a></li>
              <li><a href="/antigen/v1/results/positive">Positive result (non-Randox test)</a></li>
              <li><a href="/antigen/v1/results/unclear">Unclear result (non-Randox test)</a></li>
            </ul>
          </div>
        </details>
      </ul>

      <h2 class="govuk-heading-m">Antigen (V2 - Future features)</h2>
      <p class="govuk-body"></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/antigen/research-intro">Research Scenario</a>
        </li>
        <li>
          <a href="/antigen/v2/govuk/">GOV.UK coronavirus page</a>
        </li>
        <li>
          <a href="/antigen/v2/refer-and-triage/">Refer and triage</a>
        </li>
        <li>
          <a href="/antigen/v2/global-registration/">Global registration</a>
        </li>
        <li>
          <a href="/antigen/v2/site-appointment-booking/choose-drive-through-site">Site appointment registration</a>
        </li>
        <li>
          <a href="/antigen/v2/order-home-test-kit/">Ordering a home test kit</a>
        </li>
        <li>
          <a href="/antigen/v2/home-testing/">Registering a home test kit</a>
        </li>
        <details class="govuk-details govuk-!-margin-top-2 govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Instructions
          </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/antigen/v2/site-appointment-booking/instructions-drive-through">Drive-through instructions</a></li>
              <li><a href="/antigen/v2/site-appointment-booking/instructions-walk-through">Walk-through instructions</a></li>
              <li><a href="/antigen/v2/home-testing/agnostic-instructions">Home test kit instructions</a></li>
            </ul>
          </div>
        </details>
        <details class="govuk-details govuk-!-margin-top-2 govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Results
          </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/antigen/v2/results/negative">Negative result (non-Randox test)</a></li>
              <li><a href="/antigen/v2/results/positive">Positive result (non-Randox test)</a></li>
              <li><a href="/antigen/v2/results/weak-positive">Weak positive result (non-Randox test)</a></li>
              <li><a href="/antigen/v2/results/unclear">Unclear result (non-Randox test)</a></li>
            </ul>
          </div>
        </details>
      </ul>

      <h2 class="govuk-heading-m">Antigen (V3 - Liverpool testing)</h2>
      <p class="govuk-body"></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/antigen/research-intro">Research Scenario</a>
        </li>
        <li>
          <a href="/antigen/v3/govuk/">GOV.UK coronavirus page</a>
        </li>
        <li>
          <a href="/antigen/v3/refer-and-triage/">Refer and triage</a>
        </li>
        <li>
          <a href="/antigen/v3/global-registration/">Global registration</a>
        </li>
        <li>
          <a href="/antigen/v3/site-appointment-booking/choose-drive-through-site">Site appointment registration</a>
        </li>
        <li>
          <a href="/antigen/v3/order-home-test-kit/">Ordering a home test kit</a>
        </li>
        <li>
          <a href="/antigen/v3/home-testing/">Registering a home test kit</a>
        </li>
        <li>
          <a href="/antigen/v3/home-testing/agnostic-instructions">Home test kit instructions</a>
        </li>
        <details class="govuk-details govuk-!-margin-top-2 govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Results
          </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/antigen/v3/results/negative">Negative result (non-Randox test)</a></li>
              <li><a href="/antigen/v3/results/positive">Positive result (non-Randox test)</a></li>
              <li><a href="/antigen/v3/results/unclear">Unclear result (non-Randox test)</a></li>
            </ul>
          </div>
        </details>
      </ul>

      <h2 class="govuk-heading-m">Antigen (V6 - Reflects live 7 Jan 2022)</h2>
      <p class="govuk-body"></p>
      <ul class="govuk-list govuk-list--bullet">
        <!-- <li>
          <a href="/antigen/research-intro">Research Scenario</a>
        </li>
        <li>
          <a href="/antigen/v6/govuk/">GOV.UK coronavirus page</a>
        </li> -->
        <li>
          <a href="/antigen/v6/refer-and-triage/">Refer and triage</a>
        </li>
        <!-- <li>
          <a href="/antigen/v6/global-registration/">Global registration</a>
        </li>
        <li>
          <a href="/antigen/v6/site-appointment-booking/choose-drive-through-site">Site appointment registration</a>
        </li> -->
        <!-- <li>
          <a href="/antigen/v6/order-home-test-kit/">Ordering a home test kit</a>
        </li> -->
        <li>
          <a href="/antigen/v6/home-testing/">Registering a home test kit</a>
        </li>
        <!-- <li>
          <a href="/antigen/v6/home-testing/agnostic-instructions">Home test kit instructions</a>
        </li> -->
        <!-- <details class="govuk-details govuk-!-margin-top-2 govuk-!-margin-bottom-0" data-module="govuk-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Results
          </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/antigen/v6/results/negative">Negative result (non-Randox test)</a></li>
              <li><a href="/antigen/v6/results/positive">Positive result (non-Randox test)</a></li>
              <li><a href="/antigen/v6/results/unclear">Unclear result (non-Randox test)</a></li>
            </ul>
          </div>
        </details> -->
      </ul>



    </div>
  </div>

{% endblock %}
