
{% extends "includes/layout.html" %}

{% block pageTitle %}
  Get a coronavirus test prototypes
{% endblock %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}


  <a class="govuk-back-link" href="searchbox">Back</a><br>


  <a href="searchbox"><img src="/public/images/SearchResults0.png" width="900px" alt="optionsA"></a>
  <a href="#"><img src="/public/images/SearchLinksA.PNG" width="900px" alt="optionsA"></a>
  <a href="/antigen/v1/govuk/get-a-test"><img src="/public/images/SearchLinksB.PNG" width="900px" alt="optionsB"></a>
  <a href="/antigen/v1/govuk/get-coronavirus-test"><img src="/public/images/SearchLinksC.PNG" width="900px" alt="optionsC"></a>
      <a href="#nearme"><img src="/public/images/SearchResultsA.png" width="900px" alt="optionsA"></a>
      <a href="/antigen/v1/govuk/"><img src="/public/images/SearchResultsC.png" width="900px" alt="OptionsC"></a>
      <a href="/antigen/v1/govuk/get-a-test"><img src="/public/images/SearchResultsB.png" width="1000px" alt="optionsB" style="margin-left:-55px"></a>
      <a href="/antigen/v1/govuk/get-coronavirus-test"><img src="/public/images/SearchResultsD.png" width="900px" alt="OptionsD" style="margin-left:25px"></a>

{% endblock %}
