
{% extends "includes/layout.html" %}

{% block pageTitle %}
  Get a coronavirus test prototypes
{% endblock %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}

  <a class="govuk-back-link" href="scenario">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Search online...</h1>

      <form action="searchresults" method="post">

        <fieldset class="govuk-fieldset">
        
          <div class="govuk-form-group">
            <label class="govuk-label" for="search-result">
       
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="search-result" name="search-result" type="text" value="{{ data['search-result'] }}">
          </div>

        </fieldset>

        <button class="govuk-button" data-module="govuk-button">Search</button>

      </form>

    </div>
  </div>


{% endblock %}
