<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-7-a-to-z.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Treatment - Cervical cancer - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    <!-- Change the page title here -->
    <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
      <div>
        <ol class="nhsuk-breadcrumb__list ">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-7/">Home</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-7/a-to-z">Health A to Z</a>
          </li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-7/a-to-z/cancer">Cancer</a>
          </li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link"
              href="/lab-7/a-to-z/cancer/types-of-cancer/cervical-cancer">Cervical cancer</a></li>

        </ol>
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink"
            href="/lab-7/a-to-z/cancer/types-of-cancer/cervical-cancer">Cervical cancer</a></p>
      </div>
    </nav>

    <h1>
      Living with - Cervical cancer
    </h1>







    <section>







      <p><strong>The effect cervical cancer has on your daily life will depend on the stage of cancer and the treatment
          you're having.</strong></p>
      <p>Many women with cervical cancer have a radical <a href="javascript:void(0)">hysterectomy</a>. This is a
        major operation that takes time to recover from. Most women will need 6 to 12 weeks off work after a radical
        hysterectomy. </p>
      <p>During recovery, try to avoid strenuous tasks and lifting, such as lifting children or heavy shopping bags. You
        probably will not be able to drive for at least 3 to 6 weeks after the operation, but you should check with your
        insurance company what their rules are. </p>
      <p>Some of the treatments for cervical cancer can make you very tired, particularly&nbsp;<a
          href="javascript:void(0)">chemotherapy</a> and <a href="javascript:void(0)">radiotherapy</a>.
        Because of this, you may need to take a break from some of your normal activities for a while.</p>
      <p>You should not be afraid to ask for practical help from family and friends if you need it. Practical help may
        also be available from your local authority. Ask your doctor or nurse about who you should contact.</p>

        <h4>
          Living with - Cervical cancer links
        </h4>
        <div class="nhsuk-inset-text nhsuk-u-margin-bottom-4 nhsuk-u-margin-top-0">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>
            <a href="javascript:void(0)">Hysterectomy</a>
          </p>
          <p>
            <a href="javascript:void(0)">Chemotherapy</a>
          </p>
          <p>
            <a href="javascript:void(0)">Radiotherapy</a>
          </p>
        </div>


    </section>






    <section>


      <a id="work"></a>







      <h2 class="nhsuk-u-padding-top-5">Work</h2>
      <p>Having cervical cancer does not necessarily mean you'll have to give up work, although you may need quite a lot
        of time off. During treatment, you may not be able to carry on as you did before.</p>
      <p>If you have cancer, you're covered by the <a
          href="https://www.gov.uk/definition-of-disability-under-equality-act-2010" title="External website">Disability
          Discrimination Act</a>. This means your employer is not allowed to discriminate against you because of your
        illness. They have a duty to make "reasonable adjustments" to help you cope. Examples of these include:</p>
      <ul>
        <li>allowing you time off for treatment and medical appointments</li>
        <li>allowing flexibility with working hours, the tasks you have to perform or your working environment</li>
      </ul>
      <p>The definition of "reasonable" depends on the situation, such as how much it would affect your employer's
        business, for example.</p>
      <p>You should give your employer as much information as possible about how much time you will need off and when.
        Speak to a member of your human resources department, if you have one. Your union or staff association
        representative can also give you advice.</p>
      <p>If you're having difficulties with your employer, your union or local <a
          href="https://www.citizensadvice.org.uk/" title="External website">Citizens Advice</a> may be able to help.
      </p>
      <p>Macmillan Cancer Support&nbsp;also has <a
          href="https://www.macmillan.org.uk/Aboutus/Workandcancer/Workandcancer.aspx" title="External website">more
          information and advice about work and cancer</a>.</p>


          <h4>
            Further information
          </h4>



          <div class="nhsuk-inset-text nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
            <div class="nhsuk-inset-text__content">
              <p class="nhsuk-u-margin-bottom-0">
                <a href="https://www.citizensadvice.org.uk/" title="External website">Citizens Advice: Work</a>
              </p>
              <p>
                citizensadvice.org.uk/
              </p>
            </div>
          </div>

          <div class="nhsuk-inset-text nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">
            <div class="nhsuk-inset-text__content">
              <p class="nhsuk-u-margin-bottom-0">
                <a href="https://www.macmillan.org.uk/Aboutus/Workandcancer/Workandcancer.aspx"
                  title="External website">Macmillan: Work and care</a>
              </p>
              <p>
                www.macmillan.org.uk
              </p>
            </div>
          </div>




    </section>






    <section>


      <a id="money-and-benefits"></a>



      <h2 class="nhsuk-u-padding-top-5">Money and benefits</h2>
      <p>If you have to reduce or stop work because of your cancer, you may find it difficult to cope financially. If
        you have cancer or are caring for someone with cancer, you may be entitled to financial support. For example:
      </p>
      <ul>
        <li>if you have a job but cannot work because of your illness, you're entitled to&nbsp;<a
            href="https://www.gov.uk/statutory-sick-pay" title="External website">Statutory Sick Pay</a> from your
          employer </li>
        <li>if you do not have a job and cannot work because of your illness, you may be entitled to <a
            href="https://www.gov.uk/employment-support-allowance" title="External website">Employment and Support
            Allowance</a></li>
        <li>if you're caring for someone with cancer, you may be entitled to <a
            href="https://www.gov.uk/carers-allowance" title="External website">Carer's Allowance</a></li>
        <li>you may be eligible for other benefits if you have children living at home or you have a low household
          income</li>
      </ul>
      <p>It's a good idea to find out what help is available as soon as possible. You could ask to speak to the social
        worker at your hospital who can give you the information you need.</p>


        <h4>
          Further information
        </h4>



        <div class="nhsuk-inset-text nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
          <div class="nhsuk-inset-text__content">
            <p class="nhsuk-u-margin-bottom-0">
              <a href="https://www.gov.uk/statutory-sick-pay" title="External website">Gov UK: Statutory Sick Pay</a>
            </p>
            <p>
              www.gov.uk
            </p>
          </div>
        </div>

        <div class="nhsuk-inset-text nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">
          <div class="nhsuk-inset-text__content">
            <p class="nhsuk-u-margin-bottom-0">
              <a href="https://www.gov.uk/employment-support-allowance"
                title="External website">Gov UK: Employment support allowance</a>
            </p>
            <p>
              www.gov.uk
            </p>
          </div>
        </div>

        <div class="nhsuk-inset-text nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">
          <div class="nhsuk-inset-text__content">
            <p class="nhsuk-u-margin-bottom-0">
              <a href="https://www.gov.uk/carers-allowance"
                title="External website">Gov UK: Careers allowance</a>
            </p>
            <p>
              www.gov.uk
            </p>
          </div>
        </div>


    </section>






    <section>


      <a id="free-prescriptions"></a>







      <h2 class="nhsuk-u-padding-top-5">Free prescriptions</h2>
      <p>People being treated for cancer are entitled to apply for an exemption certificate giving free prescriptions
        for all medication, including treatments for unrelated conditions.</p>
      <p>The certificate is valid for 5 years. You can apply for a certificate by speaking to your GP or cancer
        specialist.</p>
      <p>Read more about <a
          href="javascript:void(0)">help with
          prescription costs</a>.</p>


          <h4>
            Further information
          </h4>
          <div class="nhsuk-inset-text nhsuk-u-margin-bottom-4 nhsuk-u-margin-top-0">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>
              <a href="javascript:void(0)">Help with prescription costs</a>
            </p>
          </div>



    </section>






    <section>


      <a id="your-sex-life"></a>







      <h2 class="nhsuk-u-padding-top-5">Your sex life</h2>
      <p>Many women feel nervous about having sex after treatment for cervical cancer, but it's perfectly safe. Sex
        won't make the cancer come back, and your partner cannot catch cancer from you.</p>
      <p>If you want to, you can resume your normal sex life within a few weeks of finishing radiotherapy or having
        surgery. This will give your body time to heal.</p>
      <p>If you're having chemotherapy, male partners should wear a&nbsp;<a
          href="javascript:void(0)">condom</a> as a precaution when you have sex. This is because
        at the moment it is not clear whether chemotherapy medication can come through in the vaginal mucus and affect
        male partners.</p>
      <p>Some women find sex difficult after being treated for cervical cancer because the side effects of some
        treatments can include vaginal narrowing and dryness. In these cases, there are treatments that can help, such
        as vaginal dilators, moisturisers and lubricants. </p>
      <p>Read <a href="javascript:void(0)">complications of cervical cancer</a>&nbsp;for further
        information.</p>
      <p>Macmillan Cancer Support has more on&nbsp;<a
          href="https://www.macmillan.org.uk/Cancerinformation/Cancertypes/Cervix/Livingwithcervicalcancer/Sexlifefertility.aspx"
          title="External website">how treatment for cervical cancer may affect your sex life</a>.</p>

          <h4>
            Sex life links
          </h4>
          <div class="nhsuk-inset-text nhsuk-u-margin-bottom-4 nhsuk-u-margin-top-0">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>
              <a href="javascript:void(0)">condom</a>
            </p>
            <p>
              <a href="javascript:void(0)">complications of cervical cancer</a>
            </p>
          </div>
          <div class="nhsuk-inset-text nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
            <div class="nhsuk-inset-text__content">
              <p class="nhsuk-u-margin-bottom-0">
                <a href="javascript:void(0)"
                  title="External website">MacMillan: sex life</a>
              </p>
              <p>
                www.macmillan.org.uk
              </p>
            </div>
          </div>


    </section>






    <section>


      <a id="more-information-and-support"></a>







      <h3 class="nhsuk-u-padding-top-5">More information and support</h3>
      <p>The charity <a href="https://www.jostrust.org.uk/" title="External website">Jo's Cervical Cancer Trust</a> has
        information on all aspects of cervical cancer. </p>
      <p>It also has an <a href="https://www.jostrust.org.uk/forum" title="External website">online forum</a>, <a
          href="https://www.jostrust.org.uk/support/helpline" title="External website">free helpline</a> and <a
          href="https://www.jostrust.org.uk/support/ask-expert" title="External website">Ask the Expert section</a>, and
        runs face-to-face <a href="https://www.jostrust.org.uk/support/support-groups" title="External website">support
          groups</a> and information days for women affected by cervical cancer. </p>
      <p>Local cancer support groups may also be available in your area. Your specialist cancer nurse should be able to
        provide contact details.</p>

        <div class="nhsuk-inset-text nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
          <div class="nhsuk-inset-text__content">
            <p class="nhsuk-u-margin-bottom-0">
              <a href="javascript:void(0)"
                title="External website">Jo's Cervical Cancer Trust: Online Forum</a>
            </p>
            <p>
              www.jostrust.org.uk
            </p>
          </div>
        </div>
        <div class="nhsuk-inset-text nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">
          <div class="nhsuk-inset-text__content">
            <p class="nhsuk-u-margin-bottom-0">
              <a href="javascript:void(0)"
                title="External website">Jo's Cervical Cancer Trust: Free helpline</a>
            </p>
            <p>
              www.jostrust.org.uk
            </p>
          </div>
        </div>
        <div class="nhsuk-inset-text nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">
          <div class="nhsuk-inset-text__content">
            <p class="nhsuk-u-margin-bottom-0">
              <a href="javascript:void(0)"
                title="External website">Jo's Cervical Cancer Trust: Ask the expert section</a>
            </p>
            <p>
              www.jostrust.org.uk
            </p>
          </div>
        </div>
        <div class="nhsuk-inset-text nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">
          <div class="nhsuk-inset-text__content">
            <p class="nhsuk-u-margin-bottom-0">
              <a href="javascript:void(0)"
                title="External website">Jo's Cervical Cancer Trust: Support groups</a>
            </p>
            <p>
              www.jostrust.org.uk
            </p>
          </div>
        </div>



    </section>


















    <nav class="nhsuk-contents-list nhsuk-u-padding-top-8" role="navigation" aria-label="Pages in this guide">
      <h2 class="">More in <a href="/lab-7/a-to-z/cancer/types-of-cancer/cervical-cancer/">Cervical cancer</a></a></h2>
      <ul class="nhsuk-list app-side-nav__list">


        <li class="app-side-nav__item "><a href="/lab-7/a-to-z/cancer/types-of-cancer/cervical-cancer/overview"
            title="">Overview</a></li>
        <li class="app-side-nav__item "><a href="/lab-7/a-to-z/cancer/types-of-cancer/cervical-cancer/symptoms"
            title="">Symptoms</a></li>
        <li class="app-side-nav__item "><a href="/lab-7/a-to-z/cancer/types-of-cancer/cervical-cancer/causes"
            title="">Causes</a></li>
        <li class="app-side-nav__item "><a href="/lab-7/a-to-z/cancer/types-of-cancer/cervical-cancer/diagnosis"
            title="">Diagnosis</a></li>
        <li class="app-side-nav__item "><a href="/lab-7/a-to-z/cancer/types-of-cancer/cervical-cancer/treatment"
            title="">Treatment</a></li>
        <li class="app-side-nav__item app-side-nav__item--current">Living with</li>
        <li class="app-side-nav__item "><a href="/lab-7/a-to-z/cancer/types-of-cancer/cervical-cancer/complications"
            title="">Complications</a></li>
        <li class="app-side-nav__item "><a href="/lab-7/a-to-z/cancer/types-of-cancer/cervical-cancer/prevention"
            title="">Prevention</a></li>

      </ul>
    </nav>


    <div class="nhsuk-review-date nhsuk-u-padding-top-5">
      <p class="nhsuk-body-s">
        Page last reviewed: 8 August 2017<br>
        Next review due: 8 August 2020
      </p>
    </div>

  </div>
</div>
{% endblock %}