{% extends "includes/layout.html" %}
{% set serviceName = "COVID-19" %}
{% set pageTitle = "Check your organisation’s address" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a class="govuk-back-link" href="javascript:window.history.go(-1);">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ pageTitle }}</h1>
      <p class="govuk-body">These details are taken from your unique organisation number (UON). This is where the collection will take place.</p>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Organisation name</th>
            <td class="govuk-table__cell">{ organisation name }</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Street</th>
            <td class="govuk-table__cell">{ street }</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">City or town</th>
            <td class="govuk-table__cell">{ city or town }</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Postcode</th>
            <td class="govuk-table__cell">{ postcode }</td>
          </tr>
        </tbody>
      </table>


      <form action="3" method="post">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

      <p class="govuk-body">If these details need updating, call the contact centre:</p>
      <ul class="govuk-list govuk-list--bullet govuk-list govuk-list--bullet govuk-!-margin-bottom-4">
        <li>England, Wales and Northern Ireland: call <span class="govuk-!-font-weight-bold">119</span> (free from mobiles and landlines)</li>
        <li>Scotland: call <span class="govuk-!-font-weight-bold">0300 303 2713</span> (charged at your standard network rate)</li>
      </ul>
      <p class="govuk-body">Lines are open 7am to 11pm.</p>

    </div>
  </div>


{% endblock %}
