{% extends "includes/layout.html" %}
{% set serviceName = "COVID-19" %}
{% set pageTitle = "Book a PCR test kit collection" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="2" method="post">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-2">
              {{ pageTitle }}
            </h1>
          </legend>

          <p class="govuk-body">To arrange courier collection of test kits, you will need <a rel="noopener noreferrer" target="_blank" href="https://organisation-number-lookup.test-for-coronavirus.service.gov.uk">your 8 digit unique organisation number (UON)</a> and postcode. Completed PCR swab test kits need to be returned to a lab to be checked. If you’ve been asked to return kits by courier, enter your 8 digit unique organisation number (UON).</p>
          <p class="govuk-body">You can book a collection up to 28 days in advance.</p>

          <h3 class="govuk-heading-m">Next day collections</h3>
          <!-- <p class="govuk-body">You need to book by:</p>
          <ul class="govuk-list govuk-list--bullet govuk-list govuk-list--bullet govuk-!-margin-bottom-4">
            <li>5pm for collections between 9am and 1pm or 2pm and 6pm</li>
            <li>7pm for collections between 4pm and 9pm or 6pm and 9pm</li>
          </ul> -->



          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Collection time</th>
                <th scope="col" class="govuk-table__header">Book by</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">9am to 1pm<br />2pm to 6pm</td>
                <td class="govuk-table__cell">5pm</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">4pm to 9pm<br />6pm to 9pm</td>
                <td class="govuk-table__cell">7pm</td>
              </tr>
            </tbody>
          </table>





          <h3 class="govuk-heading-m">Emergency collections</h3>
          <p class="govuk-body">Call the contact centre:</p>
          <ul class="govuk-list govuk-list--bullet govuk-list govuk-list--bullet govuk-!-margin-bottom-4">
            <li>England, Wales and Northern Ireland: call <span class="govuk-!-font-weight-bold">119</span> (free from mobiles and landlines)</li>
            <li>Scotland: call <span class="govuk-!-font-weight-bold">0300 303 2713</span> (charged at your standard network rate)</li>
          </ul>
          <p class="govuk-body govuk-!-margin-bottom-6">Lines are open 7am to 11pm.</p>

          <div class="govuk-form-group">
            <label class="govuk-label" for="">
              Unique organisation number (UON)
            </label>
            <input class="govuk-input govuk-input--width-20" id="" name="" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="">
              Postcode
            </label>
            <input class="govuk-input govuk-input--width-10" id="" name="" type="text">
          </div>

          <div class="govuk-form-group">
            <div class="govuk-!-margin-bottom-6" style="width: 300px;height: 80px; background-color: #ccc;">
              reCAPTCHA
            </div>
          </div>

        </fieldset>
        <a href="2" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </form>

    </div>
  </div>


{% endblock %}
