{% set version = "v1" %}
{% set pageTitle = "Confirm your identity" %}

{% extends "includes/layout-intl-arrivals.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link" href="/international-arrivals-admin/{{version}}/manage-orders/">Back</a>

{% endblock %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}
​
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form action="/international-arrivals-admin/{{version}}/manage-orders/order-details-12345676" method="post" novalidate>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">{{ pageTitle }}</h1>



      <div style="display: flex; justify-content: space-between; align-items: flex-end;">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Personal details</h2>
      </div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            First Name
          </dt>
          <dd class="govuk-summary-list__value">
            Zara
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/name">
              Change
              <span class="govuk-visually-hidden">name</span>
            </a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last Name
          </dt>
          <dd class="govuk-summary-list__value">
            Alime
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/name">
              Change
              <span class="govuk-visually-hidden">name</span>
            </a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            13 Jul 1991
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/date-of-birth">
              Change
              <span class="govuk-visually-hidden">date of birth</span>
            </a>
          </dd> -->
        </div>
      </dl>

      <div style="display: flex; justify-content: space-between; align-items: flex-end;">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Contact details</h2>
      </div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Mobile
          </dt>
          <dd class="govuk-summary-list__value">
            077719965331
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/mobile-number">
              Change
              <span class="govuk-visually-hidden">mobile number</span>
            </a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            zalime@example.co.uk
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/email-address">
              Change
              <span class="govuk-visually-hidden">email address</span>
            </a>
          </dd> -->
        </div>

      </dl>

      <div style="display: flex; justify-content: space-between; align-items: flex-end;">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Delivery address</h2>
        <!-- <p class="govuk-body">
          <a href="/international-arrivals/{{version}}/contact-details">
            Change
            <span class="govuk-visually-hidden">name</span>
          </a>
        </p> -->
      </div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Building and street
          </dt>
          <dd class="govuk-summary-list__value">
            3 Chapel Hill
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/address">
              Change
              <span class="govuk-visually-hidden">Building and street</span>
            </a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Town or city
          </dt>
          <dd class="govuk-summary-list__value">
            Bournemouth
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/ethnic-group">
              Change
              <span class="govuk-visually-hidden">ethnic group</span>
            </a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Postcode
          </dt>
           <dd class="govuk-summary-list__value">
            BH1 1AA
           </dd>
         <!-- <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/address">
              Change
              <span class="govuk-visually-hidden">postcode</span>
            </a>
          </dd> -->
        </div>
      </dl>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm identity
        </button>
        <a href="/international-arrivals-admin/{{version}}/manage-orders/" style="margin-left: 25px;" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Search again
        </a>

      </form>

    </div>


  </div>
{% endblock %}
