{% set version = "v1" %}
{% set pageTitle = "What's the patient's procedure date?" %}

{% set group %}
  {% if data.cuRequestGroup %}
    Group {{ data.cuRequestGroup }}
    {% else %}
      Group 1
  {% endif %}
{% endset %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#date-of-procedure-day">This date is too soon. You can only enter dates that are in 5 or more days time.</a>
            </li>
          </ul>
        </div>
      </div>

      <form action="personal-details" method="post">

        <div class="govuk-form-group govuk-form-group--error">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-of-procedure-hint date-of-procedure-hint-2">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-xl"> {{ group }}</span>
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
                {{ pageTitle }}
              </h1>
            </legend>
            <span id="date-of-procedure-hint" class="govuk-body">
              We need to know this so we can tell them when to take their test.<br><br>
            </span>
            <span id="date-of-procedure-hint-2" class="govuk-hint">
              For example, 19 7 2021
            </span>
            <span id="date-of-procedure-hint-3" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> This date is too soon. You can only enter dates that are in 5 or more days time.
            </span>
            <div class="govuk-date-input" id="date-of-procedure">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-of-procedure-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--error govuk-input--width-2" id="date-of-procedure-day" name="date-of-procedure-day" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['date-of-procedure-day'] }}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-of-procedure-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--error govuk-input--width-2" id="date-of-procedure-month" name="date-of-procedure-month" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['date-of-procedure-month'] }}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-of-procedure-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--error govuk-input--width-4" id="date-of-procedure-year" name="date-of-procedure-year" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['date-of-procedure-year'] }}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
