{% set version = "v9" %}
{% set pageTitle = "Collecting your tests" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            {{ pageTitle }}
        </h1>

        <p class="govuk-body">You can collect rapid lateral flow home test kits from:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="#" class="govuk-link">your local test site</a></li>
          <li><a href="#" class="govuk-link">your local pharmacy</a></li>
        </ul>
        <p class="govuk-body">You can also <a href="#" class="govuk-link">get tested at a local test site</a></p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">About collecting tests</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>You do not have to book an appointment</li>
          <li>You do not need any paperwork or ID</li>
          <li>You do need to wear a face covering (unless you're exempt)</li>
          <li>You do need to follow social distancing</li>
          <li>You must be 18 or over</li>
        </ul>

        <p class="govuk-body govuk-!-margin-bottom-7">
          You can get up to X packs of tests (there are 7 tests in a pack)
        </p>

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text govuk-!-font-size-19">
              <span class="govuk-warning-text__assistive">Warning</span>
              Do not go if you have coronavirus symptoms or you're been told to self-isolate. <a class="govuk-link" href="#">Find out what you must do and how to get tested</a>.
            </strong>
          </div>

    </div>
</div>

{% endblock %}
