{% set version = "v9" %}
{% set pageTitle = "Sorry, rapid lateral flow tests are not right for you" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            {{ pageTitle }}
        </h1>
        <p class="govuk-body">
          They are for people who do not have coronavirus symptoms.
        </p>
        <p class="govuk-body govuk-!-margin-top-6">
          <strong class="govuk-!-font-size-24">What to do</strong>
        </p>
        <p class="govuk-body">
          Because you have symptoms you must:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-5">
          <li>stay at home and self-isolate</li>
          <li>get a different test (called a PCR test) to check if you have the virus</li>
        </ul>
        <p class="govuk-body">
            <a href="../../antigen/{{version}}/govuk/get-coronavirus-test.html" class="govuk-link">Get the test for people who have symptoms</a>
        </p>

    </div>
</div>

{% endblock %}
