{% set version = "v9" %}
{% set pageTitle = "Do you need the test for any of these reasons?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/lfd-home-ordering/{{version}}/action10/scottish-isles" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="scottish-isles-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                            {{ pageTitle }}
                        </h1>
                    </legend>
                    <ul class="govuk-list govuk-list--bullet">
                        <!-- <li>You're planning on travelling to a Scottish Island</li> -->
                        <li>you were asked to get tested by a local authority</li>
                        <li>you were asked to get tested by an NHS Public Health team</li>
                    </ul>
                    <div class="govuk-radios govuk-!-margin-top-5" data-module="govuk-radios">

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="scottish-isles-1" name="scottish-isles" type="radio" value="Yes" {{ checked("scottish-isles", "Yes") }}>
                            <label class="govuk-label govuk-radios__label" for="scottish-isles-1">
                                Yes
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="scottish-isles-2" name="scottish-isles" type="radio" value="No" {{ checked("scottish-isles", "No") }}>
                            <label class="govuk-label govuk-radios__label" for="scottish-isles-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>

    </div>
</div>

{% endblock %}
