{% set version = "v1" %}
{% set pageTitle = "You are invited to be a home test kit leader" %}
{% extends "includes/layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-6">{{ pageTitle }}</h1>

      <p class="govuk-body govuk-!-margin-bottom-1">This service lets you manage bulk home test kit ordering. As a manager, you can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>order home test kits for individuals in surge testing areas</li>
      </ul>

      <h2 class="govuk-heading-m">How to create an account</h2>
      <p class="govuk-body">You will receive a text with your temporary password. You must use this within 7 days before it expires. Sign in with your email address as your username. Then reset your password to continue.</p>

      <!-- <p class="govuk-body">
        Start now at <a href="#" class="govuk-link">https://admin.log-coronavirus-test-site-results.service.go.uk</a>
      </p> -->

      <a href="/bulk-order-home-kits/{{version}}/login-temporary" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-top-4" data-module="govuk-button">
        Start now
      </a>

    </div>
  </div>

{% endblock %}