{% set version = "v1" %}
{% set pageTitle = "Create a bulk order of home test kits" %}
{% extends "includes/layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-6">{{ pageTitle }}</h1>

      <p class="govuk-body govuk-!-margin-bottom-6">Use this service to manage bulk testing  and arrange for home test kits to be sent to individuals.</p>

      <p class="govuk-body govuk-!-margin-bottom-1">You can use our spreadsheet to order tests for up to 100 people at a time.</p>

      <h2 class="govuk-heading-m">Check what you need</h2>
      <p class="govuk-body govuk-!-margin-bottom-1">You'll need the following details before you start:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>name</li>
        <li>mobile phone number</li>
        <li>delivery address</li>
      </ul>

      <h2 class="govuk-heading-m">How we use personal data</h2>
      <p class="govuk-body">
        To find out how we use these details, <a href="#" class="govuk-link">read the coronavirus (COVID-19) privacy note</a>.
      </p>

      <a href="/bulk-order-home-kits/{{version}}/login" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-top-4" data-module="govuk-button">
        Start now
      </a>

    </div>
  </div>

{% endblock %}