{% set version = "v1" %}
{% set pageTitle = "Order a lateral flow test for members or your organisation" %}
{% extends "includes/layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-6">{{ pageTitle }}</h1>

      <p class="govuk-body govuk-!-margin-bottom-6">Use this service for members of your organisation who need to be tested as part of their role</p>

      <h2 class="govuk-heading-m">When to order a home test</h2>
      <p class="govuk-body">Order tests for your members <strong>x days before their test date</strong>. This allows enough time for them to receive and take their test.</p>

      <p class="govuk-body govuk-!-margin-bottom-1">There are 2 ways you can order a test:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>use our <a href="#" class="govuk-link">spreadsheet</a> to order tests for up to x members at a time</li>
        <li>add each person's details one by one using our online form</li>
      </ul>

      <h2 class="govuk-heading-m">Check what you need</h2>
      <p class="govuk-body govuk-!-margin-bottom-1">You'll need the following patient details to request a test:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>name</li>
        <li>date of birth</li>
        <li>gender</li>
        <li>mobile phone number</li>
        <li>NHS number</li>
        <li>delivery address</li>
      </ul>

      <p class="govuk-body govuk-!-margin-bottom-6">If you do not have all these details or your patient cannot take a home test, you'll need to arrange a different way to get a test. <a href="#" class="govuk-link">Find out what a home test involves involves</a>.</p>

      <h2 class="govuk-heading-m">How we use their data</h2>
      <p class="govuk-body">
        To find out how we use their personal data, <a href="#" class="govuk-link">read the coronavirus privacy note</a>.
      </p>

      <a href="/bulk-order-home-kits/{{version}}/login" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-top-4" data-module="govuk-button">
        Start now
      </a>

    </div>
  </div>

{% endblock %}