{% set version = "v3" %}
{% set pageTitle = "Confirmation email" %}
{% extends "includes/layout.html" %}


{% block content %}
  {% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-m govuk-!-margin-bottom-6">
        Use your collect code to pick up your test packs
      </h1>
      <!-- <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ data['first-name'] or 'John' }} {{ data['last-name'] or 'Smith' }}</h3>
      <p class="govuk-body">
        {{ data['email-address'] or 'name@email.com' }}<br>
        {{ data['mobile-phone-number'] or '07472398473' }}
      </p>

      <p class="govuk-body">
        Use your collect code to pick up test packs from a collection point.
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->

      <div style="display: flex; justify-content: center;">
        <img src="/public/images/qr-collect.png" alt="randox number" style="height: 30%; width: 30%;" />
      </div>

      <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-8" style="text-align: center; line-height: 1em;">
        Collect code reference:<br><br>
        <strong class="govuk-!-font-size-24">
          <span class="govuk-!-margin-left-2 govuk-!-margin-right-2">NYX7</span>-<span class="govuk-!-margin-left-2 govuk-!-margin-right-2">CT5Z</span>-<span class="govuk-!-margin-left-2 govuk-!-margin-right-2">8VF7</span>-<span class="govuk-!-margin-left-2 govuk-!-margin-right-2">7FW4</span>
          <!-- <span class="govuk-!-margin-right-2">NYX7</span><span class="govuk-!-margin-right-2">CT5Z</span><span class="govuk-!-margin-right-2">8VF7</span><span>7FW4</span> -->
        </strong>
      </p>

      <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> -->

      <h3 class="govuk-heading-s govuk-!-margin-top-6">What happens next</h3>
      <p class="govuk-body">
        Show your collect code at a pharmacy to pick up your test packs. You can use the code at any pharmacy that offers this service. Your code does not reserve test packs for you.
      </p>
      <p class="govuk-body">
        <a class="govuk-body" href="https://find-covid-19-rapid-test-sites.maps.test-and-trace.nhs.uk/">Find your nearest pharmacy</a>
      </p>
      <p class="govuk-body">
        You need to get a new collect code for each collection.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-top-6">
        What's in the test pack
      </h3>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-4">
        <li>7 rapid lateral flow tests</li>
        <li>instructions on how to take the test and report results</li>
      </ul>

      <h3 class="govuk-heading-s govuk-!-margin-top-6">Taking the test</h3>

      <ul class="govuk-list">
        <li><a class="govuk-link" href="#">Watch a short video: how to take a rapid test</a></li>
        <li><a class="govuk-link" href="#">Get test instructions in other languages and in easy read or large print format</a></li>
        <li><a class="govuk-link" href="#">How to report your results</a></li>
      </ul>

    <h3 class="govuk-heading-s govuk-!-margin-top-4">Get more help</h3>
    <p class="govuk-body govuk-!-margin-bottom-2">
      If you need more help, call 119.
    </p>
    <p class="govuk-body govuk-!-margin-bottom-2">
      Lines are open 7am to 11pm.
    </p>

    </div>
  </div>

{% endblock %}

{% block bodyEnd %}
<div class="proto-action big">
    <a href="/lfd-collection-registration/{{version}}/sms">
      <div class="proto-action-text govuk-!-font-size-19 govuk-!-padding-2 govuk-!-margin-left-3">sms</div>
    </a>
  </div>
{% endblock %}
