{% set version = "v3" %}
{% set pageTitle = "Sorry, you need to get a different test" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

<a class="govuk-back-link" href="/lfd-collection-registration/{{version}}/do-you-have-symptoms">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            {{ pageTitle }}
        </h1>
        <p class="govuk-body">
          Rapid lateral flow tests are for people who do not have coronavirus symptoms.<br><br>
          Because you said you have symptoms, you must:
        </p>   
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-5">
          <li><a href="../../antigen/v1/govuk/get-coronavirus-test.html" class="govuk-link">get a PCR test to check if you have coronavirus</a></li>
          <li>stay at home and self-isolate</li>
        </ul>  
        
    </div>
</div>

{% endblock %}
