{% set version = "v3" %}
{% set pageTitle = "Get a collect code to pick up coronavirus (COVID-19) rapid lateral flow tests from a pharmacy" %}

{% extends "includes/layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">{{ pageTitle }}</h1>

    <p class="govuk-body">
      Use this service to get a collect code so you can pick up rapid lateral flow test packs from a pharmacy.
      </p>
      <p class="govuk-body">
      Collect codes help the NHS understand how rapid lateral flow tests are being used in England.
      </p>

      <p class="govuk-body">
      You do not need a collect code in Scotland, Wales and Northern Ireland. <a href="https://maps.test-and-trace.nhs.uk/" class="govuk-link">Find where to pick up a test near you on NHS.UK</a>.
      </p>

      <p class="govuk-body">
      If you're under 16 your parent or guardian should pick up the rapid lateral flow tests.
    </p>

    <a href="/lfd-collection-registration/{{version}}/do-you-have-symptoms" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg></a>

    <h2 class="govuk-heading-m govuk-!-margin-top-2">Get a collect code</h2>

    <p class="govuk-body">
      Before you go to the pharmacy, use this service to get a collect code. This is a code that you show when you pick up rapid lateral flow tests. Your collect code does not reserve test packs for you.
      </p>
      <p class="govuk-body">
      We'll send your collect code by email or text. You can create an account so it’s quicker next time.
    </p>
    <p class="govuk-body">
      You can pick up rapid lateral flow tests for your household or another household. You should get a separate collect code for each household.
    </p>

    <h2 class="govuk-heading-m">Collect your tests</h2>
    <p class="govuk-body">
      Take your collect code to a pharmacy or collection point. You can use your code at any pharmacy or collection point that offers this service.
    </p>
    <p class="govuk-body">
      Someone will record your code and give you the rapid lateral flow tests.
    </p>
    <p class="govuk-body">
      You should get a new collect code for each collection.
    </p>

    <h2 class="govuk-heading-m">Report your test</h2>
    <p class="govuk-body">
      After you’ve done your test, you should <a href="https://www.gov.uk/report-covid19-result" class="govuk-link">report your rapid lateral flow test result</a>, even if it's negative or void. Reporting helps the NHS track the spread of COVID-19 and spot outbreaks faster.
    </p>

    <h2 class="govuk-heading-m">Get help to get a collect code</h2>
    <p class="govuk-body">
      If you cannot use the online service, call 119 (free from mobiles and landlines).
    </p>
    <p class="govuk-body">
      Lines are open every day, 7am to 11pm. 119 provides support in 200 languages.
    </p>
    <p class="govuk-body">
      <a href="https://signvideo.co.uk/nhs119/" class="govuk-link">SignVideo</a> is a free online British Sign Language (BSL) interpreter service for 119.
    </p>



  </div>
</div>

{% endblock %}
