{% set version = "v3" %}
{% set pageTitle = "Which address does the person you’re collecting for currently live at?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% if data['coronavirus-account'] == "Yes" %}
  {% include "includes/account-menu.html" %}
{% endif %}

  <a class="govuk-back-link" href="/lfd-collection-registration/{{version}}/find-address-another">Back</a>
{% endblock %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/lfd-collection-registration/{{version}}/check-your-answers" method="post">

        <fieldset class="govuk-fieldset" aria-describedby="post-code-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
              {{ pageTitle }}
            </h1>
          </legend>
          <!-- <span id="post-code-hint" class="govuk-body">
            We need to know this because
          </span> -->
            <p class="govuk-!-margin-top-5">
              <strong>Postcode</strong><br><br>
              <strong>{{ data['home-postcode'] | default('LS1 3BE') }}</strong>
              <a href="/lfd-collection-registration/{{version}}/address-another" class="govuk-!-margin-left-5">
                Change
                <span class="govuk-visually-hidden">your postcode</span>
              </a>
            </p>
  
            <div class="govuk-form-group">
              <label class="govuk-label" for="address-line-1">
                Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1" value="{{ data['address-line-1'] }}">
            </div>
  
            <div class="govuk-form-group">
              <label class="govuk-label" for="address-line-2">
                <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2" value="{{ data['address-line-2'] }}">
            </div>
  
            <div class="govuk-form-group">
              <label class="govuk-label" for="address-town">
                Town or city
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="address-town" name="address-town" type="text" autocomplete="address-level2" value="{{ data['address-town'] }}">
            </div>

        </fieldset>

        <button class="govuk-button" type="submit" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
