{% set version = "v3" %}
{% set pageTitle = "Text message" %}

{% extends "includes/layout.html" %}


{% block header %}

{% endblock %}

{% block content %}

  <style>
    body {
      background-color: #f3f2f1 !important;
      -webkit-text-size-adjust: 100%;
      font-family: "Helvetica Neue", Helvetica, sans-serif;
      font-size: 20px;
      font-weight: normal;
      margin: 50px auto;
      display: flex;
      flex-direction: column;
    }

    .app-text-message {
      background-color: #fff;
      padding: 20px;
      max-width: 320px;
      min-height: 420px;
    }

    .app-text-message__text {
      max-width: 255px;
      word-wrap: break-word;
      margin-bottom: 12px;
      line-height: 24px;
      position:relative;
      padding:10px 20px;
      border-radius:25px;
      background:#E5E5EA;
      color:black;
      
      &:before, &:after {
        content:"";
        position:absolute;
        bottom:-2px;
        height:20px;
      }

       &:before {
        left:-7px;
        border-left:20px solid #E5E5EA;
        border-bottom-right-radius: 16px 14px;
        transform:translate(0, -2px);
      }

      &:after {
        left:4px;
        width:26px;
        background:white;
        border-bottom-right-radius: 10px;
        transform:translate(-30px, -2px);
      }
    }
    </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Text message</h1>

      <div class="app-text-message">
        <p>
          Dear Pete Boam<br>
          Date of birth: 19 July 1976<br><br>

          Here's your collect code:<br>

          <span class="govuk-!-margin-right-2">NYX7</span><span class="govuk-!-margin-right-2">CT5Z</span><span class="govuk-!-margin-right-2">8VF7</span><span>7FW4</span><br><br>

          Show this code at a pharmacy to pick up your test packs.<br><br>

          You need to get a new collect code for each collection.<br><br>

          In each test pack you’ll find 7 rapid lateral flow tests and instructions on how to take the test and report results.<br><br>

          Got any questions? Call 119 between 7am and 11pm.
        </p>
      </div>

    </div>
  </div>

{% endblock %}

{% block footer %}

{% endblock %}

{% block bodyEnd %}
<div class="proto-action big" style="height: auto">
  <a href="../../share-result-lateral-flow/v17/">
    <div class="proto-action-text govuk-!-font-size-19 govuk-!-padding-2 govuk-!-margin-left-3">Report results</div>
  </a>
</div>
{% endblock %}
