{% set version = "v7" %}
{% set pageTitle = "Change NHS login details" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="/lfd-home-ordering/{{version}}/user-account/home-page">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ pageTitle }}</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mobile number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['mobile-phone-number'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/lfd-home-ordering/{{version}}/user-account/edit-personal-details/mobile-number">
              Change
              <span class="govuk-visually-hidden">mobile number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['email-address'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/lfd-home-ordering/{{version}}/user-account/edit-personal-details/email-address">
              Change
              <span class="govuk-visually-hidden">email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Password
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['password'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/lfd-home-ordering/{{version}}/user-account/edit-personal-details/password">
              Change
              <span class="govuk-visually-hidden">email address</span>
            </a>
          </dd>
        </div>
      </dl>

      <form action="/lfd-home-ordering/{{version}}/user-account/home-page" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}
