{% set version = "v1" %}

{% extends "includes/layout.html" %}

{% block pageTitle %}
  We could not confirm your identity - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">We could not confirm your identity</h1>
      <p class="govuk-body">If you believe you have entered your details incorrectly, you can try <a href="/{{version}}/home-test-kit">entering your details again</a>.</p>

      <h2 class="govuk-heading-m">Other ways to get a test</h2>
      <p class="govuk-body">If you prefer, you can book at a test site</p>

      <a role="button" draggable="false" class="govuk-button" data-module="govuk-button" href="#">
        Let me choose a test site
      </a>

    </div>
  </div>

{% endblock %}
