{% set version = "v1" %}

{% extends "includes/layout.html" %}

{% block pageTitle %}
  We've recieved your order - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-padding-8 govuk-!-margin-bottom-8">
        <h1 class="govuk-panel__title">We've recieved your order</h1>
        <div class="govuk-panel__body">
          You'll receive an email soon to confirm if your order was succesfully processed
        </div>
      </div>

      <p class="govuk-body">We will send you a text message to tell you how to book your appointment. The text will usually arrive within a few hours.</p>
      <p class="govuk-body">The message will include a link to a website that has more information about drive-through tests.</p>
      <p>We cannot guarantee that you will get an appointment. If not, please try again tomorrow.</p>
      
      <h2 class="govuk-heading-m">What to do in the meantime</h2>
      <p>Do not leave your home if you or someone you live with has symptoms.</p>
      <p>Read more about <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/what-to-do-if-you-or-someone-you-live-with-has-coronavirus-symptoms/staying-at-home-if-you-or-someone-you-live-with-has-coronavirus-symptoms/">self-isolation if you or someone you live with has symptoms</a> on the NHS website.</p>

      <h2 class="govuk-heading-m">If you need medical advice about your symptoms, go to:</h2>
      <ul class="govuk-list govuk-list govuk-list--bullet">
        <li>England: <a href="https://111.nhs.uk/covid-19">NHS 111 online coronavirus service</a></li>
        <li>Scotland: <a href="https://www.nhsinform.scot/illnesses-and-conditions/infections-and-poisoning/coronavirus-covid-19">NHS inform</a></li>
        <li>Wales: <a href="https://www.nhsdirect.wales.nhs.uk/SelfAssessments/symptomcheckers/COVID19.aspx">NHS Direct Wales</a></li>
        <li>Northern Ireland: <a href="https://www.publichealth.hscni.net/news/covid-19-what-situation-northern-ireland">Public Health Agency</a></li>
      </ul>

     
    </div>
  </div>
{% endblock %}
