{% set version = "v1" %}

{% extends "includes/layout.html" %}

{% block pageTitle %}
  We could not confirm your identity - GOV.UK
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/{{version}}/home-test-kit/order-summary">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">We could not confirm your identity</h1>
      <p class="govuk-body">If you believe you have entered your details incorrectly, you can try <a href="/{{version}}/home-test-kit/order-summary">entering your details again</a>.</p>

      <h2 class="govuk-heading-m">Still need help?</h2>
      <p class="govuk-body">Call the customer contact centre if you still need help receiving a test kit:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>England, Wales and Northern Ireland: call 119 (free from mobiles and landlines)</li>
        <li>Scotland: call 0300 303 2713 (charged at your standard network rate)</li>
      </ul>
      <p class="govuk-body">This helpline is open from 7am to 11pm.</p>


    </div>
  </div>

{% endblock %}
