{% set version = "v1" %}

{% extends "includes/layout.html" %}

{% block pageTitle %}
  Is your delivery address the same as your home address? - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/{{version}}/home-test-kit/national-insurance-number">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/{{version}}/action/delivery-address-question" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="delivery-address-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Is your delivery address the same as your home address?
              </h1>
            </legend>
            <span id="delivery-address-hint" class="govuk-hint">
              Your delivery address is where your test kit should be sent.
            </span>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="delivery-address-yes" name="delivery-address" type="radio" value="Yes" {{ checked("delivery-address", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="delivery-address-yes">
                  Yes, my delivery address is the same as my home address
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="delivery-address-no" name="delivery-address" type="radio" value="No" {{ checked("delivery-address", "No") }}>
                <label class="govuk-label govuk-radios__label" for="delivery-address-no">
                  No, my delivery address is different to my home address
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" type="submit" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
