{% set version = "v1" %}

{% extends "includes/layout.html" %}

{% block pageTitle %}
  There are no more home tests available - GOV.UK
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/{{version}}/home-test-kit/order-summary">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">There are no more home tests available</h1>
      <p class="govuk-body">Sorry, there are no more home test kits available right now.</p>
      <p class="govuk-body">Try again later - this service is open from 8am to 8pm every day.</p>

    </div>
  </div>

{% endblock %}
