{% set version = "v1" %}

{% extends "includes/layout.html" %}

{% block pageTitle %}
  Home tests are not yet available for this address - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Home tests are not yet available for this address</h1>
      <p class="govuk-body">If you have symptoms of coronavirus and think you need to be tested, stsay at home and contact your GP.</p>

      <h2 class="govuk-heading-m">Other ways to get a test</h2>
      <p class="govuk-body">If you prefer, you can book at a test site</p>

      <a role="button" draggable="false" class="govuk-button" data-module="govuk-button" href="#">
        Let me choose a test site
      </a>

    </div>
  </div>

{% endblock %}
