{% set version = "v1" %}

{% extends "includes/layout.html" %}

{% block pageTitle %}
  Order summary - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/{{version}}/home-test-kit/confirm-identity">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Order summary</h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['national-insurance-number'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/{{version}}/home-test-kit/national-insurance-number">
              Change<span class="govuk-visually-hidden"> national insurance number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['email'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/{{version}}/home-test-kit/email-address">
              Change<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Home address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['home-address'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/{{version}}/home-test-kit/home-address">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Delivery address
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['home-address'] %}{{ data['delivery-address'] }}{% else %}{{ data['home-address'] }}{% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/{{version}}/home-test-kit/delivery-address">
              Change<span class="govuk-visually-hidden"> delivery address</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Disclaimer</h1>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          By ordering a test kit, I confirm that:
        </strong>
      </div>

      <ul class="govuk-list govuk-list--bullet">
        <li>the information I've provided is up-to-date and correct</li>
        <li>I agree with the <a href="#">Terms and conditions</a> and <a href="#">Privacy policy</a> of this service</li>
        <li>I am happy to be contacted about my order</li>
      </ul>

      <form action="/{{version}}/home-test-kit/confirmation-page" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h3 class="govuk-fieldset__heading govuk-warning-text__assistive">
                Do you confirm the disclaimer?
              </h3>
            </legend>
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  Yes, I confirm all of the above apply
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" type="submit" data-module="govuk-button">
          Place order
        </button>

      </form>

    </div>
  </div>

{% endblock %}
