<div class="nhsuk-card white">
  <div class="nhsuk-card__content">
    <h3 class="nhsuk-card__heading nhsuk-u-font-size-32">
      Test with assistive technology
    </h3>
  </div>
</div>

<h2 class="nhsuk-heading-m nhsuk-u-margin-left-5 nhsuk-u-margin-right-5" style="color: #4c6272">
  The service must be tested with commonly used assistive technologies and any issues fixed. These include screen magnifiers, screen readers and speech recognition tools.
</h2>

<div class="nhsuk-card">
  <div class="nhsuk-card__content collapsible">
    <!-- <h3 class="nhsuk-card__heading">
      Government accessibility requirements
    </h3>
    <p class="nhsuk-hint">To meet government accessibility requirements, you must:</p> -->
    <ul class="separator-list no-border">
      <li>
        <strong class="nhsuk-tag nhsuk-tag--green">
          Met
        </strong>
        <p class="nhsuk-card__description">Testing has taken place with all of the commonly used assistive technologies and any issues fixed.</p>
      </li>
      <li>
        <strong class="nhsuk-tag nhsuk-tag--orange">
          In progress
        </strong>
        <p class="nhsuk-card__description">Testing has taken place with some of the commonly used assistive technologies but not all of them. Or testing has taken place but the issues have not been fixed.</p>
      </li>
      <li>
        <strong class="nhsuk-tag nhsuk-tag--red">
          Not met
        </strong>
        <p class="nhsuk-card__description">No testing has taken place or unknown technologies have been used.</p>
      </li>
    </ul>
  </div>
</div>
