<div class="nhsuk-card white">
  <div class="nhsuk-card__content">
    <h3 class="nhsuk-card__heading nhsuk-u-font-size-32">
      End-to-end usability testing
    </h3>
  </div>
</div>

<h2 class="nhsuk-heading-m nhsuk-u-margin-left-5 nhsuk-u-margin-right-5" style="color: #4c6272">
The live service is regularly tested from beginning to end to see how usable it is.
</h2>

<div class="nhsuk-card">
  <div class="nhsuk-card__content collapsible">
    <!-- <h3 class="nhsuk-card__heading">
      Government accessibility requirements
    </h3>
    <p class="nhsuk-hint">To meet government accessibility requirements, you must:</p> -->
    <ul class="separator-list no-border">
      <li>
        <strong class="nhsuk-tag nhsuk-tag--green">
          Met
        </strong>
        <p class="nhsuk-card__description">The team does regular end-to-end usability testing with a range of users.</p>
      </li>
      <li>
        <strong class="nhsuk-tag nhsuk-tag--orange">
          In progress
        </strong>
        <p class="nhsuk-card__description">Some end-to-end usability testing has been done with users, but this is not regular practice.</p>
      </li>
      <li>
        <strong class="nhsuk-tag nhsuk-tag--red">
          Not met
        </strong>
        <p class="nhsuk-card__description">No end-to-end usability testing has been completed.</p>
      </li>
    </ul>
  </div>
</div>
