<div class="nhsuk-card white">
  <div class="nhsuk-card__content">
    <h3 class="nhsuk-card__heading nhsuk-u-font-size-32">
      Exclusion Mapping
    </h3>
  </div>
</div>

<h2 class="nhsuk-heading-m nhsuk-u-margin-left-5 nhsuk-u-margin-right-5" style="color: #4c6272">
An exclusion mapping workshop has taken place to identify inclusion needs. The team needs to work with the Inclusive Design Team in CC&I (UKHSA) to arrange this.
</h2>

<div class="nhsuk-card">
  <div class="nhsuk-card__content collapsible">
    <!-- <h3 class="nhsuk-card__heading">
      Government accessibility requirements
    </h3>
    <p class="nhsuk-hint">To meet government accessibility requirements, you must:</p> -->
    <ul class="separator-list no-border">
      <li>
        <strong class="nhsuk-tag nhsuk-tag--green">
          Met
        </strong>
        <p class="nhsuk-card__description">An <a href="https://miro.com/app/board/o9J_kpKu6lM=/?moveToWidget=3074457360733726322&cot=14" target="blank">exclusion mapping workshop</a> has taken place and any issues have been added to the backlog and prioritised by the team.</p>
      </li>
      <li>
        <strong class="nhsuk-tag nhsuk-tag--orange">
          In progress
        </strong>
        <p class="nhsuk-card__description">An exclusion mapping workshop is planned or has taken place but issues have not been added to the backlog and prioritised by the team.</p>
      </li>
      <li>
        <strong class="nhsuk-tag nhsuk-tag--red">
          Not met
        </strong>
        <p class="nhsuk-card__description">An exclusion mapping workshop has not taken place.</p>
      </li>
    </ul>
  </div>
</div>
