<div class="nhsuk-card white">
  <div class="nhsuk-card__content">
    <h3 class="nhsuk-card__heading nhsuk-u-font-size-32">
      Include people with access needs in research
    </h3>
  </div>
</div>

<h2 class="nhsuk-heading-m nhsuk-u-margin-left-5 nhsuk-u-margin-right-5" style="color: #4c6272">
  The service needs to do user research with people who have a range of access needs.
</h2>

<div class="nhsuk-card">
  <div class="nhsuk-card__content collapsible">
    <!-- <h3 class="nhsuk-card__heading">
      Government accessibility requirements
    </h3>
    <p class="nhsuk-hint">To meet government accessibility requirements, you must:</p> -->
    <ul class="separator-list no-border">
      <li>
        <strong class="nhsuk-tag nhsuk-tag--green">
          Met
        </strong>
        <p class="nhsuk-card__description">There is evidence that people with access needs have been included in research.</p>
      </li>
      <li>
        <strong class="nhsuk-tag nhsuk-tag--orange">
          In progress
        </strong>
        <p class="nhsuk-card__description">Some research has taken place with people who have access needs.</p>
      </li>
      <li>
        <strong class="nhsuk-tag nhsuk-tag--red">
          Not met
        </strong>
        <p class="nhsuk-card__description">No user research has taken place or it has not included people who have access needs.</p>
      </li>
    </ul>
  </div>
</div>