{% set version = "v2" %}
{% set pageTitle = "Are you OK doing a fingerprick blood test at home?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/{{version}}/teacher-registration/consent">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/{{version}}/action/comfortable-doing-test" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="comfortable-doing-test-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ pageTitle }}
              </h1>
            </legend>
            <span id="comfortable-doing-test-hint" class="govuk-hint">
              The kit contains step-by-step instructions and a fingerprick tool (you will not see any needle). Ask a friend or family member to help if you want.<br><br>
              Do not do this test if you take anticoagulants ('blood-thinning' medicines) or you have a blood clotting disorder such as haemophilia.<br><br>
Watch how to collect your blood sample:
            </span>

            <style>.embed-container { position: relative; padding-bottom: 56.25%; margin: 28px 0; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube-nocookie.com/embed/8lo6g-TYZ-c' frameborder='0' allowfullscreen></iframe></div>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Video transcript: How to do a fingerprick blood test at home
                </span>
              </summary>
              <div class="govuk-details__text">
                Video transcript text
              </div>
            </details>

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="comfortable-doing-test-1" name="comfortable-doing-test" type="radio" value="Yes" {{ checked("comfortable-doing-test", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="comfortable-doing-test-1">
                  Yes, I'm OK doing this
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="comfortable-doing-test-2" name="comfortable-doing-test" type="radio" value="No" {{ checked("comfortable-doing-test", "No") }}>
                <label class="govuk-label govuk-radios__label" for="comfortable-doing-test-2">
                  No, I am not OK doing this
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
