{% set version = "v2" %}
{% set pageTitle = "You're signed up" %}

{% extends "includes/layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">{{ pageTitle }}</h1>
      </div>

      <h2 class="govuk-body-l">Thank you for signing up to take part in the coronavirus antibody research study.</h2>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">We'll be in touch via email or text when the test kit is available for you to order.</p>

      <p class="govuk-body">This will not be straight away because stocks are limited and need to be prioritised.</p>

      <p class="govuk-body">Most people wait approximately 3 to 14 days.</p>



      <h2 class="govuk-heading-m">Find out more</h2>

      <p><a href="#">Find out more about the research study</a> including:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>what the the research is for </li>
        <li>how taking part helps the NHS and UK respond to the virus</li>
        <li>antibody testing - how the test works and what your results would mean</li>
      </ul>

    </div>
  </div>

{% endblock %}

{% block bodyEnd %}
<div class="proto-action">
  <a href="/{{version}}/sms">
    <div class="proto-action-icon"></div>
    <div class="proto-action-text">Check SMS</div>
  </a>
</div>

{% endblock %}
