{% set version = "v2" %}
{% set pageTitle = "Application received" %}

{% extends "includes/layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">{{ pageTitle }}</h1>
      </div>

      <h2 class="govuk-body-l">Thank you for signing up for a coronavirus antibody test to help the NHS.</h2>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">We'll email or text you when the test kit is available for you to order.</p>

      <p class="govuk-body">This will not be straight away because stocks are limited.</p>

      <p class="govuk-body">Thanks for your patience. Most people will hear from us within a few weeks, but it can take up to 3 months. We are not able to give updates on where you are in the queue.</p>

      <h2 class="govuk-heading-m">Find out more</h2>

      <p><a href="#">Find out more about antibody testing</a> including:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>how taking part helps the NHS and UK respond to the virus</li>
        <li>how the test works and what your results would mean</li>
      </ul>

    </div>
  </div>

{% endblock %}

{% block bodyEnd %}
<div class="proto-action">
  <a href="/{{version}}/sms">
    <div class="proto-action-icon"></div>
    <div class="proto-action-text">Check SMS</div>
  </a>
</div>

{% endblock %}
