{% set version = "v2" %}
{% set pageTitle = "We have received your details" %}

{% extends "includes/layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">{{ pageTitle }}</h1>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>You have been registered for the research study. Please note that not all applicants will be asked to participate and complete an antibody test.</p>

      <p>If you are included in the research study and allocated a test, you will receive an email or SMS with instructions on how to arrange for your test.</p>

      <h2 class="govuk-heading-m">If you start experiencing symptoms</h2>

      <p>If you begin to experience coronavirus symptoms, you should immediately self-isolate for 7 days and other household members should self-isolate for 14 days. You should also <a href="#">apply for an antigen coronavirus test.</a></p>

      <h2 class="govuk-heading-m">If you're worried</h2>

      <p>If you begin to experience symptoms and your condition gets worse, or you do not get better after 7 days, use the <a href="#">NHS 111 online coronavirus service.</a> Only call 111 if you cannot get help online. For a medical emergency, dial 999.</p>
      <p>Call 111 if you're worried about a baby or child. If they seem very unwell, are getting worse, or you think there's something seriously wrong, call 999. Do not delay getting help if you're worried. Trust your instincts. <a href="#">Get more advice about coronavirus in children.</a></p>

      <h2 class="govuk-heading-m">We want to hear from you</h2>

      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of our service?</a> (takes 3 minutes)</p>


    </div>
  </div>

{% endblock %}
