{% set version = "v2" %}
{% set pageTitle = "Has anyone else in your household tested positive for coronavirus before?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/{{version}}/teacher-registration/tested-positive">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/{{version}}/teacher-registration/infection-serious" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ pageTitle }}
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="household-1" name="household" type="radio" value="Yes" {{ checked("household", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="household-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="household-2" name="household" type="radio" value="No" {{ checked("household", "No") }}>
                <label class="govuk-label govuk-radios__label" for="household-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
