{% set version = "v2" %}
{% set pageTitle = "Sign up for a coronavirus fingerprick blood test (antibody test)" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/{{version}}/govuk">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <p class="govuk-body-l">You can now sign up for a coronavirus (COVID-19) home antibody test if you're a teacher or teaching support staff.</p> 
      
       <h2 class="govuk-heading-m">Check you're eligible</h2>

      <p class="govuk-body">You can sign up for an antibody test if:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>you're a teacher or teaching support staff</li>
        <li>you've got a mobile phone</li>
        <li>you're aged 18 or over</li>
      </ul>

      <p class="govuk-body">It does not matter if you've had the virus before or not.</p>
        
      <h2 class="govuk-heading-m">About the test</h2>

      <p class="govuk-body">The coronavirus antibody test is a fingerprick blood test that you do at home (it is sent to you in the post).</p>

      <p class="govuk-body">The home test kit comes with everything you need and simple step-by-step instructions. There's a video to help you.</p>

      <p class="govuk-body">You take the test and return your sample in the post. You'll get your results a few days later.</p>

      <p class="govuk-body">If you want to know more, <a href="#">watch this video</a></p>
      
      
      <h2 class="govuk-heading-m">Why take the test</h2>
      <p class="govuk-body">The NHS needs to learn more about who has already had the virus and how it is spreading. Many people may have had mild symptoms or none at all.</p>

      <p class="govuk-body"><a href="#">Find out more antibody testing</a></p>

      <p class="govuk-body">The test checks for coronavirus antibodies. If you have them, it is likely you've had the virus before.</p>

      <p class="govuk-body">This is not an immunity test. It cannot tell you when you had the virus or how effective (if at all) any antibodies are. COVID-19 is a new virus and doctors do not yet know if it is possible for you to catch it again or spread it.</p>


<!--      <p class="govuk-body"><a href="#">Find out more about who counts a teaching or teaching support staff.</a></p>-->

      <h2 class="govuk-heading-m">How to sign up</h2>

      <p class="govuk-body">You'll be asked a few quick questions to check you're eligible and for some basic information about you, like your contact details, gender, and if you've had the virus before. It takes 5 minutes.</p>

            <h3 class="govuk-heading-m">After you've signed up</h3>

            <p class="govuk-body">You'll get a text inviting you to order a home test kit when once becomes available. But this will not be straight away because stocks are limited and need to be sent to certain people first. </p>

             <p class="govuk-body">Most people will receive their invite within a few weeks, but it can take up to 3 months.</p>



      <div class="govuk-warning-text govuk-!-margin-top-8" >
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Only teachers and teaching staff can be tested at the moment. The number of tests is limited, so there may be a wait before you get invited.
        </strong>
      </div>
      
      <a href="/{{version}}/teacher-registration/consent" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

    </div>
  </div>

{% endblock %}
