{% set version = "v2" %}
{% set pageTitle = "You cannot take part in the research" %}

{% extends "includes/layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      <p>We need you to confirm you're OK with:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your data being used for research</li>
        <li>doing a fingerprick blood test at home</li>
      </ul>

    </div>
  </div>

{% endblock %}
