{% set version = "v1" %}
{% set pageTitle = "Your postcode shows us you live on a Scottish island" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <a class="govuk-back-link" href="/antigen/{{version}}/order-home-test-kit/national-insurance-number">Back</a>
{% endblock %}

{% block content %}
{% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/antigen/{{version}}/order-home-test-kit/scottish-island" method="post">

        <fieldset class="govuk-fieldset" aria-describedby="scottish-island-postcode-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
              {{ pageTitle }}
            </h1>
          </legend>
          <span id="scottish-island-postcode-hint" class="govuk-body govuk-!-margin-bottom-6">
            There's a seperate <a href="#">coronavirus testing service for people who live on a Scottish island</a>.<br><br>
          </span>
          <span id="scottish-island-postcode-hint" class="govuk-body govuk-!-margin-bottom-6">
            If you need help getting a test, call the free NHS Inform helpline:<br>
            0800 028 2816 (open 8am to 10pm every day)
          </span>

      </form>

    </div>
  </div>

{% endblock %}
