{% set version = "v7" %}
{% set pageTitle = "Sorry, you need email access to order online" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

<a class="govuk-back-link" href="/lfd-home-ordering/{{version}}/email-address">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            {{ pageTitle }}
        </h1>
        <p class="govuk-body">
            At the moment, you need access to an email address to order online.<br><br>
            It’s OK to use someone else’s.<br><br>
            <a href="/lfd-home-ordering/{{version}}/email-address" class="govuk-link">Go back and enter an email address</a>
        </p>

        <h2 class="govuk-heading-m">Do not have email access?</h2>
        <p class="govuk-body">
            Call the contact centre to order rapid lateral flow tests or find out about the other ways to get them.<br><br>
            <a class="govuk-link" target="blank" href="https://www.nhs.uk/conditions/coronavirus-covid-19/testing/regular-rapid-coronavirus-tests-if-you-do-not-have-symptoms">Get tests if you're in England</a><br>
            <a class="govuk-link" target="blank" href="https://www.gov.scot/communitytesting">Get tests in you're in Scotland</a><br>
            <a class="govuk-link" target="blank" href="https://gov.wales/get-rapid-lateral-flow-covid-19-tests-if-you-do-not-have-symptoms">Get tests if you're in Wales</a><br>
            <a class="govuk-link" target="blank" href="https://www.health-ni.gov.uk/workforce-testing">Get tests if you're in Northern Ireland</a> 
        </p>
        
        <h3 class="govuk-heading-s govuk-!-margin-top-6">Contact centre</h3>
        <p class="govuk-body">
            Call 119 in England, Wales and Northern Ireland<br>
            Free from mobiles and landlines<br><br>
            Call 0300 303 2713 in Scotland<br>
            Charged at your standard network rate<br><br>
            Lines open 7am to 11pm
        </p>             


    </div>
</div>

{% endblock %}
