{% set version = "v1" %}
{% set pageTitle = "Confirm patients for testing" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/elective-care-testing/{{version}}/trust-worker-request/upload-file">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-!-width-full">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ pageTitle }}</h1>

      <p class="govuk-body"><span class="govuk-!-margin-right-8">Patient list.xlsl file added</span><a href="/elective-care-testing/{{version}}//trust-worker-request/upload-file" class="govuk-link">Change file</a></p>

      <p class="govuk-body">We'll process your order when you continue.</p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width: 20%">Patient</th>
            <th scope="col" class="govuk-table__header" style="width: 14%">Procedure<br>date</th>
            <th scope="col" class="govuk-table__header" style="width: 14%">NHS<br>number</th>
            <th scope="col" class="govuk-table__header" style="width: 14%">Mobile<br>number</th>
            <th scope="col" class="govuk-table__header" style="width: 14%">Coronavirus<br>symptoms</th>
            <th scope="col" class="govuk-table__header" style="width: 14%">Delivery<br>address</th>
            <th scope="col" class="govuk-table__header" style="width: 8%"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {{ data['first-name-patient-1'] | default('Pete') }} {{ data['last-name-patient-1'] | default('Smith') }}<br>
              {{ data['gender-patient-1'] | default('Male') }}<br>
              {{ data['date-of-birth-day-patient-1'] | default('6') }} 
              {% if data['date-of-birth-month-patient-1'] == "1" %} January {% elseif data['date-of-birth-month-patient-1'] == "2" %} February {% elseif data['date-of-birth-month-patient-1'] == "3" %} March {% elseif data['date-of-birth-month-patient-1'] == "4" %} April {% elseif data['date-of-birth-month-patient-1'] == "5" %} May {% elseif data['date-of-birth-month-patient-1'] == "6" %} June {% elseif data['date-of-birth-month-patient-1'] == "7" %} July {% elseif data['date-of-birth-month-patient-1'] == "8" %} August {% elseif data['date-of-birth-month-patient-1'] == "9" %} September {% elseif data['date-of-birth-month-patient-1'] == "10" %} October {% elseif data['date-of-birth-month-patient-1'] == "11" %} November {% elseif data['date-of-birth-month-patient-1'] == "12" %} December {% else %} November {% endif %}
              {{ data['date-of-birth-year-patient-1'] | default('1983') }}
            </td>
            <td class="govuk-table__cell">
              {{ data['date-of-procedure-day-patient-1'] | default('6') }} 
              {% if data['date-of-procedure-month-patient-1'] == "1" %} January {% elseif data['date-of-procedure-month-patient-1'] == "2" %} February {% elseif data['date-of-procedure-month-patient-1'] == "3" %} March {% elseif data['date-of-procedure-month-patient-1'] == "4" %} April {% elseif data['date-of-procedure-month-patient-1'] == "5" %} May {% elseif data['date-of-procedure-month-patient-1'] == "6" %} June {% elseif data['date-of-procedure-month-patient-1'] == "7" %} July {% elseif data['date-of-procedure-month-patient-1'] == "8" %} August {% elseif data['date-of-procedure-month-patient-1'] == "9" %} September {% elseif data['date-of-procedure-month-patient-1'] == "10" %} October {% elseif data['date-of-procedure-month-patient-1'] == "11" %} November {% elseif data['date-of-procedure-month-patient-1'] == "12" %} December {% else %} August {% endif %}
              {{ data['date-of-procedure-year-patient-1'] | default('2020') }}
            </td>
            <td class="govuk-table__cell">{{ data['nhs-number-patient-1'] | default('ATG126344') }}</td>
            <td class="govuk-table__cell">{{ data['mobile-phone-number-patient-1'] | default('07960347654') }}</td>
            <td class="govuk-table__cell">
              {{ data['do-you-have-symptoms-patient-1'] | default('No') }}<br>
              {{ data['symptoms-start-date-day-patient-1'] }}
              {% if data['symptoms-start-date-month-patient-1'] == "1" %} January {% elseif data['symptoms-start-date-month-patient-1'] == "2" %} February {% elseif data['symptoms-start-date-month-patient-1'] == "3" %} March {% elseif data['symptoms-start-date-month-patient-1'] == "4" %} April {% elseif data['symptoms-start-date-month-patient-1'] == "5" %} May {% elseif data['symptoms-start-date-month-patient-1'] == "6" %} June {% elseif data['symptoms-start-date-month-patient-1'] == "7" %} July {% elseif data['symptoms-start-date-month-patient-1'] == "8" %} August {% elseif data['symptoms-start-date-month-patient-1'] == "9" %} September {% elseif data['symptoms-start-date-month-patient-1'] == "10" %} October {% elseif data['symptoms-start-date-month-patient-1'] == "11" %} November {% elseif data['symptoms-start-date-month-patient-1'] == "12" %} December {% else %} November {% endif %}
              {{ data['symptoms-start-date-year-patient-1'] }}
            </td>
            <td class="govuk-table__cell">
                {{ data['delivery-address-line-1-patient-1'] | default('10 Farrington lane') }}<br>
                {% if data['delivery-address-line-2-patient-1'] !== undefined and data['delivery-address-line-2-patient-1'] !== "" %}
                {{ data['delivery-address-line-2-patient-1'] | default('Tower house') }}<br>
                {% endif %}
                {{ data['delivery-address-town-patient-1'] | default('London') }}<br>
                {{ data['delivery-address-postcode-patient-1'] | default('DE67EF') }}<br>
                {{ data['country-patient-1'] | default('England') }}
            </td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/elective-care-testing/{{version}}/trust-worker-request/check-your-answers-patient-1">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs<br>Male<br>15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">Yes<br>14 June 2021</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs<br>Male<br>15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">Yes<br>14 June 2021</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs<br>Male<br>15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">Yes<br>14 June 2021</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs<br>Male<br>15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">Yes<br>14 June 2021</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs<br>Male<br>15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">Yes<br>14 June 2021</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs<br>Male<br>15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">Yes<br>14 June 2021</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs<br>Male<br>15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">Yes<br>14 June 2021</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs<br>Male<br>15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">Yes<br>14 June 2021</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs<br>Male<br>15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">Yes<br>14 June 2021</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs<br>Male<br>15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">Yes<br>14 June 2021</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs<br>Male<br>15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">Yes<br>14 June 2021</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Bloggs<br>Male<br>15 September 1980</td>
            <td class="govuk-table__cell">15 September 2021</td>
            <td class="govuk-table__cell">ABC122334</td>
            <td class="govuk-table__cell">07860847754</td>
            <td class="govuk-table__cell">Yes<br>14 June 2021</td>
            <td class="govuk-table__cell">22 Hackford road<br>Suffolk<br>SW90ED</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="#">Change</a></td>
          </tr>
        </tbody>
      </table>

      <a href="/elective-care-testing/{{version}}/trust-worker-request/confirmation" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
        Save and continue
      </a>

    </div>
  </div>
{% endblock %}
