{% set version = "v1" %}
{% set pageTitle = "Visiting a drive-through test site: what you need to know" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="/accessibility/{{version}}/refer-and-triage/how-will-you-get-test">Back</a>
{% endblock %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8"">{{ pageTitle }}</h1>

        <h2 class="govuk-heading-m">About the test</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>you need to book your test slot as soon as possible</li>
            <li>you or someone you live with must drive to the test site by car, small van or motorbike (some sites do not accept motorbikes)</li>
            <li>do not go to the site if you’re very unwell or if you’re at high risk from coronavirus - <a class="govuk-link" href="/accessibility/{{version}}/refer-and-triage/do-you-have-a-car">choose a home test instead</a></li>
        </ul>

        <h2 class="govuk-heading-m">What happens at a drive-through site</h2>
        <p class="govuk-body">
          A staff member will ask if you need any help (for example, large-print instructions). Flash your hazard lights if you need someone’s attention.<br><br>
          You can bring someone from your support bubble to help you.<br><br>
          At some test sites, you may be able to ask a staff member to do the test for you.
        </p>
        <p class="govuk-body">If you’re arriving by car or small van, everyone must be in the same vehicle and sit next to a window that opens. You'll stay in your vehicle during your visit.</p>
        <p class="govuk-body">If you're arriving by motorbike, you can only bring one other person. They must wear a full helmet and visor.</p>

        <h2 class="govuk-heading-m">Who can have the test</h2>

        <p class="govuk-body">You can get a test for yourself and up to 3 other people you live with who have coronavirus symptoms.</p>
        <p class="govuk-body">In England, Scotland, Wales and Northern Ireland, a child can have a test whatever their age.</p>

        <h2 class="govuk-heading-m">What you'll need to continue</h2>

        <p class="govuk-body">To book your test appointment, you'll need:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
            <li>your mobile phone number</li>
            <li>the registration number of your vehicle</li>
            <li>the name and mobile number of any other people you live with who will be tested</li>
        </ul>

        <div class="govuk-warning-text govuk-!-margin-bottom-8">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text govuk-!-font-size-19">
            <span class="govuk-warning-text__assistive">Warning</span>
            Do not turn up without an appointment.
          </strong>
        </div>

        <form action="/accessibility/{{version}}/global-registration/nhs-number-known" method="post">

          <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>

    </div>
  </div>

{% endblock %}
