{% set version = "v1" %}
{% set pageTitle = "Visiting a walk-through test site: what you need to know" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="/accessibility/{{version}}/refer-and-triage/how-will-you-get-test">Back</a>
{% endblock %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">{{ pageTitle }}</h1>

        <h2 class="govuk-heading-m">About the test</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>you need to book your test slot as soon as possible</li>
            <li>you can choose to go by foot, bike or car (parking may not be available on site)</li>
            <li>everyone should wear a face covering, except children under the age of 3</li>
            <!-- <li>site staff will tell you if an assistant does the swab for you, or if you do it yourself</li> -->
            <li>do not go to the site if you’re very unwell or if you’re at high risk from coronavirus - <a class="govuk-link" href="/accessibility/{{version}}/refer-and-triage/how-will-you-get-test">choose a home test instead</a></li>
        </ul>

        <h2 class="govuk-heading-m">What happens at a walk-through site</h2>
        <p class="govuk-body">
          A staff member will ask if you need any help (for example, a wheelchair ramp, large-print instructions or access to language translations).<br><br>
          You can bring someone from your support bubble to help you.<br><br>
          You can ask for a staff member to guide you as you do the test yourself.
        </p>

        <h2 class="govuk-heading-m">Who can have it</h2>

        <p class="govuk-body">You can get a test for yourself and up to 3 other people you live with who have coronavirus symptoms.</p>
        <p class="govuk-body">In England, Scotland, Wales and Northern Ireland, a child can have a test whatever their age.</p>

        <h2 class="govuk-heading-m">What you'll need to continue</h2>

        <p class="govuk-body">To book your test slot, you'll need:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
            <li>your mobile phone number</li>
            <li>the name and mobile number of any other people you live with who will be tested</li>
        </ul>

        <form action="/accessibility/{{version}}/global-registration/index" method="post">

          <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>

    </div>
  </div>

{% endblock %}
