{% extends "includes/layout.html" %}
{% set serviceName = "COVID-19" %}
{% set pageTitle = "Patient re-registered for a new procedure date" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">
          {{ pageTitle }}
        </h1>
        <!-- <p class="govuk-body govuk-!-font-weight-bold" style="color:#fff;">Monday, 21st December<br /><br />Thank you for requesting coronavirus testing for your organisation</p> -->
      </div>

      <p class="govuk-body">What happens next?</p>
      <p class="govuk-body govuk-!-margin-bottom-6">... call the customer contact centre:</p>
      <ul class="govuk-list govuk-list--bullet govuk-list govuk-list--bullet govuk-!-margin-bottom-4">
        <li>England, Wales and Northern Ireland: call <span class="govuk-!-font-weight-bold">119</span> (free from mobiles and landlines)</li>
        <li>Scotland: call <span class="govuk-!-font-weight-bold">0300 303 2713</span> (charged at your standard network rate)</li>
      </ul>
      <p class="govuk-body">Lines are open 7am to 11pm.</p>

    </div>
  </div>


{% endblock %}
