{% set version = "v1" %}
{% set pageTitle = "Sorry, you cannot order test kits at this time" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <a class="govuk-back-link" href="/elective-care-testing/{{version}}/trust-worker-request/date-of-procedure">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ pageTitle }}</h1>


        <p>This site is unavailable from 3pm on Monday, 28 June to 9am on Tuesday, 29 June 2021. You cannot order tests during this time.</p>
        <p>You can order test kits again from 9am on 29 June 2021.</p>

    </div>
  </div>

{% endblock %}
