{% set version = "v1" %}
{% set pageTitle = "There has been a change in this service" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <a class="govuk-back-link" href="/elective-care-testing/{{version}}/trust-worker-request/date-of-procedure">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ pageTitle }}</h1>


        <p>If you are a patient who is preparing for a surgery or procedure, you no longer need to register your test kit after receiving it. You do not need to do anything else until you get a text with further instructions on booking your courier.</p>

        <p>If you are looking to register a home test kit and you are not a patient who is preparing for a surgery or procedure, you should click the below button to register your kit the correct way.</p>

        <button class="govuk-button" data-module="govuk-button">Register my test</button>


    </div>
  </div>

{% endblock %}
