{% set version = "v2" %}
{% set pageTitle = "Not all tests registered successfully" %}
{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a class="govuk-back-link" href="javascript:window.history.go(-1);">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">We could not register all your tests</h1>

    <p class="govuk-body"><span class="govuk-!-font-weight-bold">75 tests</span> have been registered. We could not register <span class="govuk-!-font-weight-bold">25 tests</span> so these will need to be entered again, either one by one or using the spreadsheet.</p>

    <div class="govuk-inset-text">
        Keep a record of the names and barcode reference numbers on this page. You may need this information to try again.
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <p><span class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">5 tests could not be registered because their barcodes have already been registered before.</span>
    <div class="govuk-hint govuk-body-s">
      Reference E1004_TDS
    </div>


    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Full name</th>
          <th scope="col" class="govuk-table__header">Test kit barcode reference</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Firstname Lastname</td>
          <td class="govuk-table__cell">00000000000</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Firstname Lastname</td>
          <td class="govuk-table__cell">00000000000</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Firstname Lastname</td>
          <td class="govuk-table__cell">00000000000</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Firstname Lastname</td>
          <td class="govuk-table__cell">00000000000</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Firstname Lastname</td>
          <td class="govuk-table__cell">00000000000</td>
        </tr>
      </tbody>
    </table>


  <hr class="govuk-section-break govuk-section-break--l">
    <p><span class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">2 tests could not be registered because there was a problem within 1 or more columns in the spreadsheet.  </span>
    <div class="govuk-hint govuk-body-s">
      Reference E1001_OAS or E1001_TDS or E1001_SDS
    </div>


    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Full name</th>
          <th scope="col" class="govuk-table__header">Test kit barcode reference</th>
          <th scope="col" class="govuk-table__header">Column where the error is</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Firstname Lastname</td>
          <td class="govuk-table__cell">00000000000</td>
          <td class="govuk-table__cell">Time of test</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Firstname Lastname</td>
          <td class="govuk-table__cell">00000000000</td>
          <td class="govuk-table__cell">Date of birth</td>
        </tr>
      </tbody>
    </table>



    <hr class="govuk-section-break govuk-section-break--l">
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">2 tests could not be registered because of a technical error. Wait 5 minutes and then try registering them again. </p>
    <div class="govuk-hint">
      Reference APIGW_429_BRS_THROTTLE or APIGW_429_SDS_THROTTLED or APIGW_429_SDS_THROTTLED
    </div>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Full name</th>
          <th scope="col" class="govuk-table__header">Test kit barcode reference</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Firstname Lastname</td>
          <td class="govuk-table__cell">00000000000</td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Firstname Lastname</td>
          <td class="govuk-table__cell">00000000000</td>
        </tr>
      </tbody>
    </table>

    <hr class="govuk-section-break govuk-section-break--l">
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">2 tests could not be registered because of a technical error. Call the contact centre to register these tests. </p>
    <div class="govuk-hint">
      Reference ALL OTHER TECHNICAL ERRORS
    </div>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Full name</th>
          <th scope="col" class="govuk-table__header">Test kit barcode reference</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Firstname Lastname</td>
          <td class="govuk-table__cell">00000000000</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Firstname Lastname</td>
          <td class="govuk-table__cell">00000000000</td>
        </tr>
      </tbody>
    </table>

    <hr class="govuk-section-break govuk-section-break--m">

  <p>If this problem continues, call 119. Lines are open 7am to 11pm.</p>


    <a href="https://organisations.test-for-coronavirus.service.gov.uk/register-organisation-tests">
      <button class="govuk-button" data-module="govuk-button">
        Retry
      </button>
    </a>

  <p><a href="#">Continue to confirmation</a></p>



  </div>
</div>



{% endblock %}
