{% set version = "v1" %}
{% set serviceName = electiveCareServiceName %}
{% set pageTitle = "There's a problem" %}
{% extends "includes/layout.html" %}

{% block beforeContent %}
  {% include "includes/ec-beta-banner-v1.html" %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl"> {{pageTitle}} </h1>
            
            <button class="govuk-button"> Try again </button>
            

            <p class="govuk-body">If the problem continues, <a href="#" class="govuk-link">go back to the start</a>.</p>
            <p class="govuk-body"> Reference: E999_CHG </p>
        </div>
    </div>
{% endblock %}