{% set version = "friction" %}
{% set pageTitle = "You are not eligible for free rapid lateral flow tests" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

   {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
              {{ pageTitle }}
          </h1>

          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              Do not phone for a test. You will not be able to get one this way.
            </strong>
          </div>
          <p class="govuk-body">Although you cannot get an NHS test, you can now buy COVID-19 tests from some pharmacies and retailers, in person or online.</p>
          <p class="govuk-body">Read more about <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/testing/get-tested-for-coronavirus/">changes to testing for COVID-19 in England</a>.</p>

          <h2 class="govuk-heading-m">
            If you're worried
          </h2>
          <p class="govuk-body"><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/symptoms/main-symptoms/">Find out what to do if you think you have COVID-19</a>.
            If you have symptoms and they get worse, contact 111 or speak to your GP. In an emergency dial 999.</p>
          <p class="govuk-body">If you do not have symptoms, <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/how-to-avoid-catching-and-spreading-coronavirus-covid-19/">find out how to avoid catching and spreading COVID-19</a>.
             You can also find <a href="https://www.nhs.uk/every-mind-matters/coronavirus/">advice and support if you're worried about COVID-19</a>.</p>


      </div>
  </div>

{% endblock %}
