{% set serviceName = "Register test kits for your organisation" %}
{% set pageHeading = "Manage staff members" %}
{% set version = "organisational/lft/carehome-registration" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
{{ pageHeading }} - COVID-19
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukPhaseBanner({
        tag: {
          text: "alpha"
        },
        html: 'This is a new service – your <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">feedback (opens in a new tab)</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
<div style="position:relative; float: right; margin-top: -90px;">
  <div>
    <a href="#" style="color: white;">English | Cymraeg</a>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column">
    <form action="sign-in" method="get">
      <div class="govuk-form-group">
        <h1 class="govuk-heading-l">
          {{ pageHeading }}
        </h1>
        <p class="govuk-body">View and manage users that have access to your organisation</p>
        <input class="govuk-button" type="submit" value="Add staff member">
        <label class="govuk-label" style="color:#505a5f" for="search">
          Search by name or email address
        </label>
        <input class="govuk-input govuk-input--width-20" id="search" name="search" type="text">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Search
        </button>
      </form>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Email Address</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Permissions</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Anita Richard</td>
            <td class="govuk-table__cell">anitarichard@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">PENDING</strong>
            </td>
            <td class="govuk-table__cell">Manager</td>
            <td class="govuk-table__cell"><a href="manage-staff-details">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Rafa Cortes</td>
            <td class="govuk-table__cell">rafacortes@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">ACTIVE</strong>
            </td>
            <td class="govuk-table__cell">Manager</td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Hannah Walsh</td>
            <td class="govuk-table__cell">hannahwalsh@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">ACTIVE</strong>
            </td>
            <td class="govuk-table__cell">Manager</td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Colm Rogan</td>
            <td class="govuk-table__cell">colmrogan@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">ACTIVE</strong>
            </td>
            <td class="govuk-table__cell">Standard</td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Theo Chandler</td>
            <td class="govuk-table__cell">theochandler@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">ACTIVE</strong>
            </td>
            <td class="govuk-table__cell">Standard</td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Magdalena Cortez</td>
            <td class="govuk-table__cell">magdalenacortez@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">ACTIVE</strong>
            </td>
            <td class="govuk-table__cell">Standard</td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Jakob Sorenson</td>
            <td class="govuk-table__cell">jakobsorenson@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">ACTIVE</strong>
            </td>
            <td class="govuk-table__cell">Standard</td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Kaylani Daniels</td>
            <td class="govuk-table__cell">kaylanidaniels@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">ACTIVE</strong>
            </td>
            <td class="govuk-table__cell">Standard</td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Amelie Felix</td>
            <td class="govuk-table__cell">ameliefelix@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">INACTIVE</strong>
            </td>
            <td class="govuk-table__cell">Standard</td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Mateo Gomez</td>
            <td class="govuk-table__cell">mateogomez@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">INACTIVE</strong>
            </td>
            <td class="govuk-table__cell">Standard</td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Finn Taylor</td>
            <td class="govuk-table__cell">finntaylor@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">REJECTED</strong>
            </td>
            <td class="govuk-table__cell">Standard</td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  {% endblock %}
