{% set serviceName = "Register test kits for your organisation" %}
{% set pageHeading = "Manage staff members" %}
{% set version = "organisational/lft/carehome-registration" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
{{ pageHeading }} - COVID-19
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukPhaseBanner({
        tag: {
          text: "alpha"
        },
        html: 'This is a new service – your <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">feedback (opens in a new tab)</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
<div style="position:relative; float: right; margin-top: -90px;">
  <div>
    <a href="#" style="color: white;">English | Cymraeg</a>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column">
    <form action="" method="get">
      <div class="govuk-form-group">
        <h1 class="govuk-heading-l">
          Manage staff accounts <!-- {{ pageHeading }} -->
        </h1>
        <p class="govuk-body">Manage account requests and update details for staff in your organisation.</p>
        <label class="govuk-label" style="color:#505a5f" for="search">
          Search by name or email address
        </label>
        <input class="govuk-input govuk-input--width-20" id="search" name="search" type="text">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Search
        </button>
      </form>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">
              Name
              <!-- Sorting icon unsorted -->
              <svg width="14" height="22" viewBox="0 0 14 22" fill="none" xmlns="http://www.w3.org/2000/svg" alt="Sorting Arrow">
                <path d="M6.53501 0.308975L12.1858 10.0964H0.884234L6.53501 0.308975Z" fill="black"/>
                <path d="M6.53501 21.5784L0.884233 11.791H12.1858L6.53501 21.5784Z" fill="black"/>
              </svg>                
            </th>
            <th scope="col" class="govuk-table__header">
              Email Address
              <!-- Sorting icon unsorted -->
              <svg width="14" height="22" viewBox="0 0 14 22" fill="none" xmlns="http://www.w3.org/2000/svg" alt="Sorting Arrow">
                <path d="M6.53501 0.308975L12.1858 10.0964H0.884234L6.53501 0.308975Z" fill="black"/>
                <path d="M6.53501 21.5784L0.884233 11.791H12.1858L6.53501 21.5784Z" fill="black"/>
              </svg>  
            </th>
            <th scope="col" class="govuk-table__header">
              Account Status
              <!-- Sorting icon sorted -->
              <svg width="14" height="22" viewBox="0 0 14 22" fill="none" xmlns="http://www.w3.org/2000/svg" alt="Sorting Arrow">
                <path d="M6.53501 0.308975L12.1858 10.0964H0.884234L6.53501 0.308975Z" fill="black"/>
                <path d="M6.53501 21.5784L0.884233 11.791H12.1858L6.53501 21.5784Z" fill="black"/>
              </svg>                
            </th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Anita Richard</td>
            <td class="govuk-table__cell">anitarichard@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">AWAITING APPROVAL</strong>
            </td>
            <td class="govuk-table__cell"><a href="approve-deny-account">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Rafa Cortes</td>
            <td class="govuk-table__cell">rafacortes@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--yellow">AWAITING APPROVAL</strong>
            </td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Hannah Walsh</td>
            <td class="govuk-table__cell">hannahwalsh@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">ACTIVE</strong>
            </td>
            <td class="govuk-table__cell"><a href="manage-staff-active">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Colm Rogan</td>
            <td class="govuk-table__cell">colmrogan@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">ACTIVE</strong>
            </td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Theo Chandler</td>
            <td class="govuk-table__cell">theochandler@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">ACTIVE</strong>
            </td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Magdalena Cortez</td>
            <td class="govuk-table__cell">magdalenacortez@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">ACTIVE</strong>
            </td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Jakob Sorenson</td>
            <td class="govuk-table__cell">jakobsorenson@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">ACTIVE</strong>
            </td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Kaylani Daniels</td>
            <td class="govuk-table__cell">kaylanidaniels@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">ACTIVE</strong>
            </td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Amelie Felix</td>
            <td class="govuk-table__cell">ameliefelix@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">ACTIVE</strong>
            </td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Kim Brooke</td>
            <td class="govuk-table__cell">Kim@hello.co.uk</td>
            <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">ACTIVE</strong>
            </td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>

          <!-- extra users added to show pagination example -->

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Fisher Brown</td>
            <td class="govuk-table__cell">Fish12356@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">ACTIVE</strong>
            </td>
            <td class="govuk-table__cell"><a href="approve-deny-account">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Gaurav Bose</td>
            <td class="govuk-table__cell">Gaurav.Bose@msn.com</td>
            <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">ACTIVE</strong>
            </td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Gowtham Rana</td>
            <td class="govuk-table__cell">Gow123@hotmail.com</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">ACTIVE</strong>
            </td>
            <td class="govuk-table__cell"><a href="manage-staff-active">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Gab Shetty</td>
            <td class="govuk-table__cell">Gab3453@yahoo.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">ACTIVE</strong>
            </td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Hiraz Patt</td>
            <td class="govuk-table__cell">Patt.H@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">ACTIVE</strong>
            </td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Ishant Shetty</td>
            <td class="govuk-table__cell">Ishant@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">ACTIVE</strong>
            </td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Isabelle Rich</td>
            <td class="govuk-table__cell">Isa1234@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">ACTIVE</strong>
            </td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Jack Moore</td>
            <td class="govuk-table__cell">Moore.J@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">ACTIVE</strong>
            </td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Mateo Gomez</td>
            <td class="govuk-table__cell">mateogomez@oakcarehome.co.uk</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey">INACTIVE</strong>
            </td>
            <td class="govuk-table__cell"><a href="manage-staff-inactive">Manage</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Jade Walker</td>
            <td class="govuk-table__cell">Jade.W@gmail.com</td>
            <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">INACTIVE</strong>
            </td>
            <td class="govuk-table__cell"><a href="#">Manage</a></td>
          </tr>
        </tbody>
      </table>

      <!-- Pagination -->

      <nav class="govuk-pagination" role="navigation" aria-label="results">
        <ul class="govuk-pagination__list">
          <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
              1
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
              2
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
              3
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 4">
              4
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 5">
              5
            </a>
          </li>
        </ul>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg></a>
        </div>
      </nav>
      
    </div>
  </div>


  {% endblock %}
