{% set version = "v1" %}
{% set pageTitle = "This barcode is not registered" %}

{% extends "includes/layout-admin-portal.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  
  <a class="govuk-back-link" href="../search">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ pageTitle }}</h1>

        <p class="govuk-body govuk-!-margin-bottom-7">The test sample barcode has not been registered. You can register the subject and their test sample barcode for them.</p>

      <form action="../../superuser-home" method="post">

        <button class="govuk-button" data-module="govuk-button">Register a subject and sample</button>

      </form>

    </div>
  </div>

{% endblock %}

