{% set version = "v1" %}
{% set serviceName = "" %}
{% set pageTitle = "Sign in with NHS Identity" %}

{% extends "includes/layout.html" %}

{% block content %}

<div class="govuk-grid-row" style="display: flex;">
  <div class="govuk-grid-column-full" style="width:480px; margin: 0 auto;">

    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

    <p class="govuk-body">We’re asking all trust users to sign in using NHS Identity. This will give them more features, such as access to patient results. It will also improve security.</p>
    <p class="govuk-body">What happens next?</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>trust user signs in with NHS Identity</li>
      <li>you receive an email requesting trust user access to the elective care management service</li>
      <li>receive an email telling you that your access is approved by super user</li>
      <li>approve access and deactivate any Cognito accounts that they have</li>
    </ul>

    <p class="govuk-body">Find out more about NHS Identity’s features and benefits at <a href="#">insert website URL here</a></p>
    <p class="govuk-body">If you have any questions about NHS Identity, contact xxxxx</p>

  </div>
</div>

{% endblock %}
