
<div>
  <p class="govuk-body">The technology the service uses to check the result guarantees a high level of accuracy. It's authorised by the UK health regulator, the Medicines and Healthcare  (MHRA).</p>
  <p class="govuk-body">You can <a href="https://coronavirus-yellowcard.mhra.gov.uk/" target="_blank" rel="noreferrer">report more details about this service</a> to the MHRA.</p>
</div>

<div>
{% if data['whos-taking-the-test'] == "someone-else" %}
<h3 class="govuk-heading-m">What they must do</h3>
{% else %}
<h3 class="govuk-heading-m">What you must do</h3>
{% endif %}
<p class="govuk-body">To stay safe:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>get vaccinated</li>
  <li>handwash regularly</li>
  <li>download the NHS COVID-19 app (in England and Wales), the Protect Scotland app (in Scotland) and the StopCovidNI app (in Northern Ireland)</li>
  <li>open windows if meeting indoors</li>
  <li>wearing a face covering in crowded indoor settings</li>
  <li>stay home if unwell</li>
  <li>get tested and self-isolate if you need to</li>
</ul>

{% if data['whos-taking-the-test'] == "someone-else" %}
<p><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-and-treatment/when-to-self-isolate-and-what-to-do/" target="_blank" rel="noreferrer">Find out if they need to self-isolate.</a></p>
{% else %}
<p><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-and-treatment/when-to-self-isolate-and-what-to-do/" target="_blank" rel="noreferrer">Find out if you need to self-isolate.</a></p>
{% endif %}
</div>
<div>
<p class="govuk-body"><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">Get the latest NHS information and advice about coronavirus</a></p>
</div>
