{% set version = "v6" %}
{% set pageTitle = "Do you have a mobile phone or tablet device which can take photos?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/antibody/{{version}}/refer-and-triage/household">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/antibody/{{version}}/refer-and-triage/check-your-answers" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{ pageTitle }}
              </h1>
            </legend>
            <span id="delivery-address-hint" class="govuk-hint">
              You may need to take a photo of a test kit and upload it within an NHS website
            </span>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="device-1" name="device" type="radio" value="Yes" {{ checked("device", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="household-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="device-2" name="device" type="radio" value="No" {{ checked("device", "No") }}>
                <label class="govuk-label govuk-radios__label" for="household-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
