{% set version = "v6" %}
{% set pageTitle = "Where do you work?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <a class="govuk-back-link" href="/antibody/{{version}}/refer-and-triage/occupation">Back</a>
{% endblock %}

{% block content %}
{% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/antibody/{{version}}/refer-and-triage/have-you-had-symptoms" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="social-care-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
                {{ pageTitle }}
              </h1>
            </legend>
            <span id="social-role-hint" class="govuk-hint">
            Given that you work in social care, please outline where you work.
            </span>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="social-role-1" name="social-role" type="radio" value="Work in a single care home" {{ checked("social-role", "Work in a single care home") }}>
                <label class="govuk-label govuk-radios__label" for="social-role-1">
                  I work in a care home
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="social-role-2" name="social-role" type="radio" value="Work in more than one care home" {{ checked("social-role", "Work in more than one care home") }}>
                <label class="govuk-label govuk-radios__label" for="social-role-2">
                  I work in more than one care home
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="social-role-3" name="social-role" type="radio" value="Provide domiciliary care" {{ checked("social-role", "Provide domiciliary care") }}>
                <label class="govuk-label govuk-radios__label" for="social-role-3">
                  I provide domiciliary care to people in their homes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="social-role-3" name="social-role" type="radio" value="None of the above" {{ checked("social-role", "None of the above") }}>
                <label class="govuk-label govuk-radios__label" for="social-role-3">
                  None of the above
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
