{% set version = "v2" %}
{% set pageTitle = "Does the person who needs a test have any of these 3 symptoms?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

<a class="govuk-back-link" href="/antigen/{{version}}/refer-and-triage/status-page">Back</a>
{% endblock %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/antigen/{{version}}/action4/do-you-have-symptoms-option-2" method="post">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="symptoms-hint symptoms-2-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                          {{ pageTitle }}
                      </h1>
                  </legend>
                  <span id="symptoms-hint-2" class="govuk-body">
                    You can still get a test if you feel unwell with other symptoms. Select all that apply.
                  </span>
                  <div class="govuk-checkboxes govuk-!-margin-top-6" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="do-you-have-symptoms-option-2" name="do-you-have-symptoms-option-2" type="checkbox" value="Yes" {{ checked("do-you-have-symptoms-option-2", "Yes") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="do-you-have-symptoms-option-2">
                        high temperature
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="do-you-have-symptoms-option-2-2" name="do-you-have-symptoms-option-2" type="checkbox" value="Yes" {{ checked("do-you-have-symptoms-option-2", "Yes") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="do-you-have-symptoms-option-2-2">
                        new, continuous cough
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="do-you-have-symptoms-option-2-3" name="do-you-have-symptoms-option-2" type="checkbox" value="Yes" {{ checked("do-you-have-symptoms-option-2", "Yes") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="do-you-have-symptoms-option-2-3">
                        loss or change to your sense of smell or taste
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="do-you-have-symptoms-option-2-4" name="do-you-have-symptoms-option-2" type="checkbox" value="chills or shivers" {{ checked("do-you-have-symptoms-option-2", "chills or shivers") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="do-you-have-symptoms-option-2-4">
                        chills or shivers
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="do-you-have-symptoms-option-2-5" name="do-you-have-symptoms-option-2" type="checkbox" value="headache" {{ checked("do-you-have-symptoms-option-2", "headache") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="do-you-have-symptoms-option-2-5">
                        headache
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="do-you-have-symptoms-option-2-6" name="do-you-have-symptoms-option-2" type="checkbox" value="unusual tiredness" {{ checked("do-you-have-symptoms-option-2", "unusual tiredness") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="do-you-have-symptoms-option-2-6">
                        unusual tiredness
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="do-you-have-symptoms-option-2-7" name="do-you-have-symptoms-option-2" type="checkbox" value="sore throat" {{ checked("do-you-have-symptoms-option-2", "sore throat") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="do-you-have-symptoms-option-2-7">
                        sore throat
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="do-you-have-symptoms-option-2-8" name="do-you-have-symptoms-option-2" type="checkbox" value="sudden confusion" {{ checked("do-you-have-symptoms-option-2", "sudden confusion") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="do-you-have-symptoms-option-2-8">
                        sudden confusion
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="do-you-have-symptoms-option-2-9" name="do-you-have-symptoms-option-2" type="checkbox" value="skin rash" {{ checked("do-you-have-symptoms-option-2", "skin rash") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="do-you-have-symptoms-option-2-9">
                        skin rash
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="do-you-have-symptoms-option-2-10" name="do-you-have-symptoms-option-2" type="checkbox" value="changes in the mouth and tongue" {{ checked("do-you-have-symptoms-option-2", "changes in the mouth and tongue") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="do-you-have-symptoms-option-2-10">
                        changes in the mouth and tongue
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="do-you-have-symptoms-option-2-11" name="do-you-have-symptoms-option-2" type="checkbox" value="red round fingers or toes" {{ checked("do-you-have-symptoms-option-2", "red round fingers or toes") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="do-you-have-symptoms-option-2-11">
                        red round fingers or toes
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="do-you-have-symptoms-option-2-12" name="do-you-have-symptoms-option-2" type="checkbox" value="shortness of breath" {{ checked("do-you-have-symptoms-option-2", "shortness of breath") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="do-you-have-symptoms-option-2-12">
                        shortness of breath
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="do-you-have-symptoms-option-2-13" name="do-you-have-symptoms-option-2" type="checkbox" value="chest pains" {{ checked("do-you-have-symptoms-option-2", "chest pains") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="do-you-have-symptoms-option-2-13`
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="do-you-have-symptoms-option-2-14" name="do-you-have-symptoms-option-2" type="checkbox" value="muscle pains" {{ checked("do-you-have-symptoms-option-2", "muscle pains") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="do-you-have-symptoms-option-2-14">
                        muscle pains
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="do-you-have-symptoms-option-2-15" name="do-you-have-symptoms-option-2" type="checkbox" value="hoarse voice" {{ checked("do-you-have-symptoms-option-2", "hoarse voice") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="do-you-have-symptoms-option-2-15">
                        hoarse voice
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="do-you-have-symptoms-option-2-16" name="do-you-have-symptoms-option-2" type="checkbox" value="diarrhoea" {{ checked("do-you-have-symptoms-option-2", "diarrhoea") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="do-you-have-symptoms-option-2-16">
                        diarrhoea
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="do-you-have-symptoms-option-2-17" name="do-you-have-symptoms-option-2" type="checkbox" value="skipping meals" {{ checked("do-you-have-symptoms-option-2", "skipping meals") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="do-you-have-symptoms-option-2-17">
                        skipping meals
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="do-you-have-symptoms-option-2-18" name="do-you-have-symptoms-option-2" type="checkbox" value="abdominal pains" {{ checked("do-you-have-symptoms-option-2", "abdominal pains") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="do-you-have-symptoms-option-2-18">
                        abdominal pains
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="do-you-have-symptoms-option-2-19" name="do-you-have-symptoms-option-2" type="checkbox" value="runny nose" {{ checked("do-you-have-symptoms-option-2", "runny nose") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="do-you-have-symptoms-option-2-19">
                        runny nose
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="do-you-have-symptoms-option-2-20" name="do-you-have-symptoms-option-2" type="checkbox" value="sneezing" {{ checked("do-you-have-symptoms-option-2", "sneezing") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="do-you-have-symptoms-option-2-20">
                        sneezing
                      </label>
                    </div>
                    <div class="govuk-checkboxes__divider govuk-body" style="margin-left: 5px; transform: translateY(5px)">OR</div>

                    <div class="govuk-checkboxes__item govuk-!-margin-bottom-4">
                      <input class="govuk-checkboxes__input" id="do-you-have-symptoms-option-2-3" name="do-you-have-symptoms-option-2" type="checkbox" value="none of the above" {{ checked("do-you-have-symptoms-option-2", "none of the above") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="do-you-have-symptoms-option-2-3">
                        none of the above
                      </label>
                    </div>
                  </div>



              </fieldset>
            </div>
            <p class="govuk-body">If they have a <strong>high temperature</strong>, a <strong>new continuous cough</strong> or <strong>loss or change to their sense of smell or taste</strong>, they should stay at home until they get their result. They can leave home to get or post a test.</p>


            <button class="govuk-button" data-module="govuk-button">Continue</button>


        </form>

    </div>
</div>
<div class="proto-action big">
  <a href="/antigen/{{version}}/refer-and-triage/do-you-have-symptoms-option-2">
    <div class="proto-action-text govuk-!-font-size-19 govuk-!-padding-2 govuk-!-margin-left-3">Go to option 1</div>
  </a>
</div>

{% endblock %}
