{% set version = "v1" %}
{% set pageTitle = "Call the contact centre to continue" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<a class="govuk-back-link" href="/daily-contact-testing/{{version}}/email-address">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            {{ pageTitle }}
        </h1>

        <p class="govuk-body">
            At the moment, you need access to an email address to use the online service.<br><br>
            It's OK to use someone else's if you want.<br><br> 
            Otherwise, call the contact centre. 
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>England, Wales and Northern Ireland: call 119 (free from mobiles and landlines)</li>
          <li>Scotland: call 0300 303 2713 (charged at your standard network rate)</li>
        </ul>
        <div class="govuk-inset-text govuk-body govuk-!-margin-top-3">
            If you have been told you have been in contact with someone who has tested positive for coronavirus, you must <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-and-treatment/" class="govuk-link">self-isolate</a>.
        </div>
    </div>
</div>

{% endblock %}
