{% set version = "v1" %}
{% set pageTitle = "Call us to arrange daily contact testing" %}

{% extends "includes/layout.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            {{ pageTitle }}
        </h1>

        <p class="govuk-body">
            You need access to an email address to apply online for daily contact testing. If you do not have one, you can call our contact centre.<br><br>
            Call 119 (free from mobiles and landlines).
        </p>

    </div>
</div>

{% endblock %}