{% set version = "v1" %}
{% set pageTitle = "Sorry, this service is not available in your country" %}

{% extends "includes/layout.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            {{ pageTitle }}
        </h1>

        <p class="govuk-body">
            If you have been in contact with someone who has tested positive for coronavirus, you must continue to <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-and-treatment/">self-isolate</a>.<br><br>
            If you have coronavirus symptoms, you must self-isolate immediately and take a <a href="../../antigen/v1/govuk/get-coronavirus-test">free NHS test.</a>
        </p>
        



    </div>
</div>

{% endblock %}
