{% set version = "v1" %}
{% set pageTitle = "Sorry, you're not eligible" %}

{% extends "includes/layout.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            {{ pageTitle }}
        </h1>

        <p class="govuk-body">
            At the moment, this service is not available in your country.<br><br>
            <a href="../../daily-contact-testing/v1/daily-testing">Find out more</a>
        </p>

    </div>
</div>

{% endblock %}
