{% set version = "v1" %}
{% set pageTitle = "Opt in to daily contact testing" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="/daily-contact-testing/{{version}}/daily-contact-testing">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/daily-contact-testing/{{version}}/action10/dct-opt-in" method="post">

            <div class="govuk-form-group govuk-!-margin-bottom-7">
                <fieldset class="govuk-fieldset" aria-describedby="dct-opt-in-hint dct-opt-in-hint-2">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
                            {{ pageTitle }}
                        </h1>
                    </legend>
                    <span id="dct-opt-in-hint" class="govuk-body">
                        Based on your answers, you can opt in and order a pack of 7 rapid tests.<br><br>
                        If you opt-in, you need to:
                    </span>
                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-5">
                        <li>take a rapid test every day for 7 days to check you’re not infectious</li>
                        <li>report your result to the NHS on the day you take the test</li>
                        <li>self-isolate until you report your first negative test result</li>
                    </ul>
                    <span id="dct-opt-in-hint-2" class="govuk-body">
                        It is OK for someone else to help you.<br><br>
                        If you test positive, you must stop daily contact testing, self-isolate immediately and get a different NHS test.<br><br>
                        <a href="#" class="govuk-link">Find out more about daily contact testing</a><br><br>
                        <strong>Do you want to opt in?</strong>
                    </span>

                    <div class="govuk-radios govuk-!-margin-top-5">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="dct-opt-in-1" name="dct-opt-in" type="radio" value="Yes" {{ checked("dct-opt-in", "Yes") }}>
                            <label class="govuk-label govuk-radios__label" for="dct-opt-in-1">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="dct-opt-in-2" name="dct-opt-in" type="radio" value="No" {{ checked("dct-opt-in", "No") }}>
                            <label class="govuk-label govuk-radios__label" for="dct-opt-in-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-inset-text govuk-body govuk-!-margin-top-3">
                If you're under 16 a parent or guardian must opt in for you.
            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>

    </div>
</div>

{% endblock %}
