{% set version = "v1" %}
{% set pageTitle = "Sorry, daily contact testing is not right for you" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<a class="govuk-back-link" href="/daily-contact-testing/{{version}}/contact-with-positive">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            {{ pageTitle }}
        </h1>

        <p class="govuk-body">
          At the moment, it’s only for people who have been in contact with someone that tested positive for coronavirus.<br><br>
          <a href="/daily-contact-testing/v1/getting-tested" class="govuk-link">Other ways to get a test if you do not have coronavirus symptoms</a>.
        </p>

        <div class="govuk-inset-text govuk-body govuk-!-margin-top-3">
            If you have coronavirus symptoms, you must self-isolate immediately and <a href="/antigen/v1/govuk/get-coronavirus-test" class="govuk-link">take a different NHS test</a>.
        </div>

    </div>
</div>

{% endblock %}