{% set version = "v1" %}
{% set pageTitle = "Sorry, daily contact testing is not available for you" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<a class="govuk-back-link" href="/daily-contact-testing/{{version}}/contact-with-positive">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            {{ pageTitle }}
        </h1>

        <p class="govuk-body">
            Daily contact testing is currently only available to people who have been in contact with someone who tested positive for coronavirus.<br><br>
            If you have coronavirus symptoms, you must self-isolate immediately and <a href="../../antigen/v1/govuk/get-coronavirus-test.html">take a free NHS test</a>.
        </p>

    </div>
</div>

{% endblock %}