{% set version = "v1" %}
{% set pageTitle = "Sorry, this service is not right for you" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            {{ pageTitle }}
        </h1>

        <p class="govuk-body">This service is for:</p>
        <ul class="app-c-header-notice__list govuk-list govuk-list--bullet">
          <li>who are eligible, and</li>
          <li>who cannot collect tests from a test site</li>
        </ul>
        <p class="govuk-body">
            To be eligible, someone from your household (or bubble) must go to a school or work for one.<br><br>
            If you're not eligible, there may be other ways to get a test if you do not have symptoms.
        </p>

        <p class="govuk-body"><a href="#" class="govuk-link">Find out more about eligibility and how to collect from a test site</a></p>
        <p class="govuk-body"><a href="/daily-contact-testing/v1/getting-tested" class="govuk-link">Other ways to get a test if you do not have coronavirus symptoms</a></p>

    </div>
</div>

{% endblock %}
