{% set version = "v1" %}
{% set pageTitle = "How did you find out you were a contact?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

<a class="govuk-back-link" href="/daily-contact-testing/{{version}}/contact-with-positive">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/daily-contact-testing/{{version}}/dct-opt-in" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                            {{ pageTitle }}
                        </h1>
                    </legend>

                    <div class="govuk-radios govuk-radios--conditional govuk-!-margin-top-5" data-module="govuk-radios">

                        <div class="govuk-radios__item govuk-!-margin-bottom-4">
                          <input class="govuk-radios__input" id="notified-how-1" name="notified-how" type="radio" value="Phone call from a contact tracer" data-aria-controls="conditional-trace-id-number" {{ checked("notified-how", "Phone call from a contact tracer") }}>
                          <label class="govuk-label govuk-radios__label" for="notified-how-1">
                            Phone call from a contact tracer
                          </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-trace-id-number">
                          <div class="govuk-form-group">
                            <p class="govuk-body">Use the account ID they gave you to:</p>
                            <ul class="govuk-list govuk-list--bullet">
                              <li>tell them you’re doing daily contact testing</li>
                              <li>stop their follow up calls and messages</li>
                            </ul>
                            <label class="govuk-label" for="trace-id-number">
                              Account ID (optional)<br>
                              <span class="govuk-hint">It’s 8 characters and looks like this “784c513f”. Find it on emails and texts.</span>
                            </label>
                            <input class="govuk-input govuk-!-width-two-thirds" id="trace-id-number" name="trace-id-number" type="text" value="{{ data['trace-id-number'] }}">
                          </div>
                        </div>

                        <div class="govuk-radios__item govuk-!-margin-bottom-4">
                            <input class="govuk-radios__input" id="notified-how-2" name="notified-how" type="radio" value="An email or text from a contact tracer" data-aria-controls="conditional-trace-id-number-email-sms" {{ checked("notified-how", "An email or text from a contact tracer") }}>
                            <label class="govuk-label govuk-radios__label" for="notified-how-2">
                              An email or text from a contact tracer
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-trace-id-number-email-sms">
                          <div class="govuk-form-group">
                            <p class="govuk-body">Use the account ID they gave you to:</p>
                            <ul class="govuk-list govuk-list--bullet">
                              <li>tell them you’re doing daily contact testing</li>
                              <li>stop their follow up calls and messages</li>
                            </ul>
                            <label class="govuk-label" for="trace-id-number">
                              Account ID (optional)<br>
                              <span class="govuk-hint">It’s 8 characters and looks like this “784c513f”. Find it on emails and texts.</span>
                            </label>
                            <input class="govuk-input govuk-!-width-two-thirds" id="trace-id-number-email-sms" name="trace-id-number-email-sms" type="text" value="{{ data['trace-id-number-email-sms'] }}">
                          </div>
                        </div>

                        <div class="govuk-radios__item govuk-!-margin-bottom-4">
                            <input class="govuk-radios__input" id="notified-how-3" name="notified-how" type="radio" value="An alert from the NHS Covid-19 app" {{ checked("notified-how", "An alert from the NHS Covid-19 app") }}>
                            <label class="govuk-label govuk-radios__label" for="notified-how-3">
                              An alert from the NHS Covid-19 app
                            </label>
                        </div>

                        <div class="govuk-radios__item govuk-!-margin-bottom-4">
                            <input class="govuk-radios__input" id="notified-how-4" name="notified-how" type="radio" value="Another way, not listed above" {{ checked("notified-how", "Another way, not listed above") }}>
                            <label class="govuk-label govuk-radios__label" for="notified-how-4">
                              Another way, not listed above
                            </label>
                        </div>

                    </div>
                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>

    </div>
</div>

{% endblock %}
