{% set version = "v1" %}
{% set pageTitle = "Sorry, this service is currently unavailable" %}

{% extends "includes/layout.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            {{ pageTitle }}
        </h1>

        <p class="govuk-body">
            Due to the exceptional demand, we have reached today's allocation for applications for daily contact testing. Please try again tomorrow.<br><br>
            If you have been in contact with someone who has tested positive for coronavirus, you must continue to self-isolate.<br><br>
            If you have coronavirus symptoms, you must self-isolate immediately and <a href="../../antigen/v1/govuk/get-coronavirus-test.html">take a free NHS test</a>.
        </p>

    </div>
</div>

{% endblock %}