{% extends "includes/layout.html" %}
{% set serviceName = "Get a coronavirus test" %}
{% set pageTitle = "An order already exists for this patient" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.go(-1);">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ pageTitle }}</h1>

      <div class="govuk-body">
        Confirm if you need to order another test kit, if there’s been a problem.
      </div>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          If you order a new test kit, we'll send the patient a text telling them to throw away the old test kit. This is because each test kit is linked to a specific procedure date.
        </strong>
      </div>

      <form action="confirmation-manual" method="post">

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Patient
            </dt>
            <dd class="govuk-summary-list__value">
              Firstname Lastname
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Procedure date
            </dt>
            <dd class="govuk-summary-list__value">
              00 MMM YY
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              NHS number
            </dt>
            <dd class="govuk-summary-list__value">
              485 777 3456
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="vertical-align: top;">
              Why are you reordering?
            </dt>
            <dd class="govuk-summary-list__value">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-visually-hidden" for="sort">
                  Why are you reordering?
                </label>
                <select class="govuk-select" id="sort" name="sort">
                  <option value="">Incomplete test kits</option>
                  <option value="">Failed delivery</option>
                  <option value="">Incorrect address</option>
                </select>
              </div>
            </dd>
          </div>
        </dl>
      </form>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Order another test kit",
          href: "confirmation-manual"
        }) }}

        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Cancel
        </button>
      </div>

    </div>
  </div>


{% endblock %}
