{% set version = "v1" %}
{% set pageTitle = "Sorry, you need email access to order online" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

<a class="govuk-back-link" href="/lfd-home-ordering/{{version}}/email-address">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            {{ pageTitle }}
        </h1>
        <p class="govuk-body">
            At the moment, you need access to an email address to order online.<br><br>
            It’s OK to use someone else’s.<br><br>
            <a href="/lfd-home-ordering/{{version}}/email-address" class="govuk-link">Go back and enter an email address</a>
        </p>

        <h2 class="govuk-heading-m">Do not have email access?</h2>
        <p class="govuk-body">
            <a class="govuk-link" href="https://www.gov.scot/publications/coronavirus-covid-19-getting-tested/pages/community-testing" target="blank">If you’re travelling to the Scottish Islands, find out how to get tests.</a> Otherwise, your options are below.
        </p>

        <p class="govuk-body">Other ways to get a rapid lateral flow test:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>find a local site to get tested at</li>
            <li>find a local site where you can collect tests</li>
            <li><a class="govuk-link" target="blank" href="#">find a local pharmacy where you can collect tests</a> (England only)</li>
            <li>get tests from your employer (if you cannot work from home)</li>
        </ul>

        <h3 class="govuk-heading-s">About collecting tests</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>You do not have to book an appointment</li>
            <li>You do not need any paperwork or ID</li>
            <li>You do need to wear a face covering (unless you're exempt)</li>
            <li>You do need to follow social distancing</li>
            <li>You must be 18 or over</li>
        </ul>

        <p class="govuk-body">You can get up to X packs of tests (there are 7 tests in a pack).</p>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text govuk-!-font-size-19">
            <span class="govuk-warning-text__assistive">Warning</span>
            Do not go if you have coronavirus symptoms or you're been told to self-isolate. <a class="govuk-link" href="#">Find out what you must do and how to get tested</a>.
          </strong>
        </div>

    </div>
</div>

{% endblock %}
