{% set version = "v1" %}
{% set pageTitle = "Sorry, this service is not right for you" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            {{ pageTitle }}
        </h1>

        <p class="govuk-body">
            This service is for people:<br>
         <ul class="govuk-list govuk-list--bullet">
             <li>who are eligible, and</li>
             <li>who cannot collect tests from a test site</li>
         </ul>
        </p>
        <p class="govuk-body">
            To be eligible, someone from your household (or bubble) must go to a school or work for one.<br><br>
            If you’re not eligible, there may be other ways to get a test if you do not have symptoms.
        </p>
        <p class="govuk-body">
            <a href=“#”>Find out more about eligibility and how to collect from a test site</a><br><br>
            <a href=“https://www.gov.uk/getting-tested-for-coronavirus”>Other ways to get a test if you do not have symptoms</a>
        </p>  
    </div>
</div>

{% endblock %}
