{% set version = "v1" %}
{% set pageTitle = "About your household" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="/lfd-home-ordering/{{version}}/address">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/lfd-home-ordering/{{version}}/action10/work-from-home" method="post">

            <div class="govuk-form-group govuk-!-padding-bottom-5">
                <fieldset class="govuk-fieldset" aria-describedby="work-from-home-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
                            {{ pageTitle }}
                        </h1>
                    </legend>
                    <span id="work-from-home-hint" class="govuk-body">
                        <strong class="govuk-!-font-size-24">Is there a primary or secondary school student in your household?</strong><br><br>
                      If you do not have a child at school but you are in a support bubble with someone that does, you can answer "Yes".
                    </span>
                    <details class="govuk-details govuk-!-margin-top-5" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            What is a support bubble?
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                            <strong>Support bubble</strong><br><br>
                            If you live alone or you’re a single parent who lives alone with your children, you can meet with 1 other household and form a support bubble. You can think of yourselves as a "household".<br><br>
                            <a href="#" class="govuk-link">More about support bubbles</a><br><br>
                            <strong>Childcare bubble</strong><br><br>
                            If you live in a household with anyone aged under 14, you can form a ‘childcare bubble’. This allows friends or family from one other household to provide informal childcare.<br><br>
                            <a href="#" class="govuk-link">More about childcare bubbles</a>
                        </div>
                    </details>
                    <div class="govuk-radios govuk-!-margin-top-5">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="work-from-home-1" name="work-from-home" type="radio" value="Yes" {{ checked("work-from-home", "Yes") }}>
                            <label class="govuk-label govuk-radios__label" for="work-from-home-1">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="work-from-home-2" name="work-from-home" type="radio" value="No" {{ checked("work-from-home", "No") }}>
                            <label class="govuk-label govuk-radios__label" for="work-from-home-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>

    </div>
</div>

{% endblock %}
