{% set version = "v4" %}
{% set pageTitle = "You need a swab test" %}

{% extends "includes/layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      <p>If you currently have coronavirus symptoms, you should get a swab test. This will tell you if you have coronavirus right now.</p>
      <p>It's more important that you get a swab test right now.</p>
      
      <a href = "/antibody/v4/govuk/testing-for-coronavirus" class = "govuk-button">Get a swab test</a>

    </div>
  </div>

{% endblock %}
