{% set version = "v1" %}
{% set serviceName = "Manage hospital coronavirus test ordering" %}
{% set pageTitle = "View organisation" %}
{% extends "includes/layout.html" %}

{% block beforeContent %}
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag"> beta </strong>
            <span class="govuk-phase-banner__text"> 
                This is a new service – your <a target="_blank" href="#" class="govuk-link"> feedback (opens in new tab)</a> will help us to improve it. 
            </span>
        </p>
    </div>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl"> Manage elective care patient COVID-19 testing </h1>
            <div style="display: flex; flex-direction: column">
                <div>
                    <a class="govuk-!-padding-4 actions__card card" headingtype="m" style="text-decoration: none; background-color: #f3f2f1;">
                        <p class="card--heading govuk-body" style="color: #1d70b8">
                            <strong>Order home tests for patients</strong>
                        </p>
                        <p class="govuk-body">Order tests for patients due to have a hospital procedure.</p>
                    </a>
                    <a class="govuk-!-padding-4 actions__card card" headingtype="m" style="text-decoration: none; background-color: #f3f2f1;">
                        <p class="card--heading govuk-body" style="color: #1d70b8">
                            <strong>Test kit order history</strong>
                        </p>
                        <p class="govuk-body">Find patients with a procedure coming up in the next 7 days.</p>
                    </a>
                </div>
                <div class="govuk-!-margin-top-4">
                    <h2 class="govuk-heading-m">Enhanced team member actions</h2>
                    <a class="govuk-!-padding-4 actions__card card" headingtype="m" style="text-decoration: none; background-color: #f3f2f1;">
                        <p class="card--heading govuk-body" style="color: #1d70b8">
                            <strong>Manage team members</strong>
                        </p>
                        <p class="govuk-body">Add standard users and assign users groups.</p>
                    </a>
                    <a class="govuk-!-padding-4 actions__card card" headingtype="m" style="text-decoration: none; background-color: #f3f2f1;">
                        <p class="card--heading govuk-body" style="color: #1d70b8">
                            <strong>Manage test kit groups</strong>
                        </p>
                        <p class="govuk-body">Create and modify test kit ordering groups.</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="govuk-grid-column-three-quarters govuk-!-margin-top-8">
            <p class="govuk-body govuk-!-font-weight-bold"> Log out if you’re finished. </p>
            <a role="button" href="/register-elective-care" draggable="false" class="govuk-!-margin-top-4 govuk-button govuk-button--start govuk-button"> Log out </a>
        </div>
    </div>
{% endblock %}