{% extends "includes/layout.html" %}
{% set serviceName = "COVID-19" %}
{% set pageTitle = "Unique organisation number lookup" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ pageTitle }}</h1>
      <p class="govuk-body">You can lookup your Unique Organisation Number (UON) using your existing organisation ID and postcode.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Care homes in England: enter your CQC location ID (it looks like this: '1-123456789', note this is different to your CQC provider ID, which is a similar format)</li>
        <li>Care homes in Wales: enter your Care Inspectorate Wales Number (it looks like this: 'SIN-12345678-abcd')</li>
        <li>Care homes in Northern Ireland: enter your RQIA number (it looks like this: '1234')</li>
        <li>Care homes in Scotland: enter your Care Inspectorate number (it looks like this: 'CS1234567890')</li>
        <li>GP surgeries: enter your ODS code (it looks like this: ‘A12345’)</li>
        <li>Dental surgeries: enter your NHS location ID (it looks like this: ‘A123B’)</li>
        <li>Schools, school-based nurseries, maintained nurseries or further education providers in England: enter your DfE URN or UKPRN (it looks like this: ‘123456’ or this: ‘12345678’)</li>
        <li>Private, voluntary and independent nurseries in England: enter your Ofsted URN (it looks like this: ‘EY123456’). If your URN does not start with 'EY', please add it before the numbers like this 'EY123456'</li>
      </ul>

      <p class="govuk-body">If you are unsure of your organisation number please call the contact centre:</p>
      <ul class="govuk-list govuk-list--bullet govuk-list govuk-list--bullet govuk-!-margin-bottom-4">
        <li>England, Wales and Northern Ireland: call <span class="govuk-!-font-weight-bold">119</span> (free from mobiles and landlines)</li>
        <li>Scotland: call <span class="govuk-!-font-weight-bold">0300 303 2713</span> (charged at your standard network rate)</li>
      </ul>
      <p class="govuk-body">Lines are open 7am to 11pm.</p>


      <form action="2" method="post">
        <div class="govuk-form-group">
          <label class="govuk-label" for="">
            Organisation ID
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="" name="" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="">
            Postcode
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="" name="" type="text">
        </div>
        <div class="govuk-form-group">
          <div class="govuk-!-margin-bottom-6" style="width: 300px;height: 80px; background-color: #ccc;">
            reCAPTCHA
          </div>
        </div>
      </form>
      <button class="govuk-button" data-module="govuk-button">
        Submit
      </button>
      </div>
  </div>


{% endblock %}
