{% extends "layout.html" %}

{% block pageTitle %}
Start page example
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      SKU Admin Portal
    </h1>

    <p>This portal can be used to update the runtime operational SKU values</p>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#skus">
            SKUs
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#tenants">
            Tenants
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#sku-priority">
            SKU Priority
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="skus">
        <h2 class="govuk-heading-l">SKUs</h2>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h3 class="govuk-heading-s">Status</h3>
            </legend>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="status" name="status-active" type="radio" value="active">
                <label class="govuk-label govuk-radios__label" for="status-active">
                  Active
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="status" name="status-inactive" type="radio" value="inactive">
                <label class="govuk-label govuk-radios__label" for="status-inactive">
                  Inactive
                </label>
              </div>

              <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Add new SKU
        </a>

            </div>

          </fieldset>

          <h4 class="govuk-heading-m govuk-!-margin-bottom-3">CTK01-GLA</h4>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Tenant
        </dt>
        <dd class="govuk-summary-list__value">
          Public
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Total Ordered:
        </dt>
        <dd class="govuk-summary-list__value">
          0
        </dd>
      </div>
    </dl>

        </div>




      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tenants">
        <h2 class="govuk-heading-l">Tenants</h2>


      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="sku-priority">
        <h2 class="govuk-heading-l">SKU Priority</h2>

      </div>
    </div>

  </div>

</div>
{% endblock %}
