{% extends "layout.html" %} {% block pageTitle %} Test verification - GOV.UK {%
endblock %} {% block header %} {{ govukHeader({ serviceName: "COVID-19" }) }} {%
endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      Information about this test sample
    </h1>

    <p class="govuk-body">
      <strong>Sample barcode:</strong> {{ data["sample-barcode"] }} &nbsp;
      &nbsp;
      <a href="CTAP-barcode-lookup" aria-label="change the sample barcode"
        >Change</a
      >
    </p>

    <p class="govuk-body"><strong>Test status:</strong> Completed</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {# - - - - sample results - - - - #}
    <h2 class="govuk-heading-m">Sample results</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key sample-summary-table">
          Test result
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--blue"> Negative </strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Uploaded on</dt>
        <dd class="govuk-summary-list__value">08 September 2021, 13:16</dd>
      </div>
    </dl>
    {# - - - - sample status - - - - #}
    <h2 class="govuk-heading-m govuk-!-margin-top-7">Sample status</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key sample-summary-table">
          Latest sample status
        </dt>
        <dd class="govuk-summary-list__value">Result sent by SMS</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Latest data sample status</dt>
        <dd class="govuk-summary-list__value">08 September 2021, 13:16</dd>
      </div>
    </dl>
    <p class="govuk-body">
      <a href="#">View test sample progress</a>
    </p>
    {# - - - - personal details - - - - #}
    <h2 class="govuk-heading-m govuk-!-margin-top-7">Personal details</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key sample-summary-table">First name</dt>
        <dd class="govuk-summary-list__value">Jenny</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Last name</dt>
        <dd class="govuk-summary-list__value">Thorp</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Date of birth</dt>
        <dd class="govuk-summary-list__value">02 February 2000</dd>
      </div>
    </dl>
    {# - - - - contact details - - - - #}
    <h2 class="govuk-heading-m govuk-!-margin-top-7">Contact details</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key sample-summary-table">
          Mobile number
        </dt>
        <dd class="govuk-summary-list__value">+447920417178</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Landline number</dt>
        <dd class="govuk-summary-list__value">-</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Email address</dt>
        <dd class="govuk-summary-list__value">-</dd>
      </div>
    </dl>
  </div>
</div>

{% endblock %}
