{% extends "layout.html" %} {% block pageTitle %} Service desk actions - GOV.UK
{% endblock %} {% block header %} {{ govukHeader({ serviceName: "COVID-19" }) }}
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      COVID-19 Testing admin actions
    </h1>

    <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Help a subject</h2>

    <p class="govuk-body govuk-!-margin-bottom-8">
      Help a subject (caller) who has been to a test centre and received a test
      sample barcode.
    </p>

    <!-- nested row and column to reflect what is live - this sets the width of the card -->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div class="card-ctap govuk-!-padding-4 govuk-!-margin-bottom-8">
          <a href="CTAP-barcode-lookup" class="govuk-link--no-underline">
            <h2 class="govuk-heading-m card__heading">
              Look up a subject's barcode
            </h2>

            <p class="govuk-body">
              Look up a subject's test sample barcode to see if they have
              registered correctly.
            </p>
          </a>
        </div>
      </div>
    </div>

    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-9">
      Log out if you are finished.
    </p>

    <a href="#" class="govuk-button">Log out</a>
  </div>
</div>

{% endblock %}
