{% set version = "v1" %}
{% set pageTitle = "Coronavirus account" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div> 

  <a class="govuk-back-link" href="/lite-registration-accounts-mvp/{{version}}/register-a-test">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ pageTitle }}</h1>

        <p class="govuk-body">Creating an account will make it easier for you to get tested quicker in the future. Continue with NHS login to create an account or sign in.</p>
        <p class="govuk-body govuk-!-margin-bottom-7">If you do not have an email address and mobile phone, continue without an account.</p>
        
        <form class="form" action="/lite-registration-accounts-mvp/{{version}}/user-account/login-email" method="post">
          <button class="govuk-!-font-size-19 govuk-!-margin-bottom-5 nhsuk-button-style" type="submit">
            Continue with NHS login
          </button>
        </form>

        <form class="form" action="/lite-registration-accounts-mvp/{{version}}/email-address" method="post">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Continue without an account
          </button>
        </form>

    </div>
  </div>

{% endblock %}

