{% set version = "v2" %}
{% set pageTitle = "Call us to arrange home lateral flow testing" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<a class="govuk-back-link" href="/lfd-home-ordering/{{version}}/email-address">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            {{ pageTitle }}
        </h1>

        <p class="govuk-body">
            You need access to an email address to apply online for home lateral flow testing.<br><br>
            If you do not have one, you can call our contact centre:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>England, Wales and Northern Ireland: call 119 (free from mobiles and landlines)</li>
            <li>Scotland: call 0300 303 2713 (charged at your standard network rate)</li>
        </ul>

    </div>
</div>

{% endblock %}