{% set version = "v2" %}
{% set pageTitle = "Sorry, home lateral flow testing is not available for you" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            {{ pageTitle }}
        </h1>

        <p class="govuk-body">
            Home lateral flow testing is currently only available to people who cannnot work from home and who are unable to be regularly tested at their place of work or study.<br><br>
            If you have coronavirus symptoms, you must self-isolate immediately and <a class="govuk-link" href="/antigen/v2/govuk/get-coronavirus-test">take a free NHS test</a>.
        </p>

    </div>
</div>

{% endblock %}