{% set pageHeading = "Enter page title here" %}
{% set version = "" %}
{% set serviceName = "Default service name" %}
{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your test test test <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>
    </div>
  </div>


{% endblock %}
