{% set version = "v1" %}
{% set pageTitle = "Enter the unique test kit barcode" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  {% if data['who-is-test-for'] == "Myself" %}
    {% if data['email-address'] == "user@testing.co.uk" %}
      <a class="govuk-back-link" href="/_csplayground/singleregistration/{{version}}/user-account/home-page">Back</a>
    {% endif %}
  {% endif %}

  {% if data['who-is-test-for'] == "Myself" %}
    {% if data['email-address'] !== "user@testing.co.uk" %}
      <a class="govuk-back-link" href="/_csplayground/singleregistration/{{version}}/coronavirus-account">Back</a>
    {% endif %}
  {% endif %}


  {% if data['who-is-test-for'] == "Someone else" %}
      <a class="govuk-back-link" href="/_csplayground/singleregistration/{{version}}/who-is-test-for">Back</a>
  {% endif %}


{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/_csplayground/singleregistration/{{version}}/action/enter-barcode" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="enter-barcode-number-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                {{ pageTitle }}
              </h1>
            </legend>
            <span id="enter-barcode-number-hint" class="govuk-body">
              Use the camera on your phone or computer to scan your test kit barcode.<br><br>
              Or you can  manually enter the 11 character reference below the barcode.<br><br>
              If you're using a home test kit, you'll find the identical barcodes inside your home test kit, either attached to the plastic vial, biohazard bag and return box or loose for you to stick on yourself (please read instructions).<br><br>
              These are different from your pre-paid Royal Mail return package barcode on your box.<br><br>
              If you have a Randox test kit, manually enter the 9 or 10 character unique reference number (URN) on the label.<br><br>
            </span>

            <details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  What does the barcode look like?
                </span>
              </summary>
              <div class="govuk-details__text">
                <img src="/public/images/barcode-number.png" alt="barcode number"/>
              </div>
            </details>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  What does the Randox URN look like?
                </span>
              </summary>
              <div class="govuk-details__text">
                <img src="/public/images/randox-number.png" alt="randox number"/>
              </div>
            </details>

            <a href="/_csplayground/singleregistration/{{version}}/scan-barcode" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Scan barcode
            </a>

            <div class="govuk-form-group">
              <label class="govuk-label" for="kit-barcode-reference-1">
                Test kit barcode reference or URN
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="kit-barcode-reference-1" name="kit-barcode-reference-1" type="text" value={{ data['kit-barcode-reference-1'] }}>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="kit-barcode-reference-2">
                Confirm test kit barcode reference or URN
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="kit-barcode-reference-2" name="kit-barcode-reference-2" type="text" value={{ data['kit-barcode-reference-2'] }}>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
      <div style="background-color: #ffeb3b; height: 35px; width: 114px; position: absolute; right: 0; display: flex; align-items: center; box-shadow: -7px -7px 12px -7px rgba(0, 0, 0, 0.85)">
        <a style="font-weight: bold; text-decoration: none; outline: none; background-color: none" href="/_csplayground/singleregistration/{{version}}/view-barcodes">
          <div class="proto-action-text govuk-!-margin-left-3">View Barcodes</div>
        </a>
      </div>

    </div>
  </div>

{% endblock %}
