{% set version = "v1" %}
{% extends "includes/layout.html" %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Invitation to elective care management</h1>

     <p class="govuk-body">You've have been invited to set up elective care testing for your organisation.</p>
     <p class="govuk-body">Add groups and team members who can order coronavirus home tests for patients before their hospital procedure.</p>
     <p class="govuk-body">Your temporary password is:<br><strong>XWYDTSX</strong></p>

     <a href="/elective-care-testing/{{version}}/account-management/login-temporary" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-top-4" data-module="govuk-button">
        Start now
     </a>

    </div>
  </div>

{% endblock %}
