{% set version = "v1" %}
{% set pageTitle = "Sorry, there is a technical problem" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  
  <a class="govuk-back-link" href="#">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ pageTitle }}</h1>

        <p class="govuk-body govuk-!-margin-bottom-7">Please try again.</p>

      <form action="#" method="post">

        <button class="govuk-button" data-module="govuk-button">Try again</button>

      </form>

      <p class="govuk-body">If the issue continues email the helpdesk:<br><a class="govuk-body" href="#">ElectiveCareTesting@dhsc.gov.uk.</a></p>

    </div>
  </div>

{% endblock %}

