{% set version = "v3" %}
{% set pageTitle = "What is your passport number?" %}

{% extends "includes/layout-intl-arrivals.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  {% if data['travel-package-exempt'] == "Yes, I'm eligible for a hardship arrangement" %}
  <a class="govuk-back-link" href="/international-arrivals/{{version}}/hardship-arrangement">Back</a>
  {% else %}
  <a class="govuk-back-link" href="/international-arrivals/{{version}}/date-of-birth">Back</a>
  {% endif %}
  
{% endblock %}

{% block content %}
{% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/international-arrivals/{{version}}/arrival-date" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                {{ pageTitle }}
              </h1>
            </legend>
            <p class="govuk-body">Check your passport and find the page with your passport number.</p>

            <div class="govuk-form-group">
              <label class="govuk-label" for="passport-number">
                Passport number<br>
                <span class="govuk-hint"  style="line-height: 1.7em;">
                  For example, in Britain, 502135326
                </span>
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="passport-number" name="passport-number" type="text" value="{{ data['passport-number'] }}">
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
