{% set version = "v4" %}
{% set pageTitle = "Have you tested positive for COVID-19 more than 3 months ago?" %}

{% extends "includes/layout-intl-arrivals.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="/international-arrivals/{{version}}/vaccine">Back</a>


{% endblock %}

{% block content %}
{% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/international-arrivals/{{version}}/ethnic-group" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="previous-infection-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                {{pageTitle}}
              </h1>
            </legend>
            <span id="previous-infection-hint" class="govuk-body">
              If your positive result was within the last 3 months, select 'No'.
            </span>
            <div class="govuk-radios govuk-!-margin-top-6">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="previous-infection-1" name="previous-infection" type="radio" value="Yes, over 3 months ago" {{ checked("previous-infection", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="previous-infection-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="previous-infection-3" name="previous-infection" type="radio" value="No" {{ checked("previous-infection", "No") }}>
                <label class="govuk-label govuk-radios__label" for="previous-infection-3">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
