{% set version = "v1" %}
{% set pageTitle = "Confirmation email" %}
{% extends "includes/layout.html" %}


{% block content %}
  {% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-9">
        Wait for your test pack to arrive
      </h1>

    </div>
  </div>

  <div class="proto-action big">
    <a href="/litereg-accounts/v1/">
      <div class="proto-action-text govuk-!-font-size-19 govuk-!-padding-2 govuk-!-margin-left-3">Register your test kit</div>
    </a>
  </div>

{% endblock %}