{% set version = "v1" %}
{% set pageTitle = "Confirmation email" %}
{% extends "includes/layout.html" %}


{% block content %}
  {% include "includes/gtm-noscript.html" %}

  <style>
    body {
      background-color: #f3f2f1 !important;
      -webkit-text-size-adjust: 100%;
      font-family: "Helvetica Neue", Helvetica, sans-serif;
      font-size: 20px;
      font-weight: normal;
      margin: 50px auto;
      display: flex;
      flex-direction: column;
    }

    .app-text-message {
      background-color: #fff;
      padding: 20px;
      max-width: 320px;
      min-height: 420px;
    }

    .app-text-message__text {
      max-width: 255px;
      word-wrap: break-word;
      margin-bottom: 12px;
      line-height: 24px;
      position:relative;
      padding:10px 20px;
      border-radius:25px;
      background:#E5E5EA;
      color:black;
      
      &:before, &:after {
        content:"";
        position:absolute;
        bottom:-2px;
        height:20px;
      }

       &:before {
        left:-7px;
        border-left:20px solid #E5E5EA;
        border-bottom-right-radius: 16px 14px;
        transform:translate(0, -2px);
      }

      &:after {
        left:4px;
        width:26px;
        background:white;
        border-bottom-right-radius: 10px;
        transform:translate(-30px, -2px);
      }
    }
    </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-9 govuk-!-margin-top-9">
        Wait for your test pack to arrive
      </h1>

    </div>
  </div>

  <div class="proto-action big">
    <a href="/litereg-accounts/v1/">
      <div class="proto-action-text govuk-!-font-size-19 govuk-!-padding-2 govuk-!-margin-left-3">Register your test kit</div>
    </a>
  </div>

{% endblock %}

{% block footer %}

{% endblock %}