{% set version = "research" %}
{% set pageTitle = "Confirm your payment" %}

{% extends "includes/layout-intl-arrivals.html" %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row" style="position: relative;">

    <div class="govuk-grid-column-two-thirds">

      <div class="payment-summary govuk-!-margin-bottom-5 govuk-!-padding-4">
        <h2 class="govuk-heading-m govuk-!-font-size-24">Payment summary</h2>
        <p class="govuk-body">
          {% if data['travel-route'] and data['travel-route-same-person-1'] %}
          2 travel packages
          {% else %}
          1 travel package
          {% endif %}
        </p>
        <p class="govuk-body govuk-!-margin-bottom-1"><span>Total amount:</span></p>
        <p class="govuk-body govuk-!-font-size-36 govuk-!-margin-bottom-0">
          <strong>
            {% if data['travel-route-same-person-1'] %}
            £136
            {% else %}
            £68
            {% endif %}
          </strong>
        </p>
      </div>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">{{ pageTitle }}</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-8">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="font-weight: normal;">
            Card number
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>************5556</strong>
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="font-weight: normal;">
            Expiry date
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>{{ data['date-of-expiry-month'] or '10' }}/{{ data['date-of-expiry-year'] or '22' }}</strong>
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="font-weight: normal;">
            Name on card
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>{{ data['name-on-card'] or 'Jon Appleseed' }}</strong>
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="font-weight: normal;">
            Billing address
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>
              {{ data['billing-address-line-1'] or '5 Souterhead Road' }}
              {% if data['billing-address-line-2'] %}
              {{ data['billing-address-line-2'] }}
              {% endif %}
              {{ data['billing-address-town'] or 'Birmingham' }}
              {{ data['billing-postcode'] or 'LS1 3BE' }}
            </strong>
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="font-weight: normal;">
            Confirmation email
          </dt>
          <dd class="govuk-summary-list__value">
            <strong>{{ data['email-address'] or 'j.appleseed@example.com' }}</strong>
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
      </dl>

      <form action="/IBT/international-arrivals/assisted/e2e-prototypes/{{version}}/payment-processing" method="post">

        <button id="button" class="govuk-button govuk-!-margin-bottom-3" type="submit" data-module="govuk-button">
          Confirm payment
        </button>

      </form>

      <p class="govuk-!-font-size-16"><a class="govuk-link" href="./enter-card-details.html">Cancel payment</a></p>

    </div>
  </div>

{% endblock %}
