{% set serviceName = " " %}
{% set pageHeading = "You have requested an account" %}

{% extends "includes/layout.html" %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>[Email template]</p>
      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>
      <p class="govuk-body">
        We have verified your email address and sent an account request to your manager.
      </p>
      <p class="govuk-body">
        Once your manager has aproved your account, you will recieve a confirmation email.
      </p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body"> <a href="account-approved-template">Continue</a></p>
  </div>

{% endblock %}
