{% set version = "research" %}
{% set pageTitle = "What's the test site's ID?" %}

{% extends "includes/layout-lite-registration.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.go(-1);"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form lass="form" action="/IBT/litereg-accounts/e2e-prototypes/{{version}}/repeat-testing" method="post">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper govuk-!-margin-bottom-8">
          <label class="govuk-label govuk-label--xl" for="siteID">
            {{ pageTitle }}
          </label>
        </h1>
        <span id="siteID-hint" class="govuk-body">
          Enter your test site ID. It will be either 3 or 4 characters.<br><br>
          If you're still at the test site and cannot find the test site ID, ask a member of staff.<br><br>
          If you're registering after leaving the site, staff should have told you to take a photo of the test site ID or write it down.<br><br>
        </span>

        <div class="govuk-form-group govuk-!-margin-top-5">
          <label class="govuk-label" for="site-id">
            Test site ID<br>
            <span class="govuk-hint">For example, 'CHE' or 'LEA4'</span>
          </label>
          <input class="govuk-input govuk-input--width-10" id="site-id" name="site-id" type="text" value="{{ data['site-id'] }}">
        </div>
      </div>

      <button class="govuk-button" type="submit" data-module="govuk-button">
        Continue
      </button>
    </form>

    <p class="govuk-body"><a href="/IBT/litereg-accounts/e2e-prototypes/{{version}}/site-postcode">I do not know the test site ID</a></p>

  </div>
</div>

{% endblock %}
