{% set version = "research" %}
{% set pageTitle = "Where are you taking your test?" %}

{% extends "includes/layout-lite-registration.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% if data['have-you-travelled-overseas'] == "Yes" %}
<a class="govuk-back-link" href="/IBT/litereg-accounts/e2e-prototypes/{{version}}/travelled-to">Back</a>
{% else %}
<a class="govuk-back-link" href="/IBT/litereg-accounts/e2e-prototypes/{{version}}/overseas-travel">Back</a>
{% endif %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/IBT/litereg-accounts/e2e-prototypes/{{version}}/action4/test-place" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="reason-for-test-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
                {% if data['whos-taking-the-test'] == "someone-else" %}
                Where are they taking their test?
                {% else %}
                {{ pageTitle }}
                {% endif %}
              </h1>
            </legend>

            <div class="govuk-radios govuk-!-margin-top-5 govuk-!-bottom-top-5">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="test-place-1" name="test-place" type="radio" value="At a test site, government quarantine hotel, or in accommodation as part of an event/conference" {{ checked("test-place", "At a test site, government quarantine hotel, or in accommodation as part of an event/conference") }}>
                <label class="govuk-label govuk-radios__label" for="test-place-1">
                  At a test site, government quarantine hotel, or in accommodation as part of an event/conference
                </label>
              </div>
              <div class="govuk-radios__item">
                {% if data['whos-taking-the-test'] == "someone-else" %}
                <input class="govuk-radios__input" id="test-place-2" name="test-place" type="radio" value="At home or an accommodation of their choice" {{ checked("test-place", "At home or an accommodation of their choice") }}>
                <label class="govuk-label govuk-radios__label" for="test-place-2">
                  At home or an accommodation of their choice
                </label>
                {% else %}
                <input class="govuk-radios__input" id="test-place-2" name="test-place" type="radio" value="At home or an accommodation of your choice" {{ checked("test-place", "At home or an accommodation of your choice") }}>
                <label class="govuk-label govuk-radios__label" for="test-place-2">
                  At home or an accommodation of your choice
                </label>
                {% endif %}
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
