{% set version = "v6" %}
{% set pageTitle = "Order your antibody self-test kit" %}

{% extends "includes/layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p class="govuk-body-l">An antibody test checks to see if you’ve had the virus before.</p>


      <h2 class="govuk-heading-m">About self-test kits</h2>

      <p class="govuk-body">Self-test kits are fingerprick blood tests, they:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>are free and take 5 days to arrive in the post</li>
          <li>are approved by the NHS as reliable and accurate</li>
          <li>come with everything you need to test yourself at home and get your result in minutes</li>
        </ul>

      <p class="govuk-body">With a self-test kit, you do not need to post a blood sample to get a result.</p>

      <p class="govuk-body"><a href="https://www.youtube.com/watch?v=WqT2z8jCEHs">Find out more about self-test kits.</a>

      <h2 class="govuk-heading-m">How to order your test kit</h2>

      <p class="govuk-body">It takes about 5 minutes.</p>

      <p class="govuk-body">You need to answer a few questions and confirm your delivery address.</p>

        <h3 class="govuk-heading-s">Related content</h3>

        <p class="govuk-body"><a href="https://www.gov.uk/government/publications/coronavirus-covid-19-antibody-tests/coronavirus-covid-19-antibody-tests">Your guide to antibody testing</a></p>

        <a class="govuk-button govuk-!-margin-top-2" data-module="govuk-button" href="/antibody/{{version}}/global-registration/do-you-have-symptoms">
            Continue
        </a>


    </div>
  </div>

{% endblock %}
