{% extends "includes/layout.html" %}
{% set serviceName = "COVID-19" %}
{% set pageTitle = "What is your delivery address?" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a class="govuk-back-link" href="javascript:window.history.go(-1);">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#field-1">Enter a building</a>
            </li>
            <li>
              <a href="#field-2">Enter a street</a>
            </li>
            <li>
              <a href="#field-3">Enter a town or city</a>
            </li>
            <li>
              <a href="#field-4">Enter a county</a>
            </li>
            <li>
              <a href="#field-5">Enter a postcode</a>
            </li>
          </ul>
        </div>
      </div>

      <form action="" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                {{ pageTitle }}
              </h1>
            </legend>
            <p class="govuk-hint">This should be the primary delivery address for the organisation.</p>
            <div class="govuk-form-group govuk-!-margin-top-4">
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="" name="checkbox" type="checkbox" value="">
                  <label class="govuk-label govuk-checkboxes__label" for="checkbox">
                    Same as primary address
                  </label>
                </div>
              </div>
            </div>
            <p class="govuk-body" for=""><a href="#" class="govuk-link">Lookup address using postcode</a></p>
            <div class="govuk-form-group govuk-form-group--error">
              <label class="govuk-label" for="">
                Building
              </label>
              <span class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter a building
              </span>
              <input class="govuk-input govuk-!-width-two-thirds govuk-input--error" id="field-1" name="" type="text">
            </div>
            <div class="govuk-form-group govuk-form-group--error">
              <label class="govuk-label" for="">
                Street
              </label>
              <span class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter a street
              </span>
              <input class="govuk-input govuk-!-width-two-thirds govuk-input--error" id="field-2" name="" type="text">
            </div>

            <div class="govuk-form-group govuk-form-group--error">
              <label class="govuk-label" for="">
                Town or city
              </label>
              <span class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter a town or city
              </span>
              <input class="govuk-input govuk-!-width-two-thirds govuk-input--error" id="field-3" name="" type="text">
            </div>

            <div class="govuk-form-group govuk-form-group--error">
              <label class="govuk-label" for="">
                County
              </label>
              <span class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter a county
              </span>
              <input class="govuk-input govuk-!-width-two-thirds govuk-input--error" id="field-4" name="" type="text">
            </div>

            <div class="govuk-form-group govuk-form-group--error">
              <label class="govuk-label" for="">
                Postcode
              </label>
              <span class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter a postcode
              </span>
              <input class="govuk-input govuk-!-width-one-quarter govuk-input--error" id="field-5" name="" type="text">
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" type="submit" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>


{% endblock %}
