{% set pageHeading = "InGen Organisation" %}
{% set version = "organisational/unified-testing/v0" %}
{% set serviceName = "Organisation testing" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}


      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>
      <p>This account shows information about your organisation in relation to coronavirus testing and results.
      </p>
      {{ govukButton({
        href: "/" + version + "/order-tests/kit-type",
        text: "Order test kits"
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-panel" style="background-color: #DEE0E2; text-align: left; height: 400px;">
        <p class="govuk-caption-l">Account details</p>
        <h2 class="govuk-heading-l" style="margin-bottom: 0px;">73 individuals</h2> 
        <p class="govuk-body">associated with this organisation</p> 
        
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m" style="margin-bottom: 0px;">32</h2> 
            <p class="govuk-body">staff</p> 
          </div>
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m" style="margin-bottom: 0px;">22</h2> 
            <p class="govuk-body">residents</p> 
          </div><div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m" style="margin-bottom: 0px;">19</h2> 
            <p class="govuk-body">other</p> 
          </div>
        </div>
        <p><a href="individual-list">View and edit account details</a></p>
      </div>
    </div>
      
    <div class="govuk-grid-column-one-half">
      <div class="govuk-panel" style="background-color: #DEE0E2; text-align: left; height: 400px;">
        <p class="govuk-caption-l">Recent test rate</p>
        <h2 class="govuk-heading-l" style="margin-bottom: 0px;">73 tests</h2> 
        <p class="govuk-body">past 7 days</p> 

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">376 tests</h2> 
        <p class="govuk-body">overall total</p> 
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-panel" style="background-color: #DEE0E2; text-align: left; height: 400px;">
        <p class="govuk-caption-l">Test site</p>
        <h2 class="govuk-heading-l">InGen Organisation</h2> 
        <h2 class="govuk-heading-m">IGO</h2> 
        
        <p>
          28 Farallon Road<br>
          Upper Boddington<br>
          Northamptonshire<br>
          NN11 3ZP
        </p>
        <p><a href="test-site">View and manage test site details</a></p>
      </div>
    </div>
      
    <div class="govuk-grid-column-one-half">
      <div class="govuk-panel" style="background-color: #DEE0E2; text-align: left; height: 400px;">
        <p class="govuk-caption-l">Test results</p>
        <h2 class="govuk-heading-l" style="margin-bottom: 0px;">80 results</h2> 
        <p class="govuk-body">associated with this organisation</p> 
        
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m" style="margin-bottom: 0px;">32</h2> 
            <p class="govuk-body">positive</p> 
          </div>
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m" style="margin-bottom: 0px;">08</h2> 
            <p class="govuk-body">void</p> 
          </div><div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m" style="margin-bottom: 0px;">40</h2> 
            <p class="govuk-body">negative</p> 
          </div>
        </div>
        <p class="govuk-body-s"><strong>Please note - these results are only available to authorised users.</strong></p>
        <p><a href="test-results">View authorised test results</a></p>
      </div>
    </div>
  </div>

{% endblock %}
