{% set pageHeading = "Register test kits and report results for your organisation" %}
{% set version = "organisational/lft/carehome-registration" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          This service has changed. Check the information on this page to see what you need to do.
        </strong>
      </div>

      <div class="govuk-inset-text">
        <h2 class="govuk-heading-m">The main symptoms of coronavirus have been updated</h2>
        <p>The main symptoms of coronavirus are:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            a high temperature
          </li>
          <li>
            a new, continuous cough
          </li>
          <li>
            a loss or change to your sense of smell or taste
          </li>
          <li>
            a new headache
          </li>
          <li>
            feeling more tired or exhausted than usual
          </li>
          <li>
            new muscle aches
          </li>
          <li>
            a loss of appetite
          </li>
        </ul>
        <p>If they have a severe headache or they're worried about symptoms, <span class="govuk-body govuk-!-font-weight-bold">contact NHS 111</span>.</p>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              When to self-isolate
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>If they have a <span class="govuk-body govuk-!-font-weight-bold">high temperature, a new continuous cough</span>, or <span class="govuk-body govuk-!-font-weight-bold">loss or change to their sense of smell or taste</span>, they and anyone they live with should <span class="govuk-body govuk-!-font-weight-bold">stay at home</span> until they get their result. They can leave home to get or post a test.</p>
            <p>If they do not have these symptoms they <span class="govuk-body govuk-!-font-weight-bold">may not</span> need to stay at home. Find out more: <a href="#" class="govuk-link">when to self-isolate and what to do (opens in a new tab).</a></p>
            </div>
        </details>

      </div>


      <p class="govuk-body-l">
        Use this service to register coronavirus (COVID-19) tests for your organisation.
      </p>
      <p>There are 2 types of test kit:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          a swab test sent to a lab (PCR test)
        </li>
        <li>
          a lateral flow test (result is displayed on the test kit)
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        What type of test can you register?
      </h2>

      <p>Your organisation type will determine the type of test kits you can register and if you can report lateral flow results.<p>

        <ul class="govuk-list govuk-list--bullet">
          <li><span class="govuk-body govuk-!-font-weight-bold">PCR test registration:</span> <span>all organisations</span></li>
          <li><span class="govuk-body govuk-!-font-weight-bold">lateral flow test registration:</span> <span>care homes, schools, prisons and quarantine hotels</span></li>
          <li><span class="govuk-body govuk-!-font-weight-bold">lateral flow test result reporting:</span> <span>care homes only</span></li>
        </ul>


      <p>
        If you're registering a test for yourself, you can still use this service. You can get the results sent directly to you by entering your personal contact details.
      </p>
      <h2 class="govuk-heading-m">
        Before you start
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          read the <a href="#">online guidance pack</a> and your printed instructions
        </li>
        <li>
          if you need to, book your <a href="#">courier collection here</a>
        </li>
        <li>
          take tests on the same day you're returning the kits
        </li>

      </ul>

      <h2 class="govuk-heading-m">
        Get consent
      </h2>

      <p>Make sure people getting tested have freely given you consent to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          register them
        </li>
        <li>get their results sent to the contact details you enter</li>
      </ul>

      <h2 class="govuk-heading-m">
        What you'll need
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          your 8 digit organisation number
        </li>
        <li>
          if you're registering lots of tests, use the correct spreadsheet (if you don't have this, you can download it during this registration process)
        </li>
        <li>
          you'll need to record the details of staff and non-staff on separate spreadsheets
        </li>
        <li>
          the barcode for each test
        </li>
        <li>
          the email address (and ideally mobile number) to get the test results
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        How we use personal data
      </h2>
      <p>
        To find out how we use people’s data when you register them for a coronavirus test,
        <a href="#">read the coronavirus privacy note</a>.
      </p>

      {{ govukButton({
        text: "Start now",
        href: "/" + version + "/confirm-before?cuSingleCount=",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}

    </div>

    <div class="govuk-grid-column-one-third">

    </div>
  </div>

{% endblock %}
