{% set pageHeading = "Upload their test details?" %}
 {% set version = "organisational/lft/carehome-registration" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}
{% block beforeContent %}


<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}
    </div>
  </div>
</div>

<div class=“”>
  <div class=“govuk-grid-row”>
    <div class=“govuk-grid-column-full”>
      <a class="govuk-back-link" href="javascript:window.history.go(-1);">Back</a>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Upload their test details</h1>

      <form class="form" action="/organisational/lft/carehome-registration/June-CI/lft-bulk-p1" method="post">


        <p>The spreadsheet allows you to register both PCR and lateral flow tests.</p>
<p>To do this:</p>
        <ul class="govuk-list govuk-list--bullet">
  <li><a href="#" class="govuk-link">download our spreadsheet</a> if you have not already</li>
  <li>do not add any sheets, row or columns</li>
  <li>enter details for up to 100 people at a time</li>
  <li>save the completed spreadsheet and then upload it</li>
</ul>

<div class="govuk-inset-text">
    <p class="govuk-body govuk-!-font-weight-bold">The main symptoms of coronavirus have been updated.</p>

        <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View the latest coronavirus symptoms and self-isolation guidance
        </span>
      </summary>
      <div class="govuk-details__text">
        <h2 class="govuk-heading-m">The main symptoms of coronavirus are:</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            a high temperature
          </li>
          <li>
            a new, continuous cough
          </li>
          <li>
            a loss or change to your sense of smell or taste
          </li>
          <li>
            a new headache
          </li>
          <li>
            feeling more tired or exhausted than usual
          </li>
          <li>
            new muscle aches
          </li>
          <li>
            a loss of appetite
          </li>
        </ul>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            If they have a severe headache or they're worried about symptoms, contact NHS 111.
          </strong>
        </div>

        <h2 class="govuk-heading-m">When to self-isolate</h2>
        <p>People who have any of the following symptoms (and anyone they live with) should self-isolate while waiting for their result:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            a high temperature
          </li>
          <li>
            a new, continuous cough
          </li>
          <li>
            a loss or change to their sense of smell or taste
          </li>
          </ul>

        <p>They should only leave self-isolation to get or post a test.</p>
        <p>People with the other coronavirus symptoms may not need to self-isolate. Read more about <a href="#" class="govuk-link">when to self-isolate and what to do.</a></p>

        </div>
        </div>






<div class="govuk-form-group">
  <label class="govuk-label" for="file-upload-1">
    Upload a file
  </label>
  <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
</div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
