{% set version = "v1" %}
{% set pageTitle = "Check your email" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="/lfd-home-ordering/{{version}}/order-home-test-kit/confirm-email-address">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/lfd-home-ordering/{{version}}/order-home-test-kit/order-summary" method="post">

        <fieldset class="govuk-fieldset" aria-describedby="email-code-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
              {{ pageTitle }}
            </h1>
          </legend>
          <span id="email-code-hint" class="govuk-body">
            A code was emailed to: {{ data['email-address'] }}<br><br>
          </span>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-margin-top-7" for="email-code">
                Enter the code
            </label>
            <input class="govuk-input govuk-input--width-10" id="email-code" name="email-code" type="text" value="{{ data['email-code'] }}">
          </div>
        </fieldset>

        <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}

{% block bodyEnd %}
<div class="proto-action">
  <a href="/lfd-home-ordering/{{version}}/order-home-test-kit/email-code">
    <div class="proto-action-text govuk-!-margin-left-3">Check email</div>
  </a>
</div>

{% endblock %}
