{% set version = "v1" %}
{% set pageTitle = "Order received" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-padding-8 govuk-!-margin-bottom-8">
        <h1 class="govuk-panel__title">{{ pageTitle }}</h1>
      </div>

      <h3 class="govuk-heading-m">What happens next</h3>
      <p class="govuk-body">
        Your home test kits should arrive within 2 days.<br><br>
        You will get an order confirmation email soon. 
      </p>

      <h3 class="govuk-heading-m">About the test</h3>
      <p class="govuk-body">It's known as a rapid or lateral flow test.</p>
      <p class="govuk-body">It's a swab test (nose and mouth) that will give you your results in about 30 minutes. You must report the result of each test to the NHS.</p>
      <p class="govuk-body">The test kit comes with instructions that tell you how to take the test, report your result and what to do based on the result. </p>
      <p class="govuk-body"><a href="https://www.gov.uk/guidance/covid-19-self-test-help">Find out more and watch a demonstration video to help you</a></p>


    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
<div class="proto-action" style="width: 18%; height: 9%;">
  <a href="/share-result-lateral-flow/v8-4/" style="display: flex; align-items: center; justify-content: center;">
    <div class="proto-action-text govuk-!-font-size-24 govuk-!-padding-2 govuk-!-padding-top-4">Report results</div>
  </a>
</div>
{% endblock %}
