{% set version = "v1" %}
{% set pageTitle = "Reminder email" %}
{% extends "includes/layout.html" %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-7">About testing for coronavirus (COVID-19) when you do not have symptoms</h2>

      <p class="govuk-body">
        Dear {{ data['first-name'] or 'John' }} {{ data['last-name'] or 'Smith' }}<br><br>
        Thank you for ordering a pack of 7 rapid lateral flow homes test kits.<br><br>
        Your test pack should have arrived. If not, use the tracking email sent to you by Royal Mail, or call the contact centre (details below).
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-top-7">1). Report every result - whatever it is</h3>
      <p class="govuk-body">
        Report every result (positive, negative or void) to the NHS on the day you take the test (and no later than 24 hours). Try to do it as soon as you get the result. If you’re travelling to the Scottish Islands, report the result before you travel.</p>
      <p class="govuk-body">
        Save time: report online and use your NHS Login (you can set one up the first time you report).</p>
      <span class="govuk-body">
          Go to GOV.UK: <a href="www.gov.uk/report-covid19-result">www.gov.uk/report-covid19-result</a></span>

      <h3 class="govuk-heading-s govuk-!-margin-top-7">2). Testing when you do not have symptoms</h3>
      <p class="govuk-body">
        Around 1 in 3 people with coronavirus do not have any symptoms. This means they could be spreading coronavirus without knowing it. Regular testing of people without symptoms is important to help stop the virus spreading.
      </p>
      <p class="govuk-body">
        Test twice a week 3 or 4 days apart.
      </p>
      <p class="govuk-body">
        To get a valid result:
      </p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-5">
        <li>always read the instructions before you start</li>
        <li>watch the video on how to take a rapid test</li>
        <li>get the instructions in other languages and formats (easy read / large print)</li>
      </ul>

      <p class="govuk-body">Go to GOV.UK: <a href="www.gov.uk/covid19-self-test-help" class="govuk-link">www.gov.uk/covid19-self-test-help</a></p>

      <p class="govuk-body">
        Remember, even if you test negative, keep following coronavirus advice including regular handwashing, social distancing and wearing a face covering.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-top-7">3). Get more tests</h3>
      <p class="govuk-body">
        There are different ways to get more tests. For example, pick them up from a local collection point.<br><br>
        Use the links below to find out what your options are.
      </p>

      <p class="govuk-body">
        Getting more tests: <a href="www.gov.uk/getting-tested-for-coronavirus" target="blank" class="govuk-uk">www.gov.uk/getting-tested-for-coronavirus</a><br>
        Getting more tests if you’re travelling to the Scottish Islands: <a href="www.gov.scot/communitytesting" target="blank" class="govuk-uk">www.gov.scot/communitytesting</a>
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-top-7">4). If you test positive or get coronavirus symptoms</h3>
      <p class="govuk-body">
        If you test positive or get coronavirus symptoms, make sure you:
      </p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-5">
        <li>self-isolate immediately</li>
        <li>get a PCR test (a different coronavirus test) to confirm the result</li>
      </ul>

      <p class="govuk-body">Find out more: <a href="www.nhs.uk/coronavirus" class="govuk-link">www.nhs.uk/coronavirus</a></p>

      <h3 class="govuk-heading-s govuk-!-margin-top-6">5). The contact centre</h3>
      <p class="govuk-body">
        If you have any questions or problems call the contact centre.<br><br>
        Call 119 in England, Wales and Northern Ireland<br>
        Free from mobiles and landlines<br><br>
        Call 0300 303 2713 in Scotland<br>
        Charged at your standard network rate<br><br>
        Lines open 7am to 11pm
      </p>

    </div>
  </div>

{% endblock %}

{% block bodyEnd %}
<div class="proto-action big">
  <a href="../../../share-result-lateral-flow/v11/">
    <div class="proto-action-text govuk-!-font-size-19 govuk-!-padding-2 govuk-!-margin-left-3">Report results</div>
  </a>
</div>
{% endblock %}
