{% set version = "v1" %}

{% extends "includes/layout.html" %}

{% block pageTitle %}
  We've received your order - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-padding-8 govuk-!-margin-bottom-8">
        <h1 class="govuk-panel__title">You have passed our checks and your order has been placed</h1>
        <div class="govuk-panel__body">
          You'll receive an email soon to confirm if your order was successfully processed
        </div>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">If your order was successful, we'll send your coronavirus home test kit to you.</p>
      <p class="govuk-body">It should arrive at the address you gave us in the next 2 to 4 days.</p>

      <h3 class="govuk-heading-m">Once you receive your test kit</h3>
      <p class="govuk-body">Follow the instructions in your test kit</p>
      <p class="govuk-body">Return the sample using the pre-paid return packaging.</p>

      <h3 class="govuk-heading-m">If you do not receive your kit</h3>
      <p class="govuk-body">If your home test kit does not arrive in the next 5 days call the customer contact centre:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>England, Wales and Northern Ireland: call 119 (free from mobiles and landlines)</li>
        <li>Scotland: call 0300 303 2713 (charged at your standard network rate)</li>
      </ul>
      <p class="govuk-body">This helpline is open from 7am to 11pm.</p>

    </div>
  </div>
{% endblock %}
