{% set version = "v1" %}

{% extends "includes/layout.html" %}

{% block pageTitle %}
  Order summary - GOV.UK
{% endblock %}

{% block beforeContent %}
{% if data['delivery-address'] %}
  <a class="govuk-back-link" href="/{{version}}/order/delivery-address-results">Back</a>
{% else %}
  <a class="govuk-back-link" href="/{{version}}/order/confirmation-page">Back</a>
{% endif %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Order summary</h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['email'] | default('name@example.com')}}
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Home address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['home-address'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/{{version}}/order/home-address">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Delivery address
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['delivery-address-same'] === 'No' %}{{ data['delivery-address'] }}{% else %}{{ data['home-address'] }}{% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/{{version}}/order/delivery-address">
              Change<span class="govuk-visually-hidden"> delivery address</span>
            </a>
          </dd>
        </div>
      </dl>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <span class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Important</span>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">By ordering a test kit, I confirm that:</h2>
        </span>
      </div>

      <ul class="govuk-list govuk-list--bullet">
        <li>the information I've provided is up-to-date and correct</li>
        <li>I agree with the <a href="#">Terms and conditions</a> and <a href="#">Privacy policy</a> of this service</li>
        <li>I am happy to be contacted about my order</li>
        <li>I am happy to have my details checked by a fraud prevention organisation</li>
      </ul>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Find out more about our identity check
            </span>
        </summary>
        <div class="govuk-details__text">
          To confirm your identity, we need to share the information you've given us with an organisation called TransUnion.<br><br>
          This will help protect fraudulent use of coronavirus testing services.<br><br>
          This is not a credit check and does not affect your credit rating.<br><br>

          <h3 class="govuk-heading-s">If you do not want us to check your details with TransUnion</h3>
          <p class="govuk-body">Call the customer contact centre if you still want to order a test kit:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>England, Wales and Northern Ireland: call 119 (free from mobiles and landlines)</li>
            <li>Scotland: call 0300 303 2713 (charged at your standard network rate)</li>
          </ul>
          <p class="govuk-body">This helpline is open from 7am to 11pm.</p>

        </div>
      </details>

      <form action="/{{version}}/order/confirmation-page" method="post">

        <button class="govuk-button" type="submit" data-module="govuk-button">
          I agree to the checks, place my order
        </button>

      </form>

    </div>
  </div>

{% endblock %}
