{% set pageHeading = "Invite a staff member" %}
{% set version = "organisational/future" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}


{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form lass="form" action="" method="post">
      <div class="govuk-form-group">
          <h1 class="govuk-heading-xl">
            {{ pageHeading }}
          </h1>

        <p class="govuk-body govuk-!-margin-bottom-6">Adding a staff member will let them create an account and co-manage their testing requirements</p>

        {% if data['team-leader-1-first-name'] == undefined and data['team-leader-2-first-name'] == undefined and data['team-leader-3-first-name'] == undefined %}

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-margin-top-4" for="team-leader-1-first-name">
            First name
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="team-leader-1-first-name" name="team-leader-1-first-name" type="text" value="{{ data['team-leader-1-first-name'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-margin-top-4" for="team-leader-1-last-name">
            Last name
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="team-leader-1-last-name" name="team-leader-1-last-name" type="text" value="{{ data['team-leader-1-last-name'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-margin-top-4" for="team-leader-1-email-address">
            Email address<br>
            <span class="govuk-hint" style="padding-top: 5px">We'll send them an email invitation to this address</span>
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="team-leader-1-email-address" name="team-leader-1-email-address" type="text" value="{{ data['team-leader-1-email-address'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-margin-top-4" for="team-leader-1-mobile-number">
            Mobile number<br>
            <span class="govuk-hint" style="padding-top: 5px">We'll text a code to this number</span>
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="team-leader-1-mobile-number" name="team-leader-1-mobile-number" type="text" value="{{ data['team-leader-1-mobile-number'] }}">
        </div>

        {% elseif data['team-leader-1-first-name'] != undefined and data['team-leader-2-first-name'] == undefined %}

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-margin-top-4" for="team-leader-2-first-name">
            First name
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="team-leader2-first-name" name="team-leader-2-first-name" type="text" value="{{ data['team-leader-2-first-name'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-margin-top-4" for="team-leader-2-last-name">
            Last name
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="team-leader-2-last-name" name="team-leader-2-last-name" type="text" value="{{ data['team-leader-2-last-name'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-margin-top-4" for="team-leader-2-email-address">
            Email address<br>
            <span class="govuk-hint" style="padding-top: 5px">We'll send them an email invitation to this address</span>
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="team-leader-2-email-address" name="team-leader-2-email-address" type="text" value="{{ data['team-leader-2-email-address'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-margin-top-4" for="team-leader-2-mobile-number">
            Mobile number<br>
            <span class="govuk-hint" style="padding-top: 5px">We'll text a code to this number</span>
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="team-leader-2-mobile-number" name="team-leader-2-mobile-number" type="text" value="{{ data['team-leader-2-mobile-number'] }}">
        </div>

          {% else %}

          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-margin-top-4" for="team-leader-3-first-name">
              First name
            </label>
            <input class="govuk-input govuk-!-width-one-half" id="team-leader-3-first-name" name="team-leader-3-first-name" type="text" value="{{ data['team-leader-3-first-name'] }}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-margin-top-4" for="team-leader-3-last-name">
              Last name
            </label>
            <input class="govuk-input govuk-!-width-one-half" id="team-leader-3-last-name" name="team-leader-3-last-name" type="text" value="{{ data['team-leader-3-last-name'] }}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-margin-top-4" for="team-leader-3-email-address">
              Email address<br>
              <span class="govuk-hint" style="padding-top: 5px">We'll send them an email invitation to this address</span>
            </label>
            <input class="govuk-input govuk-!-width-one-half" id="team-leader-3-email-address" name="team-leader-3-email-address" type="text" value="{{ data['team-leader-3-email-address'] }}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-margin-top-4" for="team-leader-3-mobile-number">
              Mobile number<br>
              <span class="govuk-hint" style="padding-top: 5px">We'll text a code to this number</span>
            </label>
            <input class="govuk-input govuk-!-width-one-half" id="team-leader-3-mobile-number" name="team-leader-3-mobile-number" type="text" value="{{ data['team-leader-3-mobile-number'] }}">
          </div>

          {% endif %}

      </div>

      <button class="govuk-button" type="submit" data-module="govuk-button">
        Save and continue
      </button>

      <a href="/logresults-web-service/{{version}}/organisation/manage-team-leaders" role="button" draggable="false" class="govuk-button govuk-button--secondary right-button-margin" data-module="govuk-button" style="display: inline-block;">
        Cancel
      </a>

    </form>

  </div>
</div>

{% endblock %}
