{% set pageHeading = "Check your organisation's testing requirements" %}
{% set version = "organisational/future" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>


<p>Your organisation's members are required to complete the following tests:</p>

<h2 class="govuk-heading-s">
  Staff testing requirements:
</h2>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">PCR tests</th>
      <td class="govuk-table__cell">One tests per week</td>
      <td class="govuk-table__cell"><a href="#" class="govuk-link">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Lateral flow tests</th>
      <td class="govuk-table__cell">Two tests per week</td>
      <td class="govuk-table__cell"><a href="#" class="govuk-link">Change</a></td>
    </tr>
  </tbody>
</table>

<h2 class="govuk-heading-s">
  Residents testing requirements:
</h2>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">PCR tests</th>
      <td class="govuk-table__cell">One tests per month</td>
      <td class="govuk-table__cell"><a href="#" class="govuk-link">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Lateral flow tests</th>
      <td class="govuk-table__cell">Not required</td>
      <td class="govuk-table__cell"><a href="#" class="govuk-link">Change</a></td>
    </tr>
  </tbody>
</table>

<p>Read the <a href="#" class="govuk-link">online guidance pack</a> for more information on lateral flow tests and PCR tests.</p>


        <input class="govuk-button" type="submit" value="Confirm">




{% endblock %}
