{% set fullname %}
  {% if data.cuFirstName and data.cuLastName %}
    {{ data.cuFirstName }} {{ data.cuLastName }}
    {% else %}
      John Smith
  {% endif %}
{% endset %}
{% set pageHeading = "Enter your details" %}
 {% set version = "organisational/future" %}
{% set serviceName = "Coronavirus testing manager" %}
{% extends "includes/layout.html" %}


{% block pageTitle %}
  {{ pageHeading }} - COVID-19
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
   <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
     <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
       <h1 class="govuk-heading-xl">
         Enter your details
       </h1>
     </legend>
     <p>Enter your organisation's details to register for a testing account. </p>

     <fieldset class="govuk-fieldset">

       <div class="govuk-form-group">
      <label class="govuk-label" for="email">
        Email address
      </label>
      <div id="email-hint" class="govuk-hint">
        Enter the email address which received the account invitation
      </div>
      <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
    </div>

    <div class="govuk-form-group">
   <label class="govuk-label" for="email">
     Enter a second email address (optional)
   </label>
   <div id="email-hint" class="govuk-hint">
     Enter a secondary email address if you would like more than one testing manager to access the organisation account.
   </div>
   <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
   </div>

   <div class="govuk-form-group">
     <label class="govuk-label" for="address-town">
       Unique organisation number (UON)
     </label>
     <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text"></div>

     <div class="govuk-form-group">
       <label class="govuk-label" for="address-postcode">
         Organisation postcode
       </label>
       <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text"></div>

       <div class="govuk-form-group">
      <label class="govuk-label" for="email">
        Password
      </label>
      <div id="email-hint" class="govuk-hint">
        Password rules
      </div>
      <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
    </div>

    <label class="govuk-label" for="email">
    Confirm password
    </label>
    <div id="email-hint" class="govuk-hint">
      Password rules
    </div>
    <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
  </div>

     <a href="/elective-care-testing/{{version}}/account-management/login-temporary" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-top-4" data-module="govuk-button">
        Create account
     </a>

    </div>
  </div>

{% endblock %}
