{% set pageHeading = "Manage your organisation's account" %}
{% set version = "organisational/future" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Liverpool Elderly Home
      </h1>


        <p><span class="govuk-body govuk-!-font-size-80">92%</span><br>Organisational compliance<br><a href="#" class="govuk-link">View details</a></p>


<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Today's tasks
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <div class="govuk-warning-text">
       <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
       <strong class="govuk-warning-text__text">
         <span class="govuk-warning-text__assistive">Warning</span>
         There has been <a href="#" class="govuk-link">2 positive COVID-19 tests results</a> reported.
       </strong>
     </div>
    <ol class="govuk-list govuk-list--number">
      <li>Complete resident's PCR tests and <a class="govuk-notification-banner__link" href="#">upload their test details.</a></li>
      <li><a class="govuk-notification-banner__link" href="#">5 staff account creation requests</a></li>
      <li><a class="govuk-notification-banner__link" href="#">1 late staff coronavirus test</a></li>
      <li><a class="govuk-notification-banner__link" href="#">Approve staff's testing exemptions</a></li>
      <li><a class="govuk-notification-banner__link" href="#">Order tests for your organisation</a></li>
</ol>
  </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Coronavirus testing summary</h2>

      <div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        Staff
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Residents
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="past-day">
    <a href="#" class="govuk-back-link">May 2021</a>
      <h2 class="govuk-heading-s">01 June - 08 June 2021</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Test deadline</th>
            <th scope="col" class="govuk-table__header">Staff member</th>
            <th scope="col" class="govuk-table__header">PCR test</th>
            <th scope="col" class="govuk-table__header">Lateral flow test</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">01/06/21</td>
            <td class="govuk-table__cell">John Smith</td>
            <td class="govuk-table__cell">N/A</td>
            <td class="govuk-table__cell">&#x2713;</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">View details</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">01/06/21</td>
            <td class="govuk-table__cell">Paul Farmer</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Late</strong></td>
            <td class="govuk-table__cell">&#x2713;</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">View details</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">01/06/21</td>
            <td class="govuk-table__cell">Rita Patel</td>
            <td class="govuk-table__cell">N/A</td>
            <td class="govuk-table__cell">N/A</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">View details</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">02/06/21</td>
            <td class="govuk-table__cell">Max Barnes</td>
            <td class="govuk-table__cell">&#x2713;</td>
            <td class="govuk-table__cell">&#x2713;</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">View details</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">02/06/21</td>
            <td class="govuk-table__cell">Sarah Johnson</td>
            <td class="govuk-table__cell">&#x2713;</td>
            <td class="govuk-table__cell">N/A</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">View details</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">02/06/21</td>
            <td class="govuk-table__cell">Jason Martin</td>
            <td class="govuk-table__cell">N/A</td>
            <td class="govuk-table__cell">Pending</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">View details</a></td>
          </tr>
        </tbody>
      </table>
    </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <a href="#" class="govuk-back-link">May 2021</a>
      <h2 class="govuk-heading-s">01 June - 08 June 2021</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Test deadline</th>
            <th scope="col" class="govuk-table__header">Resident</th>
            <th scope="col" class="govuk-table__header">PCR test</th>
            <th scope="col" class="govuk-table__header">Lateral flow test</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">03/06/21</td>
            <td class="govuk-table__cell">John Smith</td>
            <td class="govuk-table__cell">Pending</td>
            <td class="govuk-table__cell">N/A</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">View details</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">03/06/21</td>
            <td class="govuk-table__cell">Paul Farmer</td>
            <td class="govuk-table__cell">Pending</td>
            <td class="govuk-table__cell">N/A</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">View details</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">03/06/21</td>
            <td class="govuk-table__cell">Rita Patel</td>
            <td class="govuk-table__cell">Pending</td>
            <td class="govuk-table__cell">N/A</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">View details</a></td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">03/06/21</td>
            <td class="govuk-table__cell">Max Barnes</td>
            <td class="govuk-table__cell">Pending</td>
            <td class="govuk-table__cell">N/A</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">View details</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">03/06/21</td>
            <td class="govuk-table__cell">Sarah Johnson</td>
            <td class="govuk-table__cell">Pending</td>
            <td class="govuk-table__cell">N/A</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">View details</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">02/06/21</td>
            <td class="govuk-table__cell">Jason Martin</td>
            <td class="govuk-table__cell">Pending</td>
            <td class="govuk-table__cell">N/A</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">View details</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    </div>


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div style="padding: 0">
              <form action="" method="post">
                <button class="govuk-!-margin-bottom-4 account-home-button">
                  <div>
                    <p class="govuk-!-margin-bottom-2">
                      <strong style="color: #005eb8">Manage resident testing</strong>
                    </p>
                    <p class="govuk-!-margin-bottom-0">
                    Manage care home resident's personal details and their required tests.
                    </p>
                  </div>
                </button>
              </form>
              </div>
          </div>
        </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div style="padding: 0">
          <form action="" method="post">
            <button class="govuk-!-margin-bottom-4 account-home-button">
              <div>
                <p class="govuk-!-margin-bottom-2">
                  <strong style="color: #005eb8">Manage staff accounts</strong>
                </p>
                <p class="govuk-!-margin-bottom-0">
                Manage staff access, accounts and testing requirements.
                </p>
              </div>
            </button>
          </form>
          </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div style="padding: 0">
          <form action="" method="post">
            <button class="govuk-!-margin-bottom-4 account-home-button">
              <div>
                <p class="govuk-!-margin-bottom-2">
                  <strong style="color: #005eb8">Manage staff weekly testing requirements</strong>
                </p>
                <p class="govuk-!-margin-bottom-0">
                Approve staff's reasons for not completing weekly tests.
                </p>
              </div>
            </button>
          </form>
          </div>
      </div>
    </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div style="padding: 0">
              <form action="" method="post">
                <button class="govuk-!-margin-bottom-4 account-home-button">
                  <div>
                    <p class="govuk-!-margin-bottom-2">
                      <strong style="color: #005eb8">Manage coronavirus test kit orders</strong>
                    </p>
                    <p class="govuk-!-margin-bottom-0">
                    View track and edit your upcoming coronavirs test kit orders for your organisations.
                    </p>
                  </div>
                </button>
              </form>
              </div>
          </div>
        </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div style="padding: 0">
          <form action="" method="post">
            <button class="govuk-!-margin-bottom-4 account-home-button">
              <div>
                <p class="govuk-!-margin-bottom-2">
                  <strong style="color: #005eb8">Manage organisation details</strong>
                </p>
                <p class="govuk-!-margin-bottom-0">
                Manage your organisations contact and location details for this site.
                </p>
              </div>
            </button>
          </form>
          </div>
      </div>
    </div>






{% endblock %}
