{% set pageHeading = "Manage staff accounts" %}
{% set version = "organisational/future" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-10">
        </label>
        <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Search
        </button>

      <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Staff member
    </dt>
    <dt class="govuk-summary-list__key">
      Account status
    </dt>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        <span class="govuk-visually-hidden"></span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value"">
      John Smith<br>01/01/1990
    </dd>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag">Active</strong>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Manage
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value"">
      John Smith<br>01/01/1990
    </dd>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag">Active</strong>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Manage
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value"">
      John Smith<br>01/01/1990
    </dd>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag">Active</strong>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Manage
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value"">
      John Smith<br>01/01/1990
    </dd>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag">Active</strong>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Manage
      </a>
    </dd>
  </div>

<br>


        <input class="govuk-button" type="submit" value="Add a new staff member">




{% endblock %}
