{% set pageHeading = "Paul Farmer" %}
{% set version = "organisational/future" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>


      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Testing exemption requests
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            <div class="govuk-form-group">
              <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Test type</th>
      <th scope="col" class="govuk-table__header">Reason</th>
      <th scope="col" class="govuk-table__header">Approve request?</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">11 June</td>
      <td class="govuk-table__cell">Lateral flow test</td>
      <td class="govuk-table__cell">Annual leave</td>
      <td class="govuk-table__cell"><div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="contact-hint">
  <div class="govuk-radios govuk-radios--conditional--inline" data-module="govuk-radios">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="11" name="11" type="radio" value="approve" data-aria-controls="conditional-11">
      <label class="govuk-label govuk-radios__label" for="11">
        Approve
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="11-2" name="11" type="radio" value="phone" data-aria-controls="conditional-11-2">
      <label class="govuk-label govuk-radios__label" for="13-2">
        Deny
      </label>
    </div>
    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-11-2">
      <div class="govuk-form-group">
        <label class="govuk-label" for="contact-by-phone">
          Reason
        </label>
        <input class="govuk-input govuk-!-width-two-third" id="contact-by-phone" name="contact-by-phone" type="tel"></div>
    </div>
</fieldset>
</div>
</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">13 June</td>
      <td class="govuk-table__cell">PCR test</td>
      <td class="govuk-table__cell">Annual leave</td>
      <td class="govuk-table__cell">
        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <div class="govuk-radios govuk-radios--conditional--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="13" name="13" type="radio" value="email" data-aria-controls="conditional-13">
        <label class="govuk-label govuk-radios__label" for="13">
          Approve
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="13-2" name="13" type="radio" value="phone" data-aria-controls="conditional-13-2">
        <label class="govuk-label govuk-radios__label" for="13-2">
          Deny
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-13-2">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
            Reason
          </label>
          <input class="govuk-input govuk-!-width-two-third" id="contact-by-phone" name="contact-by-phone" type="tel"></div>
      </div>
  </fieldset>
</div>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">15 June</td>
      <td class="govuk-table__cell">Lateral flow test</td>
      <td class="govuk-table__cell">Annual leave</td>
      <td class="govuk-table__cell">
        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <div class="govuk-radios govuk-radios--conditional--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="15" name="15" type="radio" value="email" data-aria-controls="conditional-15">
        <label class="govuk-label govuk-radios__label" for="contact">
          Approve
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="15-2" name="15" type="radio" value="phone" data-aria-controls="conditional-15-2">
        <label class="govuk-label govuk-radios__label" for="15-2">
          Deny
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-15-2">
        <div class="govuk-form-group">
          <label class="govuk-label" for="15-by-phone">
            Reason
          </label>
          <input class="govuk-input govuk-!-width-two-third" id="contact-by-phone" name="contact-by-phone" type="tel"></div>
      </div>
  </fieldset>
</div>
</td>
    </tr>
  </tbody>
</table>
<button class="govuk-button" data-module="govuk-button">
  Confirm
</button>
</div>
        </div>
      </div>

      <h2 class="govuk-heading-m">
        Testing history and upcoming tests
      </h2>
      <p>Paul coronavirus testing compliance score is 80%.</p>
      <h3 class="govuk-heading-s">
        06 May - 06 June
      </h3>
      <p><a href="#" class="govuk-link">Previous month</a> | <a href="#" class="govuk-link">Next month</a></p>

      <table class="govuk-table">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">PCR test</th>
            <th scope="col" class="govuk-table__header">Lateral flow test</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Thursday 06 May</td>
            <td class="govuk-table__cell">Compliant</td>
            <td class="govuk-table__cell">Compliant
          </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Monday 10 May</td>
            <td class="govuk-table__cell">N/A</td>
            <td class="govuk-table__cell">Compliant</td>
            </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Thursday 13 May</td>
            <td class="govuk-table__cell">Compliant</td>
            <td class="govuk-table__cell">Compliant</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Monday 17 May</td>
              <td class="govuk-table__cell">N/A</td>
              <td class="govuk-table__cell">Compliant</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Thursday 20 May</td>
                <td class="govuk-table__cell">Compliant</td>
                <td class="govuk-table__cell">Compliant</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Monday 24 May</td>
                  <td class="govuk-table__cell">N/A</td>
                  <td class="govuk-table__cell"><p class="govuk-body govuk-!-font-weight-bold">LATE</p></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Thurday 27 May</td>
                    <td class="govuk-table__cell">Compliant</td>
                    <td class="govuk-table__cell">Compliant</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Monday 31 May</td>
                      <td class="govuk-table__cell">N/A</td>
                      <td class="govuk-table__cell">Compliant</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Thursday 03 June</td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Positive</strong></td>
                        <td class="govuk-table__cell">Compliant</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Monday 07 June</td>
                          <td class="govuk-table__cell">N/A</td>
                          <td class="govuk-table__cell">N/A</td>
                          </tr>
        </tbody>
      </table>




<h2 class="govuk-heading-m">
Account details
</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account status
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag">
            Active
            </strong>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Edit
            </a>
          </dd>
        </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Personal details
    </dt>
    <dd class="govuk-summary-list__value">
      Completed
    </dd>
    <dd class="govuk-summary-list__actions">

    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Contact details
    </dt>
    <dd class="govuk-summary-list__value">
      paul@farmer.com<br>07526 900 900
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
      </a>
    </dd>
  </div>

</dl>




{% endblock %}
