{% set fullname %}
  {% if data.cuFirstName and data.cuLastName %}
    {{ data.cuFirstName }} {{ data.cuLastName }}
    {% else %}
      John Smith
  {% endif %}
{% endset %}
{% set pageHeading = "There is a problem" %}
 {% set version = "organisational/lft/carehome-registration" %}
{% set serviceName = "Coronavirus testing manager" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - COVID-19
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
   <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
     <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
       <h1 class="govuk-fieldset__heading">
         How do you want to sign in?
       </h1>
     </legend>
     <div id="sign-in-hint" class="govuk-hint">
       Copy placeholder
     </div>
     <div class="govuk-radios">
       <div class="govuk-radios__item">
         <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
         <label class="govuk-label govuk-radios__label" for="sign-in">
           Sign in as an organisation test manager
         </label>
         <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
           You’ll have a UON, username and password if you have created an account.
         </div>
       </div>
       <div class="govuk-radios__item">
         <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
         <label class="govuk-label govuk-radios__label" for="sign-in-2">
           Sign in as an employee
         </label>
         <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
          You’ll have a UON, username and password if you have created an account.
         </div>
       </div>
       <div class="govuk-radios__divider">or</div>
       <div class="govuk-radios">
         <div class="govuk-radios__item">
           <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
           <label class="govuk-label govuk-radios__label" for="sign-in">
             Register for a organisation testing account
           </label>
           <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
             You must register before you can use this service.
           </div>
         </div>
     </div>

   </fieldset>
 </div>

     <a href="/elective-care-testing/{{version}}/account-management/login-temporary" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-top-4" data-module="govuk-button">
        Continue
     </a>

    </div>
  </div>

{% endblock %}
