{% set pageHeading = "Approve Paul Farmer's testing exemption requests" %}
{% set version = "organisational/future" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

      <h2 class="govuk-heading-m">
        Testing examption requests
      </h2>

      <table class="govuk-table">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">Test type</th>
            <th scope="col" class="govuk-table__header">Exemption reason</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Tuesday 08 June</td>
            <td class="govuk-table__cell">PCR test</td>
            <td class="govuk-table__cell">Positve PCR test result
          </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Tuesday 08 June</td>
            <td class="govuk-table__cell">Lateral flow test</td>
            <td class="govuk-table__cell">Positive PCR test result</td>
            </tr>
      </table>

      <h3 class="govuk-heading-s">
        Approve testing examption requests?
      </h3>

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Yes, approve request
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          No, tests need to be completed
        </label>
      </div>

  </fieldset>
</div>

<button class="govuk-button" data-module="govuk-button">
Save and continue
</button>



{% endblock %}
