{% set version = "v1" %}
{% set serviceName = "" %}
{% set pageTitle = "Sara Metz is waiting for access" %}

{% extends "includes/layout.html" %}

{% block content %}

<div class="govuk-grid-row" style="display: flex;">
  <div class="govuk-grid-column-full" style="width:480px; margin: 0 auto;">

    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

    <p class="govuk-body">Sara Metz has signed in with NHS Identity and requested access to the elective care management service.</p>
    <p class="govuk-body">You need to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>approve or deny their access</li>
      <li>select which groups they should belong to</li>
      <li>deactivate any existing Cognito accounts that they have</li>
    </ul>

    <button class="govuk-button" data-module="govuk-button">
      Approve or deny access
    </button>

  </div>
</div>

{% endblock %}
