{% set version = "v1" %}
{% set serviceName = "Elective Care" %}
{% set pageTitle = "Trust management portal" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Elective care</span>
    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

    <p class="govuk-body">You can use this service to...</p>
    <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>--</li>
      <li>--</li>
      <li>--</li>
      <li>--</li>
      <li>--</li>
    </ul>

    <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
      Sign in with NHS Identity
    </button>
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Sign in with Cognitio
    </button>

  </div>
</div>

{% endblock %}
