{% set pageHeading = "What's your unique organisation number (UON)?" %}
 {% set version = "organisational/register/v3" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - COVID-19
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

{% set hintHtml %}
<p>This is the 8 digit number the National Testing Programme sent you. For example 12345678.</p>
{{ govukDetails({
  summaryText: "What to do if you cannot find your organisation number",
  html: "
  <p><a href='#'>Look up your organisation number here</a></p>
  <p>If you're having any problems, contact:</p>
  <ul class='govuk-list govuk-list--spaced'>
    <li>
      <strong>England, Wales or Northern Ireland</strong><br> call 119 (free from mobiles and landlines)
    </li>
    <li>
      <strong>Scotland</strong><br> call 0300 303 2713 (charged at your standard network rate)
    </li>
  </ul>"
}) }}
{% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/{{ version }}/type" method="get">

        {{ govukInput({
          label: {
            text: pageHeading,
            isPageHeading: true,
            classes: "govuk-label--xl"
          },
          hint: {
            html: hintHtml
          },
          classes: "govuk-input--width-20",
          id: "cuOrderID",
          name: "cuOrderID"
        }) }}

        <input class="govuk-button" type="submit" value="Continue">

      </form>



    </div>
  </div>

{% endblock %}
