<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-7-search-results.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Search - NHS.UK
{% endblock %}


<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-full">

    <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
      <div>
        <ol class="nhsuk-breadcrumb__list ">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-5/">Home</a></li>
          <!-- <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-5/a-to-z">Health A to Z</a>
          </li> -->

        </ol>
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/lab-5/home">Home</a>
        </p>
      </div>
    </nav>

    <!-- Change the page title here -->
    <main class="nhsuk-main-wrapper app-main-wrapper nhsuk-u-padding-top-0" id="maincontent">

      <div class="nhsuk-grid-row nhsuk-u-margin-top-0">
        <div class="nhsuk-grid-column-two-thirds">
          <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-4 ">Search results for meningitis</h1>
          <form class="nhsuk-header__search-form nhsuk-header__search-form--search-results" id="search" action="/search/" method="get" role="search">
            <label class="nhsuk-u-visually-hidden" for="search-results-field">Search the NHS website</label>
            <input class="nhsuk-search__input" id="search-results-field" name="search-field" type="search" value="meningitis" autocomplete="off">
            <button class="nhsuk-search__submit" type="submit">
              <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
              </svg>
              <span class="nhsuk-u-visually-hidden">Search</span>
            </button>
          </form>
        </div>
      </div>
      <article>










        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">


              <ul class="nhsuk-list nhsuk-list--border">

                  <li>

                    <a href="javascript:void(0);" class="app-search-results-item">Meningitis</a>
                    <p class="nhsuk-body-s nhsuk-u-margin-top-1">Read about <strong>meningitis</strong>, an infection of the protective membranes that surround the brain and spinal cord. Find out about the symptoms, vaccines and treatments.</p>
                  </li>

                  <li>

                    <a href="javascript:void(0);" class="app-search-results-item">Meningitis - Symptoms</a>
                    <p class="nhsuk-body-s nhsuk-u-margin-top-1">Read about the main symptoms of <strong>meningitis</strong>, including the <strong>meningitis</strong> rash, and find out when and where to get medical advice if you have any concerns.</p>
                  </li>

                  <li>

                    <a href="javascript:void(0);" class="app-search-results-item">Meningitis - Causes</a>
                    <p class="nhsuk-body-s nhsuk-u-margin-top-1">Read about the main causes of <strong>meningitis</strong> and how the infection is spread.</p>
                  </li>

                  <li>

                    <a href="javascript:void(0);" class="app-search-results-item">Meningitis - Complications</a>
                    <p class="nhsuk-body-s nhsuk-u-margin-top-1">Read about the main risks associated with <strong>meningitis</strong>, including hearing loss, loss of limbs, and problems with memory or concentration.</p>
                  </li>

                  <li>

                    <a href="javascript:void(0);" class="app-search-results-item">Meningitis - Vaccination </a>
                    <p class="nhsuk-body-s nhsuk-u-margin-top-1">Read about the different vaccines that can help prevent <strong>meningitis</strong> and when they're usually given.</p>
                  </li>

                  <li>

                    <a href="javascript:void(0);" class="app-search-results-item">Meningitis - Treatment</a>
                    <p class="nhsuk-body-s nhsuk-u-margin-top-1">Read about how <strong>meningitis</strong> is treated, including what tests may be needed and whether treatment is hospital will be necessary.</p>
                  </li>

                  <li>

                    <a href="javascript:void(0);" class="app-search-results-item">MenB vaccine overview</a>
                    <p class="nhsuk-body-s nhsuk-u-margin-top-1">A new vaccine to prevent <strong>meningitis</strong> B is offered to all babies aged 8 weeks, 16 weeks and 1 year as part of the routine NHS childhood vaccination programme.</p>
                  </li>

                  <li>

                    <a href="javascript:void(0);" class="app-search-results-item">Hib/MenC vaccine FAQs</a>
                    <p class="nhsuk-body-s nhsuk-u-margin-top-1">Common questions about the Hib/Men C vaccine, which is routinely offered to babies at 1 year old. The Hib/Men C vaccine protects against <strong>meningitis</strong> C and haemophilus influenzae type b infections.</p>
                  </li>

                  <li>

                    <a href="javascript:void(0);" class="app-search-results-item">MenACWY vaccine </a>
                    <p class="nhsuk-body-s nhsuk-u-margin-top-1">The MenACWY vaccine protects against 4 different strains of the meningococcal bacteria that cause <strong>meningitis</strong> and blood poisoning (septicaemia).</p>
                  </li>

                  <li>

                    <a href="javascript:void(0);" class="app-search-results-item">Travel vaccinations - Available vaccines</a>
                    <p class="nhsuk-body-s nhsuk-u-margin-top-1">Find out about the vaccinations available for people travelling abroad.</p>
                  </li>

              </ul>
              <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
            <ul class="nhsuk-list nhsuk-pagination__list">



              <li class="nhsuk-pagination-item--next">
                <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="/search/?search-field=pattern&amp;page=2">
                  <span class="nhsuk-pagination__title">Next</span>
                  <span class="nhsuk-u-visually-hidden">:</span>
                  <span class="nhsuk-pagination__page">2 of 2</span>
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z">
                    </path>
                  </svg>
                </a>
              </li>

            </ul>
          </nav>

            </div>
        </div>
      </article>

          </main>









</div>
</div>
{% endblock %}
{% block pageScripts %}
<head>
  <script>

    document.getElementById("search-bar").onclick = function() {
      if (document.getElementById("hidethis").style.display == 'none') {
        document.getElementById("hidethis").style.display =
          'block'; // set to table-row instead of an empty string
      } else {
        document.getElementById("hidethis").style.display = 'none';
      }
    }
  </script>


</head>
{% endblock %}
