{% set version = "v1" %}
{% set pageTitle = "What is your home address in the UK?" %}

{% extends "includes/layout-lite-registration.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="/litereg-accounts/{{version}}/country">Back</a>
{% endblock %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/litereg-accounts/{{version}}/gp-address-same" method="post">

      <fieldset class="govuk-fieldset" aria-describedby="post-code-hint">

          <div id="content-1">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                {% if data['whos-taking-the-test'] == "someone-else" %}
                What is {{ data['first-name'] or 'Pete' }} {{ data['last-name'] or "Smith" }}'s home address in the UK?
                {% else %}
                {{ pageTitle }}
                {% endif %}
              </h1>
            </legend>

            <span id="post-code-hint" class="govuk-body">
              {% if data['whos-taking-the-test'] == "someone-else" %}
              If they do not have a home address in the UK, use the address where they're staying.
              {% else %}
              If you do not have a home address in the UK, use the address where you're staying.
              {% endif %}
            </span>
            <div class="govuk-form-group govuk-!-margin-top-6">
              <label class="govuk-label govuk-!-margin-bottom-3" for="home-postcode" style="line-height: 0.8;">
                Postcode
              </label>
              <input class="govuk-input govuk-input--width-10" id="home-postcode" name="home-postcode" type="text" autocomplete="postal-code" value="{{ data['home-postcode'] }}" autofocus>
            </div>
            <p class="govuk-body">
              <a class="govuk-link govuk-!-font-size-19" id="manual-address" role="button" href="#">Enter address manually</a>
            </p>
            <button id="find-address" class="govuk-button" type="submit" data-module="govuk-button">Find address</button>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  If you do not have a fixed address
                </span>
              </summary>
              <div class="govuk-details__text">
                You can use the postcode of a nearby reference address, such as your GP.<br><br>
                You can also call 119 (free from mobiles and landlines) - lines are open 7am to 11pm.
              </div>
            </details>
          </div>

          <div id="content-2" style="display: none;">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                {% if data['whos-taking-the-test'] == "someone-else" %}
                What is {{ data['first-name'] or 'Pete' }} {{ data['last-name'] or "Smith" }}'s home address in the UK?
                {% else %}
                {{ pageTitle }}
                {% endif %}
              </h1>
            </legend>

            <span id="post-code-hint" class="govuk-body">
              {% if data['whos-taking-the-test'] == "someone-else" %}
              If they do not have a home address in the UK, use the address where they're staying.
              {% else %}
              If you do not have a home address in the UK, use the address where you're staying.
              {% endif %}
            </span>
            <p class="govuk-!-margin-bottom-6 govuk-!-margin-top-6" style="line-height: 0.8;">
              <!-- <span>Postcode</span><br><br> -->
              <strong>{{ data['home-postcode'] | default('LS1 3BE') }}</strong>
              <a href="/litereg-accounts/{{version}}/address" class="govuk-!-margin-left-5">
                Change
                <span class="govuk-visually-hidden">your postcode</span>
              </a>
            </p>
            <div class="govuk-form-group">
              <label class="govuk-label" for="home-address">
                Select an address
              </label>
              <select class="govuk-select" id="home-address" name="home-address">
                <option>5 addresses found</option>
                <option value="1 Souterhead Road, London, {{ data['home-postcode'] or 'LS1 3BE' }}">1 Souterhead Road, London, {{ data['home-postcode'] or 'LS1 3BE' }}</option>
                <option value="2 Souterhead Road, London, {{ data['home-postcode'] or 'LS1 3BE' }}">2 Souterhead Road, London, {{ data['home-postcode'] or 'LS1 3BE' }}</option>
                <option value="3 Souterhead Road, London, {{ data['home-postcode'] or 'LS1 3BE' }}">3 Souterhead Road, London, {{ data['home-postcode'] or 'LS1 3BE' }}</option>
                <option value="4 Souterhead Road, London, {{ data['home-postcode'] or 'LS1 3BE' }}">4 Souterhead Road, London, {{ data['home-postcode'] or 'LS1 3BE' }}</option>
                <option value="5 Souterhead Road, London, {{ data['home-postcode'] or 'LS1 3BE' }}">5 Souterhead Road, London, {{ data['home-postcode'] or 'LS1 3BE' }}</option>
              </select>
            </div>

            <p class="govuk-body">
              <a class="govuk-link govuk-!-font-size-19" id="manual-address-2" role="button" href="#">I cannot find the address in the list</a>
            </p>
            
            <button id="button-hidden" class="govuk-button govuk-!-margin-top-4" type="submit" data-module="govuk-button">
              Continue
            </button>
          </div>

          <div id="content-3" style="display: none;">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                {% if data['whos-taking-the-test'] == "someone-else" %}
                Enter {{ data['first-name'] or 'Pete' }} {{ data['last-name'] or "Smith" }}'s home address in the UK
                {% else %}
                Enter your home address in the UK
                {% endif %}
              </h1>
            </legend>
    
            <span id="post-code-hint" class="govuk-body">
              {% if data['whos-taking-the-test'] == "someone-else" %}
              If they do not have a home address in the UK, enter the address and postcode where they're staying.
              {% else %}
              If you do not have a home address in the UK, enter the address and postcode where you're staying.
              {% endif %}
            </span>
            <div class="govuk-form-group govuk-!-margin-top-5">
              <label class="govuk-label" for="address-line-1">
                Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1" value="{{ data['address-line-1'] }}">
            </div>
  
            <div class="govuk-form-group">
              <label class="govuk-label" for="address-line-2">
                <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2" value="{{ data['address-line-2'] }}">
            </div>
  
            <div class="govuk-form-group">
              <label class="govuk-label" for="address-town">
                Town or city
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="address-town" name="address-town" type="text" autocomplete="address-level2" value="{{ data['address-town'] }}">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="postcode-manual">
                Postcode
              </label>
              <input class="govuk-input govuk-input--width-10" id="postcode-manual" name="postcode-manual" type="text" autocomplete="postal-code" value="{{ data['postcode-manual'] }}">
            </div>
            <button id="button-hidden" class="govuk-button govuk-!-margin-top-4" type="submit" data-module="govuk-button">
              Continue
            </button>
          </div>

        </fieldset>

      </form>

    </div>
  </div>

   <script type="text/javascript">
  submitEvent()

  function buttonClicked(target) {
    setTimeout(function () {
      document.getElementById('content-1').style.display = 'none'
      // document.getElementById('find-address').style.display = 'none'
      // document.getElementById('button-hidden').style.display = 'block'
      document.getElementById('content-2').style.display = 'block'
      document.getElementById('home-poostcode').focus()
    }, 100)
  }

  function buttonClicked2(target) {
    setTimeout(function () {
      document.getElementById('home-address').value = 'Select from 5 addresses'
      document.getElementById('content-1').style.display = 'none'
      document.getElementById('content-2').style.display = 'none'
      document.getElementById('content-3').style.display = 'block'
      document.getElementById('home-postcode').focus()
    }, 100)
  }

  function submitEvent() {
    var selects = document.getElementById('find-address')
    var selectedLink = document.getElementById('manual-address')
    var selectedLink2 = document.getElementById('manual-address-2')
    selects.addEventListener('click', function (event) {
      event.preventDefault()
      if (selects.getAttribute('disabled') === 'disabled') {
      } else {
        event.preventDefault()
        buttonClicked(selects)
      }
    })
    selectedLink.addEventListener('click', function (event) {
      event.preventDefault()
      if (selectedLink.getAttribute('disabled') === 'disabled') {
      } else {
        event.preventDefault()
        buttonClicked2(selectedLink)
      }
    })
    selectedLink2.addEventListener('click', function (event) {
      event.preventDefault()
      if (selectedLink2.getAttribute('disabled') === 'disabled') {
      } else {
        event.preventDefault()
        buttonClicked2(selectedLink2)
      }
    })
    
  }

</script>

{% endblock %}
