{% set version = "v1" %}
{% set pageTitle = "When did these symptoms start?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <a class="govuk-back-link" href="/litereg-accounts/{{version}}/do-you-have-symptoms">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/litereg-accounts/{{version}}/travelled-overseas" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="symptoms-start-date-1-hint symptoms-start-date-2-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                {{ pageTitle }}
              </h1>
            </legend>
            <p class="govuk-body">
              <span id="symptoms-start-date-1-hint">
                {% if data['whos-taking-the-test'] == "myself" %}
                If you cannot remember the exact date, enter the date you think it was roughly.
                {% else %}
                If they cannot remember the exact date, enter the date they think it was roughly.
                {% endif %}
              </span>
            </p>
            <span id="symptoms-start-date-1-hint" class="govuk-hint">
              Use the format DD MM YYYY, for example 15 04 2020
            </span>
            <div class="govuk-date-input" id="symptoms-start-date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="symptoms-start-date-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="symptoms-start-date-day" name="symptoms-start-date-day" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['symptoms-start-date-day'] }}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="symptoms-start-date-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="symptoms-start-date-month" name="symptoms-start-date-month" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['symptoms-start-date-month'] }}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="symptoms-start-date-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="symptoms-start-date-year" name="symptoms-start-date-year" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['symptoms-start-date-year'] }}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

        <div class="govuk-warning-text govuk-!-margin-top-7">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text govuk-!-font-size-19">
            <span class="govuk-warning-text__assistive">Warning</span>
            If you have symptoms, you and everyone you live with should self-isolate immediately and not leave home until you get your test results. You can leave home to get or post a test.
          </strong>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
