{% set version = "v2" %}
{% set serviceName = electiveCareServiceName %}
{% set pageTitle = "There is currently no stock" %}
{% extends "includes/layout.html" %}

{% block beforeContent %}
    {% include "includes/ec-beta-banner-v1.html" %}
  <a class="govuk-back-link"  href="javascript:window.history.go(-1);">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl"> There is currently no stock </h1>
            <p class="govuk-body">Your order cannot be placed because of a shortage of test kits. If you have any queries, email the elective care support team at:</p>
            <p class="govuk-body govuk-!-margin-top-5">
                <a href="#" class="govuk-link">ElectiveCareTesting@dhsc.gov.uk</a>
            </p>
            <a class="govuk-!-margin-top-8 govuk-button" href="./manage-organisation-v1-o1"> Back to home</a>
        </div>
    </div>
{% endblock %}