{% set pageHeading = "Select which days you are working" %}
{% set version = "organisational/future" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>


<p>Select the days of the week you go into your workplace.</p>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <div id="waste-hint" class="govuk-hint">
      Select all that apply.
    </div>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          Monday 31st May
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Tuesday 1st June
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
          Wednesday 2nd June
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Thursday 3rd June
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Friday 4th June
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Saturday 5th June
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Sunday 6th June
        </label>
      </div>
      <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
      <label class="govuk-label govuk-checkboxes__label" for="waste">
        Monday 7th June
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
        Tuesday 8th June
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
      <label class="govuk-label govuk-checkboxes__label" for="waste-3">
        Wednesday 9th June
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
        Thursday 10th June
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
        Friday 11th June
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
        Saturday 12th June
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
        Sunday 13th June
      </label>
    </div>
    <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
    <label class="govuk-label govuk-checkboxes__label" for="waste">
      Monday 14th June
    </label>
  </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
      Tuesday 15th June
    </label>
  </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
    <label class="govuk-label govuk-checkboxes__label" for="waste-3">
      Wednesday 16th June
    </label>
  </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
      Thursday 17th June
    </label>
  </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
      Friday 18th June
    </label>
  </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
      Saturday 19th June
    </label>
  </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
      Sunday 20th June
    </label>
  </div>
  <div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
  <label class="govuk-label govuk-checkboxes__label" for="waste">
    Monday 21st June
  </label>
</div>
<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
    Tuesday 22nd June
  </label>
</div>
<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
    Wednesday 23rd June
  </label>
</div>
<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
    Thursday 24th June
  </label>
</div>
<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
    Friday 25th June
  </label>
</div>
<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
    Saturday 26th June
  </label>
</div>
<div class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
    Sunday 27th June
  </label>
</div>

    </div>

  </fieldset>
</div>



        <input class="govuk-button" type="submit" value="Continue">




{% endblock %}
