{% set version = "v1" %}
{% set pageTitle = "Enter your delivery address" %}

{% set group %}
{% if data.cuRequestGroup %}
    Group {{ data.cuRequestGroup }}
{% else %}
      Group 1
  {% endif %}
{% endset %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback (opens in new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.go(-1);"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="address-select" method="post" class="form">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-xl">
              {{ group }}</span>
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
              What’s {{ data['first-name'] | default('Pete') }}
              {{ data['last-name'] | default('Smith') }}’s address?
            </h1> 
          </legend>

          <p class="govuk-body">This will be the address that their test kit will be sent to.</p>

          <div class="govuk-form-group">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-!-font-weight-bold" for="delivery-address-postcode">
                Postcode
              </label>
              <input class="govuk-input govuk-input--width-10" id="delivery-address-postcode" name="delivery-address-postcode" value="{{ data['delivery-address-postcode'] }}" type="text" autocomplete="postal-code">
            </div>
          </div>
        </fieldset>

        <button class="govuk-button govuk-!-margin-top-4" type="submit" data-module="govuk-button">
          Find address
        </button>

      </form>

    </div>
  </div>

{% endblock %}