{% set pageHeading = "Are you taking part in daily contact testing (DCT)? " %}
{% set version = "organisational/ind-accounts/v3" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      <!-- div for include from content folder -->
      <div id="includedContent1"></div>

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}

    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

      <form class="" action="/{{version}}/test-details/testkit" method="get">

        <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

      <p>This usually means that you are a contact of someone who has tested positive for COVID-19, so you are taking a test every day for 7 days to keep working. A number of organisations are inviting their employees to take part in DCT. </p>
      <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="daily-contact-testing" name="daily-contact-testing" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="daily-contact-testing-2" name="daily-contact-testing" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          No
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="daily-contact-testing-3" name="daily-contact-testing" type="radio" value="dont-know">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
          I do not know
        </label>
      </div>
        </div>
      </div>
</div>
  </div>


        <input class="govuk-button" type="submit" value="Continue">


        <!-- corresponding html file name included from content folder -->
      <script>
        $(function(){
          $("#includedContent1").load("/includes/LFD-account-menu.html");
        });
      </script>
{% endblock %}
