{% set pageHeading = "PCR test registration confirmed" %}
 {% set version = "organisational/lft/carehome-registration" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}
{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}


    </div>
  </div>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title 	#1d70b8">You reported a positive coronavirus test result</h1>
        <p class="govuk-caption-xl"><FONT color="#ffffff">It is likely you were infectious when the test was done</p>

      </div>
      <br><br>

      <p>A copy of this registration will be sent to the organisation details you provided.</p>

      <form class="" action="/{{ version }}/how" method="get">

<h2 class="govuk-heading-m">What to do now</h2>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Self-isolate immediately. Find further self-isolation guidance for <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-and-treatment/when-to-self-isolate-and-what-to-do/">England</a>,
     <a href=https://www.nhsinform.scot/isolation>Scotland</a>, <a href=https://gov.wales/self-isolation>Wales</a> or <a href=https://www.nidirect.gov.uk/articles/coronavirus-covid-19-self-isolating-and-close-contacts#toc-0>Northern Ireland (open in new tabs)</a>
    </strong>
</div>


<p>You need to tell your organisation you have tested positive.</p>
<p>You must take a different follow-up test today, or as soon as possible. Contact the organisation who gave you the lateral flow test for a different test.</p>
<p>This will confirm if you are infectious to others, start contact tracing and enable you to claim financial support if you are eligible.</p>
<p>You may get any of the main <a href=https://www.nhs.uk/conditions/coronavirus-covid-19/symptoms/>symptoms</a> of COVID-19 in the next few days. If you're worried, or your symptoms get worse, you should contact 111 (England and Scotland only) or speak to your GP. In an emergency dial 999.

<div class="govuk-button-group">


  <button class="govuk-button govuk-button" data-module="govuk-button">
    Register more test kits
  </button>
</div>


      <h2 class="govuk-heading-m">We want to hear from you</h2>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 3 minutes)</p>


    </div>
  </div>

{% endblock %}
