{% set version = "v1" %}
{% set serviceName = "COVID-19" %}
{% set pageTitle = "What’s changing at this test site?" %}
{% extends "includes/layout.html" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

    <div data-v-31af0536="" class="govuk-grid-row" style="display:flex; flex-direction:column">
        <div data-v-31af0536="" class="govuk-grid-column-three-quarters">
            <h1 data-v-31af0536="" class="govuk-heading-xl govuk-!-margin-bottom-6"> COVID-19 Testing admin actions </h1>
        </div>
        <div>
            <div data-v-31af0536="" class="govuk-grid-column-full">
                <h2 data-v-31af0536="" class="govuk-heading-l govuk-!-margin-bottom-4"> Test site appointment changes </h2>
                <section data-v-31af0536="" class="govuk-!-margin-bottom-9">
                    <a href="2-postcode-v1" class="govuk-!-padding-4 actions__card card govuk-grid-column-one-half govuk-!-margin-right-7" headingtype="m" style="text-decoration: none; background-color: #f3f2f1;">
                        <h3 class="card--heading govuk-link govuk-heading-m" style="color:#1d70b8; text-decoration: none"> Text subjects about test site appointment changes </h3>
                        <p data-v-31af0536="" class="govuk-body"> Tell subjects if their test site appointment is affected by a change in location, date or operating hours. </p>
                    </a>
                    <a class="govuk-!-padding-4 actions__card card govuk-grid-column-one-half" headingtype="m" style="text-decoration: none; background-color: #f3f2f1;">
                        <h3 class="card--heading govuk-link govuk-heading-m" style="color:#1d70b8; text-decoration: none"> Know about test site appointment changes </h3>
                        <p data-v-31af0536="" class="govuk-body"> View any test site appointment that has been affected by a change in location, date, or operating hours. </p>
                    </a>
                </section>
            </div>
        </div>
        <div class="govuk-grid-column-three-quarters govuk-!-margin-top-7">
            <p data-v-31af0536="" class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-7"> Log out if you are finished. </p>
            <button data-v-31af0536="" class="govuk-button"> Log out </button>
        </div>

    </div>

{% endblock %}