{% set version = "v1" %}
{% set serviceName = "COVID-19" %}
{% set pageTitle = "What’s changing at this test site?" %}
{% extends "includes/layout.html" %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.go(-1);"
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl"> Check your answers </h1>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key"> Estimated number of people affected </dt>
                    <dd class="govuk-summary-list__value"> 26 </dd>
                    <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key"> Test site </dt>
                    <dd class="govuk-summary-list__value">Woolpack Way Car Park</dd>
                    <dd class="govuk-summary-list__actions">
                        <a href="/bulk-sms/affected-test-site?edit=true" class="govuk-link"> Change <span class="govuk-visually-hidden"> Affected test site </span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key"> Date </dt>
                    <dd class="govuk-summary-list__value"> 15 February 2022 </dd>
                    <dd class="govuk-summary-list__actions">
                        <a href="/bulk-sms/affected-date-time?edit=true" class="govuk-link"> Change <span class="govuk-visually-hidden"> Affected date </span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key"> Time range </dt>
                    <dd class="govuk-summary-list__value"> 8:30 am to 7:30 pm </dd>
                    <dd class="govuk-summary-list__actions">
                        <a href="/bulk-sms/affected-date-time?edit=true" class="govuk-link"> Change <span class="govuk-visually-hidden"> Affected time range </span></a>
                    </dd>
                </div>
            </dl>
            <div class="govuk-button-group">
                <a href="6-site-confirm-v1" class="govuk-!-margin-top-5 govuk-button"> Save and continue </a>
            </div>
        </div>
    </div>

{% endblock %}