{% set version = "v1" %}
{% set serviceName = "COVID-19" %}
{% set pageTitle = "What’s changing at this test site?" %}
{% extends "includes/layout.html" %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.go(-1);"
    }) }}
{% endblock %}

{% block content %}

    <div data-v-313a183d="" class="govuk-grid-row">
        <div data-v-313a183d="" class="govuk-grid-column-three-quarters">
            <div data-v-313a183d="" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" id="error-summary" class="govuk-error-summary" style="display: none;">
                <h2 id="error-summary-title" class="govuk-error-summary__title"> There is a problem </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list pl-0"></ul>
                </div>
            </div>
            <h1 data-v-313a183d="" class="govuk-heading-xl"> When will the test site appointment change? </h1>
            <form action="10-site-cya-v1" method="get">
                <div data-v-313a183d="" class="govuk-form-group">
                    <fieldset role="group" class="govuk-fieldset">
                        <!---->
                        <!---->
                        <p data-v-313a183d="" class="govuk-heading-m govuk-!-margin-bottom-2"> Select a day </p>
                        <div data-v-691518ca="" data-v-313a183d="" class="govuk-radios">
                            <!---->
                            <div data-v-691518ca="" class="govuk-radios__item"><input data-v-691518ca="" type="radio" id="testDate" name="test-date" class="govuk-radios__input" value="2022-02-15">
                                <label data-v-691518ca="" for="testDate" class="govuk-label govuk-radios__label"> Today </label>
                                <!---->
                            </div>
                            <!---->
                            <div data-v-691518ca="" class="govuk-radios__item"><input data-v-691518ca="" type="radio" id="testDate-2" name="test-date" class="govuk-radios__input" value="2022-02-16">
                                <label data-v-691518ca="" for="testDate-2" class="govuk-label govuk-radios__label"> Tomorrow </label>
                                <!---->
                            </div>
                            <!---->
                        </div>
                    </fieldset>
                </div>
                <p data-v-313a183d="" class="govuk-heading-m govuk-!-margin-bottom-2"> Enter all times people are affected </p>
                <p data-v-313a183d="" class="govuk-body govuk-hint govuk-!-margin-bottom-5"> The time selection can be used to direct people to different test sites. </p>
                <div data-v-313a183d="" class="govuk-grid-row govuk-!-margin-left-0">
                    <div data-v-313a183d="" class="govuk-grid-column">
                        <div data-v-313a183d="" class="govuk-form-group">
                            <fieldset role="group" class="govuk-fieldset">
                                <!---->
                                <!---->
                                <!---->
                                <div data-v-313a183d="" id="testTime" class="govuk-grid-row">
                                    <div data-v-313a183d="" class="govuk-grid-column-one-half">
                                        <div data-v-313a183d="" class="govuk-grid-row govuk-!-margin-left-0">
                                            <div data-v-313a183d="" class="govuk-grid-column">
                                                <p data-v-313a183d="" class="govuk-body govuk-!-margin-bottom-0"> Start time </p>
                                                <p data-v-313a183d="" class="govuk-body govuk-hint"> For example, 9.30 am or 2.30 pm </p>
                                            </div>
                                        </div>
                                        <div data-v-313a183d="" class="govuk-grid-row">
                                            <div data-v-313a183d="" class="
                        govuk-grid-column
                        govuk-!-margin-left-0
                        govuk-!-margin-right-3">
                                                <div data-v-313a183d="" class="govuk-grid-column-one-quarter hour-input" style="position: relative">
                                                    <div data-v-7de983be="" id="Hour" class="govuk-form-group">
                                                        <label data-v-7de983be="" class="govuk-label"> Hour </label>
                                                        <!---->
                                                        <select data-v-7de983be="" class="govuk-select" style="width: 100%">
                                                            <option data-v-7de983be="" selected="selected" value=""></option>
                                                            <option data-v-7de983be="" value="1"> 01 </option>
                                                            <option data-v-7de983be="" value="2"> 02 </option>
                                                            <option data-v-7de983be="" value="3"> 03 </option>
                                                            <option data-v-7de983be="" value="4"> 04 </option>
                                                            <option data-v-7de983be="" value="5"> 05 </option>
                                                            <option data-v-7de983be="" value="6"> 06 </option>
                                                            <option data-v-7de983be="" value="7"> 07 </option>
                                                            <option data-v-7de983be="" value="8"> 08 </option>
                                                            <option data-v-7de983be="" value="9"> 09 </option>
                                                            <option data-v-7de983be="" value="10"> 10 </option>
                                                            <option data-v-7de983be="" value="11"> 11 </option>
                                                            <option data-v-7de983be="" value="12"> 12 </option>
                                                        </select>
                                                    </div>
                                                    <span style="position: absolute;right: -3.5%;bottom: 5px;font-size: 26px;">:</span>
                                                </div>
                                                <div data-v-313a183d="" class="govuk-grid-column-one-third">
                                                    <div data-v-7de983be="" id="Minute" class="govuk-form-group">
                                                        <label data-v-7de983be="" class="govuk-label"> Minute </label>
                                                        <!---->
                                                        <select data-v-7de983be="" class="govuk-select" style="width: 100%">
                                                            <option data-v-7de983be="" selected="selected" value=""></option>
                                                            <option data-v-7de983be="" value="0"> 00 </option>
                                                            <option data-v-7de983be="" value="30"> 30 </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div data-v-313a183d="" class="govuk-grid-column-one-third">
                                                    <div data-v-7de983be="" id="am or pm" class="govuk-form-group">
                                                        <label data-v-7de983be="" class="govuk-label"> am or pm </label>
                                                        <!---->
                                                        <select data-v-7de983be="" class="govuk-select" style="width: 100%">
                                                            <option data-v-7de983be="" selected="selected" value=""></option>
                                                            <option data-v-7de983be="" value="am"> AM </option>
                                                            <option data-v-7de983be="" value="pm"> PM </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-v-313a183d="" class="govuk-grid-column-one-half">
                                        <div data-v-313a183d="" class="govuk-grid-row">
                                            <div data-v-313a183d="" class="govuk-grid-column govuk-!-margin-left-6">
                                                <p data-v-313a183d="" class="govuk-body govuk-!-margin-bottom-0"> Stop time </p>
                                                <p data-v-313a183d="" class="govuk-body govuk-hint"> For example, 1.00 pm or 2.30 pm </p>
                                            </div>
                                        </div>
                                        <div data-v-313a183d="" class="govuk-grid-row">
                                            <div data-v-313a183d="" class="govuk-grid-column govuk-!-margin-left-3">
                                                <div data-v-313a183d="" class="govuk-grid-column-one-quarter hour-input" style="position: relative">
                                                    <div data-v-7de983be="" id="Hour" class="govuk-form-group">
                                                        <label data-v-7de983be="" class="govuk-label"> Hour </label>
                                                        <!---->
                                                        <select data-v-7de983be="" class="govuk-select"  style="width: 100%">
                                                            <option data-v-7de983be="" selected="selected" value=""></option>
                                                            <option data-v-7de983be="" value="1"> 01 </option>
                                                            <option data-v-7de983be="" value="2"> 02 </option>
                                                            <option data-v-7de983be="" value="3"> 03 </option>
                                                            <option data-v-7de983be="" value="4"> 04 </option>
                                                            <option data-v-7de983be="" value="5"> 05 </option>
                                                            <option data-v-7de983be="" value="6"> 06 </option>
                                                            <option data-v-7de983be="" value="7"> 07 </option>
                                                            <option data-v-7de983be="" value="8"> 08 </option>
                                                            <option data-v-7de983be="" value="9"> 09 </option>
                                                            <option data-v-7de983be="" value="10"> 10 </option>
                                                            <option data-v-7de983be="" value="11"> 11 </option>
                                                            <option data-v-7de983be="" value="12"> 12 </option>
                                                        </select>
                                                    </div>
                                                    <span style="position: absolute;right: -3.5%;bottom: 5px;font-size: 26px;">:</span>
                                                </div>
                                                <div data-v-313a183d="" class="govuk-grid-column-one-third">
                                                    <div data-v-7de983be="" id="Minute" class="govuk-form-group">
                                                        <label data-v-7de983be="" class="govuk-label"> Minute </label>
                                                        <!---->
                                                        <select data-v-7de983be="" class="govuk-select" style="width: 100%">
                                                            <option data-v-7de983be="" selected="selected" value=""></option>
                                                            <option data-v-7de983be="" value="0"> 00 </option>
                                                            <option data-v-7de983be="" value="30"> 30 </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div data-v-313a183d="" class="govuk-grid-column-one-third">
                                                    <div data-v-7de983be="" id="am or pm" class="govuk-form-group">
                                                        <label data-v-7de983be="" class="govuk-label"> am or pm </label>
                                                        <!---->
                                                        <select data-v-7de983be="" class="govuk-select" style="width: 100%">
                                                            <option data-v-7de983be="" selected="selected" value=""></option>
                                                            <option data-v-7de983be="" value="am"> AM </option>
                                                            <option data-v-7de983be="" value="pm"> PM </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <button data-v-313a183d="" type="submit" class="govuk-!-margin-top-4 govuk-button"> Continue </button>
            </form>
        </div>
    </div>

{% endblock %}