{% set version = "v1" %}
{% set serviceName = "COVID-19" %}
{% set pageTitle = "Confirm text message and site affected" %}
{% extends "includes/layout.html" %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.go(-1);"
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6"> {{pageTitle}} </h1>
            <p class="govuk-body"> You’re about to send approximately 512 people this message.</p>
            <p class="govuk-heading-m govuk-!-margin-top-5"> Message </p>
            <a class="govuk-link govuk-!-font-size-19" href="#">Change the reason why the SMS is being sent</a>
            <div class="govuk-inset-text">
                <p class="govuk-body"> Sorry we've had to cancel all walk through appointments at the [site name] on [date affected]. Drive through appointments are not affected.  </p>
                <p class="govuk-body"> Book a new test at https://www.nhs.uk/ask-for-a-coronavirus-test.  </p>
                <p class="govuk-body"> If you cannot get online, call 119 if you're in England, Wales or Northern Ireland or 0300 303 2713 if you're in Scotland. </p>
            </div>

            <h2 class="govuk-heading-m govuk-!-margin-top-8">Sites affected</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0" style="white-space:nowrap">Woolpack Way Car Park</h3>
                </dt>
                <dd class="govuk-summary-list__value">
                
                </dd>
                <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> site information</span>
                </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Site reference
                </dt>
                <dd class="govuk-summary-list__value">
                WOO
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Day
                </dt>
                <dd class="govuk-summary-list__value">
                Today - 17 March 2022
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Start time
                </dt>
                <dd class="govuk-summary-list__value">
                <p class="govuk-body">08:30</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                End time
                </dt>
                <dd class="govuk-summary-list__value">
                <p class="govuk-body">17:30</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                People affected
                </dt>
                <dd class="govuk-summary-list__value">
                <p class="govuk-body">236</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            </dl>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0" style="white-space:nowrap">Nuneaton - Mobile Unit</h3>
                </dt>
                <dd class="govuk-summary-list__value">
                
                </dd>
                <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> site information</span>
                </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Site reference
                </dt>
                <dd class="govuk-summary-list__value">
                XCI
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Day
                </dt>
                <dd class="govuk-summary-list__value">
                Today - 17 March 2022
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Start time
                </dt>
                <dd class="govuk-summary-list__value">
                <p class="govuk-body">08:30</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                End time
                </dt>
                <dd class="govuk-summary-list__value">
                <p class="govuk-body">17:30</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                People affected
                </dt>
                <dd class="govuk-summary-list__value">
                <p class="govuk-body">236</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            </dl>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0" style="white-space:nowrap">Victoria Street No 2 Car Park Dugdale Street</h3>
                </dt>
                <dd class="govuk-summary-list__value">
                
                </dd>
                <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> site information</span>
                </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Site reference
                </dt>
                <dd class="govuk-summary-list__value">
                NVS
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Day
                </dt>
                <dd class="govuk-summary-list__value">
                Today - 17 March 2022
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Start time
                </dt>
                <dd class="govuk-summary-list__value">
                <p class="govuk-body">08:30</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                End time
                </dt>
                <dd class="govuk-summary-list__value">
                <p class="govuk-body">17:30</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                People affected
                </dt>
                <dd class="govuk-summary-list__value">
                <p class="govuk-body">236</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            </dl>

            <div class="govuk-form-group">
                <fieldset role="group" class="govuk-fieldset">
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item"><input type="checkbox" id="confirm-text-message" name="confirm-text-message" class="govuk-checkboxes__input" value="true">
                            <label for="confirm-text-message" class="govuk-label govuk-checkboxes__label"> I've checked that the text message and the sites affected are correct </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-!-margin-top-4 govuk-button"> Request text messages </button>
        </div>
    </div>

{% endblock %}