{% set fullname %}
  {% if data.cuFirstName and data.cuLastName %}
    {{ data.cuFirstName }} {{ data.cuLastName }}
    {% else %}
      John Smith
  {% endif %}
{% endset %}
{% set pageHeading = "When did " + fullname | trim + " take their test?" %}
 {% set version = "organisational/lft/carehome-registration" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - COVID-19
{% endblock %}


{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#passport-issued-error">Time of test must be less than 24 hours in the future</a>
      </li>
    </ul>
  </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

      <p>Select the date and time they took their swab test.</p>

      <form class="" action="/{{ version }}/single/have-return-box" method="get">

        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <h2 class="govuk-heading-s">
        Select a date
      </h2>
    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" >
        <label class="govuk-label govuk-radios__label" for="contact">
          Today, 28 May 2021
        </label>
      </div>

      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" >
          <label class="govuk-label govuk-radios__label" for="contact">
            Yesterday, 27 May 2021
          </label>
        </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-3">
        <label class="govuk-label govuk-radios__label" for="contact-3">
          A different date
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
        <div class="govuk-form-group govuk-form-group">
        <p class="govuk-body govuk-!-font-weight-bold">When was your sample taken?</p>
      <div id="passport-issued-hint" class="govuk-hint">
        For example, 26 3 2020
      </div>
      <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
    </div>

  </fieldset>
</div>


<div class="govuk-form-group govuk-form-group--error">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-error">
    <h2 class="govuk-heading-s">
      Enter a time
    </h2>
    <span id="passport-issued-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Time of test must be less than 24 hours in the future
    </span>
<div class="govuk-form-group">
  <label class="govuk-label" for="width-2">
    Time
  </label>
  <input class="govuk-input govuk-input--width-2 govuk-input--error" id="width-2" name="width-2" type="text"></div>

  <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input govuk-input--error" id="changed-name" name="changed-name" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="changed-name">
            am
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input govuk-input--error" id="changed-name-2" name="changed-name" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="changed-name-2">
            pm
          </label>
          </fieldset>
        </div>
      </div>
</div>
<br>
        <input class="govuk-button" type="submit" value="Continue">

      </form>

    </div>
  </div>

{% endblock %}
