{% set version = "v1" %}
{% set pageTitle = "Order received" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-padding-8 govuk-!-margin-bottom-8">
        <h1 class="govuk-panel__title">{{ pageTitle }}</h1>
      </div>

      <h3 class="govuk-heading-m">What happens next</h3>
      <p class="govuk-body">
        Your daily contact testing pack will arrive within 2 days.<br><br>
        You will get an order confirmation email soon.<br><br>
        You must continue to self-isolate until you report your first negative test result to the NHS.<br><br>
        If there are any problems or delays, call 119 and the contact centre can help.<br><br>
      </p>

      <h3 class="govuk-heading-m">What’s in the test pack</h3>
      <p class="govuk-body">
        The pack contains:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>7 rapid swab tests</li>
        <li>instructions on how to do the test</li>
        <li>guidace to help you do daily contact testing and report each result to the NHS</li>
      </ul>

      <p class="govuk-body">Rapid swab tests (sometimes called lateral flow tests) will give you a result in 30 minutes. There is no need to post a sample to a lab.</p>

      <h3 class="govuk-heading-m">Help and advice</h3>
      <p class="govuk-body">
        <a href="#" class="govuk-link">How to self-isolate</a><br>
        <a href="#" class="govuk-link">Watch a rapid test video</a><br>
        <a href="#" class="govuk-link">Find out more about daily contact testing</a>
      </p>

    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
<div class="proto-action" style="width: 18%; height: 9%;">
  <a href="../../../share-result-lateral-flow/v11/" style="display: flex; align-items: center; justify-content: center;">
    <div class="proto-action-text govuk-!-font-size-24 govuk-!-padding-2 govuk-!-padding-top-4">Report results</div>
  </a>
</div>
{% endblock %}
