{% set version = "v4" %}
{% set pageTitle = "The next person cannot be added to this journey" %}

{% extends "includes/layout-intl-arrivals.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link" href="/international-arrivals/{{version}}/travel-details-same-person-1">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            {{pageTitle}}
        </h1>
        <p class="govuk-body govuk-!-margin-bottom-6">
          Everyone on this order needs to travel together.<br><br>
          Once you have completed this order, you can order a test kit for the next person.

          <!-- If they've travelled to a country on the red list, they will need to order a package that includes hotel quarantine.<br><br>
          The red travel package contains 2 coronavirus tests and includes full board at a quarantine hotel for 10 days.<br><br>
          <a href="https://www.gov.uk/guidance/transport-measures-to-protect-the-uk-from-variant-strains-of-covid-19" target="blank" class="govuk-link">Book a red travel package</a>. -->
        </p>

        <!-- Reset values for person 1 -->
        <form action="/international-arrivals/{{version}}/people-confirmed" method="post">
          <div style="display: none;">
            <input id="first-name-person-1" name="first-name-person-1" type="text" value="">
            <input id="last-name-person-1" name="last-name-person-1" type="text" value="">
            <input id="passport-number-person-1" name="passport-number-person-1" type="text" value="">
            <input id="date-of-birth-person-1-day" name="date-of-birth-person-1-day" type="text" value="">
            <input id="date-of-birth-person-1-month" name="date-of-birth-person-1-month" type="text" value="">
            <input id="date-of-birth-person-1-year" name="date-of-birth-person-1-year" type="text" value="">
            <input id="email-address-person-1" name="email-address-person-1" type="text" value="">
            <input id="confirm-email-address-person-1" name="confirm-email-address-person-1" type="text" value="">
            <input id="mobile-phone-number-person-1" name="mobile-phone-number-person-1" type="text" value="">
            <input id="mobile-phone-number-confirm-person-1" name="mobile-phone-number-confirm-person-1" type="text" value="">
            <input id="travel-details-same-person-1" name="travel-details-same-person-1" type="text" value="">
            <input id="contact-details-same-person-1" name="contact-details-same-person-1" type="text" value="">
            <input id="travel-route-same-person-1" name="travel-route-same-person-1" type="text" value="">
          </div>

          <button class="govuk-button" data-module="govuk-button" type="submit">Continue</button>
        </form>

    </div>
</div>

{% endblock %}
