{% set version = "v4" %}
{% set pageTitle = "What is your delivery address?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  {% if data['first-name-person-1'] %}
  <a class="govuk-back-link" href="/international-arrivals/{{version}}/people-confirmed-person-1">Back</a>
  {% else %}
  <a class="govuk-back-link" href="/international-arrivals/{{version}}/people-confirmed">Back</a>
  {% endif %}

{% endblock %}


{% block content %}
  {% include "includes/gtm-noscript.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/international-arrivals/{{version}}/order-summary" method="post">

      <fieldset class="govuk-fieldset" aria-describedby="delivery-address-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
            {{ pageTitle }}
          </h1>
        </legend>
        <span id="delivery-address-hint" class="govuk-body">
          We'll send the test kits to this address. You should receive them in time to take your day 2 test.<br><br>
        </span>

          <div id="content-1">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-!-margin-bottom-3" for="delivery-address-postcode" style="line-height: 0.8;">
                Postcode
              </label>
              <input class="govuk-input govuk-input--width-10" id="delivery-address-postcode" name="delivery-address-postcode" type="text" autocomplete="postal-code" value="{{ data['delivery-address-postcode'] }}">
            </div>
          </div>

          <div id="content-2" style="display: none;">
            <p class="govuk-!-margin-bottom-6" style="line-height: 0.8;">
              <strong>Postcode</strong><br><br>
              {{ data['delivery-address-postcode'] | default('LS1 3BE') }}
              <a href="/international-arrivals/{{version}}/delivery-address" class="govuk-!-margin-left-5">
                Change
                <span class="govuk-visually-hidden">your postcode</span>
              </a>
            </p>
            <div class="govuk-form-group">
              <label class="govuk-label" for="delivery-address">
                <strong class="govuk-!-font-size-19">Select an address</strong>
              </label>
              <select class="govuk-select" id="delivery-address" name="delivery-address">
                <option>5 addresses found</option>
                <option value="1 Souterhead Road, London, {{ data['delivery-address-postcode'] or 'LS1 3BE' }}">1 Souterhead Road, London, {{ data['delivery-address-postcode'] or 'LS1 3BE' }}</option>
                <option value="2 Souterhead Road, London, {{ data['delivery-address-postcode'] or 'LS1 3BE' }}">2 Souterhead Road, London, {{ data['delivery-address-postcode'] or 'LS1 3BE' }}</option>
                <option value="3 Souterhead Road, London, {{ data['delivery-address-postcode'] or 'LS1 3BE' }}">3 Souterhead Road, London, {{ data['delivery-address-postcode'] or 'LS1 3BE' }}</option>
                <option value="4 Souterhead Road, London, {{ data['delivery-address-postcode'] or 'LS1 3BE' }}">4 Souterhead Road, London, {{ data['delivery-address-postcode'] or 'LS1 3BE' }}</option>
                <option value="5 Souterhead Road, London, {{ data['delivery-address-postcode'] or 'LS1 3BE' }}">5 Souterhead Road, London, {{ data['delivery-address-postcode'] or 'LS1 3BE' }}</option>
              </select>
            </div>
            <p class="govuk-body">
              <a class="govuk-link govuk-!-font-size-19" id="manual-address" role="button" href="#">I cannot find my address in the list</a>
            </p>
          </div>

          <div id="content-3" style="display: none;">
            <p class="govuk-!-margin-bottom-6" style="line-height: 0.8;">
              <strong>Postcode</strong><br><br>
              {{ data['delivery-address-postcode'] | default('LS1 3BE') }}
              <a href="/international-arrivals/{{version}}/delivery-address" class="govuk-!-margin-left-5">
                Change
                <span class="govuk-visually-hidden">your postcode</span>
              </a>
            </p>
            <div class="govuk-form-group">
              <label class="govuk-label" for="delivery-address-line-1">
                <strong>Building and street</strong> <span class="govuk-visually-hidden">line 1 of 2</span>
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="delivery-address-line-1" name="delivery-address-line-1" type="text" autocomplete="address-line1-delivery" value="{{ data['delivery-address-line-1'] }}">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="delivery-address-line-2">
                <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="delivery-address-line-2" name="delivery-address-line-2" type="text" autocomplete="address-line2-delivery" value="{{ data['delivery-address-line-2'] }}">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="delivery-address-town">
                <strong>Town or city</strong>
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="delivery-address-town" name="delivery-address-town" type="text" autocomplete="address-level2-delivery" value="{{ data['delivery-address-town'] }}">
            </div>
          </div>

        </fieldset>

        <button id="find-address" class="govuk-button" type="submit" data-module="govuk-button">Find address</button>

        <button id="button-hidden" class="govuk-button govuk-!-margin-top-4" style="display:none" type="submit" data-module="govuk-button">
          Continue
        </button>

        <p class="govuk-body">
          <a class="govuk-link govuk-!-font-size-19" id="manual-address-2" role="button" href="#">I cannot find my address in the list</a>
        </p>

      </form>

    </div>
  </div>

   <script type="text/javascript">
  submitEvent()

  function buttonClicked(target) {
    setTimeout(function () {
      document.getElementById('content-1').style.display = 'none'
      document.getElementById('manual-address-2').style.display = 'none'
      document.getElementById('find-address').style.display = 'none'
      document.getElementById('button-hidden').style.display = 'block'
      document.getElementById('content-2').style.display = 'block'
      // document.getElementById('delivery-address').focus()
    }, 100)
  }

  function buttonClicked2(target) {
    setTimeout(function () {
      document.getElementById('delivery-address').value = '5 addresses found'
      document.getElementById('content-2').style.display = 'none'
      document.getElementById('content-3').style.display = 'block'
      // document.getElementById('delivery-address-postcode').focus()
    }, 100)
  }

  function submitEvent() {
    var selects = document.getElementById('find-address')
    var selectedLink = document.getElementById('manual-address')
    var selectedLink2 = document.getElementById('manual-address-2')
    selects.addEventListener('click', function (event) {
      event.preventDefault()
      if (selects.getAttribute('disabled') === 'disabled') {
      } else {
        event.preventDefault()
        buttonClicked(selects)
      }
    })
    selectedLink.addEventListener('click', function (event) {
      event.preventDefault()
      if (selectedLink.getAttribute('disabled') === 'disabled') {
      } else {
        event.preventDefault()
        buttonClicked2(selectedLink)
      }
    })
    selectedLink2.addEventListener('click', function (event) {
      event.preventDefault()
      if (selectedLink2.getAttribute('disabled') === 'disabled') {
      } else {
        event.preventDefault()
        buttonClicked(selectedLink2)
      }
    })

  }

</script>

{% endblock %}
