{% set version = "v4" %}
{% set pageTitle = "Book a travel test package to enter the UK" %}

{% extends "includes/layout-intl-arrivals.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ pageTitle }}</h1>

      <p class="govuk-body">
        Order and pay for coronavirus (COVID-19) tests if you're travelling to the UK from a country that's not on the red list. You need to do this at least 2 days before you arrive in the UK. Check the correct travel test package for you (see links under start button).
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>A travel test package of 1 PCR test (day 2) costs £68</li>
        <li>A travel test package of 2 PCR tests (day 2 and day 8) costs £136</li>
      </ul>
      <p class="govuk-body">
        We'll send tests to the UK delivery address you give us. You should get them in time to take your day 2 test.<br><br>
        Day 1 counts as the day after your arrival in the UK.
      </p>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Who is this for?</h2>
      <p class="govuk-body">
        You can order travel test packages for yourself and other people. They must be travelling with you and have the same delivery address as you.
      </p>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">What you need before you start</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Delivery address in the UK</li>
        <li>Passport number</li>
        <li>Flight or Eurostar number or ferry name</li>
        <li>Payment card (international payment cards are accepted)</li>
        <li>Email address</li>
        <li>Mobile phone number</li>
      </ul>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">How to get help with your order</h2>
      <p class="govuk-body">
        If you need any help with your order, including changing it, getting a refund or replacing a test kit, call:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>0151 676 0491 from the UK</li>
        <li>+44 (0) 0151 676 0491 from outside the UK</li>
      </ul>
      <p class="govuk-body">
        Lines open 7am to 11pm
      </p>
      <p class="govuk-body">
        To request a refund, call this number before your test kit is sent (usually the day before you're due to arrive in the UK) or we cannot guarantee a full refund. You'll need your order details, including your booking reference number.
      </p>
      <p class="govuk-body">
        For more details see our <a href="#">terms and conditions</a>.
      </p>

      <a href="/international-arrivals/{{version}}/name" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-7 govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Which travel test package do you need?</h2>
      <p class="govuk-body">
        <a href="https://www.gov.uk/guidance/travel-to-england-from-another-country-during-coronavirus-covid-19" class="govuk-link">Travel test package rules for international arrival into England</a><br>
        <a href="https://gov.wales/rules-international-travel-and-wales-coronavirus" class="govuk-link">Travel test package rules for international arrival into Wales</a><br>
        <a href="https://www.gov.scot/publications/coronavirus-covid-19-international-travel-quarantine/" class="govuk-link">Travel test package rules for international arrival into Scotland</a><br>
        <a href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-travel-advice" class="govuk-link">Travel test package rules for international arrival into Northern Ireland</a>
      </p>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Passenger locator form (PLF)</h2>
      <p class="govuk-body">
        You must complete the <a href="https://www.gov.uk/provide-journey-contact-details-before-travel-uk" class="govuk-link">passenger locator form</a> (PLF) within 48 hours of the start of your journey to the UK.
      </p>

    </div>
  </div>
{% endblock %}
