{% set version = "v4" %}
{% set pageTitle = "What is your mobile phone number?" %}

{% extends "includes/layout-intl-arrivals.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <a class="govuk-back-link" href="/international-arrivals/{{version}}/travel-route">Back</a>

{% endblock %}

{% block content %}
{% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/international-arrivals/{{version}}/email-address" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
                {{ pageTitle }}
              </h1>
            </legend>
            <p class="govuk-body">
              For international numbers, include the country code (for example, +33).
            </p>

            <div class="govuk-form-group govuk-!-margin-top-5">
              <label class="govuk-label" for="mobile-phone-number">
                Mobile number
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="mobile-phone-number" name="mobile-phone-number" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['mobile-phone-number'] }}">
            </div>
            <div class="govuk-form-group govuk-!-margin-top-2">
              <label class="govuk-label" for="mobile-phone-number-confirm">
                Confirm mobile number
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="mobile-phone-number-confirm" name="mobile-phone-number-confirm" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value="{{ data['mobile-phone-number-confirm'] }}">
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
