{% set version = "v4" %}
{% set pageTitle = "What UK airport, train station or ferry port are you arriving at?" %}

{% extends "includes/layout-intl-arrivals.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link" href="/international-arrivals/{{version}}/final-destination">Back</a>

{% endblock %}

{% block content %}
{% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/international-arrivals/{{version}}/travel-route" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--xl" for="port-of-entry">
              {{ pageTitle }}
            </label>
          </h1>
          <input class="govuk-input govuk-!-width-two-thirds" id="port-of-entry" name="port-of-entry" type="text" value="{{ data['port-of-entry'] }}">
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}