<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-7-a-to-z.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Heart Attack - Overview - NHS.UK
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% from 'details/macro.njk' import details %}

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<main class="nhsuk-main-wrapper" id="maincontent" style="padding-top: 0px !important;padding-bottom:0px;">
  <section>

    <section>
      <nav class="nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
        <div>
          <ol class="nhsuk-breadcrumb__list ">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-7/">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-7/a-to-z">Health A to
                Z</a></li>

            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/lab-7/a-to-z/heart-attack">Heart
                attack</a></li>
          </ol>
          <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink"
              href="/lab-7/a-to-z/heart-attack/overview/">Heart attack</a></p>
        </div>
      </nav>



      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <h1>
            Treatment - heart attack
          </h1>

          <p >
            The treatment options for a heart attack depend on whether you've had an ST segment elevation myocardial
            infarction (STEMI), or another type of heart attack.
          </p>







          <section>



            <div class="nhsuk-warning-callout">
              <h3 class="nhsuk-warning-callout__label">Important</h3>
              <p>An ST segment elevation myocardial infarction <a href="javascript:void(0);">(STEMI)</a> is the most
                serious form of heart attack and requires emergency assessment and treatment. </p>

                <p>It's important you're
                treated quickly, to minimise damage to your heart after an STEMI.</p>
            </div>





            <p>If you have symptoms of a heart attack and an&nbsp;<a href="javascript:void(0);">electrocardiogram
                (ECG)</a> shows you have an STEMI, you'll be assessed for treatment to unblock your coronary arteries.
            </p>
            <p>The treatment used&nbsp;will depend on when your symptoms started and how soon you can access treatment.
            </p>
            <ul>
              <li>If your symptoms started within the past 12 hours&nbsp;–&nbsp;you'll usually be offered primary
                percutaneous coronary intervention (PCI). </li>
              <li>If your symptoms started within the past 12 hours but you cannot access PCI quickly&nbsp;–&nbsp;you'll
                be offered medicine&nbsp;to break down blood clots. </li>
              <li>If your symptoms started more than 12 hours ago&nbsp;–&nbsp;you may be offered a different procedure,
                especially if your symptoms have improved. The best course of treatment will be decided after an <a
                  href="/conditions/angiography/">angiogram</a> and may include medicine, PCI or&nbsp;bypass surgery.
              </li>
            </ul>

            <h4>Further STEMI information</h4>
            <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
              <span class="nhsuk-u-visually-hidden">Information: </span>
              <p><a href="javascript:void(0);" title="">ST segment elevation myocardial infarction (STEMI)</a></p>
              <p><a href="javascript:void(0);" title="">Electrocardiogram (ECG)</a></p>
              <p><a href="javascript:void(0);" title="">Angiogram </a></p>
            </div>



          </section>






          <section>


            <a id="primary-percutaneous-coronary-intervention-pci"></a>







            <h2>Primary percutaneous coronary intervention (PCI)</h2>
            <p>Primary percutaneous coronary intervention (PCI) is the term for emergency treatment of an STEMI. It's a
              procedure to widen the coronary artery <a href="javascript:void(0);">(coronary angioplasty)</a>.</p>
            <p><a href="javascript:void(0);">Coronary angiography</a> is done first, to assess your suitability for PCI.
            </p>
            <p>You may also be given blood-thinning medicines to prevent further clots from forming, such as <a
                href="javascript:void(0);">low-dose aspirin</a>.</p>
            <p>You may need to continue taking medicines for some time&nbsp;after PCI.</p>
            <h3>Coronary angioplasty</h3>
            <p><a href="javascript:void(0);">Coronary angioplasty</a> is a&nbsp;potentially complex procedure that
              requires specialist staff and equipment, and not all hospitals have the facilities.</p>
            <p>This means you'll need to be taken urgently, by ambulance, to one of the specialist centres (Heart Attack
              Centres) that now serve most of the UK's regions.</p>
            <p>During coronary angioplasty, a tiny tube with a sausage-shape balloon at the end (a balloon catheter) is
              put into a large artery in your groin or arm. The catheter is passed through your blood vessels and up to
              your heart, over a fine guidewire, using X-rays to guide it. </p>
            <p>Once the catheter is in the narrowed section of your coronary artery, the balloon is inflated to open it.
              Flexible metal mesh (a stent) is usually inserted into the artery to help keep it open afterwards.</p>


            <h4>Further PCI information</h4>
            <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
              <span class="nhsuk-u-visually-hidden">Information: </span>
              <p><a href="javascript:void(0);" title="">Coronary artery (coronary angioplasty)</a></p>
              <p><a href="javascript:void(0);" title="">Coronary angiography</a></p>
              <p><a href="/lab-7/a-to-z/aspirin/aspirin-low-dose/" title="">Low-dose aspirin </a></p>
            </div>

          </section>






          <section>


            <a id="medicine-to-break-down-blood-clots"></a>







            <h2>Medicine to break down blood clots</h2>
            <p>Medicines&nbsp;used to break down blood clots, known as&nbsp;thrombolytics&nbsp;or fibrinolytics, are
              usually given by injection.</p>
            <p>Thrombolytics, or fibrinolytics, target and destroy a substance called fibrin. Fibrin is a tough protein
              that makes up blood clots by acting like a sort of fibre mesh that hardens around the blood.</p>
            <p>You may also be given a medicine called a glycoprotein llb/llla inhibitor if you have an increased risk
              of experiencing another heart attack in the future. </p>
            <p>Glycoprotein IIb/IIIa inhibitors do not break up blood clots, but they prevent blood clots from getting
              bigger. They're an effective method of stopping your symptoms getting worse.</p>
              <h3>
                Beta blockers
              </h3>
              <p>
                <a href="/lab-7/a-to-z/beta-blockers"> Beta blockers</a> work mainly by slowing down the heart.</p>

              <p>They block the action of hormones like adrenaline.</p>

              <h4>Beta blockers often prescribed include</h4>
              <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p>
                  <a href="javascript:void(0)">
                    Atenolol
                   </a>
                    (also called Tenormin)
                </p>
                <p>
                  <a href="javascript:void(0)">
                    Bisoprolol
                   </a>
                    (also called Cardicor or Emcor)
                </p>
                <p>
                  <a href="javascript:void(0)">
                    Metoprolol
                   </a>
                    (also called Betaloc or Lopresor)
                </p>
                <p>
                  <a href="/lab-7/a-to-z/beta-blockers/propranolol">
                    Propranolol
                   </a>
                    (also called Inderal or Angilol)
                </p>
              </div>

          </section>






          <section>


            <a id="coronary-artery-bypass-graft"></a>







            <h2>Coronary artery bypass graft</h2>
            <p>A coronary angioplasty may not be technically possible if the anatomy of your arteries is different from
              normal. This may be the case if there are too many narrow sections in your arteries or if there are lots
              of branches coming off your arteries that are also blocked.</p>
            <p>In such circumstances, an alternative&nbsp;operation, known as a <a
                href="/conditions/coronary-artery-bypass-graft-cabg/">coronary artery bypass graft (CABG)</a>, may be
              considered. </p>
            <p>A CABG involves taking a blood vessel from another part of your body (usually your chest, leg or arm) and
              attaching it to your coronary artery above and below the narrowed area or blockage. This new blood vessel
              is known as a graft. </p>
            <p>The graft diverts blood around narrowed or clogged parts of your major arteries to improve blood flow and
              oxygen supply to your heart.</p>
            <h3>Treating non-ST segment elevation myocardial infarction (NSTEMI) and unstable angina</h3>
            <p>If an ECG shows you have an NSTEMI or unstable angina (the "less serious" types of heart attack),
              blood-thinning medicine, including aspirin and other medicines, is usually recommended.</p>
            <p>In some cases, further treatment with <a href="/conditions/coronary-angioplasty/">coronary
                angioplasty</a> or <a href="/conditions/coronary-artery-bypass-graft-cabg/">coronary artery bypass graft
                (CABG)</a> may be recommended in cases of NSTEMI or unstable angina, after initial treatment with these
              medicines.</p>

            <h4>Further information</h4>
            <div class="nhsuk-inset-text nhsuk-u-margin-top-4">
              <span class="nhsuk-u-visually-hidden">Information: </span>
              <p><a href="javascript:void(0);" title="">Coronary artery bypass graft (CABG)</a></p>
              <p><a href="javascript:void(0);" title="">Coronary angioplasty</a></p>
            </div>

          </section>



          <nav class="nhsuk-contents-list nhsuk-u-padding-top-9" role="navigation" aria-label="Pages in this guide">
            <h2 class="">More in <a href="/lab-7/a-to-z/heart-attack/">heart attack</a></a></h2>
            <ul class="nhsuk-list app-side-nav__list">

              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="/lab-7/a-to-z/heart-attack/overview/">
                  Overview
                </a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="/lab-7/a-to-z/heart-attack/symptoms/">
                  Symptoms
                </a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="/lab-7/a-to-z/heart-attack/causes/">
                  Causes
                </a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="javascript:void(0)">
                  Diagnosis
                </a>
              </li>
              <li class="app-side-nav__item app-side-nav__item--current">
                  Treatment
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="javascript:void(0)">
                  Recovery
                </a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="javascript:void(0)">
                  Complications
                </a>
              </li>
              <li class="app-side-nav__item">
                <a class="app-side-nav__link" href="javascript:void(0)">
                  Prevention
                </a>
              </li>

              <!--


                      <li class="app-side-nav__item "><a class="app-side-nav__link" href="javascript:void(0);">What is type 2 diabetes?</a></li>

                      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/diabetes/type-2-diabetes/symptoms">Symptoms</a></li>

                      <li class="app-side-nav__item"><a class="app-side-nav__link" href="javascript:void(0);">Getting diagnosed</a></li>

                      <li class="app-side-nav__item "><a class="app-side-nav__link" href="/lab-4/a-to-z/diabetes/type-2-diabetes/medicines">Medicines</a></li>

                      <li class="app-side-nav__item"><a class="app-side-nav__link" href="javascript:void(0);">Food and activity</a></li>

                      <li class="app-side-nav__item "><a class="app-side-nav__link" href="/lab-4/a-to-z/diabetes/type-2-diabetes/regular-check-ups">Regular check-ups</a></li>

                      <li class="app-side-nav__item"><a class="app-side-nav__link" href="/lab-4/a-to-z/diabetes/type-2-diabetes/health-problems">Health problems</a></li>

                      <li class="app-side-nav__item app-side-nav__item--current">Help and support</li> -->

            </ul>
          </nav>





          <div class="nhsuk-review-date">
            <p class="nhsuk-body-s">
              Page last reviewed: 28 November 2019<br>
              Next review due: 28 November 2022
            </p>
          </div>











        </div>
      </div>

    </section>

</main>

{% endblock %}