{% set version = "v2" %}
{% set pageTitle = "Accessibility statement" %}
{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a class="govuk-back-link" href="#">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <p class="govuk-body">This accessibility statement applies to a range of coronavirus test ordering and registration services for organisations. Please note they are not available to the general public.</p>
      <p class="govuk-body">We want as many people as possible to be able to use these services. For example, this means you should be able to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts</li>
        <li>zoom in up to 300% without the text spilling off the screen</li>
        <li>complete the service using just a keyboard</li>
        <li>complete the service using speech recognition software</li>
        <li>complete the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>
      <p class="govuk-body">We’ve also made all text as simple as possible to understand.</p>
      <p class="govuk-body"><a href="https://abilitynet.org.uk" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
      <h2 class="govuk-heading-m">How accessible are these services?</h2>
      <p class="govuk-body">We are aware that some parts of these services for organisations are not fully accessible. We are working as quickly as we can to improve this. Examples include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>The screen asking for the patient’s occupation is not accessible to keyboard only and screen reader users</li>
        <li>The reCAPTCHA security check is not fully accessible to those using screen readers</li>
        <li>Some fields and links are not accessible to screen reader users because of insufficient labelling</li>
        <li>The error message boxes at the top of the screen are difficult to use for keyboard only users</li>
      </ul>
      <p class="govuk-body">We are committed to making sure online services are delivered in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
      <h2 class="govuk-heading-m">Complaints</h2>
      <p class="govuk-body">If you have feedback or a complaint about the accessibility of this service, email us <a href="mailto:scas.Covid19TestingComplaints@nhs.net" class="govuk-link">scas.Covid19TestingComplaints@nhs.net</a>.</p>
      <h2 class="govuk-heading-m">Compliance status</h2>
      <p class="govuk-body">Our website-based services are partially compliant with the Web Content Accessibility Guidelines version 2.1 AA standard and we are working to make the necessary improvements.</p>
      <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
      <div class="govuk-inset-text">
        This statement was prepared on DD Month Year. It was last reviewed on DD Month Year.
      </div>
    </div>
  </div>


{% endblock %}
