{% set version = "v1" %}
{% set pageTitle = "Sorry, there's a technical problem" %}
{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-top-6 govuk-!-margin-bottom-6">Sorry, there's a technical problem</h1>
      <p class="govuk-body"><span class="govuk-!-font-weight-bold">75 tests</span> registered successfully however the following <span class="govuk-!-font-weight-bold">25 tests</span> failed and will need to be added one by one.</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <table class="govuk-table">
        <thead class="govuk-table__head govuk-body-s">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Patient</th>
            <th scope="col" class="govuk-table__header">Reason</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body govuk-body-s">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">You cannot register the same barcode twice (Reference E7001)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">You cannot register the same barcode twice (Reference E7001)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">Error while creating the patient record (Reference E400X)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">Error while creating the patient record (Reference E400X)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">Error while creating the patient test record (Reference E400X)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">You cannot register the same barcode twice (Reference E7001)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">You cannot register the same barcode twice (Reference E7001)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">Error while creating the patient record (Reference E400X)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">Error while creating the patient record (Reference E400X)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">Error while creating the patient test record (Reference E400X)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">You cannot register the same barcode twice (Reference E7001)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">You cannot register the same barcode twice (Reference E7001)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">Error while creating the patient record (Reference E400X)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">Error while creating the patient record (Reference E400X)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">Error while creating the patient test record (Reference E400X)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">You cannot register the same barcode twice (Reference E7001)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">You cannot register the same barcode twice (Reference E7001)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">Error while creating the patient record (Reference E400X)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">Error while creating the patient record (Reference E400X)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">Error while creating the patient test record (Reference E400X)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">You cannot register the same barcode twice (Reference E7001)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">You cannot register the same barcode twice (Reference E7001)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">Error while creating the patient record (Reference E400X)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">Error while creating the patient record (Reference E400X)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Firstname Lastname</td>
            <td class="govuk-table__cell">Error while creating the patient test record (Reference E400X)</td>
          </tr>
        </tbody>
      </table>

      <hr class="govuk-section-break govuk-section-break--m">

      <p class="govuk-body">If this problem reoccurs, call the customer contact centre:</p>
      <ul class="govuk-list govuk-list--bullet govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>England, Wales and Northern Ireland: call <span class="govuk-!-font-weight-bold">119</span> (free from mobiles and landlines)</li>
        <li>Scotland: call <span class="govuk-!-font-weight-bold">0300 303 2713</span> (charged at your standard network rate)</li>
      </ul>


      <form action="5">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
  </div>



{% endblock %}
