{% set version = "v16" %}
{% set serviceName = "Manage hospital coronavirus test ordering" %}
{% set pageTitle = "Elective care managment" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a class="govuk-back-link" href="#">Sign out</a>
{% endblock %}

{% block content %}

<style>
  .ccms-loader {
    border: 6px solid #DEE0E2;
    border-radius: 50%;
    border-top-color: #005EA5;
    width: 24px;
    height: 24px;
    -webkit-animation: spin 0.7s linear infinite;
    animation: spin 0.7s linear infinite;
    text-align: center;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
      <p class="govuk-body">Use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>add groups for your organisation, for example, Oncology</li>
        <li>add team members to your groups, so they can order home tests for elective care patients</li>
      </ul>
      <p>Start by adding a group</p>
      <div style="display: flex;">
        <div class="ccms-loader"></div>
        <p class="govuk-!-margin-left-2 govuk-!-margin-top-1" style="display: inline">Please wait while we find groups</p>
      </div>
    </div>
</div>

{% endblock %}
