{% set version = "v1" %}
{% extends "includes/layout.html" %}
{% set pageTitle = "There is a problem" %}
{% set serviceName = "Get a coronavirus test" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
      <p class="govuk-body">You cannot continue your journey from here.</p>
      <p class="govuk-body">We would like to take you to the start of the coronavirus test booking service.</p>
      <p class="govuk-body">Please select 'Go to the start'</p>
      <button class="govuk-button" data-module="govuk-button">
        Go to the start
      </button>
    </div>
  </div>


{% endblock %}
