{% set version = "v1" %}
{% extends "includes/layout.html" %}
{% set pageTitle = "There is a problem" %}
{% set serviceName = "Get a coronavirus test" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
      <p class="govuk-body">You’ve joined the test kit registrations process midway through the journey.</p>
      <p class="govuk-body">Return to the start to make sure your test kits are registered properly.</p>
      {{ govukButton({
        text: "Go to start",
        href: "https://coronavirus-testing-for-organisations.service.gov.uk/register-organisation-tests"
      }) }}
    </div>
  </div>

{% endblock %}
