{% set version = "v2" %}
{% set pageTitle = "There is a problem" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<!--  <a class="govuk-back-link" href="/antibody/{{version}}/order/order-summary">Back</a>-->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <h2 class="govuk-heading-m">You can only order 1 test kit </h2>

      <p class="govuk-body">It's possible you tried to order more than 1 test kit. If not, you will now need to call us to order one.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>England, Wales and Northern Ireland: call 119 (free from mobiles and landlines)</li>
        <li>Scotland: call 0300 303 2713 (charged at your standard network rate)</li>
      </ul>

      <div class="govuk-inset-text">
        <p class="govuk-body">Before you call, it's worth writing down your 16-digit invite code (it's in the text message we sent you). You'll be asked to read this out over the phone.</p>
      </div>

      <p class="govuk-body">The helpline is open from 7am to 11pm.</p>

    </div>
  </div>

{% endblock %}
