{% set version = "v1" %}
{% set pageTitle = "What is your address?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <a class="govuk-back-link" href="/pre-registration/{{version}}/postcode">Back</a>
{% endblock %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/pre-registration/{{version}}/nhs-number-known" method="post">

        <fieldset class="govuk-fieldset" aria-describedby="address-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
              {% if data['whos-taking-the-test'] == "someone-else" %}
              What is {{ data['first-name'] or "Pete" }} {{ data['last-name'] or "Smith" }}'s address?
              {% else %}
              {{ pageTitle }}
              {% endif %}
            </h1>
          </legend>
          <span id="address-hint" class="govuk-body">
            
          </span>
          <p class="govuk-!-margin-top-5">
            <strong>Postcode</strong><br><br>
            <strong>{{ data['home-postcode'] | default('LS1 3BE') }}</strong>
            <a href="/pre-registration/{{version}}/postcode" class="govuk-!-margin-left-5">
              Change
              <span class="govuk-visually-hidden">postcode</span>
            </a>
          </p>

          <div class="govuk-form-group">
            <label class="govuk-label" for="home-address">
              <strong class="govuk-!-font-size-24">Address</strong>
            </label>
            <select class="govuk-select" id="home-address" name="home-address">
              <option>Select from 5 addresses</option>
              <option value="1 Souterhead Road, London, {{ data['home-postcode'] or 'LS1 3BE' }}">1 Souterhead Road, London, {{ data['home-postcode'] or 'LS1 3BE' }}</option>
              <option value="2 Souterhead Road, London, {{ data['home-postcode'] or 'LS1 3BE' }}">2 Souterhead Road, London, {{ data['home-postcode'] or 'LS1 3BE' }}</option>
              <option value="3 Souterhead Road, London, {{ data['home-postcode'] or 'LS1 3BE' }}">3 Souterhead Road, London, {{ data['home-postcode'] or 'LS1 3BE' }}</option>
              <option value="4 Souterhead Road, London, {{ data['home-postcode'] or 'LS1 3BE' }}">4 Souterhead Road, London, {{ data['home-postcode'] or 'LS1 3BE' }}</option>
              <option value="5 Souterhead Road, London, {{ data['home-postcode'] or 'LS1 3BE' }}">5 Souterhead Road, London, {{ data['home-postcode'] or 'LS1 3BE' }}</option>
            </select>
          </div>

        </fieldset>

        {% if data['whos-taking-the-test'] == "someone-else" %}
        <p class="govuk-body"><a href="/pre-registration/{{version}}/address-manual">I can't find their address in this list</a></p>
        {% else %}
        <p class="govuk-body"><a href="/pre-registration/{{version}}/address-manual">I can't find my address in this list</a></p>
        {% endif %}

        <button class="govuk-button" type="submit" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
