{% set version = "v1" %}
{% set pageTitle = "Registering before a rapid test: 2 steps" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div> 

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
}) }}
{% endblock %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation" style="background-color:	#1d70b8;">
        <h1 class="govuk-panel__title">
          {{ pageTitle }}
        </h1>
        <div class="govuk-!-margin-left-5" style="text-align: left;">

          <div class="govuk-panel__body govuk-!-font-size-24 govuk-!-margin-bottom-5">
            <strong>What happens next</strong>
          </div>
          <div class="checkmark-box govuk-!-margin-top-5">
            <p class="govuk-body govuk-!-font-size-19 checkmark-white" style="width: 44px;">&#10004</p>
            <p class="govuk-body govuk-!-font-size-19" style="color: #ffffff;">We'll ask some general questions, to help identify you and learn more about the spread of coronavirus</p>
          </div>
          <div class="checkmark-box govuk-!-margin-bottom-5">
            <p class="govuk-body govuk-!-font-size-19 checkmark-white"><strong>2</strong></p>
            <p class="govuk-body govuk-!-font-size-19" style="color: #ffffff;">Then we'll ask about your current situation</p>
          </div>
          <form action="/pre-registration/{{version}}/do-you-have-symptoms" method="post">

            <button class="govuk-button" data-module="govuk-button" style="background-color: #ffffff; color: #000000;">Continue</button>
    
          </form>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
