{% set version = "v1" %}
{% set pageTitle = "Register before taking a rapid lateral flow test" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ pageTitle }}</h1>

      <p class="govuk-body govuk-!-font-size-24">
        Register here before you take a rapid coronavirus (COVID-19) test at a test site. You can register yourself, or someone else who is taking a test.<br></p>
            <h3 class="govuk-heading-s">Why register before your test?</h3>

      <p>Registering at home beforehand will save you time, so you do not have to do this at the test site.<br></p> 
        
       <p>Your answers will be saved on a test pass, which you bring with you. Staff at the test site will scan your pass and instantly know who you are.<br></p>
        
      <p>This is the quickest and easiest way to get yourself tested.<br></p>
   

      <h3 class="govuk-heading-s">What you’ll need:</h3>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-5">
        <li>a mobile number (for you, or for the person you're registering)</li>
      </ul>

      <h2 class="govuk-heading-m">How we use your data</h2>
      <p class="govuk-body govuk-!-margin-bottom-6">To find out how we use your personal data when you register for a coronavirus test, <a class="govuk-link" href="#">read the coronavirus privacy note.</a></p>

      <a href="/pre-registration/{{version}}/test-when" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

    </div>
  </div>
{% endblock %}
