{% extends "includes/layout.html" %}

{% block pageTitle %}
  COVID test providers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/provider-list/v1/test-kit-type">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Providers of day 2 coronavirus testing for international arrivals</h1>
      
      <p>You will be travelling into England from a country on the <span><strong>GREEN</strong></span> list. This means:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>you must have a <span><strong>negative test</strong></span> within 72 hours prior to travelling</li>
          <li>you must take a test <span><strong>on or before day 2</strong></span> after arrival</li>
          <li>you must book your day 2 test <span><strong>before travelling</strong></span></li>
          <li>you are <span><strong>not</strong></span> required to quarantine</li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--visible">
        
      <div class="govuk-inset-text">
        Prices shown in this list are indicative based on the standard testing service. COVID test providers may offer discounts or partnerships with travel providers. Check with directly with providers for details.
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Sort by
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="published">Recently published</option>
          <option value="updated" selected>Recently updated</option>
          <option value="views">Most views</option>
          <option value="comments">Most comments</option>
        </select>
      </div>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Test kit providers</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name of provider</th>
            <th scope="col" class="govuk-table__header">Price (indicative)</th>
            <th scope="col" class="govuk-table__header">Rating</th>
            <th scope="col" class="govuk-table__header">Turnaround time (hours)</th>
            <th scope="col" class="govuk-table__header">Contact telephone</th>
            <th scope="col" class="govuk-table__header">Email address</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">SameDayDoctor, partnered with Oncologica and Randox</td>
            <td class="govuk-table__cell"><strong>£105.00</strong></td>
            <td class="govuk-table__cell">3.4/5</td>
            <td class="govuk-table__cell">48</td>
            <td class="govuk-table__cell">44 (0)20 3301 1100</td>
            <td class="govuk-table__cell">hello@testingforall.org</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">SameDayDoctor, partnered with Oncologica and Randox</td>
            <td class="govuk-table__cell"><strong>£105.00</strong></td>
            <td class="govuk-table__cell">3.4/5</td>
            <td class="govuk-table__cell">48</td>
            <td class="govuk-table__cell">44 (0)20 3301 1100</td>
            <td class="govuk-table__cell">hello@testingforall.org</td>
          </tr><tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">SameDayDoctor, partnered with Oncologica and Randox</td>
            <td class="govuk-table__cell"><strong>£105.00</strong></td>
            <td class="govuk-table__cell">3.4/5</td>
            <td class="govuk-table__cell">48</td>
            <td class="govuk-table__cell">44 (0)20 3301 1100</td>
            <td class="govuk-table__cell">hello@testingforall.org</td>
          </tr><tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">SameDayDoctor, partnered with Oncologica and Randox</td>
            <td class="govuk-table__cell"><strong>£105.00</strong></td>
            <td class="govuk-table__cell">3.4/5</td>
            <td class="govuk-table__cell">48</td>
            <td class="govuk-table__cell">44 (0)20 3301 1100</td>
            <td class="govuk-table__cell">hello@testingforall.org</td>
          </tr><tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">SameDayDoctor, partnered with Oncologica and Randox</td>
            <td class="govuk-table__cell"><strong>£105.00</strong></td>
            <td class="govuk-table__cell">3.4/5</td>
            <td class="govuk-table__cell">48</td>
            <td class="govuk-table__cell">44 (0)20 3301 1100</td>
            <td class="govuk-table__cell">hello@testingforall.org</td>
          </tr><tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">SameDayDoctor, partnered with Oncologica and Randox</td>
            <td class="govuk-table__cell"><strong>£105.00</strong></td>
            <td class="govuk-table__cell">3.4/5</td>
            <td class="govuk-table__cell">48</td>
            <td class="govuk-table__cell">44 (0)20 3301 1100</td>
            <td class="govuk-table__cell">hello@testingforall.org</td>
          </tr><tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">SameDayDoctor, partnered with Oncologica and Randox</td>
            <td class="govuk-table__cell"><strong>£105.00</strong></td>
            <td class="govuk-table__cell">3.4/5</td>
            <td class="govuk-table__cell">48</td>
            <td class="govuk-table__cell">44 (0)20 3301 1100</td>
            <td class="govuk-table__cell">hello@testingforall.org</td>
          </tr><tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">SameDayDoctor, partnered with Oncologica and Randox</td>
            <td class="govuk-table__cell"><strong>£105.00</strong></td>
            <td class="govuk-table__cell">3.4/5</td>
            <td class="govuk-table__cell">48</td>
            <td class="govuk-table__cell">44 (0)20 3301 1100</td>
            <td class="govuk-table__cell">hello@testingforall.org</td>
          </tr><tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">SameDayDoctor, partnered with Oncologica and Randox</td>
            <td class="govuk-table__cell"><strong>£105.00</strong></td>
            <td class="govuk-table__cell">3.4/5</td>
            <td class="govuk-table__cell">48</td>
            <td class="govuk-table__cell">44 (0)20 3301 1100</td>
            <td class="govuk-table__cell">hello@testingforall.org</td>
          </tr><tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">SameDayDoctor, partnered with Oncologica and Randox</td>
            <td class="govuk-table__cell"><strong>£105.00</strong></td>
            <td class="govuk-table__cell">3.4/5</td>
            <td class="govuk-table__cell">48</td>
            <td class="govuk-table__cell">44 (0)20 3301 1100</td>
            <td class="govuk-table__cell">hello@testingforall.org</td>
          </tr><tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">SameDayDoctor, partnered with Oncologica and Randox</td>
            <td class="govuk-table__cell"><strong>£105.00</strong></td>
            <td class="govuk-table__cell">3.4/5</td>
            <td class="govuk-table__cell">48</td>
            <td class="govuk-table__cell">44 (0)20 3301 1100</td>
            <td class="govuk-table__cell">hello@testingforall.org</td>
          </tr><tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">SameDayDoctor, partnered with Oncologica and Randox</td>
            <td class="govuk-table__cell"><strong>£105.00</strong></td>
            <td class="govuk-table__cell">3.4/5</td>
            <td class="govuk-table__cell">48</td>
            <td class="govuk-table__cell">44 (0)20 3301 1100</td>
            <td class="govuk-table__cell">hello@testingforall.org</td>
          </tr><tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">SameDayDoctor, partnered with Oncologica and Randox</td>
            <td class="govuk-table__cell"><strong>£105.00</strong></td>
            <td class="govuk-table__cell">3.4/5</td>
            <td class="govuk-table__cell">48</td>
            <td class="govuk-table__cell">44 (0)20 3301 1100</td>
            <td class="govuk-table__cell">hello@testingforall.org</td>
          </tr><tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">SameDayDoctor, partnered with Oncologica and Randox</td>
            <td class="govuk-table__cell"><strong>£105.00</strong></td>
            <td class="govuk-table__cell">3.4/5</td>
            <td class="govuk-table__cell">48</td>
            <td class="govuk-table__cell">44 (0)20 3301 1100</td>
            <td class="govuk-table__cell">hello@testingforall.org</td>
          </tr><tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">SameDayDoctor, partnered with Oncologica and Randox</td>
            <td class="govuk-table__cell"><strong>£105.00</strong></td>
            <td class="govuk-table__cell">3.4/5</td>
            <td class="govuk-table__cell">48</td>
            <td class="govuk-table__cell">44 (0)20 3301 1100</td>
            <td class="govuk-table__cell">hello@testingforall.org</td>
          </tr><tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">SameDayDoctor, partnered with Oncologica and Randox</td>
            <td class="govuk-table__cell"><strong>£105.00</strong></td>
            <td class="govuk-table__cell">3.4/5</td>
            <td class="govuk-table__cell">48</td>
            <td class="govuk-table__cell">44 (0)20 3301 1100</td>
            <td class="govuk-table__cell">hello@testingforall.org</td>
          </tr><tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">SameDayDoctor, partnered with Oncologica and Randox</td>
            <td class="govuk-table__cell"><strong>£105.00</strong></td>
            <td class="govuk-table__cell">3.4/5</td>
            <td class="govuk-table__cell">48</td>
            <td class="govuk-table__cell">44 (0)20 3301 1100</td>
            <td class="govuk-table__cell">hello@testingforall.org</td>
          </tr><tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">SameDayDoctor, partnered with Oncologica and Randox</td>
            <td class="govuk-table__cell"><strong>£105.00</strong></td>
            <td class="govuk-table__cell">3.4/5</td>
            <td class="govuk-table__cell">48</td>
            <td class="govuk-table__cell">44 (0)20 3301 1100</td>
            <td class="govuk-table__cell">hello@testingforall.org</td>
          </tr><tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">SameDayDoctor, partnered with Oncologica and Randox</td>
            <td class="govuk-table__cell"><strong>£105.00</strong></td>
            <td class="govuk-table__cell">3.4/5</td>
            <td class="govuk-table__cell">48</td>
            <td class="govuk-table__cell">44 (0)20 3301 1100</td>
            <td class="govuk-table__cell">hello@testingforall.org</td>
          </tr><tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">SameDayDoctor, partnered with Oncologica and Randox</td>
            <td class="govuk-table__cell"><strong>£105.00</strong></td>
            <td class="govuk-table__cell">3.4/5</td>
            <td class="govuk-table__cell">48</td>
            <td class="govuk-table__cell">44 (0)20 3301 1100</td>
            <td class="govuk-table__cell">hello@testingforall.org</td>
          </tr>
        </tbody>
      </table>

    </div>
    
  </div>
{% endblock %}
