{% set version = "friction" %}
{% set pageTitle = "You can no longer get a free PCR test" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.go(-1);"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageTitle }}
      </h1>
      <p class="govuk-body">
        If you're <a href="https://www.nidirect.gov.uk/articles/treatments-coronavirus-covid-19" class="govuk-link">eligible for COVID-19 treatments</a>, you should take a rapid lateral flow test. 
      </p>

      <p class="govuk-body">
        <a href="https://www.nidirect.gov.uk/articles/treatments-coronavirus-covid-19">Find out if you're eligible for COVID-19 treatments</a>
      </p>
      <p class="govuk-body">
        <a href="https://www.gov.uk/order-coronavirus-rapid-lateral-flow-tests">Order free rapid lateral flow tests</a>
      </p>


      {# Size modifiers: xl, l, m #}
      <hr class="govuk-section-break govuk-section-break--xl">
      <h2 class="govuk-heading-m">
        If you have symptoms and you're worried
      </h2>
      <p class="govuk-body">
        If your symptoms do not get better, or get worse, contact your GP or your GP out of hours service. In an emergency dial 999.
      </p>

      

    </div>
    {# end govuk-grid-column-two-thirds #}

  </div>
  {# end govuk-grid-row #}

{% endblock %}
