{% set pageHeading = "Check the addresses" %}
{% set version = "organisational/unified-testing/v0" %}
{% set serviceName = "Organisation testing" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}


      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>
      <p>Check the addresses of the people who will be recieving the home test kits</p>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell govuk-body">Giacomo Guilizzoni<br>
            <strong>72 Guild Street, London, England, SE23 6FH</strong></td>
            <td class="govuk-table__cell govuk-body-s"><a href="">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell govuk-body">Marc Botton<br>
            <strong>54 Isle Park, London, England, N1 1PX</strong></td>
            <td class="govuk-table__cell govuk-body-s"><a href="">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell govuk-body">Mariah Maclachlan<br>
            <strong>60 Cross Road, London,England, N1 2BA</strong></td>
            <td class="govuk-table__cell govuk-body-s"><a href="">Change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell govuk-body">Valerie Liberty<br>
            <strong>Westgate Road, London, England, N1 8PT</strong></td>
            <td class="govuk-table__cell govuk-body-s"><a href="">Change</a></td>
          </tr>
        </tbody>
      </table>
      
      {{ govukButton({
        href: "/" + version + "/order-tests/home-order-summary",
        text: "Continue"
      }) }}
    </div>
  </div>

  

{% endblock %}
