{% set fullname %}
  {% if data.cuFirstName and data.cuLastName %}
    {{ data.cuFirstName }} {{ data.cuLastName }}
    {% else %}
      John Smith
  {% endif %}
{% endset %}
{% set pageHeading = "What is your home address?" %}
 {% set version = "organisational/ind-accounts/v3" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - COVID-19
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

            <!-- div for include from content folder -->
            <div id="includedContent1"></div>

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>


       <form class="" action="occupation/area" method="get">

         <div class="govuk-form-group">
           <p><span class="govuk-body govuk-!-font-weight-bold">Postcode<br></span>EC2 8YU  &nbsp;&nbsp;&nbsp;<a href="/{{ version }}/personal-details/address" class="govuk-link">Change</a></p>

         </div>

         <div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    <span class="govuk-body govuk-!-font-weight-bold">Select an address</span>
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="updated" selected>3 addresses found</option>
    <option value="published">5 Farringdon Lane, London, EC2 8YU</option>
    <option value="published">7 Farringdon Lane, London, EC2 8YU</option>
    <option value="views">12 Farringdon Lane, London, EC2 8YU</option>
  </select>
</div>

<p><a href="/{{ version }}/personal-details/address-manual" class="govuk-link">I cannot find the address in the list </a></p>

         <input class="govuk-button" type="submit" value="Continue">

       </form>

    </div>
  </div>

  <!-- corresponding html file name included from content folder -->
<script>
  $(function(){
    $("#includedContent1").load("/includes/LFD-account-menu.html");
  });
</script>

{% endblock %}
