{% extends "includes/layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/v1/registration/test-selection">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Are you able to provide blood?</h1>

      <p class="govuk-body-m">The antibody test involves drawing blood. You will not be able to take an antibody test if you are not able to draw blood, for example because you have haemophilia.</p>

      <p class="govuk-body-m">If you are unable to self-administer the blood test, you should…</p>

      <form class="form" action="/v1/registration/name" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="blood-sample-1" name="blood-sample" type="radio" value="Yes" {{ checked("blood-sample", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="blood-sample-1">
                    Yes, I am able to provide blood
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="blood-sample-2" name="blood-sample" type="radio" value="No" {{ checked("blood-sample", "No") }}>
                <label class="govuk-label govuk-radios__label" for="blood-sample-2">
                    No, I am not able to provide blood
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
