{% extends "includes/layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/v1/registration/household">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Immune status</h1>

      <p class="govuk-body-m">Are there any factors, such as medical conditions, which affect your immune status?</p>

      <form class="form" action="/v1/registration/smartphone" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="immune-status-1" name="immune-status" type="radio" value="Yes" {{ checked("immune-status", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="immune-status-1">
                    Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="immune-status-2" name="immune-status" type="radio" value="No" {{ checked("immune-status", "No") }}>
                <label class="govuk-label govuk-radios__label" for="immune-status-2">
                    No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
