{% extends "includes/layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Get a coronavirus test</h1>

      <p class="govuk-body-l">Use this service to check what tests you are eligible for and how you want to be tested.</p>

      <p class="govuk-body-l"><strong>What tests are available</strong></p>
      
      <p>There are now two types of test for coronavirus:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>An antigen test: this tells you if you currently have coronavirus</li>
        <li>An antibody test:  this tells you if you have had coronavirus in the past</li>
      </ul>

      <br>
      <p class="govuk-body-l"><strong>Who can ask for a test</strong></p>
      
      <p>You can ask for a test if:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you and others in your home if you have coronavirus symptoms now (a high temperature, a new, continuous cough, or a loss or change to your sense of smell or taste)</li>
        <li>you and others in your home if you have previously tested positive for coronavirus, or have had coronavirus symptoms and weren’t tested</li>
        <li>This service is for people in England, Scotland, Wales, and Northern Ireland.</li>
        <li>In England and Wales, you can ask for a test for a child who lives with you, whatever their age. In Scotland and Northern Ireland, you can only get a test for your child if they are aged 5 or over.</li>
        <li>If you're asking for a test for someone else, and the person is aged 13 or over, check they're happy for you to ask for a test for them.</li>
      </ul>

      <form class="form" action="/v1/registration/do-you-have-symptoms" method="post">

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
