{% set version = "v1" %}

{% extends "includes/layout.html" %}

{% block pageTitle %}
  Get a coronavirus test - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Get a coronavirus test</h1>
      <p class="govuk-body">Use this service to check what tests you are eligible for and how you want to be tested.</p>

      <h2 class="govuk-heading-m">What tests are available</h2>
      <p class="govuk-body">There are now two types of test for coronavirus:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>An antigen test: this tells you if you currently have coronavirus</li>
        <li>An antibody test:  this tells you if you have had coronavirus in the past</li>
      </ul>

      <h2 class="govuk-heading-m">Who can ask for a test</h2>
      <p class="govuk-body">You can ask for a test if:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you and others in your home if you have coronavirus symptoms now (a high temperature, a new, continuous cough, or a loss or change to your sense of smell or taste)</li>
        <li>you and others in your home if you have previously tested positive for coronavirus, or have had coronavirus symptoms and weren’t tested</li>
        <li>This service is for people in England, Scotland, Wales, and Northern Ireland.</li>
        <li>In England and Wales, you can ask for a test for a child who lives with you, whatever their age. In Scotland and Northern Ireland, you can only get a test for your child if they are aged 5 or over.</li>
        <li>If you're asking for a test for someone else, and the person is aged 13 or over, check they're happy for you to ask for a test for them.</li>
      </ul>

      <a href="/{{version}}/registration/do-you-have-symptoms" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

    </div>
  </div>

{% endblock %}
