{% set version = "v1" %}

{% extends "includes/layout.html" %}

{% block pageTitle %}
Sorry, you are not eligible for this research study - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/{{version}}/registration/comfortable-doing-test">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Sorry, you are not eligible for this research study</h1>

      <p class="govuk-body-m">Thank you for your interest in participating in this research study.</p>

      <p>Unfortunately, you do not meet all of the eligibility criteria:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>You must consent to participating in the research study</li>
        <li>You must be able to self-administer the antibody test and be able to provide blood through a finger prick blood test</li>
      </ul>

    </div>
  </div>

{% endblock %}