{% extends "includes/layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/v1/registration/email-address">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What is your occupation?</h1>

      <form class="form" action="/v1/registration/working-circumstances" method="post">

        <fieldset class="govuk-fieldset">
        
          <div class="govuk-form-group">
            <label class="govuk-label" for="occupation">
                Select an option from the list
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="occupation" name="occupation" type="text" value={{ data['occupation'] }}>
          </div>
        
        </fieldset>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
