{% set version = "v1" %}

{% extends "includes/layout.html" %}

{% block pageTitle %}
  >Have you been tested for coronavirus before? - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/{{version}}/registration/ethnic-background">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/{{version}}/registration/previously-tested-date" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Have you been tested for coronavirus before?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="previously-tested-1" name="previously-tested" type="radio" value="Yes" {{ checked("previously-tested", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="previously-tested-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="previously-tested-2" name="previously-tested" type="radio" value="No" {{ checked("previously-tested", "No") }}>
                <label class="govuk-label govuk-radios__label" for="previously-tested-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
