{% set version = "v1" %}

{% extends "includes/layout.html" %}

{% block pageTitle %}
  When was your previous coronavirus test? - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/{{version}}/registration/previously-tested">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/{{version}}/registration/previously-tested-result" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="previous-test-date-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                When was your previous coronavirus test?
              </h1>
            </legend>
            <span id="previous-test-date-hint" class="govuk-hint">
              If you have had multiple tests, enter the date of your most recent test.<br><br>
              For example 15 04 2020
            </span>
            <div class="govuk-date-input" id="previously-tested-date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="previously-tested-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="previously-tested-day" name="previously-tested-day" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value={{ data['previously-tested-day'] }}>
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="previously-tested-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="previously-tested-month" name="previously-tested-month" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value={{ data['previously-tested-month'] }}>
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="previously-tested-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="previously-tested-year" name="previously-tested-year" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false" value={{ data['previously-tested-year'] }}>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
