{% set version = "v1" %}

{% extends "includes/layout.html" %}

{% block pageTitle %}
  Do you or someone you live with have a smartphone? - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/{{version}}/registration/immune-status">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/{{version}}/registration/postcode" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="smartphone-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do you or someone you live with have a smartphone?
              </h1>
            </legend>
            <span id="smartphone-hint" class="govuk-hint">
              Answer ‘Yes’ if you or someone in your household has a smartphone that is able to download an iOS or Android app and have a working camera.<br><br>
              If you do not have a smartphone, you will still be able to take an antibody test.
            </span>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="smartphone-1" name="smartphone" type="radio" value="Yes" {{ checked("smartphone", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="smartphone-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="smartphone-2" name="smartphone" type="radio" value="No" {{ checked("smartphone", "No") }}>
                <label class="govuk-label govuk-radios__label" for="smartphone-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
