{% extends "includes/layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/v1/registration/do-you-have-symptoms">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Do you want to apply for an antigen test or an antibody test?</h1>

      <p class="govuk-body-m">An antigen test will tell you if you currently have coronavirus. You should choose an antigen test if you suspect you currently have coronavirus and as a result you are self-isolating.</p>

      <p class="govuk-body-m">An antibody test will tell you if you have ever had coronavirus. You should choose an antibody test if you think you may have had coronavirus in the past. </p>

      <form class="form" action="/v1/registration/blood-sample" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="test-selection-1" name="test-selection" type="radio" value="Antigen test" {{ checked("test-selection", "Antigen test") }}>
                <label class="govuk-label govuk-radios__label" for="test-selection-1">
                  Antigen test, to check if I currently have coronavirus
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="test-selection-2" name="test-selection" type="radio" value="Antibody test" {{ checked("test-selection", "Antibody test") }}>
                <label class="govuk-label govuk-radios__label" for="test-selection-2">
                  Antibody test, to check if I have previously had coronavirus
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
