{% set version = "v6" %}
{% set pageTitle = "We've received your order for a home test kit" %}

{% extends "includes/layout.html" %}

{% block content %}
{% include "includes/gtm-noscript.html" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-padding-8 govuk-!-margin-bottom-8">
        <h1 class="govuk-panel__title">{{ pageTitle }}</h1>
      </div>

      <h3 class="govuk-heading-m">What happens next</h3>
      <p class="govuk-body">Your coronavirus home test kit should arrive in the next 2 days.</p>
      <p class="govuk-body">The test kit contains a swab, instructions on how to use it and return packaging.</p>
      <p class="govuk-body"><strong>You'll also receive a confirmation email soon which includes your 10-digit order ID. Keep the order ID to hand, you'll need it later.</strong></p>

      <h3 class="govuk-heading-m">What to do when you receive your test kit</h3>
      <p class="govuk-body">Follow the instructions in your test kit. The instructions will tell you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>how and when to do the swab test</li>
        <li>how to register your test</li>
        <li>how to return your sample</li>
      </ul>

      <h3 class="govuk-heading-m">If you're worried</h3>
      <p class="govuk-body">If your condition gets worse or you do not get better after 7 days use the <a href="https://111.nhs.uk/covid-19/">NHS 111 online coronavirus service</a>.</p>
      <p class="govuk-body">Only call 111 if you cannot get help online. For a medical emergency dial 999.</p>

    </div>
  </div>
{% endblock %}