<div class="nhsuk-card white">
  <div class="nhsuk-card__content">
    <h3 class="nhsuk-card__heading nhsuk-u-font-size-32">
      Have an accessibility statement
    </h3>
  </div>
</div>

<h2 class="nhsuk-heading-m nhsuk-u-margin-left-5 nhsuk-u-margin-right-5" style="color: #4c6272">
  The service has published an accessibility statement that follows the <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/publishing-information-about-your-services-accessibility" class="nhsuk-link">standard set out by government</a>.
</h2>

<div class="nhsuk-card">
  <div class="nhsuk-card__content collapsible">
    <!-- <h3 class="nhsuk-card__heading">
      Government accessibility requirements
    </h3>
    <p class="nhsuk-hint">To meet government accessibility requirements, you must:</p> -->
    <ul class="separator-list no-border">
      <li>
        <strong class="nhsuk-tag nhsuk-tag--green">
          Met
        </strong>
        <p class="nhsuk-card__description">This has been completed and there is an accessibility statement in place.</p>
      </li>
      <li>
        <strong class="nhsuk-tag nhsuk-tag--orange">
          In progress
        </strong>
        <p class="nhsuk-card__description">A partial accessibility statement has been completed or it is being worked towards.</p>
      </li>
      <li>
        <strong class="nhsuk-tag nhsuk-tag--red">
          Not met
        </strong>
        <p class="nhsuk-card__description">There is no accessibility statement in place or there is an inaccurate statement.</p>
      </li>
    </ul>
  </div>
</div>