{% set version = "v1" %}
{% set pageTitle = "Organisation manager updated" %}
{% set serviceName = "COVID-19" %}
{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title govuk-!-margin-bottom-3">{{ pageTitle }}</h1>
      <p class="govuk-body govuk-!-font-weight-bold" style="color:#fff;">{ First name } { Last name } <br />{ Phone number } <br />{ Email address }</p>
    </div>

    <h3 class="govuk-heading-s govuk-!-margin-top-7">What happens next?</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>--</li>
    </ul>

    <a href="#" role="button" draggable="false" class="govuk-button govuk-!-margin-top-7" data-module="govuk-button">
      Finish
    </a>

  </div>
</div>

{% endblock %}
