{% set version = "v1" %}
{% extends "includes/layout.html" %}
{% set serviceName = "Test site results" %}
{% set pageTitle = "Are you sure you want to sign out?" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-top-6 govuk-!-margin-bottom-6">{{ pageTitle }}</h1>
      <!-- <p class="govuk-body">Your session has expired. Sign back in to continue</p> -->
      <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
        Yes, sign out
      </button>
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        No, go back
      </button>
    </div>
  </div>


{% endblock %}
