{% set version = "v1" %}
{% extends "includes/layout.html" %}
{% set serviceName = "Test site results" %}
{% set pageTitle = "Manage organisation" %}

{% block beforeContent %}
  <!-- <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div> -->
  <a class="govuk-back-link" href="javascript:window.history.go(-1);">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There's a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#field-1">Enter an organisation name</a>
            </li>
          </ul>
        </div>
      </div>

      <span class="govuk-caption-xl">{{ pageTitle }}</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Coventry Social</h1>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <form action="" method="post">

        <div class="govuk-form-group govuk-form-group--error">
          <label class="govuk-label" for="">
            Organisation name
          </label>
          <div class="govuk-hint">
            If you change the organisation name, make sure you follow any naming convention if one applies to that use case.
          </div>
          <span id="" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter an organisation name
          </span>
          <input class="govuk-input govuk-input--error govuk-!-width-one-half" id="field-1" name="search-query" type="text" value="">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="">
            Organisation ID
          </label>
          <p class="govuk-body govuk-!-margin-bottom-6">1234567890</p>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="">
            Organisation use case
          </label>
          <p class="govuk-body govuk-!-margin-bottom-6">COMMUNITY_TESTING</p>
        </div>

        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Save and continue
        </button>

        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Cancel
        </button>

      </form>



    </div>
  </div>


{% endblock %}
