{% set version = "v1" %}
{% extends "includes/layout.html" %}
{% set serviceName = "Test Site Results" %}
{% set pageTitle = "Create your sign in details" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There's a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#field-1">Enter a name</a>
            </li>
            <li>
              <a href="#field-2">Enter a username</a>
            </li>
            <li>
              <a href="#field-2">Username must be at least 6 characters</a>
            </li>
            <li>
              <a href="#field-2">Username must include both letters and numbers</a>
            </li>
            <li>
              <a href="#field-3">Enter a password</a>
            </li>
            <li>
              <a href="#field-3">Password must include at least 8 characters</a>
            </li>
            <li>
              <a href="#field-3">Password must include a lower case letter</a>
            </li>
            <li>
              <a href="#field-2">Password must include an upper case letter</a>
            </li>
            <li>
              <a href="#field-2">Password must include a special character</a>
            </li>
            <li>
              <a href="#field-3">Password must include a number</a>
            </li>
          </ul>
        </div>
      </div>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{ pageTitle }}</h1>

      <form action="" method="post">

        <div class="govuk-form-group govuk-form-group--error">
          <label class="govuk-label" for="">
            Name
          </label>
          <span id="" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter a name
          </span>
          <input class="govuk-input govuk-input--error govuk-!-width-two-thirds" id="field-1" name="" type="text">
        </div>

        <div class="govuk-form-group govuk-form-group--error">
          <label class="govuk-label" for="">
            Username
          </label>
          <div class="govuk-hint">
            Must be at least 6 characters, including both letters and numbers.
          </div>
          <span id="" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter a username
          </span>
          <span id="" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Username must be at least 6 characters
          </span>
          <span id="" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Username must include both letters and numbers
          </span>
          <input class="govuk-input govuk-input--error govuk-!-width-two-thirds" id="field-2" name="" type="text">
        </div>

        <div class="govuk-form-group govuk-form-group--error">
          <label class="govuk-label" for="">
            Password
          </label>
          <div class="govuk-hint">
            Must include:
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-2" style="color:#505a5f;">
              <li>at least 8 characters</li>
              <li>a lower case letter and an upper case letter</li>
              <li>a special character and a number</li>
            </ul>
          </div>
          <span id="" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter a password
          </span>
          <span id="" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Password must include at least 8 characters
          </span>
          <span id="" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Password must include a lower case letter
          </span>
          <span id="" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Password must include an upper case letter
          </span>
          <span id="" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Password must include a special character
          </span>
          <span id="" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Password must include a number
          </span>
          <input class="govuk-input govuk-input--error govuk-!-width-two-thirds" id="field-3" name="" type="password">
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Sign up
        </button>
      </form>

      <a href="#" class="govuk-link govuk-!-font-size-19">If you already have an account you can sign in here</a>

    </div>
  </div>


{% endblock %}
