{% set version = "v1" %}
{% extends "includes/layout.html" %}
{% set serviceName = "Test site details" %}
{% set pageTitle = "Manage test site" %}

{% block beforeContent %}
  <!-- <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div> -->
  <a class="govuk-back-link" href="javascript:window.history.go(-1);">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#passport-issued-error">Enter a correct organisation ID</a>
        </li>
      </ul>
    </div>
  </div>

      <span class="govuk-caption-xl">{{ pageTitle }}</span>
        <strong class="govuk-tag govuk-!-margin-bottom-2 govuk-tag--green">Active</strong>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Coventry test site 2</h1>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <form action="" method="post">

        <!-- <div class="govuk-form-group">
          <label class="govuk-label" for="">
            Name
          </label>
          <p class="govuk-body govuk-!-margin-bottom-6">Coventry test site 2</p>
        </div> -->

        <div class="govuk-form-group">
          <label class="govuk-label" for="">
            Test site ID
          </label>
          <p class="govuk-body govuk-!-margin-bottom-6">ABCD</p>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="">
            Unique organisation number (UON)
          </label>
          <p class="govuk-body govuk-!-margin-bottom-6">00000000</p>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="">
            Address
          </label>
          <p class="govuk-body govuk-!-margin-bottom-6">55 Hackford Road<br />London<br />EC1V 0HB<br />England</p>
        </div>

        <div class="govuk-form-group">
          <ul class="govuk-list">
          <label class="govuk-label" for="">
            Organisation name
          </label>
          <p class="govuk-body govuk-!-margin-bottom-6">Coventry University<p>


          <div class="govuk-form-group govuk-form-group--error">
            <label class="govuk-label" for="">
              Organisation ID
            </label>
            <div id="passport-issued-hint" class="govuk-hint">
          Enter the organisation ID of the organisation you want this test site to move to.
        </div>
            <span id="passport-issued-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter a correct organisation ID
            </span>
            <input class="govuk-input govuk-!-width-one-half" id="" name="search-query" type="text" value="AB">
          </div>

          <br><br>

          <a href="#" class="govuk-link govuk-link--no-visited-state">Keep current organisation</a>


        </div>



      <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
        Save and continue
      </button>

      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Cancel
      </button>

    </div>
  </div>


{% endblock %}
