{% set version = "v1" %}
{% extends "includes/layout.html" %}
{% set serviceName = "Organisation testing" %}
{% set pageTitle = "Manage team leader" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a class="govuk-back-link" href="javascript:window.history.go(-1);">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-two-thirds">

      <span class="govuk-caption-xl govuk-!-margin-bottom-4">{{ pageTitle }}</span>
      <strong class="govuk-tag govuk-!-margin-bottom-2 govuk-tag--yellow">Invited</strong>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Richard Samps</h1>
      <p class="govuk-body">Richard Samps has not yet accepted their invitation. <a href="#" class="govuk-link">Send them a temporary password by text</a></p>


      <details class="govuk-details govuk-!-margin-bottom-1" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            View associated sites (12)
          </span>
        </summary>
        <div class="govuk-details__text govuk-grid-two-thirds">
          Associated site 1<br />
          Associated site 2<br />
          Associated site 3<br />
          Associated site 4<br />
          Associated site 5<br />
          Associated site 6<br />
          Associated site 7<br />
          Associated site 8<br />
          Associated site 9<br />
          Associated site 10<br />
          Associated site 11<br />
          Associated site 12
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            View organisation managers (1)
          </span>
        </summary>
        <div class="govuk-details__text govuk-grid-two-thirds">
          Organisation manager 1
        </div>
      </details>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <form action="" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="">
            First name
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="" name="search-query" type="text" value="Richard" disabled>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="">
            Last name
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="" name="search-query" type="text" value="Samps" disabled>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="">
            Email address
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="" name="search-query" type="text" value="r.samps@email.com">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="">
            Phone number
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="" name="search-query" type="text" value="0700000000">
        </div>

        <div class="govuk-form-group govuk-!-margin-top-8">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Manage staff access at test sites
              </h1>
            </legend>
            <div class="govuk-form-group">
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" name="" type="checkbox" value="" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="">
                    This team leader can manage staff access at test sites
                  </label>
                </div>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Save and continue
        </button>

        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Cancel
        </button>

      </form>



    </div>
  </div>


{% endblock %}
