{% set version = "v1" %}
{% set serviceName = "COVID-19" %}
{% set pageTitle = "Test sample barcode has already been registered" %}

{% extends "includes/layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
        <p class="govuk-body">The test sample barcode has already been registered. Check the barcode is correct or add a different one.</p>
        <p class="govuk-body">The sample registration date and time may not be available or accurate for all sample IDs.</p>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Test kit barcode reference or URN
            </dt>
            <dd class="govuk-summary-list__value">
              CHE00000501
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sample registered
            </dt>
            <dd class="govuk-summary-list__value">
              15 August 2020, 11:18<span class="govuk-!-padding-left-9">25 hours ago</span>
            </dd>
          </div>
        </dl>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Try again"
          }) }}

          {{ govukButton({
            text: "Back to home",
            classes: "govuk-button--secondary"
          }) }}
        </div>


    </div>

  </div>

{% endblock %}
