{% set pageHeading = "Register coronavirus (COVID-19) test kits for your organisation" %}
{% set version = "organisational/lft/carehome-registration" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>
    </div>
  </div>


      <p class="govuk-body">Contents</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Overview</li>
        <li><a href="#" class="govuk-link">Before you start</a></li>
        <li><a href="#" class="govuk-link">Types of tests you can register</a></li>
        <li><a href="#" class="govuk-link">Additional information for care homes</a></li>
        <li><a href="#" class="govuk-link">Using the spreadsheet</a></li>
        <li><a href="#" class="govuk-link">Consent and privacy note</a></li>
      </ul>

  </div>
  </div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Overview</h2>

      <p>Use this service to register COVID-19 test kits on behalf of your organisation. You can register up to 100 test kits at once. Registering test kits correctly will allow us to send your results to you.
</p>
<p>In addition to registering test kits, care homes can also use this service to report the result of rapid lateral flow tests (positive, negative or void). Reporting your results will help the NHS continue to understand the spread of the virus and be in a better position to prevent further spread.
</p>


<a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg></a>


  <h2 class="govuk-heading-m">
        Types of tests you can register and report
    </h2>

    <p>There are 2 types of test kit:<p>



        <ul class="govuk-list govuk-list--bullet">
          <li>a polymerase chain reaction (PCR test) - sent to a lab</li>
          <li>a rapid lateral flow test - gives results in 30 minutes</li>
        <ul>

              <p>hakdf</p>
      <p><span class="govuk-body govuk-!-font-weight-bold">All organisations </span>can use this service to register PCR tests.</p>
        If you're registering a test for yourself, you can still use this service. You can get the results sent directly to you by entering your personal contact details.
      </p>
      <h2 class="govuk-heading-m">
        Before you start
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          read the <a href="#">online guidance pack</a> and your printed instructions
        </li>
        <li>
          if you need to, book your <a href="#">courier collection here</a>
        </li>
        <li>
          take tests on the same day you're returning the kits
        </li>

      </ul>

      <h2 class="govuk-heading-m">
        Get consent
      </h2>

      <p>Make sure people getting tested have freely given you consent to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          register them
        </li>
        <li>get their results sent to the contact details you enter</li>
      </ul>

      <h2 class="govuk-heading-m">
        What you'll need
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          your 8 digit organisation number
        </li>
        <li>
          if you're registering lots of tests, use the correct spreadsheet (if you don't have this, you can download it during this registration process)
        </li>
        <li>
          you'll need to record the details of staff and non-staff on separate spreadsheets
        </li>
        <li>
          the barcode for each test
        </li>
        <li>
          the email address (and ideally mobile number) to get the test results
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        How we use personal data
      </h2>
      <p>
        To find out how we use people’s data when you register them for a coronavirus test,
        <a href="#">read the coronavirus privacy note</a>.
      </p>

      {{ govukButton({
        text: "Start now",
        href: "/" + version + "/confirm-before?cuSingleCount=",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}

    </div>

    <div class="govuk-grid-column-one-third">

    </div>
  </div>

{% endblock %}
