{% set version = "v1" %}
{% set serviceName = electiveCareServiceName %}
{% set pageTitle = "Do you want to change this user's permissions?" %}
{% extends "includes/layout.html" %}

{% block beforeContent %}
  {% include "includes/ec-beta-banner-v1.html" %}
  <a class="govuk-back-link"  href="javascript:window.history.go(-1);">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl"> This user exists in a different organisation </h1>
            <p class="govuk-body"><strong>John Smith (john.smith1@nhs.net)</strong> must be removed from that organisation to become a user in this organisation.</p>
            <button class="govuk-button govuk-!-margin-top-6">Back to organisation management</button>
            <p class="govuk-body"> Reference: E999_CHG </p>
        </div>
    </div>
{% endblock %}