{% set pageTitle = "Accessibility and Inclusion at Test Digital" %}
{% set individualTestingHref = "individual-testing" %}
{% set OrganisationTestingHref = "organisation-testing" %}
{% set OperativeToolsHref = "operative-tools" %}

<!DOCTYPE html>
<!-- [if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><html lang="en" style="{{ html_style }}"> -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>{% block pageTitle %}{{pageTitle}} - NHS.UK{% endblock %}</title>

    <link href="https://www.nhs.uk/" rel="preconnect">
    <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>

    <link href="/public/stylesheets/nhs_application.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/public/stylesheets/nhsuk-site.css" media="all" rel="stylesheet" type="text/css" />
    <link href="https://service-manual.nhs.uk/css/main.css" media="all" rel="stylesheet" type="text/css" />

    <!-- <script src="nhsuk.min.js" defer></script> -->

    <style>
      .nhsuk-card--rag-green {
      background-color: #cce5d8;
      border-color: #004c23;
      color: #004c23;
    }

    .nhsuk-card--rag-red {
      background-color: #f7d4d1;
      border-color: #6b140e;
      color: #6b140e;
    }

    .nhsuk-card--rag-amber {
      background-color: #ffdc8e;
      border-color: #4d3708;
      color: #4d3708;
    }</style>
  </head>

  <body class="{{ bodyClasses }}">

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {% block beforeContent %}
    <header class="nhsuk-header nhsuk-header--transactional" role="banner">

      <div class="nhsuk-width-container nhsuk-header__container border-bottom-white desktop-only">

        <div class="nhsuk-width-container">
          <div class="nhsuk-card--rag-amber" style="padding:5px;">
            <strong>This dashboard is under testing. The data within is not Live.<br> Please contact <a href="mailto: kate.every1@nhs.net">kate.every1@nhs.net</a> for more information and feedback.</div>
        </div>
      </div>

      <div class="nhsuk-width-container nhsuk-header__container border-bottom-white desktop-only">
        <div class="nhsuk-header__logo nhsuk-header__logo--only"><a class="nhsuk-header__link" href="/" aria-label="NHS homepage">

            <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
              <path class="nhsuk-logo__background" fill="#005eb8" d="M0 0h40v16H0z"></path>
              <path class="nhsuk-logo__text" fill="#fff" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
            </svg>

          </a>
          <br>
        </div>
        <div class="nhsuk-header__transactional-service-name desktop-only">
          <a class="nhsuk-header__transactional-service-name--link" href="https://www.nhs.uk/nhs-services/gps/how-to-register-with-a-gp-surgery/">Test Digital</a>
        </div>
        <br>
        <div class="nhsuk-header__navigation">


      <div class="nhsuk-width-container nhsuk-header__container">
        <h1 class="nhsuk-heading-xl white-text">Accessibility and Inclusion Dashboard</h1>
        <p class="nhsuk-body white-text">This is the Test Digital Accessibility and Inclusion Dashboard which is used to track the compliance of our products.</p><p class="nhsuk-body white-text">In this context, compliance means meeting the requirements set by the Public Sector Accessibility Regulations and the GOV and NHS Service Standard.</p>
      </div>


    </header>
    {% endblock %}

    {% block bodyStart %}

    {% endblock %}

    {% block main %}
    <div class="nhsuk-width-container {{ containerClasses }}">
        <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent" role="main">

          {% block content %}

          <h2 class>Headlines</h2>


          <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

              <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content

                        ">
                  <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">11 <span class="nhsuk-u-visually-hidden">Citizen-facing products</span></p><a href="#products" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Citizen-facing products</a>
                </div>
              </div>

            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

              <div class="nhsuk-card nhsuk-card--rag-green">
                <div class="nhsuk-card__content

                        ">
                  <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">0 <span class="nhsuk-u-visually-hidden">Fully compliant</span></p><a href="#compliance" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Fully compliant</a>
                </div>
              </div>

            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

              <div class="nhsuk-card nhsuk-card--rag-amber">
                <div class="nhsuk-card__content

                        ">
                  <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">0 <span class="nhsuk-u-visually-hidden">Partially compliant</span></p><a href="#compliance" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Partially compliant</a>
                </div>
              </div>

            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

              <div class="nhsuk-card nhsuk-card--rag-red">
                <div class="nhsuk-card__content

                        ">
                  <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">0 <span class="nhsuk-u-visually-hidden">Not compliant</span></p><a href="#compliance" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Not compliant</a>
                </div>
              </div>

            </li>
          </ul>
          <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

          <h2 id="compliance">Compliance metrics</h2>
          <h3 class>Accessibility</h3>
          <ol>

            <li class="nhsuk-u-padding-left-2">
              <details class="nhsuk-details" nhsuk-polyfilled="true" id="nhsuk-details2">
                <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text2" tabindex="0" aria-expanded="false">
                  <span class="nhsuk-details__summary-text">
                    Meets level AA of WCAG 2.1
                  </span>
                </summary>
                <div class="nhsuk-details__text" id="nhsuk-details__text2" aria-hidden="true">
                      <p>
                        <strong class="nhsuk-tag nhsuk-tag--green">Fully compliant</strong><br>
                        Expert evaluation: An accessibility specialist (internal or external) has manually tested against WCAG and determined that it meets level AA of the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines (WCAG 2.1) as a minimum </a>
                      </p>

                      <p>
                        <strong class="nhsuk-tag nhsuk-tag--orange">Partially compliant</strong><br>
                        Internal evaluation: Someone on the team with limited accessibility knowledge has performed some checks
                      </p>

                      <p>
                        <strong class="nhsuk-tag nhsuk-tag--red">Not compliant</strong><br>
                        Automated evaluation or no evaluation: Just an automated tool has been run, or no evaluation has been done
                      </p>
                </div>
              </details>
            </li>

            <li class="nhsuk-u-padding-left-2">
              <details class="nhsuk-details" nhsuk-polyfilled="true" id="nhsuk-details2">
                <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text2" tabindex="0" aria-expanded="false">
                  <span class="nhsuk-details__summary-text">
                    Has an accurate accessibility statement
                  </span>
                </summary>
                <div class="nhsuk-details__text" id="nhsuk-details__text2" aria-hidden="true">
                  <p>
                    <strong class="nhsuk-tag nhsuk-tag--green">Fully compliant</strong><br>
                    Has a published accurate and up-to-date accessibility statement that explains how accessible the service is</a>
                  </p>

                  <p>
                    <strong class="nhsuk-tag nhsuk-tag--orange">Partially compliant</strong><br>
                    Has an partially complete or or outdated accessibility statement
                  </p>

                  <p>
                    <strong class="nhsuk-tag nhsuk-tag--red">Not compliant</strong><br>
                    Has no accessibility statement, or an inaccurate accessibility statement
                  </p>
                </div>
              </details>
            </li>

            <li class="nhsuk-u-padding-left-2">
              <details class="nhsuk-details" nhsuk-polyfilled="true" id="nhsuk-details3">
                <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text3" tabindex="0" aria-expanded="false">
                  <span class="nhsuk-details__summary-text">
                    Works on most commonly used assistive technology
                  </span>
                </summary>
                <div class="nhsuk-details__text" id="nhsuk-details__text3" aria-hidden="true">
                  <p>
                    <strong class="nhsuk-tag nhsuk-tag--green">Fully compliant</strong><br>
                    Tested with, and is working on, all of GDS service standard listed access technologies
                        and browsers.
                        <a href="https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies">GOV.UK: Testing with assistive technologies</a>
                  </p>

                  <p>
                    <strong class="nhsuk-tag nhsuk-tag--orange">Partially compliant</strong><br>
                    Tested with a limited number of technologies and browsers, or has been tested but is not yet fully working
                  </p>

                  <p>
                    <strong class="nhsuk-tag nhsuk-tag--red">Not compliant</strong><br>
                    Tested with non/unknown assistive technologies, or not tested with any assistive technologies
                  </p>
                </div>
              </details>
            </li>

            <li class="nhsuk-u-padding-left-2">
              <details class="nhsuk-details" nhsuk-polyfilled="true" id="nhsuk-details4">
                <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text4" tabindex="0" aria-expanded="false">
                  <span class="nhsuk-details__summary-text">
                    Disabled people are included in research
                  </span>
                </summary>
                <div class="nhsuk-details__text" id="nhsuk-details__text4" aria-hidden="true">
                  <p>
                    <strong class="nhsuk-tag nhsuk-tag--green">Fully compliant</strong><br>
                    1 in 5 research participants have an access need</a>
                  </p>

                  <p>
                    <strong class="nhsuk-tag nhsuk-tag--orange">Partially compliant</strong><br>
                    Some research conducted with users with access needs, but this is not yet regular practice
                  </p>

                  <p>
                    <strong class="nhsuk-tag nhsuk-tag--red">Not compliant</strong><br>
                    No research conducted with users with access needs
                  </p>
                </div>
              </details>
            </li>

            <li class="nhsuk-u-padding-left-2">
              <details class="nhsuk-details" nhsuk-polyfilled="true" id="nhsuk-details2">
                <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text2" tabindex="0" aria-expanded="false">
                  <span class="nhsuk-details__summary-text">
                    Has plans to resolve key accessibility issues
                  </span>
                </summary>
                <div class="nhsuk-details__text" id="nhsuk-details__text2" aria-hidden="true">
                  <p>
                    <strong class="nhsuk-tag nhsuk-tag--green">Fully compliant</strong><br>
                    No accessibility issues present, or accessibility issues scheduled in a backlog with detailed acceptance criteria and a planned release date</a>
                  </p>

                  <p>
                    <strong class="nhsuk-tag nhsuk-tag--orange">Partially compliant</strong><br>
                    Accessibility issues have been identified and added to a team backlog, but not fully detailed or scheduled yet
                  </p>

                  <p>
                    <strong class="nhsuk-tag nhsuk-tag--red">Not compliant</strong><br>
                    Accesibility issues are not being addressed by the team
                  </p>
                </div>
              </details>
            </li>

          </ol>

          <h3 class>Inclusion</h3>

          <ol>
            <li class="nhsuk-u-padding-left-2">
              <details class="nhsuk-details" nhsuk-polyfilled="true" id="nhsuk-details2">
                <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text2" tabindex="0" aria-expanded="false">
                  <span class="nhsuk-details__summary-text">
                    Diverse user groups included in research
                  </span>
                </summary>
                <div class="nhsuk-details__text" id="nhsuk-details__text2" aria-hidden="true">
                  <p>
                    <strong class="nhsuk-tag nhsuk-tag--green">Fully compliant</strong><br>
                    1 in 5 research participants are from a group we know less about</a>
                  </p>

                  <p>
                    <strong class="nhsuk-tag nhsuk-tag--orange">Partially compliant</strong><br>
                    Some research conducted with users from groups we know less about, but this is not yet regular practice
                  </p>

                  <p>
                    <strong class="nhsuk-tag nhsuk-tag--red">Not compliant</strong><br>
                    No research conducted with users with groups we know less about
                  </p>
                </div>
              </details>
            </li>

            <li class="nhsuk-u-padding-left-2">
              <details class="nhsuk-details" nhsuk-polyfilled="true" id="nhsuk-details3">
                <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text3" tabindex="0" aria-expanded="false">
                  <span class="nhsuk-details__summary-text">
                    Regular end-to-end usability testing
                  </span>
                </summary>
                <div class="nhsuk-details__text" id="nhsuk-details__text3" aria-hidden="true">
                  <p>
                    <strong class="nhsuk-tag nhsuk-tag--green">Fully compliant</strong><br>
                    Evidence that the team conducts regular end-to-end usability testing with a range of users</a>
                  </p>

                  <p>
                    <strong class="nhsuk-tag nhsuk-tag--orange">Partially compliant</strong><br>
                    Some ad hoc end-to-end usability testing done with users
                  </p>

                  <p>
                    <strong class="nhsuk-tag nhsuk-tag--red">Not compliant</strong><br>
                    No regular end-to-end usability testing done with users
                  </p>
                </div>
              </details>
            </li>

            <li class="nhsuk-u-padding-left-2">
              <details class="nhsuk-details" nhsuk-polyfilled="true" id="nhsuk-details4">
                <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text4" tabindex="0" aria-expanded="false">
                  <span class="nhsuk-details__summary-text">
                    Exclusion mapping completed
                  </span>
                </summary>
                <div class="nhsuk-details__text" id="nhsuk-details__text4" aria-hidden="true">
                  <p>
                    <strong class="nhsuk-tag nhsuk-tag--green">Fully compliant</strong><br>
                    Exclusion mapping activity carried out with the full team and outputs translated into tickets on the backlog to improve inclusivity of the service</a>
                  </p>

                  <p>
                    <strong class="nhsuk-tag nhsuk-tag--orange">Partially compliant</strong><br>
                    Exclusion mapping exercise planned, but not completed yet
                  </p>

                  <p>
                    <strong class="nhsuk-tag nhsuk-tag--red">Not compliant</strong><br>
                    No exclusion mapping exercise undertaken
                  </p>
                </div>
              </details>
            </li>
          </ol>


          <h3 class>Standards</h3>
            <p>If services are compliant with the metrics above, they will be in line with the regulations and standards detailed here.</p>

              <details class="nhsuk-details" nhsuk-polyfilled="true" id="nhsuk-details0">
                <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text0" tabindex="0" aria-expanded="false">
                  <span class="nhsuk-details__summary-text">
                    Public sector regulations (legal requirement)
                  </span>
                </summary>
                <div class="nhsuk-details__text" id="nhsuk-details__text0" aria-hidden="true">
                  <ul>
                    <li>
                      <p>
                        Meet <a href="https://www.legislation.gov.uk/uksi/2018/952/made">the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018</a>
                      </p>
                      <p>
                        Meet <a href="https://www.w3.org/TR/WCAG21/">WCAG 2.1</a> to level AA (except where there are exceptions or disproportionate burden). This is in line with current NHS Digital policy: <a href="https://service-manual.nhs.uk/accessibility/what-all-NHS-services-need-to-do">What all NHS services need to do about accessibility</a>
                      </p>
                    </li>
                    <li>
                      <p>
                        Have an accessibility statement that complies with requirements <a href="https://www.gov.uk/guidance/make-your-website-or-app-accessible-and-publish-an-accessibility-statement#publish-your-accessibility-statement">GOV.UK: Guidance - Make your website or app accessible and publish an accessibility statement</a>
                      </p>
                    </li>
                  </ul>
                </div>
              </details>


              <details class="nhsuk-details" nhsuk-polyfilled="true" id="nhsuk-details1">
                <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text1" tabindex="0" aria-expanded="false">
                  <span class="nhsuk-details__summary-text">
                    GOV and NHS accessibility Standard
                  </span>
                </summary>
                <div class="nhsuk-details__text" id="nhsuk-details__text1" aria-hidden="true">
                  <ul>
                    <li>
                      <p>
                        Meet WCAG 2.1 to level AA (except where there are exceptions or
                        disproportionate burden)
                      </p>
                    </li>
                    <li>
                      <p>
                        Have an accessibility statement that complies with requirements
                      </p>
                    </li>
                    <li>
                      <p>
                        Has been tested and is compatible with specific AT and browser
                        combinations <a href="https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies">GOV.UK: Technology - Testing with assistive technologies</a>
                      </p>
                    </li>
                    <li>
                      <p>
                        User with a range of access needs have been included in User
                        Research sessions in the design and testing of the service
                      </p>
                    </li>
                  </ul>
                </div>
              </details>



          <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

          <h2 id="products">Our products</h2>
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Lite Registration
              </span>
            </summary>
            <div class="nhsuk-details__text">
            <table class="nhsuk-table">
              <caption class="nhsuk-table__caption">Compliance</caption>
              <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                  <th role="columnheader" class="" scope="col">
                    Metric
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Compliance
                  </th>
                </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">A1. WCAG 2.1 AA</td>
                  <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--red">Not compliant</strong></td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">A2. Accessibility statement</td>
                  <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--green">Fully compliant</strong></td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">A3. Assistive tech</td>
                  <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--orange">Partially compliant</strong></td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">A4. UR access needs</td>
                  <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--orange">Partially compliant</strong></td>
                </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">A5. Accessibility fixes</td>
                    <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--red">Not compliant</strong></td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">I1. UR diversity</td>
                    <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--grey">Not known</strong></td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">I2. End-to-end testing</td>
                    <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--grey">Not known</strong></td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">I3. Exclusion mapping</td>
                    <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--grey">Not known</strong></td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell"><strong>Public sector regulations</strong></td>
                    <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--orange">Partially compliant</strong></td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell"><strong>GOV and NHS standard</strong></td>
                    <td class="nhsuk-table__cell "><strong class="nhsuk-tag nhsuk-tag--orange">Partially compliant</strong></td>
                  </tr>
                </tr>
              </tbody>
            </table>
          </div>
          </details>






          {% endblock %}
        </form>
      </main>
    </div>
    {% endblock %}

  </body>

  {% block bodyEnd %}
  <footer role="contentinfo">
    <div class="nhsuk-footer" id="nhsuk-footer">
      <div class="nhsuk-width-container">
        <h2 class="nhsuk-u-visually-hidden">Support links</h2>
        <ul class="nhsuk-footer__list">
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#">Home</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#">Get in touch</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#">UCD Team</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://github.com/NHSDigital/nhs-antibody-testing-registration-prototype">Github</a></li>
        </ul>

        <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>

        <p class="nhsuk-footer__list-item nhsuk-u-margin-top-5 desktop-only">All content is available under the <a href="#">Open Government Licence v3.0</a>, except where otherwise stated.</p>
      </div>
    </div>
  </footer>
  {% endblock %}
</html>
