{% set pageTitle = "Antibody Testing" %}
<!DOCTYPE html>
<!-- [if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><html lang="en" style="{{ html_style }}"> -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>{% block pageTitle %}{{pageTitle}} - NHS.UK{% endblock %}</title>

    <link href="https://www.nhs.uk/" rel="preconnect">
    <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>

    <link href="/public/stylesheets/nhs_application.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/public/stylesheets/nhsuk-site.css" media="all" rel="stylesheet" type="text/css" />

    <!-- <script src="nhsuk.min.js" defer></script> -->
  </head>

  <body class="{{ bodyClasses }}">

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {% block beforeContent %}
    <header class="nhsuk-header nhsuk-header--transactional" role="banner">
      <div class="nhsuk-width-container nhsuk-header__container border-bottom-white desktop-only">
        <div class="nhsuk-header__logo nhsuk-header__logo--only"><a class="nhsuk-header__link" href="/" aria-label="NHS homepage">

            <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
              <path class="nhsuk-logo__background" fill="#005eb8" d="M0 0h40v16H0z"></path>
              <path class="nhsuk-logo__text" fill="#fff" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
            </svg>

          </a>
        </div>
        <div class="nhsuk-header__transactional-service-name desktop-only">
          <a class="nhsuk-header__transactional-service-name--link" href="https://www.nhs.uk/nhs-services/gps/how-to-register-with-a-gp-surgery/">Digital testing</a>
        </div>

      </div>

      <div class="nhsuk-width-container nhsuk-header__container">
        <h1 class="nhsuk-heading-xl white-text">{{ pageTitle }}</h1>
        <p class="nhsuk-body white-text">Testing to see if a subject has ever had covid.</p>
      </div>

    </header>

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/individual-testing">Individual based services</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/individual-testing">Back to Individual based services</a></p>
      </div>
    </nav>

    {% endblock %}

    {% block bodyStart %}

    {% endblock %}

    {% block main %}
    <div class="nhsuk-width-container {{ containerClasses }}">
        <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent" role="main">

          {% block content %}
          <h2>In research</h2>
          <p><strong>See what's in testing this week:</strong></p>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                4th April 2021 - 8th April 2022
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p class="nhsuk-body">There's nothing in testing this week.</p>
              <!-- <ul class="nhsuk-list spaced">
                <li>
                  <strong>TCP-345: Follow-up test</strong> - copy changes<br>
                  <a class="nhsuk-link" href="https://govuk-testing-prototype.herokuapp.com/antigen/v2/refer-and-triage/follow-up-test">https://govuk-testing-prototype.herokuapp.com/antigen/v2/refer-and-triage/follow-up-test</a>
                </li>
              </ul> -->
              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="research-antibody-previous">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                  </svg>
                  <span class="nhsuk-action-link__text">See all previous updates</span>
                </a>
              </div>
            </div>
          </details>

          <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

          <h2 class="nhsuk-heading-l">User Journeys</h2>

          <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

              <div class="nhsuk-card">
                <div class="nhsuk-card__content">
                  <h3 class="nhsuk-card__heading">
                    Antibody testing
                  </h3>
                  <p class="nhsuk-card__description">
                    Subjects register to request a test. Once registered, they get an email or text message inviting them to order a test kit, which might be a few weeks later depending on the criteria for tests.
                  </p>
                  <a class="nhsuk-card__link stackable" href="#">In Development</a><br>
                  <a class="nhsuk-card__link stackable" href="#">Live Service</a><br>
                  <a class="nhsuk-card__link stackable" href="#">Github source</a><br>
                  <a class="nhsuk-card__link stackable" href="#">In Design - Prototype used in UR (N/A)</a>
                </div>
              </div>

            </li>

          </ul>

          <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

          <h3 class="nhsuk-heading-m">Feedback</h3>

          <p class="nhsuk-body">
            If you have any questions you can <a href="#">message us on Slack</a>. You will need a Slack account if you do not have one. Or you can <a href="#">contact us by email</a>.
          </p>

          {% endblock %}
        </form>
      </main>
    </div>
    {% endblock %}

  </body>

  {% block bodyEnd %}
  <footer role="contentinfo">
    <div class="nhsuk-footer" id="nhsuk-footer">
      <div class="nhsuk-width-container">
        <h2 class="nhsuk-u-visually-hidden">Support links</h2>
        <ul class="nhsuk-footer__list">
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="index-new.html">Home</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#">Get in touch</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#">UCD Team</a></li>
        </ul>

        <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>

        <p class="nhsuk-footer__list-item nhsuk-u-margin-top-5 desktop-only">All content is available under the <a href="#">Open Government Licence v3.0</a>, except where otherwise stated.</p>
      </div>
    </div>
  </footer>
  {% endblock %}

</html>
