{% set pageTitle = "Elective Care" %}
<!DOCTYPE html>
<!-- [if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><html lang="en" style="{{ html_style }}"> -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>{% block pageTitle %}{{pageTitle}} - NHS.UK{% endblock %}</title>

    <link href="https://www.nhs.uk/" rel="preconnect">
    <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>

    <link href="/public/stylesheets/nhs_application.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/public/stylesheets/nhsuk-site.css" media="all" rel="stylesheet" type="text/css" />

    <!-- <script src="nhsuk.min.js" defer></script> -->
  </head>

  <body class="{{ bodyClasses }}">

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {% block beforeContent %}
    <header class="nhsuk-header nhsuk-header--transactional" role="banner">
      <div class="nhsuk-width-container nhsuk-header__container border-bottom-white desktop-only">
        <div class="nhsuk-header__logo nhsuk-header__logo--only"><a class="nhsuk-header__link" href="/" aria-label="NHS homepage">

            <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
              <path class="nhsuk-logo__background" fill="#005eb8" d="M0 0h40v16H0z"></path>
              <path class="nhsuk-logo__text" fill="#fff" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
            </svg>

          </a>
        </div>
        <div class="nhsuk-header__transactional-service-name desktop-only">
          <a class="nhsuk-header__transactional-service-name--link" href="https://www.nhs.uk/nhs-services/gps/how-to-register-with-a-gp-surgery/">Digital testing</a>
        </div>

      </div>

      <div class="nhsuk-width-container nhsuk-header__container">
        <h1 class="nhsuk-heading-xl white-text">{{ pageTitle }}</h1>
        <p class="nhsuk-body white-text">Services used by NHS Trusts and UKHSA to order and manage elective care coronavirus home testing.</p>
      </div>

    </header>

    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/organisation-testing">Organisation based services</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/organisation-testing">Organisation based services</a></p>
      </div>
    </nav>

    {% endblock %}

    {% block bodyStart %}

    {% endblock %}

    {% block main %}
    <div class="nhsuk-width-container {{ containerClasses }}">
        <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent" role="main">

          {% block content %}
          <h2>In research</h2>
          <p><strong>See what's in testing this fortnite:</strong></p>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                29 August 2022 - 09 September 2022
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <ul class="nhsuk-list spaced">
                <li>
                  AC-687: Spreadsheet gender validation
                  <ul class="nhsuk-u-margin-top-2">
                    <li><a target="_blank" href="https://bluesquirrel.atlassian.net/browse/AC-687" class="govuk-link">View Jira ticket (opens in new tab)</a></li>
                  </ul>
                </li>
              </ul>
              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="research-elective-care-previous">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                  </svg>
                  <span class="nhsuk-action-link__text">See all previous updates</span>
                </a>
              </div>
            </div>
          </details>

          <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

          <h2 class="nhsuk-heading-l">User Journeys</h2>

          <ul class="nhsuk-grid-row nhsuk-card-group">

            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
              <div class="nhsuk-card">
                <div class="nhsuk-card__content">
                  <h3 class="nhsuk-card__heading">
                    Elective Care Coronavirus Home Testing Service (ECCHTS)
                  </h3>
                  <p class="nhsuk-card__description">
                    A service for NHS Trusts to request tests to be sent to patients who have upcoming procedures. They can also manage their organisation, view results and cancel test orders.
                  </p>
                  <details class="nhsuk-details nhsuk-u-margin-bottom-2">
                    <summary class="nhsuk-details__summary">
                      <span class="nhsuk-details__summary-text">
                        In Design
                      </span>
                    </summary>
                    <div class="nhsuk-details__text">
                      TTOLDT-489: Content for blocking all testing
                      <ul class="nhsuk-u-margin-top-2">
                        <li><a target="_blank" href="/OBT/elective-care/feature-design/TTOLDT-489_block_testing/patient-testing-portal/login-v1" class="govuk-link">View prototype (opens in new tab)</a></li>
                        <li><a target="_blank" href="https://bluesquirrel.atlassian.net/browse/TTOLDT-489" class="govuk-link">View Jira ticket (opens in new tab)</a></li>
                      </ul>
                      AC-687: Ordering LFTs and PCRs
                      <ul class="nhsuk-u-margin-top-2">
                        <li><a target="_blank" href="/OBT/elective-care/feature-design/AC-687_lft_and_pcr/v1/patient-testing-portal/login-v1" class="govuk-link">View prototype (opens in new tab)</a></li>
                        <li><a target="_blank" href="https://bluesquirrel.atlassian.net/browse/AC-687" class="govuk-link">View Jira ticket (opens in new tab)</a></li>
                      </ul>
                      TTOLDT-490: Sign Out in header to align with GDS
                      <ul class="nhsuk-u-margin-top-2">
                        <li><a target="_blank" href="/OBT/elective-care/feature-design/TTOLDT-490_sign_out/homepage-v1" class="govuk-link">View prototype (opens in new tab)</a></li>
                        <li><a target="_blank" href="https://bluesquirrel.atlassian.net/browse/TTOLDT-490" class="govuk-link">View Jira ticket (opens in new tab)</a></li>
                      </ul>
                      TTOLDT-491: Link from error pages to go to service homepage
                      <ul class="nhsuk-u-margin-top-2">
                        <li><a target="_blank" href="/OBT/elective-care/feature-design/TTOLDT-491_error_go_home/error-v1" class="govuk-link">View prototype (opens in new tab)</a></li>
                        <li><a target="_blank" href="https://bluesquirrel.atlassian.net/browse/TTOLDT-491" class="govuk-link">View Jira ticket (opens in new tab)</a></li>
                      </ul>
                    </div>
                  </details>
                  <ul style="list-style: none; padding-left: 0">
                    <li><a class="nhsuk-card__link stackable" href="/OBT/elective-care/e2e-prototypes/patient-testing-portal/login-v1">Live Service Flow</a></li>
                    <li><a class="nhsuk-card__link stackable" href="https://coronavirus-testing-for-organisations.service.gov.uk/register-elective-care">Production Service</a></li>
                    <li><a class="nhsuk-card__link stackable" href="https://github.com/NHSDigital/nhs-antibody-testing-registration-prototype/tree/master/app/views/OBT/elective-care/e2e-prototypes/patient-testing-portal">Github source</a></li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
              <div class="nhsuk-card">
                <div class="nhsuk-card__content">
                  <h3 class="nhsuk-card__heading">
                    Organisational Management
                  </h3>
                  <p class="nhsuk-card__description">
                    A service used by the Elective Care Support team to manage all the organisations using the Elective Care Coronavirus Home Testing Service.
                  </p>
                  <details class="nhsuk-details nhsuk-u-margin-bottom-2">
                    <summary class="nhsuk-details__summary">
                      <span class="nhsuk-details__summary-text">
                        In Design
                      </span>
                    </summary>
                    <div class="nhsuk-details__text">
                      TTOLDT-489: Content for blocking all testing
                      <ul class="nhsuk-u-margin-top-2">
                        <li><a target="_blank" href="/OBT/elective-care/feature-design/TTOLDT-489_block_testing/organisational-management-portal/orgs-list-v1" class="govuk-link">View prototype (opens in new tab)</a></li>
                        <li><a target="_blank" href="https://bluesquirrel.atlassian.net/browse/TTOLDT-489" class="govuk-link">View Jira ticket (opens in new tab)</a></li>
                      </ul>
                    </div>
                  </details>
                  <ul style="list-style: none; padding-left: 0">
                    <li><a class="nhsuk-card__link stackable" href="/OBT/elective-care/e2e-prototypes/organisational-management-portal/orgs-list-v1">Live Service Flow</a></li>
                    <li><a class="nhsuk-card__link stackable" href="https://coronavirus-testing-for-organisations.service.gov.uk/org-admin/user-management" target="_blank">Production Service</a></li>
                    <li><a class="nhsuk-card__link stackable" href="https://github.com/NHSDigital/nhs-antibody-testing-registration-prototype/tree/master/app/views/OBT/elective-care/e2e-prototypes/organisational-management-portal">Github source</a></li>
                  </ul>
                </div>
              </div>
            </li>

          </ul>

          <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

          <h3 class="nhsuk-heading-m">Feedback</h3>

          <p class="nhsuk-body">
            This area is maintained by the Organisation-based testing team. If you have any questions you can message us on the FasterTesting Slack through the channel &#35;ext-ec-digitalteam.
          </p>

          <p class="nhsuk-hint nhsuk-u-margin-top-8">
            Updated May 2022
          </p>

          {% endblock %}
        </form>
      </main>
    </div>
    {% endblock %}

  </body>

  {% block bodyEnd %}
  <footer role="contentinfo">
    <div class="nhsuk-footer" id="nhsuk-footer">
      <div class="nhsuk-width-container">
        <h2 class="nhsuk-u-visually-hidden">Support links</h2>
        <ul class="nhsuk-footer__list">
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="index">Home</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" target="blank" href="#">Accessibility statement</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" target="blank" href="https://fastertestinggroup.slack.com/team/U017M70EJ1H">Get in touch</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" target="blank" href="#">UCD Team</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" target="blank" href="https://github.com/NHSDigital/nhs-antibody-testing-registration-prototype">Github</a></li>
        </ul>

        <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>

        <p class="nhsuk-footer__list-item nhsuk-u-margin-top-5 desktop-only">All content is available under the <a href="#">Open Government Licence v3.0</a>, except where otherwise stated.</p>
      </div>
    </div>
  </footer>
  {% endblock %}

</html>
