<!DOCTYPE html>
<!-- [if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><html lang="en" style="{{ html_style }}"> -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>{% block pageTitle %}{{pageTitle}} - NHS.UK{% endblock %}</title>

    <link href="https://www.nhs.uk/" rel="preconnect">
    <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>

    <link href="/public/stylesheets/nhs_application.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/public/stylesheets/nhsuk-site.css" media="all" rel="stylesheet" type="text/css" />

    <!-- <script src="nhsuk.min.js" defer></script> -->
  </head>

  <body class="{{ bodyClasses }}">

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {% block bodyStart %}

    {% endblock %}

    {% block main %}
    <div class="nhsuk-width-container {{ containerClasses }}">
        <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent" role="main">

          {% block content %}
          <h2 class="nhsuk-heading-l">This page has been moved to <a href="index">https://nhsuk-antibody-testing-service.herokuapp.com/</a></h2>

          {% endblock %}
        </form>
      </main>
    </div>
    {% endblock %}

  </body>

</html>


