
{% extends "includes/layout.html" %}

{% block pageTitle %}
  Get a coronavirus test prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Get a coronavirus test prototypes</h1>


      <h2 class="govuk-heading-m">Antibody</h2>



      <h3 class="govuk-heading-s">MVP version</h3>
      <p class="govuk-body">Aligned to what was delivered on the 24th July.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/antibody/v1/govuk/">GOV.UK coronavirus page</a>
        </li>
<!--        <li>-->
<!--          <a href="/antibody/v1/nhsuk/">NHS.UK coronavirus hub</a>-->
<!--        </li>-->
        <li>
          <a href="/antibody/v1/refer-and-triage/">Refer and triage</a>
        </li>
        <li>
          <a href="/antibody/v1/sms/">Invitation to order - SMS message</a></li>
        </li>
        <li>
          <a href="/antibody/v1/global-registration/invitation-code">Global Registration</a>
        </li>
        <li>
          <a href="/antibody/v1/home-testing/">Home ordering portal</a>
          <details class="govuk-details govuk-!-margin-top-2 govuk-!-margin-bottom-0" data-module="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Error pages
            </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="/antibody/v1/home-testing/token-fail">Token error: missing or invalid</a></li>
                <li><a href="/antibody/v1/home-testing/order-fail">Token error: token already used</a></li>
                <li><a href="/antibody/v1/home-testing/no-home-tests">Stock check fail: no more test kits available</a></li>
                <li><a href="/antibody/v1/home-testing/confirm-identity-fail">TransUnion fail: could not confirm identity</a></li>
                <li><a href="/antibody/v1/home-testing/there-is-a-problem">Recaptcha error: interaction was likely a bot</a></li>
                <li><a href="/antibody/v1/home-testing/offline">Home ordering is offline for maintenance</a></li>
              </ul>
            </div>
          </details>
        </li>
        <li>
          <a href="/antibody/v1/sms/order-confirmed">Order confirmed - SMS message</a></li>
        </li>

      </ul>


      <h3 class="govuk-heading-s">Research version v3</h3>
      <p class="govuk-body">Aspirational version - Including post MVP features in releases 1.1 nad 1.2</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/antibody/v3/govuk/">GOV.UK coronavirus page</a>
        </li>
        <!--        <li>-->
        <!--          <a href="/antibody/v1/nhsuk/">NHS.UK coronavirus hub</a>-->
        <!--        </li>-->
        <li>
          <a href="/antibody/v3/refer-and-triage/">Refer and triage</a>
        </li>
        <li>
          <a href="/antibody/v3/sms/">Invitation to order - SMS message</a></li>
        </li>
        <li>
          <a href="/antibody/v3/global-registration/invitation-code">Global Registration</a>
        </li>
        <li>
          <a href="/antibody/v3/home-testing/please-wait">Home ordering portal</a>

          <details class="govuk-details govuk-!-margin-top-2 govuk-!-margin-bottom-0" data-module="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Error pages
            </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="/antibody/v3/home-testing/token-fail">Token error: missing or invalid</a></li>
                <li><a href="/antibody/v3/home-testing/order-fail">Token error: token already used</a></li>
                <li><a href="/antibody/v3/home-testing/no-home-tests">Stock check fail: no more test kits available</a></li>
                <li><a href="/antibody/v3/home-testing/confirm-identity-fail">TransUnion fail: could not confirm identity</a></li>
                <li><a href="/antibody/v3/home-testing/there-is-a-problem">Recaptcha error: interaction was likely a bot</a></li>
                <li><a href="/antibody/v3/home-testing/offline">Home ordering is offline for maintenance</a></li>
              </ul>
            </div>
          </details>


        </li>
        <li>
          <a href="/antibody/v2/sms/order-confirmed">Order confirmed - SMS message</a></li>
        </li>

      </ul>

      <h2 class="govuk-heading-m">Antigen</h2>
      <p class="govuk-body"></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/antigen/v1/govuk/">GOV.UK coronavirus page</a>
        </li>
        <li>
          <a href="/antigen/v1/refer-and-triage/">Refer and triage</a>
        </li>
        <li>
          <a href="/antigen/v1/global-registration/">Global registration</a>
        </li>
        <li>
          <a href="/antigen/v1/site-appointment-booking/choose-drive-through-site">Site appointment registration</a>
        </li>
        <li>
          <a href="/antigen/v1/order-home-test-kit/">Ordering a home test kit</a>
        </li>
        <li>
          <a href="/antigen/v1/home-testing/">Registering a home test kit</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Elective Care Testing</h2>
      <p class="govuk-body"></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/elective-care-testing/v1/trust-worker-request">Trust worker request</a>
        </li>
        <li>
          <a href="/elective-care-testing/v1/patient-register">Patient register</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Organisation order and registration</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/organisational/register/v2/index">MVP candidate for 21 July 2020 (After content review)</a>
          <details class="govuk-details govuk-!-margin-top-2 govuk-!-margin-bottom-0" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Pages
              </span>
            </summary>
            <div class="govuk-details__text">
              <h2 class="govuk-heading-s">User journey</h2>
              <ul class="govuk-list">
                <li>
                  <a href="/organisational/register/v2/index">Register test kits for your organisation</a>
                </li>

                <li>
                  <a href="/organisational/register/v2/confirm-before">Confirm before you register your tests</a>
                </li>

                <li>
                  <a href="/organisational/register/v2/choose-org">Which type of organisation are you?</a>
                </li>

                <li>
                  <a href="/organisational/register/v2/id">What's your organisation number?</a>
                </li>

                <li>
                  <a href="/organisational/register/v2/org-postcode">What's your organisation's postcode?</a>
                </li>

                <li>
                  <a href="/organisational/register/v2/how">How do you want to register tests?</a>
                </li>
              </ul>

                <h3 class="govuk-heading-s">Single registration</h3>
                <ul class="govuk-list">
                  <li>
                    <a href="/organisational/register/v2/single/staff">Are you registering staff?</a>
                  </li>

                </ul>


                <h3 class="govuk-heading-s">Bulk registration</h3>

                <h2 class="govuk-heading-s">Errors</h2>
                <p>
                  <a href="/organisational/register/v2/errors/">Error page index</a>
                </p>


            </div>
          </details>
        </li>
        <li>
          <a href="/organisational/register/v1/index">MVP candidate for 17 July 2020</a>
        </li>
        <li>
          <a href="/organisational/register/v0/index">Live service (Single registration - Captured 10 July 2020 )</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
