
{% extends "includes/layout.html" %}

{% block pageTitle %}
  Get a coronavirus test prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Get a coronavirus test prototypes</h1>

      <h2 class="govuk-heading-m">MVP version</h2>
      <p class="govuk-body">Aligned to what is being delivered on the 22nd July.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/antibody/v1/govuk/">GOV.UK coronavirus page</a>
        </li>
<!--        <li>-->
<!--          <a href="/antibody/v1/nhsuk/">NHS.UK coronavirus hub</a>-->
<!--        </li>-->
        <li>
          <a href="/antibody/v1/refer-and-triage/">Refer and triage</a>
        </li>
        <li>
          <a href="/antibody/v1/sms/">Invitation to order - SMS message</a></li>
        </li>
        <li>
          <a href="/antibody/v1/global-registration/invitation-code">Global Registration</a>
        </li>
        <li>
          <a href="/antibody/v1/home-testing/">Home ordering portal</a>
          <details class="govuk-details govuk-!-margin-top-2 govuk-!-margin-bottom-0" data-module="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Error pages
            </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="/antibody/v1/home-testing/token-fail">Token error: missing or invalid</a></li>
                <li><a href="/antibody/v1/home-testing/order-fail">Token error: token already used</a></li>
                <li><a href="/antibody/v1/home-testing/no-home-tests">Stock check fail: no more test kits available</a></li>
                <li><a href="/antibody/v1/home-testing/confirm-identity-fail">TransUnion fail: could not confirm identity</a></li>
                <li><a href="/antibody/v1/home-testing/there-is-a-problem">Recaptcha error: interaction was likely a bot</a></li>
                <li><a href="/antibody/v1/home-testing/offline">Home ordering is offline for maintenance</a></li>
              </ul>
            </div>
          </details>
        </li>
        <li>
          <a href="/antibody/v1/sms/order-confirmed">Order confirmed - SMS message</a></li>
        </li>

      </ul>


      <h2 class="govuk-heading-m">Research version</h2>
      <p class="govuk-body">Aspirational version - Including post MVP features</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/antibody/v2/govuk/">GOV.UK coronavirus page</a>
        </li>
        <!--        <li>-->
        <!--          <a href="/antibody/v1/nhsuk/">NHS.UK coronavirus hub</a>-->
        <!--        </li>-->
        <li>
          <a href="/antibody/v2/refer-and-triage/">Refer and triage</a>
        </li>
        <li>
          <a href="/antibody/v2/sms/">Invitation to order - SMS message</a></li>
        </li>
        <li>
          <a href="/antibody/v2/global-registration/invitation-code">Global Registration</a>
        </li>
        <li>
          <a href="/antibody/v2/home-testing/">Home ordering portal</a>

          <details class="govuk-details govuk-!-margin-top-2 govuk-!-margin-bottom-0" data-module="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Error pages
            </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="/antibody/v2/home-testing/token-fail">Token error: missing or invalid</a></li>
                <li><a href="/antibody/v2/home-testing/order-fail">Token error: token already used</a></li>
                <li><a href="/antibody/v2/home-testing/no-home-tests">Stock check fail: no more test kits available</a></li>
                <li><a href="/antibody/v2/home-testing/confirm-identity-fail">TransUnion fail: could not confirm identity</a></li>
                <li><a href="/antibody/v2/home-testing/there-is-a-problem">Recaptcha error: interaction was likely a bot</a></li>
                <li><a href="/antibody/v2/home-testing/offline">Home ordering is offline for maintenance</a></li>
              </ul>
            </div>
          </details>


        </li>
        <li>
          <a href="/antibody/v2/sms/order-confirmed">Order confirmed - SMS message</a></li>
        </li>

      </ul>

      <h2 class="govuk-heading-m">Antigen</h2>
      <p class="govuk-body"></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/antigen/v1/refer-and-triage/">Refer and triage</a>
        </li>
        <li>
          <a href="/antigen/v1/global-registration/">Global registration</a>
        </li>
        <li>
          <a href="/antigen/v1/site-appointment-booking/choose-drive-through-site">Site appointment registration</a>
        </li>
        <li>
          <a href="/antigen/v1/order-home-test-kit/">Ordering a home test kit</a>
        </li>
        <li>
          <a href="/antigen/v1/home-testing/">Home Testing</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Elective Care Testing</h2>
      <p class="govuk-body"></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/elective-care-testing/v1/">Elective Care Testing</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Organisation order and registration</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/organisational/register/v0/index">Live service (Single registration)</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
