{% set pageTitle = "Welcome to Test Digital's Design Prototype Library" %}
{% set individualTestingHref = "individual-testing" %}
{% set OrganisationTestingHref = "organisation-testing" %}
{% set OperativeToolsHref = "operative-tools" %}

<!DOCTYPE html>
<!-- [if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><html lang="en" style="{{ html_style }}"> -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>{% block pageTitle %}{{pageTitle}} - NHS.UK{% endblock %}</title>

    <link href="https://www.nhs.uk/" rel="preconnect">
    <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>

    <link href="/public/stylesheets/nhs_application.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/public/stylesheets/nhsuk-site.css" media="all" rel="stylesheet" type="text/css" />

    <!-- <script src="nhsuk.min.js" defer></script> -->
  </head>

  <body class="{{ bodyClasses }}">

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {% block beforeContent %}
    <header class="nhsuk-header nhsuk-header--transactional" role="banner">
      <div class="nhsuk-width-container nhsuk-header__container border-bottom-white desktop-only">
        <div class="nhsuk-header__logo nhsuk-header__logo--only"><a class="nhsuk-header__link" href="/" aria-label="NHS homepage">
    
            <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
              <path class="nhsuk-logo__background" fill="#005eb8" d="M0 0h40v16H0z"></path>
              <path class="nhsuk-logo__text" fill="#fff" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
            </svg>
    
          </a>
        </div>
        <div class="nhsuk-header__transactional-service-name desktop-only">
          <a class="nhsuk-header__transactional-service-name--link" href="https://www.nhs.uk/nhs-services/gps/how-to-register-with-a-gp-surgery/">Digital testing</a>
        </div>

      </div>

      <div class="nhsuk-width-container nhsuk-header__container">
        <h1 class="nhsuk-heading-xl white-text">Welcome to Test Digital's Design Prototype Library</h1>
        <p class="nhsuk-body white-text">Use this service to view all products related to COVID-19. You can explore everything ranging from initial discovery, ready for dev, and live services.</p>
      </div>
      
    
    </header>
    {% endblock %}

    {% block bodyStart %}

    {% endblock %}

    {% block main %}
    <div class="nhsuk-width-container {{ containerClasses }}">
        <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent" role="main">

          {% block content %}
          <h2 class="nhsuk-heading-l">Portfolio areas</h2>

          <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          
              <div class="nhsuk-card nhsuk-card--clickable" onclick="location.href='{{ individualTestingHref }}';">
                <div class="nhsuk-card__content chevron">
                  <h3 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link" href="{{ individualTestingHref }}">Individual testing</a>
                  </h3>
                  <p class="nhsuk-card__description">Digital testing products for citizens and international travellers.</p>
                </div>
                <svg class="beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill="#005eb8"></circle><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"></path><path data-name="Path" d="M11.667 9.229L15.438 13"></path></g></svg>
              </div>
          
            </li>
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          
              <div class="nhsuk-card nhsuk-card--clickable" onclick="location.href='{{ OrganisationTestingHref }}';">
                <div class="nhsuk-card__content chevron">
                  <h3 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link" href="{{ OrganisationTestingHref }}">Organisation testing</a>
                  </h3>
                  <p class="nhsuk-card__description">Digital testing products for organisation users.</p>
                </div>
                <svg class="beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill="#005eb8"></circle><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"></path><path data-name="Path" d="M11.667 9.229L15.438 13"></path></g></svg>
              </div>
          
            </li>
            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          
              <div class="nhsuk-card nhsuk-card--clickable" onclick="location.href='{{ OperativeToolsHref }}';">
                <div class="nhsuk-card__content chevron">
                  <h3 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link" href="{{ OperativeToolsHref }}">Operative tools</a>
                  </h3>
                  <p class="nhsuk-card__description">Products for front line and back office Test & Trace staff to support digital testing and lab sequencing.</p>
                </div>
                <svg class="beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill="#005eb8"></circle><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"></path><path data-name="Path" d="M11.667 9.229L15.438 13"></path></g></svg>
              </div>
          
            </li>
          </ul>

          <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

          <h3 class="nhsuk-heading-m">Design Standards</h3>

          <p class="nhsuk-body">
            We use the NHS Design Handbook and GDS Service Standards to guide our work and ensure that the services we are delivering are equitable and inclusive.
          </p>

          <p class="nhsuk-body">
            <a href="https://design-system.service.gov.uk/">GOV.UK Design System</a><br>
            <a href="https://github.com/NHSDigital/nhs-antibody-testing-registration-prototype">NHS Digital Github</a><br>
            <a href="https://govuk-prototype-kit.herokuapp.com/docs">GOV.UK Prototype kit</a>
          </p>

          {% endblock %}
        </form>
      </main>
    </div>
    {% endblock %}

  </body>

  {% block bodyEnd %}
  <footer role="contentinfo">
    <div class="nhsuk-footer" id="nhsuk-footer">
      <div class="nhsuk-width-container">
        <h2 class="nhsuk-u-visually-hidden">Support links</h2>
        <ul class="nhsuk-footer__list">
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#">Home</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#">Get in touch</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#">UCD Team</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#">Github</a></li>
        </ul>
  
        <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>

        <p class="nhsuk-footer__list-item nhsuk-u-margin-top-5 desktop-only">All content is available under the <a href="#">Open Government Licence v3.0</a>, except where otherwise stated.</p>
      </div>
    </div>
  </footer>
  {% endblock %}
</html>
