
{% extends "includes/layout.html" %}

{% block pageTitle %}
  Get a coronavirus test prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Get a coronavirus test prototypes</h1>

      <h2 class="govuk-heading-m">MVP version</h2>
      <p class="govuk-body">Aligned to what is being delivered on the 8th July.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/v1/govuk/">GOV.UK coronavirus page</a>
        </li>
<!--        <li>-->
<!--          <a href="/v1/nhsuk/">NHS.UK coronavirus hub</a>-->
<!--        </li>-->
        <li>
          <a href="/v1/teacher-registration/">Refer and triage</a>
        </li>
        <li>
          <a href="/v1/sms/">Invitation to order - SMS message</a></li>
        </li>
        <li>
          <a href="/v1/registration/invitation-code">Global Registration</a>
        </li>
        <li>
          <a href="/v1/order/">Home ordering portal</a>
          <details class="govuk-details govuk-!-margin-top-2 govuk-!-margin-bottom-0" data-module="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Error pages
            </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="/v2/order/token-fail">Token error: missing or invalid</a></li>
                <li><a href="/v2/order/order-fail">Token error: token already used</a></li>
                <li><a href="/v2/order/no-home-tests">Stock check fail: no more test kits available</a></li>
                <li><a href="/v2/order/confirm-identity-fail">TransUnion fail: could not confirm identity</a></li>
                <li><a href="/v2/order/there-is-a-problem">Recaptcha error: interaction was likely a bot</a></li>
              </ul>
            </div>
          </details>
        </li>
        <li>
          <a href="/v1/sms/order-confirmed">Order confirmed - SMS message</a></li>
        </li>

      </ul>


      <h2 class="govuk-heading-m">Research version</h2>
      <p class="govuk-body">Aspirational version - not fully signed off</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/v2/govuk/">GOV.UK coronavirus page</a>
        </li>
        <!--        <li>-->
        <!--          <a href="/v1/nhsuk/">NHS.UK coronavirus hub</a>-->
        <!--        </li>-->
        <li>
          <a href="/v2/teacher-registration/">Refer and triage</a>
        </li>
        <li>
          <a href="/v2/sms/">Invitation to order - SMS message</a></li>
        </li>
        <li>
          <a href="/v2/registration/invitation-code">Global Registration</a>
        </li>
        <li>
          <a href="/v2/order/">Home ordering portal</a>

          <details class="govuk-details govuk-!-margin-top-2 govuk-!-margin-bottom-0" data-module="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Error pages
            </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="/v2/order/token-fail">Token error: missing or invalid</a></li>
                <li><a href="/v2/order/order-fail">Token error: token already used</a></li>
                <li><a href="/v2/order/no-home-tests">Stock check fail: no more test kits available</a></li>
                <li><a href="/v2/order/confirm-identity-fail">TransUnion fail: could not confirm identity</a></li>
                <li><a href="/v2/order/there-is-a-problem">Recaptcha error: interaction was likely a bot</a></li>
              </ul>
            </div>
          </details>


        </li>
        <li>
          <a href="/v2/sms/order-confirmed">Order confirmed - SMS message</a></li>
        </li>

      </ul>

      <h2 class="govuk-heading-m">Antigen</h2>
      <p class="govuk-body"></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/antigen/v1/refer-and-triage/">Refer and triage</a>
        </li>
        <li>
          <a href="/antigen/v1/global-registration/">Global registration</a>
        </li>
        <li>
          <a href="/antigen/v1/site-appointment-booking/find-test-site">Site appointment registration</a>
        </li>
        <li>
          <a href="/antigen/v1/home-testing/">Home Testing</a>
        </li>
        
      </ul>

    </div>
  </div>

{% endblock %}
