{% extends "layout_admin.html" %}
{% set pageTitle = "Welcome to Test Digital's Design Prototype Library" %}
{% set pageIntro = "Use this service to view all products related to COVID-19. You can explore everything ranging from initial discovery, ready for dev, and live services." %}

{% block beforeContent %}
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ul class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
            </ul>
            <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/">Back</a></p>
        </div>
    </nav>
{% endblock %}

{% block content %}
{% endblock %}


