<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-lab-7-services.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK home
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}
<main class="nhsuk-main-wrapper nhsuk-main-wrapper--no-padding nhsuk-homepage nhsuk-u-padding-top-0" id="maincontent" role="main">










    <section class="nhsuk-section nhsuk-u-padding-top-4">
        <div class="nhsuk-width-container">
          <div class="nhsuk-grid-row">

              <div class="nhsuk-grid-column-full nhsuk-section__content">
                 <div class="">
                    <h1>
                        NHS services
                      </h1>

                      <div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-padding-bottom-4 nhsuk-u-padding-top-0">
                          <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                            <div class="nhsuk-promo nhsuk-promo--small">
                              <a class="nhsuk-promo__link-wrapper" href="/lab-7/a-to-z/coronavirus/testing-and-tracing">
                                <div class="nhsuk-promo__content">
                                  <h3 class="nhsuk-promo__heading">Testing and tracing for coronavirus</h3>
                                </div>
                              </a>
                            </div>
                          </div>

                          <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                              <div class="nhsuk-promo nhsuk-promo--small">
                                <a class="nhsuk-promo__link-wrapper" href="/lab-7/nhs-services/gps/book-cancel-or-change-an-appointment">
                                  <div class="nhsuk-promo__content">
                                    <h3 class="nhsuk-promo__heading">GP appointments and bookings</h3>
                                  </div>
                                </a>
                              </div>
                            </div>

                            <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                                <div class="nhsuk-promo nhsuk-promo--small">
                                  <a class="nhsuk-promo__link-wrapper" href="/lab-7/nhs-services/prescriptions/order-repeat-prescriptions-online">
                                    <div class="nhsuk-promo__content">
                                      <h3 class="nhsuk-promo__heading">Order a repeat prescription online</h3>
                                    </div>
                                  </a>
                                </div>
                              </div>

                      </div>

                      <div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-margin-top-6">

                          <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
                            <div class="nhsuk-promo nhsuk-promo_canon">
                              <a class="nhsuk-promo__link-wrapper" href="/lab-7/nhs-services/find-services">
                                <div class="nhsuk-promo__content">
                                    <h3 class="nhsuk-promo__heading">Find services near you</h3>
                                    <p class="nhsuk-promo__description">Find your nearest NHS services, including GPs, pharmacies, urgent care and A&E
                      </p>

                                </div>
                                <div class="arrow" style="">
                                  <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667"
                                    viewBox="0 0 26.667 26.667">
                                    <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8" />
                                    <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                                      <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff"
                                        stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667" />
                                      <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round"
                                        stroke-miterlimit="10" stroke-width="2.667" />
                                    </g>
                                  </svg>
                                </div>
                              </a>
                            </div>
                          </div>



                          <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
                            <div class="nhsuk-promo nhsuk-promo_canon">
                                <a class="nhsuk-promo__link-wrapper" href="/lab-7/nhs-services/gps">
                                  <div class="nhsuk-promo__content">

                                      <h3 class="nhsuk-promo__heading">GPs</h3>
                                      <p class="nhsuk-promo__description">
                                          Find a GP surgery, registering with a GP surgery, booking an appointment and using online services
                                      </p>

                                    <!--<h3 class="nhsuk-promo__heading">Coronavirus testing and tracing</h3>
                                    <p class="nhsuk-promo__description">Get a test if you have coronavirus symptoms, understand your test result and find out what to do if you're contacted by NHS Test and Trace
                                    </p>-->



                                </div>
                                <div class="arrow" style="">
                                  <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667"
                                    viewBox="0 0 26.667 26.667">
                                    <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8" />
                                    <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                                      <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff"
                                        stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667" />
                                      <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round"
                                        stroke-miterlimit="10" stroke-width="2.667" />
                                    </g>
                                  </svg>
                                </div>
                              </a>
                            </div>
                          </div>

                        </div>

<!-- ROW 1-->
<div class="nhsuk-grid-row nhsuk-promo-group">

    <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
      <div class="nhsuk-promo nhsuk-promo_canon">
          <a class="nhsuk-promo__link-wrapper" href="/lab-7/nhs-services/prescriptions">
            <div class="nhsuk-promo__content">
                <h3 class="nhsuk-promo__heading">Prescriptions and pharmacies</h3>
                <p class="nhsuk-promo__description">Order repeat prescriptions, prescription charges, how pharmacists can help you with medical advice and medicines
                </p>



          </div>
          <div class="arrow" style="">
            <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667"
              viewBox="0 0 26.667 26.667">
              <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8" />
              <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff"
                  stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667" />
                <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round"
                  stroke-miterlimit="10" stroke-width="2.667" />
              </g>
            </svg>
          </div>
        </a>
      </div>
    </div>

    <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
      <div class="nhsuk-promo nhsuk-promo_canon">
          <a class="nhsuk-promo__link-wrapper" href="/lab-7/nhs-services/hospitals">
            <div class="nhsuk-promo__content">
                <h3 class="nhsuk-promo__heading">Hospitals</h3>
                <p class="nhsuk-promo__description">About NHS hospitals, booking and changing appointments with NHS e-Referral service and going into hospital
                </p>




          </div>
          <div class="arrow" style="">
            <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667"
              viewBox="0 0 26.667 26.667">
              <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8" />
              <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff"
                  stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667" />
                <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round"
                  stroke-miterlimit="10" stroke-width="2.667" />
              </g>
            </svg>
          </div>
        </a>
      </div>
    </div>

  </div>

<!-- ROW 2-->


<div class="nhsuk-grid-row nhsuk-promo-group">

    <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
      <div class="nhsuk-promo nhsuk-promo_canon">
          <a class="nhsuk-promo__link-wrapper" href="/lab-7/nhs-services/health-records">
            <div class="nhsuk-promo__content">
                <h3 class="nhsuk-promo__heading">Health and medical records </h3>
                <p class="nhsuk-promo__description">Your health records and choose how your information is used or shared

                </p>

          </div>
          <div class="arrow" style="">
            <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667"
              viewBox="0 0 26.667 26.667">
              <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8" />
              <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff"
                  stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667" />
                <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round"
                  stroke-miterlimit="10" stroke-width="2.667" />
              </g>
            </svg>
          </div>
        </a>
      </div>
    </div>

    <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
      <div class="nhsuk-promo nhsuk-promo_canon">
          <a class="nhsuk-promo__link-wrapper" href="/lab-7/nhs-services/health-costs">
            <div class="nhsuk-promo__content">
              <h3 class="nhsuk-promo__heading">Help with health costs</h3>
              <p class="nhsuk-promo__description">When you need to pay, help when on universal credit, travel costs and personal health budgets

              </p>
          </div>
          <div class="arrow" style="">
            <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667"
              viewBox="0 0 26.667 26.667">
              <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8" />
              <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff"
                  stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667" />
                <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round"
                  stroke-miterlimit="10" stroke-width="2.667" />
              </g>
            </svg>
          </div>
        </a>
      </div>
    </div>

  </div>

  <!--ROW 3-->


  <div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-margin-bottom-6">

      <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
        <div class="nhsuk-promo nhsuk-promo_canon">
          <a class="nhsuk-promo__link-wrapper" href="/lab-7/nhs-services/testing-and-screening">
            <div class="nhsuk-promo__content">
                <h3 class="nhsuk-promo__heading">Testing and screening </h3>
                <p class="nhsuk-promo__description">Testing and screening offered by the NHS in England

                </p>
            </div>
            <div class="arrow" style="">
              <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667"
                viewBox="0 0 26.667 26.667">
                <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8" />
                <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                  <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff"
                    stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667" />
                  <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round"
                    stroke-miterlimit="10" stroke-width="2.667" />
                </g>
              </svg>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
        <div class="nhsuk-promo nhsuk-promo_canon">
          <a class="nhsuk-promo__link-wrapper" href="/lab-7/nhs-services/visiting-england">
            <div class="nhsuk-promo__content">
              <h3 class="nhsuk-promo__heading">Visiting or moving to England </h3>
              <p class="nhsuk-promo__description">Advice about using the NHS if you’re planning to visit or move to England

              </p>
            </div>
            <div class="arrow" style="">
              <svg id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="26.667" height="26.667"
                viewBox="0 0 26.667 26.667">
                <circle id="Oval" cx="13.333" cy="13.333" r="13.333" fill="#005EB8" />
                <g id="Group_1" data-name="Group 1" transform="translate(11.667 9.229) rotate(45)">
                  <path id="Path" d="M0,0V5.333" transform="translate(5.333 0)" fill="none" stroke="#fff"
                    stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667" />
                  <path id="Path-2" data-name="Path" d="M0,0H5.333" fill="none" stroke="#fff" stroke-linecap="round"
                    stroke-miterlimit="10" stroke-width="2.667" />
                </g>
              </svg>
            </div>
          </a>
        </div>
      </div>

    </div>




    <!-- Row 4-->

                    </div>

                    </div>












                </div>

          </div>
        </div>
      </section>




               <section class="nhsuk-section nhsuk-u-padding-top-2 nhsuk-u-padding-bottom-5" >
                    <div class="nhsuk-width-container">
                      <div class="nhsuk-grid-row">

                          <div class="nhsuk-grid-column-full nhsuk-section__content">





                  <div class="nhsuk-grid-row nhsuk-grid-row--flex">


                      <div class="nhsuk-grid-column-one-third " >
                  <div class="nhsuk-promo" >
                        <a class="nhsuk-promo__link-wrapper" href="/lab-7/nhs-services/emergency-services" style="background-color:#f0f4f5;">
                          <div class="nhsuk-promo__content" style="background-color:#f0f4f5;padding:0px;">
                            <h3 class="nhsuk-promo__heading">Emergency services</h3>
                            <p class="nhsuk-promo__description nhsuk-u-padding-bottom-5">Services the NHS provides if you need urgent or emergency medical help</p>
                          </div>
                        </a>
                  </div>
                      </div>

                      <div class="nhsuk-grid-column-one-third ">
                  <div class="nhsuk-promo " style="background-color:#f0f4f5;">
                        <a class="nhsuk-promo__link-wrapper" href="/lab-7/nhs-services/sexual-health" style="background-color:#f0f4f5;">
                            <div class="nhsuk-promo__content" style="background-color:#f0f4f5;padding:0px;">

                                <h3 class="nhsuk-promo__heading">Sexual health services </h3>
                                <p class="nhsuk-promo__description nhsuk-u-padding-bottom-5">Information about NHS sexual health services</p>

                          </div>
                        </a>
                  </div>
                      </div>

                      <div class="nhsuk-grid-column-one-third ">
                          <div class="nhsuk-promo " style="background-color:#f0f4f5;">
                                <a class="nhsuk-promo__link-wrapper" href="/lab-7/nhs-services/dentists" style="background-color:#f0f4f5;">
                                    <div class="nhsuk-promo__content" style="background-color:#f0f4f5;padding:0px;">
                                    <h3 class="nhsuk-promo__heading">Dentists </h3>
                                    <p class="nhsuk-promo__description nhsuk-u-padding-bottom-5">About NHS dental services, how to find an NHS dentist and how much treatment costs</p>
                                  </div>
                                </a>
                          </div>
                              </div>





                  </div>



                  <div class="nhsuk-grid-row nhsuk-promo-group  nhsuk-grid-row--flex">


                                            <div class="nhsuk-grid-column-one-third ">
                                        <div class="nhsuk-promo ">
                                              <a class="nhsuk-promo__link-wrapper" href="/lab-7/nhs-services/opticians" style="background-color:#f0f4f5;">
                                                  <div class="nhsuk-promo__content" style="background-color:#f0f4f5;padding:0px;">
                                                  <h3 class="nhsuk-promo__heading">Opticians </h3>
                                                  <p class="nhsuk-promo__description nhsuk-u-padding-bottom-5">Where to find an optician and what happens when you see them</p>
                                                </div>
                                              </a>
                                        </div>
                                            </div>

                                            <div class="nhsuk-grid-column-one-third ">
                                        <div class="nhsuk-promo  " style="background-color:#f0f4f5;">
                                              <a class="nhsuk-promo__link-wrapper" href="/lab-7/nhs-services/online-services" style="background-color:#f0f4f5;">
                                                  <div class="nhsuk-promo__content" style="background-color:#f0f4f5;padding:0px;">
                                                      <h3 class="nhsuk-promo__heading">Online services</h3>
                                                      <p class="nhsuk-promo__description nhsuk-u-padding-bottom-5">Includes how to book GP appointments and register as an organ donor</p>
                                                </div>
                                              </a>
                                        </div>
                                            </div>


                                            <div class="nhsuk-grid-column-one-third ">
                                                <div class="nhsuk-promo  " style="background-color:#f0f4f5;">
                                                      <a class="nhsuk-promo__link-wrapper" href="/lab-7/nhs-services/blood-and-organ" style="background-color:#f0f4f5;">
                                                          <div class="nhsuk-promo__content" style="background-color:#f0f4f5;padding:0px;">



                                                              <h3 class="nhsuk-promo__heading">Blood and organ donation </h3>
                                                  <p class="nhsuk-promo__description nhsuk-u-padding-bottom-5">How and where to donate</p>
                                                        </div>
                                                      </a>
                                                </div>
                                                    </div>



                                        </div>


                                        <div class="nhsuk-grid-row nhsuk-promo-group nhsuk-u-margin-top-0">


                                            <div class="nhsuk-grid-column-one-third ">
                                        <div class="nhsuk-promo ">
                                              <a class="nhsuk-promo__link-wrapper" href="javascript:void(0)" style="background-color:#f0f4f5;">
                                                  <div class="nhsuk-promo__content" style="background-color:#f0f4f5;padding:0px;">
                                                  <h3 class="nhsuk-promo__heading">Armed forces and veterans </h3>
                                                  <p class="nhsuk-promo__description nhsuk-u-padding-bottom-5">How the NHS can help if you're in military service or a veteran</p>
                                                </div>
                                              </a>
                                        </div>
                                            </div>


                                            </div>







                                        <h2 class="nhsuk-heading-s nhsuk-u-margin-top-6">If you need help now, and you're not sure what to do</h2>
                                        <ul class="nhsuk-list">
                                            <li>Go to <a href="https://111.nhs.uk/">111.nhs.uk</a> or call 111</li>
                                        </ul>

                                        <h2 class="nhsuk-heading-s nhsuk-u-margin-top-6">If you think it's an emergency</h2>
                                        <ul class="nhsuk-list">
                                            <li><a href="/service-search/other-services/Accident-and-emergency-services/LocationSearch/428">Find your nearest A&amp;E</a></li>
                                            <li>Call 999</li>
                                        </ul>

                            </div>

                      </div>
                    </div>



                  </section>









              <!--<section class="nhsuk-section nhsuk-u-padding-top-9 nhsuk-u-padding-bottom-5" style="background-color:#fff;">
                    <div class="nhsuk-width-container">
                      <div class="nhsuk-grid-row">

                          <div class="nhsuk-grid-column-full nhsuk-section__content">





                  <div class="nhsuk-grid-row nhsuk-promo-group">


                      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                  <div class="nhsuk-promo app-promo--grey">
                        <a class="nhsuk-promo__link-wrapper" href="javascript:void(0)" style="background-color:#f0f4f5;">
                          <div class="nhsuk-promo__content" style="background-color:#f0f4f5;">
                            <h3 class="nhsuk-promo__heading">Healthcare records</h3>
                            <p class="nhsuk-promo__description">View your health records, make your choices, languages and formats</p>
                          </div>
                        </a>
                  </div>
                      </div>

                      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                  <div class="nhsuk-promo app-promo--grey" style="background-color:#f0f4f5;">
                        <a class="nhsuk-promo__link-wrapper" href="javascript:void(0)" style="background-color:#f0f4f5;">
                          <div class="nhsuk-promo__content" style="background-color:#f0f4f5;">
                            <h3 class="nhsuk-promo__heading">Online services</h3>
                            <p class="nhsuk-promo__description">View your health records, make your choices, languages and formats</p>
                          </div>
                        </a>
                  </div>
                      </div>


                      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                  <div class="nhsuk-promo app-promo--grey" style="background-color:#f0f4f5;">
                        <a class="nhsuk-promo__link-wrapper" href="javascript:void(0)" >
                          <div class="nhsuk-promo__content" style="background-color:#f0f4f5;">
                            <h3 class="nhsuk-promo__heading">Online services</h3>
                            <p class="nhsuk-promo__description">Includes how to book GP appointments and register as an organ donor</p>
                          </div>
                        </a>
                  </div>
                      </div>



                  </div>



                  <div class="nhsuk-grid-row nhsuk-promo-group">


                                            <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                                        <div class="nhsuk-promo app-promo--grey">
                                              <a class="nhsuk-promo__link-wrapper" href="javascript:void(0)" style="background-color:#f0f4f5;">
                                                <div class="nhsuk-promo__content" style="background-color:#f0f4f5;">
                                                  <h3 class="nhsuk-promo__heading">Dental services</h3>
                                                  <p class="nhsuk-promo__description">Dental services available on the NHS, understanding charges and help with dental costs</p>
                                                </div>
                                              </a>
                                        </div>
                                            </div>

                                            <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
                                        <div class="nhsuk-promo app-promo--grey" style="background-color:#f0f4f5;">
                                              <a class="nhsuk-promo__link-wrapper" href="javascript:void(0)" style="background-color:#f0f4f5;">
                                                <div class="nhsuk-promo__content" style="background-color:#f0f4f5;">
                                                  <h3 class="nhsuk-promo__heading">Sexual health services</h3>
                                                  <p class="nhsuk-promo__description">Guide to sexual health services, what they provide and what are well man, women clinics</p>
                                                </div>
                                              </a>
                                        </div>
                                            </div>



                                        </div>











                            </div>

                      </div>
                    </div>
                  </section>-->




{% endblock %}
