{% set fullname %}
  {% if data.cuFirstName and data.cuLastName %}
    {{ data.cuFirstName }} {{ data.cuLastName }}
    {% else %}
      John Smith
  {% endif %}
{% endset %}
{% set pageHeading = "When did " + fullname | trim + "'s symptoms start?" %}
 {% set version = "organisational/register/v2" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}
{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Symptoms start date must be today or in the past",
              href: "#cuSymptomsStart"
            }
          ]
        }) }}

      <form class="" action="/{{ version }}/single/testkit" method="get">

        {{ govukDateInput({
            id: "cuSymptomsStart",
            namePrefix: "cuSymptomsStart",
            fieldset: {
              legend: {
                html: pageHeading,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
              html: "<p>Enter the date. If you cannot remember the exact date, enter the date you think it was, roughly.</p><p>Use the format DD MM YYYY, for example 15 04 2020</p>"
            },
            errorMessage: {
              text: "Symptoms start date must be today or in the past"
            },
            items: [
              {
                name: "day",
                classes: "govuk-input--width-2 govuk-input--error",
                autocomplete: "bday-day",
                value: "23"
              },
              {
                name: "month",
                classes: "govuk-input--width-2 govuk-input--error",
                autocomplete: "bday-month",
                value: "7"
              },
              {
                name: "year",
                classes: "govuk-input--width-4 govuk-input--error",
                autocomplete: "bday-year",
                value: "2022"
              }
            ]
          }) }}

        <input class="govuk-button" type="submit" value="Continue">

      </form>

    </div>
  </div>

{% endblock %}
