{% set version = "research" %}
{% set pageTitle = "Text message" %}

{% extends "includes/layout.html" %}


{% block header %}

{% endblock %}

{% block content %}

  <style>
    body {
      background-color: #f3f2f1 !important;
      -webkit-text-size-adjust: 100%;
      font-family: "Helvetica Neue", Helvetica, sans-serif;
      font-size: 20px;
      font-weight: normal;
      margin: 50px auto;
      display: flex;
      flex-direction: column;
    }

    .app-text-message {
      background-color: #fff;
      padding: 20px;
      max-width: 340px;
      min-height: 420px;
    }

    .app-text-message__text {
      max-width: 255px;
      word-wrap: break-word;
      margin-bottom: 12px;
      line-height: 24px;
      position:relative;
      padding:10px 20px;
      border-radius:25px;
      background:#E5E5EA;
      color:black;
      
      &:before, &:after {
        content:"";
        position:absolute;
        bottom:-2px;
        height:20px;
      }

       &:before {
        left:-7px;
        border-left:20px solid #E5E5EA;
        border-bottom-right-radius: 16px 14px;
        transform:translate(0, -2px);
      }

      &:after {
        left:4px;
        width:26px;
        background:white;
        border-bottom-right-radius: 10px;
        transform:translate(-30px, -2px);
      }
    }
    </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Text message</h1>

      <div class="app-text-message">
        <h2 class="govuk-heading-s">UK_Gov</h2>
        <p class="app-text-message__text">
          Dear {{ data['first-name'] or 'Pete' }} {{ data['last-name'] or 'Smith' }}<br><br>
          Thank you for doing a coronavirus (COVID-19) antibody test.<br><br>
          Antibodies were found in your blood sample.<br><br>
          This means it’s likely you’ve had COVID-19 in the last 6 months.<br><br>
          This result does not guarantee you are fully immune (protected) from COVID-19. It’s still possible to get the virus again or spread it, although your risk is reduced if you’ve had the vaccine or already been infected.<br><br>
          It’s important to keep following COVID-19 advice.<br><br>
          If you took this test because you tested positive for COVID-19 in the last 2 weeks, it’s unlikely the antibodies detected are from your recent infection. They’re more likely to be from a previous infection.
        </p>
      </div>

    </div>
  </div>

{% endblock %}

{% block footer %}

{% endblock %}