{% set version = "v1" %}
{% set serviceName = "COVID-19" %}
{% set pageTitle = "What’s changing at this test site?" %}
{% extends "includes/layout.html" %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.go(-1);"
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl"> Check and confirm test site details </h1>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key"> Estimated number of people affected </dt>
                    <dd class="govuk-summary-list__value"> 50 </dd>
                    <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key"> Woolpack Way Car Park </dt>
                    <dd class="govuk-summary-list__value">Woolpack Way Car Park, Atherstone, CV9 1AD <br/> 15 February 2022<br/> 8:30 am to 7:30 pm </dd>
                    <dd class="govuk-summary-list__actions">
                        <a href="/bulk-sms/affected-test-site?edit=true" class="govuk-link"> Edit details <span class="govuk-visually-hidden"> of affected test site </span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key"> Nuneaton - Mobile Unit </dt>
                    <dd class="govuk-summary-list__value">Harefield Road Car Park, Nuneaton, CV11 4HR <br/> 15 February 2022<br/> 8:30 am to 7:30 pm </dd>
                    <dd class="govuk-summary-list__actions">
                        <a href="10-site-cya-v1" class="govuk-link"> Edit details <span class="govuk-visually-hidden"> of affected test site </span></a>
                        <br/>
                        <a href="#" class="govuk-link"> Remove <span class="govuk-visually-hidden"> of affected test site </span></a>
                    </dd>
                </div>
            </dl>
            <div class="govuk-button-group">
                <a href="12-no-alternate-v1" type="submit" class="govuk-!-margin-top-5 govuk-button"> Save and continue </a>
                <button type="submit" class="govuk-!-margin-top-5 govuk-button govuk-button--secondary"> Add another affected site </button>
            </div>
        </div>
    </div>

{% endblock %}