{% set version = "v3" %}
{% set pageTitle = "You cannot add this person to your order" %}

{% extends "includes/layout-intl-arrivals.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link" href="/international-arrivals/{{version}}/travel-details-same-person-1">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            {{pageTitle}}
        </h1>

        <p class="govuk-body">
          This person needs a different travel test package.
        </p>
        <p class="govuk-body">
          You can only add people to this order who are travelling together and who need the same package.
        </p>
        <p class="govuk-body">
          Complete this order and then book their package separately.
        </p>
        <p class="govuk-body">
          If they're travelling to England from a red list country, <a href="/international-arrivals/{{version}}/" class="govuk-link" target="blank">view the red self-quarantine package (opens in a new tab or window)</a>.
        </p>
        <p class="govuk-body">
          Otherwise, <a href="/international-arrivals/{{version}}/" class="govuk-link" target="blank">view the standard travel test package (opens in a new tab or window)</a>.
        </p>
        <p class="govuk-body govuk-!-margin-bottom-6">
          If they're travelling to another part of the UK from a red list country, check the travel rules to <a href="https://www.gov.scot/publications/coronavirus-covid-19-international-travel-quarantine/" class="govuk-link" target="blank">Scotland</a>, <a href="https://gov.wales/rules-international-travel-and-wales-coronavirus" class="govuk-link" target="blank">Wales</a> or <a href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-travel-advice" class="govuk-link" target="blank">Northern Ireland (opens in a new tab or window)</a>.
        </p>

        <form action="/international-arrivals/{{version}}/people-confirmed" method="post">
          <div style="display: none;">
            <input id="red-country-travel-person-1" name="red-country-travel-person-1" type="text" value="">
          </div>
          <button class="govuk-button" data-module="govuk-button" type="submit">Continue</button>
        </form>

    </div>
</div>

{% endblock %}
