{% set version = "v3" %}
{% set pageTitle = "Check your answers" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link" href="/international-arrivals/{{version}}/point-of-entry">Back</a>


{% endblock %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}
​
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form action="/international-arrivals/{{version}}/people-confirmed-person-1" method="post" novalidate>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">{{ pageTitle }}</h1>

      <div style="display: flex; justify-content: space-between; align-items: flex-end;">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Personal details</h2>
      </div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['first-name-person-1'] or 'Jonny' }} {{ data['last-name-person-1'] or 'Appleseed' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/name-person-1">
              Change
              <span class="govuk-visually-hidden">name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['date-of-birth-day-person-1'] or '1 January 1990' }} {{ data['date-of-birth-month-person-1'] }} {{ data['date-of-birth-year-person-1'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/date-of-birth-person-1">
              Change
              <span class="govuk-visually-hidden">date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Passport number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['passport-number-person-1'] or '50215771' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/passport-number-person-1">
              Change
              <span class="govuk-visually-hidden">passport number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mobile number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['mobile-phone-number-person-1'] or '077719665424' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/mobile-number-person-1">
              Change
              <span class="govuk-visually-hidden">mobile number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['email-address-person-1'] or 'jonnyappleseed@example.co.uk' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/email-address-person-1">
              Change
              <span class="govuk-visually-hidden">email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Ethnic group
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['ethnic-group-person-1'] or 'White' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/ethnic-group-person-1">
              Change
              <span class="govuk-visually-hidden">ethnic group</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Ethnic background
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['ethnic-background-person-1'] or 'Irish' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/ethnic-group-person-1">
              Change
              <span class="govuk-visually-hidden">ethnic background</span>
            </a>
          </dd>
        </div>
      </dl>


      <div style="display: flex; justify-content: space-between; align-items: flex-end;">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Coronavirus details</h2>
        <!-- <p class="govuk-body">
          <a href="/international-arrivals/{{version}}/contact-details">
            Change
            <span class="govuk-visually-hidden">name</span>
          </a>
        </p> -->
      </div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Have an NHS number?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['nhs-number-known-person-1'] or 'No' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/nhs-number-known-person-1">
              Change
              <span class="govuk-visually-hidden">have an nhs number</span>
            </a>
          </dd>
        </div>
        {% if data['nhs-number-known'] == "Yes" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              NHS number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['nhs-number-person-1'] or '12345678' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/international-arrivals/{{version}}/nhs-number-known-person-1">
                Change
                <span class="govuk-visually-hidden">have an nhs number</span>
              </a>
            </dd>
          </div>
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Registered with a GP?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['registered-with-GP-person-1'] or 'No' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/registered-with-GP-person-1">
              Change
              <span class="govuk-visually-hidden">registered with a GP</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Home address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['address-person-1'] or '5 Souterhead Road' }}<br>
            {{ data['home-postcode-person-1'] or 'LS1 3BE' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/address-person-1">
              Change
              <span class="govuk-visually-hidden">address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Medical record
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['gender-person-1'] or 'Male' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/gender-person-1">
              Change
              <span class="govuk-visually-hidden">medical record</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Vaccination Status
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['vaccine-person-1'] or 'No' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/vaccine-person-1">
              Change
              <span class="govuk-visually-hidden">Coronavirus vaccine</span>
            </a>
          </dd>
        </div>

        {% if data['vaccine'] != "No" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Vaccine Date
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['vaccine-date-person-1'] or 'More than 14 days ago' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/international-arrivals/{{version}}/vaccine-date-person-1">
                Change
                <span class="govuk-visually-hidden">vaccine date</span>
              </a>
            </dd>
          </div>
        {% endif %}



      </dl>

      <div style="display: flex; justify-content: space-between; align-items: flex-end;">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Travel details</h2>
      </div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Travel package
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['travel-route-person-1'] or 'Day 2 and Day 8 test' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/travel-route-person-1">
              Change
              <span class="govuk-visually-hidden">travel-package</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Departure country
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['country-autocomplete'] or 'Munich' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/departure-country-person-1">
              Change
              <span class="govuk-visually-hidden">departure country</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Arrival Date
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['arrival-date-person-1'] or '13 April 2021' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/arrival-date-person-1">
              Change
              <span class="govuk-visually-hidden">arrival date</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Flight, Eurostar or ferry number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['flight-eurostar-ferry-person-1'] or '9W15' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/flight-eurostar-ferry-number-person-1">
              Change
              <span class="govuk-visually-hidden">flight, eurostar or ferry number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of entry
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['date-of-entry-person-1'] or '13 April 2021' }}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/international-arrivals/{{version}}/date-of-entry-person-1">
              Change
              <span class="govuk-visually-hidden">date of entry</span>
            </a>
          </dd>
        </div>

      </dl>



        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

      </form>

    </div>


  </div>
{% endblock %}
