{% set version = "v3" %}
{% set pageTitle = "We've received your order for travel test packages" %}

{% extends "includes/layout-intl-arrivals.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% if data['coronavirus-account'] == "Yes" %}
  {% include "includes/account-menu.html" %}
{% endif %}

{% endblock %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-8">
      <h1 class="govuk-panel__title">
        We've received your order for 2 travel test packages

      </h1>
    </div>

    <p class="govuk-body">
      Your booking reference number is <strong>12334445</strong>. We'll email this to you.
    </p>

    <h3 class="govuk-heading-s govuk-!-margin-top-6">What to do next</h3>
    <p class="govuk-body">
      Enter your booking reference number in the <a class="govuk-body" href="https://www.gov.uk/provide-journey-contact-details-before-travel-uk">passenger locator form</a> (PLF). You can use the same booking reference number for each person in your order.<br><br>
      You must fill in the PLF 48 hours of the start of your journey to the UK. You will not be able to travel if you do not complete the PLF.
    </p>

    <h3 class="govuk-heading-s govuk-!-margin-top-6">If your travel plans change</h3>
    <p class="govuk-body govuk-!-margin-bottom-2">
      Call our contact centre:
    </p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-3">
      <li>0151 676 0491 from the UK</li>
      <li>+44 (0) 0151 676 0491 from outside the UK</li>
    </ul>

  </div>
</div>

<!-- {% if data['travel-route'] == "green" %}
<div class="proto-action big">
  <a href="/international-arrivals/{{version}}/confirmation-email-green">
    <div class="proto-action-text govuk-!-font-size-19 govuk-!-padding-2 govuk-!-margin-left-3">Confirmation email</div>
  </a>
</div>
{% else %}
<div class="proto-action big">
  <a href="/international-arrivals/{{version}}/confirmation-email-amber">
    <div class="proto-action-text govuk-!-font-size-19 govuk-!-padding-2 govuk-!-margin-left-3">Confirmation email</div>
  </a>
</div>
{% endif %} -->

{% endblock %}
