{% set version = "v3" %}
{% set pageTitle = "Here are your travel test package details" %}



{% extends "includes/layout-intl-arrivals.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}
  {% include "includes/gtm-noscript.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-8">
      <h1 class="govuk-panel__title">
        {{pageTitle}}<br>
      </h1>
    </div>

    <p class="govuk-body">
      {% if data['first-name-person-1'] %}
      We've received your order for 2 travel test packages. We'll send you an email to confirm the details. If you're travelling with other people on this order, we've also sent them an email.
      {% else %}
      We've received your order for 1 travel test package. We'll send you an email to confirm the details. If you're travelling with other people on this order, we've also sent them an email.
      {% endif %}
    </p>
    <!-- <p class="govuk-body">
      You may need to show these details when you're travelling, so keep this email with you.
    </p> -->

    <h3 class="govuk-heading-s govuk-!-margin-top-6">Traveller details</h3>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Jon Appleseed
        </dt>
        <dd class="govuk-summary-list__value">
          Date of birth: 4 January 1982 <br />
          Unique booking reference: NHSRD1234567
        </dd>      
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sophie Appleseed
        </dt>
        <dd class="govuk-summary-list__value">
          Date of birth: 4 January 1989 <br />
          Unique booking reference: NHSRD1234987
        </dd>      
      </div>
    </dl>

    <h3 class="govuk-heading-s govuk-!-margin-top-6">What happens next</h3>
    <p class="govuk-body">
      Enter your unique booking reference in the <a class="govuk-body" href="https://www.gov.uk/provide-journey-contact-details-before-travel-uk">passenger locator form</a> (PLF).
    </p>
    <p class="govuk-body">
      You can submit the PLF any time in the 48 hours before you arrive in the UK. You will not be able to travel if you do not complete the PLF.
    </p>

    <h3 class="govuk-heading-s govuk-!-margin-top-6">If your travel plans change</h3>
    <p class="govuk-body govuk-!-margin-bottom-2">
      Call our contact centre:
    </p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-3">
      <li>0151 676 0491 from the UK</li>
      <li>+44 (0)151 676 0491 from outside the UK</li>
    </ul>

  </div>
</div>

{% endblock %}
