{% set version = "v3" %}
{% set pageTitle = "Can you provide your NHS number?" %}

{% extends "includes/layout-intl-arrivals.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  {% if data['ethnic-group'] == "Asian or Asian British" %}
  <a class="govuk-back-link" href="/international-arrivals/{{version}}/ethnic-background-asian">Back</a>
  {% elseif data['ethnic-group'] == "Black, African, Black British or Caribbean" %}
  <a class="govuk-back-link" href="/international-arrivals/{{version}}/ethnic-background-black">Back</a>
  {% elseif data['ethnic-group'] == "Mixed or multiple ethnic groups" %}
  <a class="govuk-back-link" href="/international-arrivals/{{version}}/ethnic-background-mixed">Back</a>
  {% elseif data['ethnic-group'] == "White" %}
  <a class="govuk-back-link" href="/international-arrivals/{{version}}/ethnic-background-white">Back</a>
  {% elseif data['ethnic-group'] == "Another ethnic group" %}
  <a class="govuk-back-link" href="/international-arrivals/{{version}}/ethnic-background-another">Back</a>
  {% else %}
  <a class="govuk-back-link" href="/international-arrivals/{{version}}/ethnic-group">Back</a>
  {% endif %}
{% endblock %}

{% block content %}
{% include "includes/gtm-noscript.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/international-arrivals/{{version}}/action3/nhs-number-known" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="nhs-number-known-hint nhs-number-known-hint-2 nhs-number-known-hint-3 nhs-number-known-hint-4">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
                Can you provide your NHS number?
              </h1>
            </legend>

            <span id="nhs-number-known-hint" class="govuk-body">
              This number helps us quickly save their test result to their:<br>
              <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-5">
                <li>GP record</li>
                <li><strong>NHS COVID Pass</strong> - In England, they may be asked to show this pass to get into some events, or to travel abroad</li>
              </ul>
            </span>

            <div class="govuk-radios govuk-radios--conditional govuk-!-margin-top-5 govuk-!-margin-bottom-5" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nhs-number-known-1" name="nhs-number-known" type="radio" value="Yes" {{ checked("nhs-number-known", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="nhs-number-known-1">
                  Yes, I can provide their NHS number
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nhs-number-known-2" name="nhs-number-known" type="radio" value="No" {{ checked("nhs-number-known", "No") }}>
                <label class="govuk-label govuk-radios__label" for="nhs-number-known-2">
                  No, I cannot provide their NHS number
                </label>
              </div>
            </div>

            <h2 class="govuk-heading-l govuk-!-margin-bottom-5">
              What it looks like
            </h2>

            <span id="nhs-number-known-hint4" class="govuk-body">
              An NHS number is 10 digits. It will be on any prescriptions or letters from a GP or hospital.<br><br>
              In Scotland, it’s known as a CHI number. In Northern Ireland, it’s known as an H&C number.
            </span>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
