{% set version = "v3" %}
{% set pageTitle = "Your payment has been declined" %}

{% extends "includes/layout.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            {{ pageTitle }}
        </h1>
        <p class="govuk-body">
          Contact your bank for more details. No money has been taken from your account.
        </p>
        <p class="govuk-body"><a class="govuk-link" href="./confirm-payment.html">Go back to try the payment again</a></p>

    </div>
</div>

{% endblock %}
