{% set version = "v3" %}
{% set pageTitle = "Are you exempt from paying for a travel package?" %}

{% extends "includes/layout-intl-arrivals.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a class="govuk-back-link" href="/international-arrivals/{{version}}/">Back</a>
{% endblock %}

{% block content %}
{% include "includes/gtm-noscript.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/international-arrivals/{{version}}/action3/travel-package-exempt" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="travel-package-exempt-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
              {{ pageTitle }}
            </h1>
          </legend>
          <!-- <div class="govuk-body">
            Find out more on <a href="#">Exemptions - people who do not need to take a test</a>.
          </div> -->
          <div class="govuk-radios govuk-!-margin-top-6 govuk-!-margin-bottom-6" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="travel-package-exempt-1" name="travel-package-exempt" type="radio" value="Yes, I need a replacement test kit" {{ checked("travel-package-exempt", "Yes, I need a replacement test kit") }}>
              <label class="govuk-label govuk-radios__label" for="travel-package-exempt-1">
                Yes, I need a replacement test kit
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="travel-package-exempt-2" name="travel-package-exempt" type="radio" value="Yes, I'm ordering on behalf of an asylum seeker" {{ checked("travel-package-exempt", "Yes, I'm ordering on behalf of an asylum seeker") }}>
              <label class="govuk-label govuk-radios__label" for="travel-package-exempt-2">
                Yes, I'm ordering on behalf of an asylum seeker
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="travel-package-exempt-3" name="travel-package-exempt" type="radio" value="No" {{ checked("travel-package-exempt", "No") }}>
              <label class="govuk-label govuk-radios__label" for="travel-package-exempt-3">
                No
              </label>
            </div>
          </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </div>
    </form>

  </div>
</div>

{% endblock %}
