{% set version = "v1" %}
{% extends "includes/layout.html" %}
{% set serviceName = "Regular COVID-19 testing for hauliers" %}
{% set pageTitle = "Enter {firstname} {lastname}'s contact details" %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.go(-1);">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
      <p class="govuk-body-l">The test pass will be sent to the email address you provide here. It needs to be shown to enter the test site upon arrival in the UK.</p>

      <form action="" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-form-group">
              <label class="govuk-label" for="">
                Email address
              </label>
              <input class="govuk-input" id="" name="" type="text" value="">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="">
                Confirm email address
              </label>
              <input class="govuk-input" id="" name="" type="text" value="">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="">
                Mobile number
              </label>
              <div id="telephone-number-hint" class="govuk-hint">
                For international numbers include the country code
              </div>
              <input class="govuk-input govuk-input--width-20" id="first-name" name="" type="text" value="">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="">
                Confirm mobile number
              </label>
              <input class="govuk-input govuk-input--width-20" id="" name="" type="text" value="">
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" type="submit" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>


{% endblock %}
