{% set version = "v1" %}
{% set pageTitle = "Enter the barcode reference manually" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <a class="govuk-back-link" href="/lamp-test-return/{{version}}/provide-barcode-3">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/lamp-test-return/{{version}}/test-kits-summary" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="location-code-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
              {{ pageTitle }}
            </h1>
          </legend>

          <span id="location-code-hint" class="govuk-body">
            The barcode reference is an x digit below the barcode.
          </span>

          <p class="govuk-!-margin-top-6 govuk-body govuk-!-margin-bottom-5">
            <a href="/lamp-test-return/{{version}}/scan-barcode" class="govuk-link">
              Scan the barcode
            </a>
          </p>

          <div class="govuk-form-group govuk-!-margin-top-4">
            <label class="govuk-label" for="barcode-reference-1">
              Enter barcode
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="barcode-reference-3" name="barcode-reference-3" type="text" value={{ data['barcode-reference-3'] }}>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="confirm-barcode-reference-3">
              Confirm barcode
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="confirm-barcode-reference-3" name="confirm-barcode-reference-3" type="text" value={{ data['confirm-barcode-reference-3'] }}>
          </div>

        </fieldset>
      </div>

      <input class="govuk-input" id="number-of-tests-3" name="number-of-tests-3" type="text" value="1" style="display: none;">

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
