{% set version = "v1" %}
{% set serviceName = "Manage elective care patient COVID-19 testing" %}
{% set pageTitle = "Check patient details and manage test kit orders" %}
{% extends "includes/layout.html" %}

{% block beforeContent %}
  {% include "includes/ec-beta-banner-v1.html" %}
  {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.go(-1);"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-xl">Oncology</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">John Smith</h1>

    <ul class="govuk-list govuk-!-margin-bottom-5">
      <li><a class="govuk-link" href="#">Cancel this test kit</a></li>
      <li><a class="govuk-link" href="#">Order a replacement test kit</a></li>
      <li><a class="govuk-link" href="#">Create order for a new procedure date</a></li>
    </ul>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Procedure date
        </dt>
        <dd class="govuk-summary-list__value">
          21 November 2021
        </dd>
      </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Medical record <br/> (female, male, other...)
            </dt>
            <dd class="govuk-summary-list__value">
              Male
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              01 January 1999
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              NHS number
            </dt>
            <dd class="govuk-summary-list__value">
              1900821117
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact
            </dt>
            <dd class="govuk-summary-list__value">
              +447860031259
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Order ID
            </dt>
            <dd class="govuk-summary-list__value">
              0006708086
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Status
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Test kit ordered - 15 Nov 2021</p>
              <p class="govuk-body">Test kit sent to patient - 16 Nov 2021</p>
              <p class="govuk-body">Test kit on its way to lab - 18 Nov 2021</p>
            </dd>
          </div>
        </dl>

  </div>
</div>


{% endblock %}
