{% set version = "v1" %}
{% set pageTitle = "Registration complete" %}

{% extends "includes/layout-admin-portal.html" %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">{{ pageTitle }}</h1>
    </div>

    <p class="govuk-!-margin-top-6">If you have more subjects to register, you can click the button below to repeat this process.</p>


    <form action="register" method="post">

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Register another subject
      </button>

    </form>

  </div>
</div>

{% endblock %}
