{% set version = "v1" %}
{% set pageTitle = "Check your answers" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div> 

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form action="/create-account/{{version}}/account-home-page" method="post" novalidate>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">{{ pageTitle }}</h1>

      
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-padding-bottom-3" style="color: #1d70b8; border-bottom: 1px solid #b1b4b6;">Personal details</h1>
      <dl class="govuk-summary-list govuk-!-margin-bottom-7">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['first-name'] or 'John' }} {{ data['last-name'] or 'Appleseed' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/create-account/{{version}}/name">
              Change
              <span class="govuk-visually-hidden">name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Gender
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['gender'] or 'Male' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/create-account/{{version}}/gender">
              Change
              <span class="govuk-visually-hidden">gender</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['date-of-birth-day'] or '15 March 1988' }} {{ data['date-of-birth-month'] }} {{ data['date-of-birth-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/create-account/{{version}}/date-of-birth">
              Change
              <span class="govuk-visually-hidden">date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            NHS number known
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['nhs-number-known'] or 'No' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/create-account/{{version}}/nhs-number-known">
              Change
              <span class="govuk-visually-hidden">NHS number known</span>
            </a>
          </dd>
        </div>
        {% if data['nhs-number-known'] == "Yes" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            NHS number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['nhs-number'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/create-account/{{version}}/nhs-number">
              Change
              <span class="govuk-visually-hidden">NHS number</span>
            </a>
          </dd>
        </div>
        {% endif %}
      </dl>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-padding-bottom-3" style="color: #1d70b8; border-bottom: 1px solid #b1b4b6;">Contact details and location</h1>
      <dl class="govuk-summary-list govuk-!-margin-bottom-7">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['email-address'] or 'email@example.com' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/create-account/{{version}}/email-address">
              Change
              <span class="govuk-visually-hidden">contact email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact mobile number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['mobile-number'] or '+447782808451' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/create-account/{{version}}/mobile-number">
              Change
              <span class="govuk-visually-hidden">contact mobile number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Landline number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['landline-number'] or 'I do not have a landline number'}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/create-account/{{version}}/landline-number">
              Change
              <span class="govuk-visually-hidden">landline number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country of residence
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['country'] or 'England' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/create-account/{{version}}/country">
              Change
              <span class="govuk-visually-hidden">country of residence</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First line of address and postcode
          </dt>
          {% if data['gp-address-same'] == "Yes" %}
          <dd class="govuk-summary-list__value">
            {{ data['address'] or 'Durham road' }}
          </dd>
          {% else %}
          <dd class="govuk-summary-list__value">
            {{ data['home-postcode'] or 'LS1 3BE' }}
          </dd>
          {% endif %}
          <dd class="govuk-summary-list__actions">
            <a href="/create-account/{{version}}/address">
              Change
              <span class="govuk-visually-hidden">postcode</span>
            </a>
          </dd>
        </div>
      </dl>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-padding-bottom-3" style="color: #1d70b8; border-bottom: 1px solid #b1b4b6;">Contact tracing</h1>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Travels to nursery, work or place of education
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['currently-in-work'] or 'Prefer not to say / not applicable' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/create-account/{{version}}/currently-in-work">
              Change
              <span class="govuk-visually-hidden">currently in work?</span>
            </a>
          </dd>
        </div>
        {% if data['currently-in-work'] == "Yes - I travel to a workplace" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Area of work
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['industry'] or 'Heath and social care' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/create-account/{{version}}/industry">
              Change
              <span class="govuk-visually-hidden">area of work</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Occupation
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['occupation'] or 'Prefer not to say' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/create-account/{{version}}/occupation">
              Change
              <span class="govuk-visually-hidden">occupation</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Employer
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['employer'] or 'Prefer not to say'}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/create-account/{{version}}/employer">
              Change
              <span class="govuk-visually-hidden">employer</span>
            </a>
          </dd>
        </div>
        {% elseif data['currently-in-work'] == "Yes - they go to nursery, school, college or university" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Nursery, school or college
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['study-grade'] or 'University' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/create-account/{{version}}/study-grade">
              Change
              <span class="govuk-visually-hidden">area of work</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Institution details
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['name'] or "King's university" }}<br>
            {{ data['town'] or "London" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/create-account/{{version}}/institution">
              Change
              <span class="govuk-visually-hidden">area of work</span>
            </a>
          </dd>
        </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Ethnic group
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['ethnic-group'] or 'white' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/create-account/{{version}}/ethnic-group">
              Change
              <span class="govuk-visually-hidden">ethnic group</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Ethnic background
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['ethnic-background'] or 'Prefer not to say' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/create-account/{{version}}/ethnic-background">
              Change
              <span class="govuk-visually-hidden">ethnic background</span>
            </a>
          </dd>
        </div>
      </dl>


        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

      </form>

    </div>


  </div>
{% endblock %}
