{% set version = "v1" %}
{% set pageTitle = "Create an account or sign in" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            {{ pageTitle }}
        </h1>

        <h2 class="govuk-heading-m">Coronavirus account</h2>

        <p class="govuk-body govuk-!-margin-bottom-8">
            If you have an email address and a mobile phone, you can create an account.<br><br>
            Creating an account will let you get tested quicker in future.<br><br>
            If you already have an account, you will be prompted to sign in.
        </p>

        <a href="/create-account/{{version}}/nhs-login/login-email" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
        </a>

    </div>
</div>

{% endblock %}