{% set pageHeading = "Review all barcode registrations" %}
{% set version = "organisational/pcr-testing/v0" %}
{% set serviceName = "Organisation testing" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}


      {{ govukBackLink({
        text: "Back",
        href: "/" + version + "/dashboard"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>


        <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Age</th>
            <th scope="col" class="govuk-table__header">Barcode</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Giacomo Guilizzoni</td>
            <td class="govuk-table__cell">40</td>
            <td class="govuk-table__cell">123abc456def</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Marco Botton</td>
            <td class="govuk-table__cell">38</td>
            <td class="govuk-table__cell">123abc456def</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Mariah Maclachlan</td>
            <td class="govuk-table__cell">41</td>
            <td class="govuk-table__cell">123abc456def</td>
          </tr>
        </tbody>
      </table>
  
        <button class="govuk-button" data-module="govuk-button">Submit</button>
  
    </div>
  </div>

{% endblock %}
