{% set pageHeading = "Errors" %}
{% set version = "organisational/register/v2/errors" %}
{% set serviceName = "Get a coronavirus test" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        Pages (before single or bulk routes)
      </h2>
      <ul class="govuk-list">
        <li>
          <a href="/{{ version }}/pages/confirm-before">Select if you have consent [Confirm you have consent]</a>
        </li>

        <li>
          <a href="/{{ version }}/pages/choose-org">Select which type of organisation [Which type of organisation are you?]</a>
        </li>
      </ul>


      <h2 class="govuk-heading-m">
        Bulk
      </h2>
      <ul class="govuk-list">
        <li>
          <a href="/{{ version }}/list/barcode-no-match">Barcode doesn't match []</a>
        </li>
        <li>
          <a href="/{{ version }}/list/date-today-or-past">Date of swab test must be today or in the past []</a>
        </li>
        <li>
          <a href="/{{ version }}/list/enter-urn">Enter a test kit barcode or Unique reference number []</a>
        </li>



        <li>
          <a href="#">Barcode is a duplicate</a>
        </li>
        <li>
          <a href="#">Date of swab test cannot be a future date</a>
        </li>
        <li>
          <a href="#">Field is missing</a>
        </li>
      </ul>


    </div>

    <div class="govuk-grid-column-one-third">

    </div>
  </div>

{% endblock %}
