{% set version = "v6" %}
{% set pageTitle = "Getting tested for coronavirus (COVID-19)" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}

<style>
    .show-global-bar #global-header-bar {
        display:none
    }

    .global-bar {
        font-family: "nta", Arial, sans-serif;
        font-weight: 400;
        text-transform: none;
        font-size: 16px;
        line-height: 1.25;
        background-color: #0b0c0c;
        border-top: 10px solid #fff500;
        border-bottom: 1px solid #ffffff;
        display:none
    }

    @media (min-width: 641px) {
        .global-bar {
            font-size: 19px;
            line-height:1.3157894737
        }
    }

    .show-global-bar .global-bar {
        display:block
    }

    .global-bar .govuk-link, .global-bar .govuk-link:link {
        color:#ffffff
    }

    .global-bar .govuk-link:visited, .global-bar .govuk-link:link:visited {
        color:#ffffff
    }

    .global-bar .govuk-link:focus, .global-bar .govuk-link:link:focus {
        color:#0b0c0c
    }

    .global-bar-message {
        margin-bottom: 0;
        margin-top: 0;
        padding:20px 0
    }

    .global-bar-title {
        font-weight: 700;
        margin-right: 10px;
        margin-bottom:5px
    }

    .global-bar-title:only-child {
        margin:0
    }

    .global-bar-title, .global-bar-text {
        color:#ffffff
    }

    .global-bar-title + .global-bar-covid-wrapper, .global-bar-text + .global-bar-covid-wrapper {
        margin-top:10px
    }

    .global-bar-title__nowrap {
        white-space:nowrap
    }

    .global-bar-dismiss-wrapper {
        margin-top:20px
    }

    .global-bar__dismiss {
        display:none
    }

    .global-bar__dismiss--show {
        display:inline-block
    }
</style>
<div class="global-bar dont-print" data-global-bar-permanent="true" data-module="global-bar" data-nosnippet="" id="global-bar">
    <div class="global-bar-message govuk-width-container">


        <div class="global-bar-covid-wrapper">
            <div class="gem-c-action-link gem-c-action-link--light-text gem-c-action-link--with-subtext govuk-!-margin-bottom-0">

      <span class="gem-c-action-link__contents-wrapper">      <span class="gem-c-action-link__link-wrapper">

          <a class="govuk-link gem-c-action-link__link js-call-to-action" href="/coronavirus">
                      Coronavirus (COVID-19)


</a>      </span>

        <span class="gem-c-action-link__subtext-wrapper">
            <span class="gem-c-action-link__subtext">Guidance and support</span>
        </span>
</span>
            </div>

        </div>
    </div>

</div>

<div class="govuk-breadcrumbs ">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Coronavirus (COVID-19)</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Testing for coronavirus (COVID-19)</a>
        </li>
    </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

        <p class="govuk-body">There are 2 different coronavirus tests. One tells you if you have coronavirus now, the other tells you if you’ve had it before.</p>

        <h2 class="govuk-heading-m govuk-!-margin-top-6">Find out if you have coronavirus now</h2>

        <p class="govuk-body">Anyone with coronavirus symptoms can get a test. Coronavirus symptoms are:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>a high temperature</li>
            <li>a new, continuous cough</li>
            <li>a loss or change to your sense of smell or taste</li>
        </ul>

        <p><a href="/antigen/v1/govuk/get-coronavirus-test">Get a free NHS test today to check if you have coronavirus.</a></p>

        <h3 class="govuk-heading-s">Care home residents or staff</h3>

        <p class="govuk-body">There's a separate <a href="#">testing service for care home residents or staff members</a>. You can still get tested even if you do not have symptoms.</p>

        <h3 class="govuk-heading-s">If you’re going into hospital</h3>

        <p class="govuk-body">You may need to get tested if you’re due to have surgery or a procedure.</p>

        <p class="govuk-body">The hospital will arrange this for you. Contact your hospital department if you have any questions.</p>
        
        <h2 class="govuk-heading-m govuk-!-margin-top-8">Antibody testing to check if you’ve had coronavirus before</h2>

        <p class="govuk-body">Antibody tests are to help the NHS and scientists learn more about who has already had the virus and how it has spread in the UK.</p>

        <p class="govuk-body">Free NHS antibody tests are only available to some people. This depends on:</p>
        
        <ul class="govuk-list govuk-list--bullet">
            <li>where you live (England, Wales, Scotland or Northern Ireland)</li>
            <li>what job you do</li>
        </ul>
             
        <p class="govuk-body"><a href="/antibody/{{ version }}/govuk/guidance-antibody-testing">Find out more about antibody testing</a>.</p>

    </div>
</div>

{% endblock %}
