{% set version = "v1" %}
{% set pageTitle = "How do you want to add patient details?" %}

{% extends "includes/layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <a class="govuk-back-link" href="/elective-care-testing/{{version}}/trust-worker-request/request-home-testing">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/elective-care-testing/{{version}}/action4/request-method" method="post">

        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#error-1">Select an option</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
                {{ pageTitle }}
              </h1>
            </legend>
            <div class="govuk-radios govuk-form-group--error">
              <span id="last-name-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Select an option
              </span>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="request-method-1" name="request-method" type="radio" value="upload" {{ checked("request-method", "upload") }} aria-describedby="upload-hint">
                <label class="govuk-label govuk-radios__label" for="request-method-1">
                  <strong>Use our spreadsheet to add a list of personal details</strong>
                </label>
                <span id="upload-hint" class="govuk-hint govuk-radios__hint">
                  Enter and upload details for up to 50 people
                </span>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="request-method-2" name="request-method" type="radio" value="manual" {{ checked("request-method", "manual") }} aria-describedby="manual-hint">
                <label class="govuk-label govuk-radios__label" for="request-method-2">
                  <strong>Add each person's details one by one</strong>
                </label>
                <span id="manual-hint" class="govuk-hint govuk-radios__hint">
                  Use an online form to enter their details
                </span>
              </div>
            </div>
          </fieldset>
        </div>  

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
