{% set version = "v2" %}
{% set folder = "prereg" %}
{% set pageTitle = "Will you be able to bring your phone when you get tested?" %}
{% extends "includes/layout.html" %}

{% block pageTitle %}
  {{ pageHeading }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {{ govukPhaseBanner({
      tag: {
        text: "alpha"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}

      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.go(-1);"
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="" action="" method="post">

        {{ govukRadios({
          idPrefix: "bringMobile",
          name: "bringMobile",
          fieldset: {
            legend: {
              text: pageTitle,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            html: "If you are being tested in a workplace or school you may not be able to bring you phone"
          },
          items: [
            {
              value: "yes",
              text: "Yes, I will have my mobile phone with me"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        <input class="govuk-button" type="submit" value="Continue">

      </form>

    </div>
  </div>

{% endblock %}
